# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
  - id: 0
    request:
      host: cloudscheduler.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://cloudscheduler.googleapis.com/v1/projects/example-project/locations/us-west2/jobs/cloudschedulerjob-2228w5hqy9utr?alt=json
      method: GET
    response:
      body: fake error message
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 404 Not Found
      code: 404
      duration: 260.265609ms
[...]
  - id: 3
    request:
      host: cloudscheduler.googleapis.com
      body: '{"description":"scheduler-pubsub-target-job","name":"projects/example-project/locations/us-west2/jobs/cloudschedulerjob-2228w5hqy9utr","pubsubTarget":{"data":"dGVzdCBtZXNzYWdlCg==","topicName":"projects/example-project/topics/pubsubtopic-2228w5hqy9utr"},"schedule":"*/2 * * * *","timeZone":"EST"}'
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://cloudscheduler.googleapis.com/v1/projects/example-project/locations/us-west2/jobs?alt=json
      method: POST
    response:
      body: |
        {
          "name": "projects/example-project/locations/us-west2/jobs/cloudschedulerjob-2228w5hqy9utr",
          "description": "scheduler-pubsub-target-job",
          "pubsubTarget": {
            "topicName": "projects/example-project/topics/pubsubtopic-2228w5hqy9utr",
            "data": "dGVzdCBtZXNzYWdlCg=="
          },
          "userUpdateTime": "2024-04-25T01:23:19Z",
          "state": "ENABLED",
          "schedule": "*/2 * * * *",
          "timeZone": "EST"
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 5.48142235s
[...]
  - id: 14
    request:
      host: cloudscheduler.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://cloudscheduler.googleapis.com/v1/projects/example-project/locations/us-west2/jobs/cloudschedulerjob-2228w5hqy9utr?alt=json
      method: GET
    response:
      body: |
        {
          "name": "projects/example-project/locations/us-west2/jobs/cloudschedulerjob-2228w5hqy9utr",
          "description": "scheduler-pubsub-target-job",
          "pubsubTarget": {
            "topicName": "projects/example-project/topics/pubsubtopic-2228w5hqy9utr",
            "data": "dGVzdCBtZXNzYWdlCg=="
          },
          "userUpdateTime": "2024-04-25T01:23:33Z",
          "state": "ENABLED",
          "scheduleTime": "2024-04-25T01:25:00.532168Z",
          "schedule": "*/5 * * * *",
          "timeZone": "EST"
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 201.344976ms
[...]
