# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: sqladmin.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp?alt=json&prettyPrint=false
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 218.204951ms
    - id: 1
      request:
        host: sqladmin.googleapis.com
        body: |
            {"databaseVersion":"MYSQL_5_7","name":"sqluser-dep-3vxr1tn21m3yp","region":"us-central1","settings":{"activationPolicy":"ALWAYS","availabilityType":"ZONAL","dataDiskType":"PD_SSD","edition":"ENTERPRISE","pricingPlan":"PER_USE","storageAutoResize":true,"tier":"db-n1-standard-1","userLabels":{"cnrm-test":"true","managed-by-cnrm":"true"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances?alt=json&prettyPrint=false
        method: POST
      response:
        body: '{"kind":"sql#operation","targetLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp","status":"PENDING","user":"user@google.com","insertTime":"2024-09-10T19:59:31.420Z","operationType":"CREATE","name":"68d7a6a1-ef57-4d6c-9c00-81ed00000032","targetId":"sqluser-dep-3vxr1tn21m3yp","selfLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/operations/68d7a6a1-ef57-4d6c-9c00-81ed00000032","targetProject":"example-project"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 952.45685ms
    - id: 2
      request:
        host: sqladmin.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/operations/68d7a6a1-ef57-4d6c-9c00-81ed00000032?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"sql#operation","targetLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp","status":"DONE","user":"user@google.com","insertTime":"2024-09-10T19:59:31.420Z","startTime":"2024-09-10T19:59:31.592Z","endTime":"2024-09-10T20:02:05.957Z","operationType":"CREATE","name":"68d7a6a1-ef57-4d6c-9c00-81ed00000032","targetId":"sqluser-dep-3vxr1tn21m3yp","selfLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/operations/68d7a6a1-ef57-4d6c-9c00-81ed00000032","targetProject":"example-project"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 156.238986ms
    - id: 3
      request:
        host: sqladmin.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"sql#instance","state":"RUNNABLE","databaseVersion":"MYSQL_5_7","settings":{"authorizedGaeApplications":[],"tier":"db-n1-standard-1","kind":"sql#settings","userLabels":{"cnrm-test":"true","managed-by-cnrm":"true"},"availabilityType":"ZONAL","pricingPlan":"PER_USE","replicationType":"SYNCHRONOUS","activationPolicy":"ALWAYS","ipConfiguration":{"authorizedNetworks":[],"sslMode":"ALLOW_UNENCRYPTED_AND_ENCRYPTED","ipv4Enabled":true,"requireSsl":false,"serverCaMode":"GOOGLE_MANAGED_INTERNAL_CA"},"locationPreference":{"zone":"us-central1-b","kind":"sql#locationPreference"},"dataDiskType":"PD_SSD","backupConfiguration":{"startTime":"12:00","kind":"sql#backupConfiguration","backupRetentionSettings":{"retentionUnit":"COUNT","retainedBackups":7},"enabled":false,"transactionLogRetentionDays":7,"transactionalLogStorageState":"TRANSACTIONAL_LOG_STORAGE_STATE_UNSPECIFIED"},"edition":"ENTERPRISE","connectorEnforcement":"NOT_REQUIRED","settingsVersion":"1","storageAutoResizeLimit":"0","storageAutoResize":true,"dataDiskSizeGb":"10","deletionProtectionEnabled":false},"etag":"7e5ef910ac028bd4fa1e7d9e14a652e02d4884ffb6371e9714c169d1775b20a6","ipAddresses":[{"type":"PRIMARY","ipAddress":"34.134.120.174"}],"serverCaCert":{"kind":"sql#sslCert","certSerialNumber":"0","cert":"-----BEGIN CERTIFICATE-----\nMIIDfzCCAmegAwIBAgIBADANBgkqhkiG9w0BAQsFADB3MS0wKwYDVQQuEyQ2ZDc4\nNjRhYS1kZTRjLTQ3NzktODlhYy04ZjQ5MzU2OGJlMWMxIzAhBgNVBAMTGkdvb2ds\nZSBDbG91ZCBTUUwgU2VydmVyIENBMRQwEgYDVQQKEwtHb29nbGUsIEluYzELMAkG\nA1UEBhMCVVMwHhcNMjQwOTEwMTk1OTE3WhcNMzQwOTA4MjAwMDE3WjB3MS0wKwYD\nVQQuEyQ2ZDc4NjRhYS1kZTRjLTQ3NzktODlhYy04ZjQ5MzU2OGJlMWMxIzAhBgNV\nBAMTGkdvb2dsZSBDbG91ZCBTUUwgU2VydmVyIENBMRQwEgYDVQQKEwtHb29nbGUs\nIEluYzELMAkGA1UEBhMCVVMwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIB\nAQCWaccnvek9H981161Q3ievYkifqtAxOc0ae5jN2fT8U1wyqjDFuJIR+8eNLIrO\naF4haqsBbyDYpLvlXCuGDj19kS6Jg9ZSvFOkGU01B0T4gtgR022YL9qR3Rh0Ps1/\n21yRdsleLQIQByTjFKaehz8OqcDhuYSbMv2WWh6y6xFKNbkuKmr3O1xxYdh3MdjJ\nQn/WankHyyIUXb03QXzCkDRNyerHQdypLFv7QF6zZXicqmdI/wJse2X+1nvMLnFG\n8IeeYleZ9If/qVr0WKVAkl5WhmDnZUh+oSsCqYFSe0/RXIc/MzukCEcYQFrq7H8m\nUzEgvnt7liJrzHX7R9/iBiezAgMBAAGjFjAUMBIGA1UdEwEB/wQIMAYBAf8CAQAw\nDQYJKoZIhvcNAQELBQADggEBAC/pl9wIwfHiUoAS2ZNUV+uRP97pJvBG2TYutfyL\no1ayLI4Bn6X0ovmehmsKZ4Bk7QDmBKiiffB5WdqxP/hQuLy1OVAhuV1fN9W3DODg\nkC4X3kcr/pmfjatOKkHBiEmfK6cJYnwKNcF7yvEh/IGRxXukb2UyhcLhDex4r9VI\nnyGYQEnqFW0EoJj1L4hhBg9etzCfe+g+oYC8I3HXW5SNpnbR7giKsJlRddA+MCDa\nDd5MPWcTNcQhIY07XnbJ+NLGjkcDFZ7GboW/YjRo0bZ183otyp9VIGqv9AEXBDRW\nNlhZng8xkS6RYdpmrUe2H41R4UBq/wdUxPyA98FiegC80VA=\n-----END CERTIFICATE-----","commonName":"C=US,O=Google\\, Inc,CN=Google Cloud SQL Server CA,dnQualifier=6d7864aa-de4c-4779-89ac-8f493568be1c","sha1Fingerprint":"ff02aab5ee467fbad7bf231d0b7a7b27a3c09c25","instance":"sqluser-dep-3vxr1tn21m3yp","createTime":"2024-09-10T19:59:17.731Z","expirationTime":"2034-09-08T20:00:17.731Z"},"instanceType":"CLOUD_SQL_INSTANCE","project":"example-project","serviceAccountEmailAddress":"p123456789-s1uauf@gcp-sa-cloud-sql.iam.gserviceaccount.com","backendType":"SECOND_GEN","selfLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp","connectionName":"example-project:us-central1:sqluser-dep-3vxr1tn21m3yp","name":"sqluser-dep-3vxr1tn21m3yp","region":"us-central1","gceZone":"us-central1-b","databaseInstalledVersion":"MYSQL_5_7_44","maintenanceVersion":"MYSQL_5_7_44.R20240527.01_12","upgradableDatabaseVersions":[{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0","displayName":"MySQL 8.0"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_18","displayName":"MySQL 8.0.18"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_26","displayName":"MySQL 8.0.26"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_27","displayName":"MySQL 8.0.27"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_28","displayName":"MySQL 8.0.28"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_29","displayName":"MySQL 8.0.29"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_30","displayName":"MySQL 8.0.30"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_31","displayName":"MySQL 8.0.31"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_32","displayName":"MySQL 8.0.32"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_33","displayName":"MySQL 8.0.33"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_34","displayName":"MySQL 8.0.34"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_35","displayName":"MySQL 8.0.35"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_36","displayName":"MySQL 8.0.36"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_37","displayName":"MySQL 8.0.37"}],"geminiConfig":{"entitled":false,"activeQueryEnabled":false,"indexAdvisorEnabled":false,"flagRecommenderEnabled":false},"createTime":"2024-09-10T19:59:31.050Z","sqlNetworkArchitecture":"NEW_NETWORK_ARCHITECTURE","satisfiesPzi":true}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 228.925859ms
    - id: 4
      request:
        host: sqladmin.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp/users?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"sql#usersList","items":[{"kind":"sql#user","etag":"17916c6875a2f4b13ce9345ea3170cb06fc14e942248cf3920f1f59ce2d8a331","name":"root","host":"%","instance":"sqluser-dep-3vxr1tn21m3yp","project":"example-project","passwordPolicy":{"status":{}}}]}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 275.798365ms
    - id: 5
      request:
        host: sqladmin.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp/users?alt=json&host=%25&name=root&prettyPrint=false
        method: DELETE
      response:
        body: '{"kind":"sql#operation","targetLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp","status":"DONE","user":"user@google.com","insertTime":"2024-09-10T20:02:25.644Z","startTime":"2024-09-10T20:02:25.651Z","endTime":"2024-09-10T20:02:25.797Z","operationType":"DELETE_USER","name":"82d56ab2-761e-4cc3-b72c-9c9b00000032","targetId":"sqluser-dep-3vxr1tn21m3yp","selfLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/operations/82d56ab2-761e-4cc3-b72c-9c9b00000032","targetProject":"example-project"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 458.234838ms
[...]
