# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
  - id: 0
    request:
      host: sqladmin.googleapis.com
      body: ""
      form: {}
      headers:
      url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp?alt=json&prettyPrint=false
      method: GET
    response:
      body: fake error message
      headers:
        Content-Type:
            - application/json; charset=UTF-8
      status: 404 Not Found
      code: 404
      duration: 190.777574ms
  - id: 1
    request:
      host: sqladmin.googleapis.com
      body: |
          {"databaseVersion":"MYSQL_5_7","name":"sqluser-dep-3vxr1tn21m3yp","region":"us-central1","settings":{"activationPolicy":"ALWAYS","availabilityType":"ZONAL","dataDiskType":"PD_SSD","edition":"ENTERPRISE","pricingPlan":"PER_USE","storageAutoResize":true,"tier":"db-n1-standard-1","userLabels":{"cnrm-test":"true","managed-by-cnrm":"true"}}}
      form: {}
      headers:
        Content-Type:
            - application/json
      url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances?alt=json&prettyPrint=false
      method: POST
    response:
      body: '{"kind":"sql#operation","targetLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp","status":"PENDING","user":"user@google.com","insertTime":"2024-09-10T01:43:55.112Z","operationType":"CREATE","name":"f2e70a9b-8f65-4312-a4cd-1d3000000032","targetId":"sqluser-dep-3vxr1tn21m3yp","selfLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/operations/f2e70a9b-8f65-4312-a4cd-1d3000000032","targetProject":"example-project"}'
      headers:
        Content-Type:
            - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 789.873781ms
  - id: 2
    request:
      host: sqladmin.googleapis.com
      body: ""
      form: {}
      headers:
      url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/operations/f2e70a9b-8f65-4312-a4cd-1d3000000032?alt=json&prettyPrint=false
      method: GET
    response:
      body: '{"kind":"sql#operation","targetLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp","status":"DONE","user":"user@google.com","insertTime":"2024-09-10T01:43:55.112Z","startTime":"2024-09-10T01:43:55.280Z","endTime":"2024-09-10T01:46:31.843Z","operationType":"CREATE","name":"f2e70a9b-8f65-4312-a4cd-1d3000000032","targetId":"sqluser-dep-3vxr1tn21m3yp","selfLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/operations/f2e70a9b-8f65-4312-a4cd-1d3000000032","targetProject":"example-project"}'
      headers:
        Content-Type:
            - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 159.59979ms
  - id: 3
    request:
      host: sqladmin.googleapis.com
      body: ""
      form: {}
      headers:
      url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp/users?alt=json&prettyPrint=false
      method: GET
    response:
      body: '{"kind":"sql#usersList","items":[{"kind":"sql#user","etag":"17916c6875a2f4b13ce9345ea3170cb06fc14e942248cf3920f1f59ce2d8a331","name":"root","host":"%","instance":"sqluser-dep-3vxr1tn21m3yp","project":"example-project","passwordPolicy":{"status":{}}}]}'
      headers:
        Content-Type:
            - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 212.850103ms
  - id: 4
    request:
      host: sqladmin.googleapis.com
      body: ""
      form: {}
      headers:
      url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp/users?alt=json&host=%25&name=root&prettyPrint=false
      method: DELETE
    response:
      body: '{"kind":"sql#operation","targetLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp","status":"DONE","user":"user@google.com","insertTime":"2024-09-10T01:46:41.887Z","startTime":"2024-09-10T01:46:41.892Z","endTime":"2024-09-10T01:46:42.032Z","operationType":"DELETE_USER","name":"754e2c60-cf22-4fa9-9dec-1a3b00000032","targetId":"sqluser-dep-3vxr1tn21m3yp","selfLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/operations/754e2c60-cf22-4fa9-9dec-1a3b00000032","targetProject":"example-project"}'
      headers:
        Content-Type:
            - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 346.435826ms
  - id: 5
    request:
      host: sqladmin.googleapis.com
      body: ""
      form: {}
      headers:
      url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp?alt=json&prettyPrint=false
      method: GET
    response:
      body: '{"kind":"sql#instance","state":"RUNNABLE","databaseVersion":"MYSQL_5_7","settings":{"authorizedGaeApplications":[],"tier":"db-n1-standard-1","kind":"sql#settings","userLabels":{"cnrm-test":"true","managed-by-cnrm":"true"},"availabilityType":"ZONAL","pricingPlan":"PER_USE","replicationType":"SYNCHRONOUS","activationPolicy":"ALWAYS","ipConfiguration":{"authorizedNetworks":[],"sslMode":"ALLOW_UNENCRYPTED_AND_ENCRYPTED","ipv4Enabled":true,"requireSsl":false,"serverCaMode":"GOOGLE_MANAGED_INTERNAL_CA"},"locationPreference":{"zone":"us-central1-f","kind":"sql#locationPreference"},"dataDiskType":"PD_SSD","backupConfiguration":{"startTime":"06:00","kind":"sql#backupConfiguration","backupRetentionSettings":{"retentionUnit":"COUNT","retainedBackups":7},"enabled":false,"transactionLogRetentionDays":7,"transactionalLogStorageState":"TRANSACTIONAL_LOG_STORAGE_STATE_UNSPECIFIED"},"edition":"ENTERPRISE","connectorEnforcement":"NOT_REQUIRED","settingsVersion":"1","storageAutoResizeLimit":"0","storageAutoResize":true,"dataDiskSizeGb":"10","deletionProtectionEnabled":false},"etag":"c7e7690c8a96216857ca6f0c718bf505157caa181db4a3e2cc4797320d657eac","ipAddresses":[{"type":"PRIMARY","ipAddress":"34.29.214.12"}],"serverCaCert":{"kind":"sql#sslCert","certSerialNumber":"0","cert":"-----BEGIN CERTIFICATE-----\nMIIDfzCCAmegAwIBAgIBADANBgkqhkiG9w0BAQsFADB3MS0wKwYDVQQuEyQ3ZjM3\nNmI2YS0yZGFkLTQxM2UtOWFlNi05ZTVhYWRhODYyMGIxIzAhBgNVBAMTGkdvb2ds\nZSBDbG91ZCBTUUwgU2VydmVyIENBMRQwEgYDVQQKEwtHb29nbGUsIEluYzELMAkG\nA1UEBhMCVVMwHhcNMjQwOTEwMDE0MzQ1WhcNMzQwOTA4MDE0NDQ1WjB3MS0wKwYD\nVQQuEyQ3ZjM3NmI2YS0yZGFkLTQxM2UtOWFlNi05ZTVhYWRhODYyMGIxIzAhBgNV\nBAMTGkdvb2dsZSBDbG91ZCBTUUwgU2VydmVyIENBMRQwEgYDVQQKEwtHb29nbGUs\nIEluYzELMAkGA1UEBhMCVVMwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIB\nAQC0jil5Qz2Xa7GB5gyMt1SuCeY1wMIsdOd9sAQUsWB69JLC8a0szGGdxC94Fnic\nLphhgYzD9Q/7nSNzXdJ6rVTcMFFb81jo/tNeobXQuHR/6WA2zFX97+YzkidNDZPc\nKe5WlpeR0LlhRFuPxcAeYGfziwMCKq8Sw+HdokytJW7zeZDlOTi7SBdDFujhKIvR\nbVI82CsOb/4BnOMN7n6owth18Lffn9fYXtHC+gNzVAuk8qdO4X+K9u95JiryTXzL\nhKZlYypMhG78//aAsFQVL+f1BuTNHy+NyAif/xdHRtEGXjEberviWVGp7ZpbWhW7\nSsgOOoR9vxaf0PCbBJnJc0ODAgMBAAGjFjAUMBIGA1UdEwEB/wQIMAYBAf8CAQAw\nDQYJKoZIhvcNAQELBQADggEBAANuw/HWGA2OEeIGBDuWI7BVMxGjc/spLzs56JXW\nnI4WAGepY7JvSlShZJ/kVGcsojEZbm0p+JEXkQ97JLZ/NLsdAfmsoed7BOGJi200\nCwm4lOjoiI3TVXzrNkUS3agcb/A30ghQ4nI9mjfbgTsDw2OSAtifr+PI99HvZ3fp\nczvMz81SzJ6eikmsZHlt+Fw4hoJEwkCzB3uEeAQU6j0CJtzwHwNpatTVe1GWaEiC\nV8WPH14uMiUAuvDFufueoE0CJMQ0ITCKmkVw36Vbfo2Blns1JcQ4CVe50p+4oe4O\nyZxWvFfGan0E4y9qj6maQXakFcO4d72ezc/g7EDzGNswCoI=\n-----END CERTIFICATE-----","commonName":"C=US,O=Google\\, Inc,CN=Google Cloud SQL Server CA,dnQualifier=7f376b6a-2dad-413e-9ae6-9e5aada8620b","sha1Fingerprint":"a30fa03fd8baed928df7e72adea7e6d171048f1b","instance":"sqluser-dep-3vxr1tn21m3yp","createTime":"2024-09-10T01:43:45.484Z","expirationTime":"2034-09-08T01:44:45.484Z"},"instanceType":"CLOUD_SQL_INSTANCE","project":"example-project","serviceAccountEmailAddress":"p123456789-4mresq@gcp-sa-cloud-sql.iam.gserviceaccount.com","backendType":"SECOND_GEN","selfLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp","connectionName":"example-project:us-central1:sqluser-dep-3vxr1tn21m3yp","name":"sqluser-dep-3vxr1tn21m3yp","region":"us-central1","gceZone":"us-central1-f","databaseInstalledVersion":"MYSQL_5_7_44","maintenanceVersion":"MYSQL_5_7_44.R20240527.01_12","upgradableDatabaseVersions":[{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0","displayName":"MySQL 8.0"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_18","displayName":"MySQL 8.0.18"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_26","displayName":"MySQL 8.0.26"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_27","displayName":"MySQL 8.0.27"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_28","displayName":"MySQL 8.0.28"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_29","displayName":"MySQL 8.0.29"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_30","displayName":"MySQL 8.0.30"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_31","displayName":"MySQL 8.0.31"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_32","displayName":"MySQL 8.0.32"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_33","displayName":"MySQL 8.0.33"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_34","displayName":"MySQL 8.0.34"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_35","displayName":"MySQL 8.0.35"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_36","displayName":"MySQL 8.0.36"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_37","displayName":"MySQL 8.0.37"}],"geminiConfig":{"entitled":false,"activeQueryEnabled":false,"indexAdvisorEnabled":false,"flagRecommenderEnabled":false},"createTime":"2024-09-10T01:43:54.766Z","sqlNetworkArchitecture":"NEW_NETWORK_ARCHITECTURE","satisfiesPzi":false}'
      headers:
        Content-Type:
            - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 166.441718ms
[...]
  - id: 10
    request:
      host: sqladmin.googleapis.com
      body: |
          {"host":"foo","instance":"sqluser-dep-3vxr1tn21m3yp","name":"sqluser-3vxr1tn21m3yp","password":"password"}
      form: {}
      headers:
        Content-Type:
            - application/json
      url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp/users?alt=json&prettyPrint=false
      method: POST
    response:
      body: '{"kind":"sql#operation","targetLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp","status":"DONE","user":"user@google.com","insertTime":"2024-09-10T01:46:44.029Z","startTime":"2024-09-10T01:46:44.037Z","endTime":"2024-09-10T01:46:44.108Z","operationType":"CREATE_USER","name":"38e7dd9b-cc3e-4850-ae44-080500000032","targetId":"sqluser-dep-3vxr1tn21m3yp","selfLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/operations/38e7dd9b-cc3e-4850-ae44-080500000032","targetProject":"example-project"}'
      headers:
        Content-Type:
            - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 284.308123ms
[...]
