# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: sqladmin.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp?alt=json&prettyPrint=false
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 163.557012ms
    - id: 1
      request:
        host: sqladmin.googleapis.com
        body: |
            {"databaseVersion":"MYSQL_5_7","name":"sqluser-dep-3vxr1tn21m3yp","region":"us-central1","settings":{"activationPolicy":"ALWAYS","availabilityType":"ZONAL","dataDiskType":"PD_SSD","edition":"ENTERPRISE","pricingPlan":"PER_USE","storageAutoResize":true,"tier":"db-n1-standard-1","userLabels":{"cnrm-test":"true","config-connector-resource-type":"sqlinstance","managed-by-cnrm":"true"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances?alt=json&prettyPrint=false
        method: POST
      response:
        body: '{"kind":"sql#operation","targetLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp","status":"PENDING","user":"user@google.com","insertTime":"2024-08-28T06:13:24.818Z","operationType":"CREATE","name":"21726de4-a3c6-408b-a25e-380400000032","targetId":"sqluser-dep-3vxr1tn21m3yp","selfLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/operations/21726de4-a3c6-408b-a25e-380400000032","targetProject":"example-project"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 583.46244ms
    - id: 2
      request:
        host: sqladmin.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/operations/21726de4-a3c6-408b-a25e-380400000032?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"sql#operation","targetLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp","status":"DONE","user":"user@google.com","insertTime":"2024-08-28T06:13:24.818Z","startTime":"2024-08-28T06:13:24.957Z","endTime":"2024-08-28T06:15:54.276Z","operationType":"CREATE","name":"21726de4-a3c6-408b-a25e-380400000032","targetId":"sqluser-dep-3vxr1tn21m3yp","selfLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/operations/21726de4-a3c6-408b-a25e-380400000032","targetProject":"example-project"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 79.066016ms
    - id: 3
      request:
        host: sqladmin.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp/users?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"sql#usersList","items":[{"kind":"sql#user","etag":"6f865b9d1e095e9d5d708cb058b61cf08f919cf1f83a27e1292caa1baf88a32c","name":"root","host":"%","instance":"sqluser-dep-3vxr1tn21m3yp","project":"example-project","passwordPolicy":{"status":{}}}]}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 123.467216ms
    - id: 4
      request:
        host: sqladmin.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp/users?alt=json&host=%25&name=root&prettyPrint=false
        method: DELETE
      response:
        body: '{"kind":"sql#operation","targetLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp","status":"DONE","user":"user@google.com","insertTime":"2024-08-28T06:15:58.400Z","startTime":"2024-08-28T06:15:58.406Z","endTime":"2024-08-28T06:15:58.523Z","operationType":"DELETE_USER","name":"e71e08b6-a4ea-48ad-869e-483200000032","targetId":"sqluser-dep-3vxr1tn21m3yp","selfLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/operations/e71e08b6-a4ea-48ad-869e-483200000032","targetProject":"example-project"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 244.825951ms
    - id: 5
      request:
        host: sqladmin.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"sql#instance","state":"RUNNABLE","databaseVersion":"MYSQL_5_7","settings":{"authorizedGaeApplications":[],"tier":"db-n1-standard-1","kind":"sql#settings","userLabels":{"config-connector-resource-type":"sqlinstance","cnrm-test":"true","managed-by-cnrm":"true"},"availabilityType":"ZONAL","pricingPlan":"PER_USE","replicationType":"SYNCHRONOUS","activationPolicy":"ALWAYS","ipConfiguration":{"authorizedNetworks":[],"sslMode":"ALLOW_UNENCRYPTED_AND_ENCRYPTED","ipv4Enabled":true,"requireSsl":false,"serverCaMode":"GOOGLE_MANAGED_INTERNAL_CA"},"locationPreference":{"zone":"us-central1-b","kind":"sql#locationPreference"},"dataDiskType":"PD_SSD","backupConfiguration":{"startTime":"01:00","kind":"sql#backupConfiguration","backupRetentionSettings":{"retentionUnit":"COUNT","retainedBackups":7},"enabled":false,"transactionLogRetentionDays":7,"transactionalLogStorageState":"TRANSACTIONAL_LOG_STORAGE_STATE_UNSPECIFIED"},"edition":"ENTERPRISE","connectorEnforcement":"NOT_REQUIRED","settingsVersion":"1","storageAutoResizeLimit":"0","storageAutoResize":true,"dataDiskSizeGb":"10","deletionProtectionEnabled":false},"etag":"0a93e0027777d284fa22e42467043b59b44e587d95329f17b234a28a0c1077a0","ipAddresses":[{"type":"PRIMARY","ipAddress":"35.222.38.68"}],"serverCaCert":{"kind":"sql#sslCert","certSerialNumber":"0","cert":"-----BEGIN CERTIFICATE-----\nMIIDfzCCAmegAwIBAgIBADANBgkqhkiG9w0BAQsFADB3MS0wKwYDVQQuEyQ0MDUz\nODIzMy1mZTdlLTRmY2MtOTUwOC0wMWQxN2MwYjIwZGExIzAhBgNVBAMTGkdvb2ds\nZSBDbG91ZCBTUUwgU2VydmVyIENBMRQwEgYDVQQKEwtHb29nbGUsIEluYzELMAkG\nA1UEBhMCVVMwHhcNMjQwODI4MDYxMzExWhcNMzQwODI2MDYxNDExWjB3MS0wKwYD\nVQQuEyQ0MDUzODIzMy1mZTdlLTRmY2MtOTUwOC0wMWQxN2MwYjIwZGExIzAhBgNV\nBAMTGkdvb2dsZSBDbG91ZCBTUUwgU2VydmVyIENBMRQwEgYDVQQKEwtHb29nbGUs\nIEluYzELMAkGA1UEBhMCVVMwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIB\nAQCl2jxaVgFmzQPdQDXFf32KCdI2oC+7r3QEZdG6N4usaFHp4QSy7Kugcd9Us1K2\nwx/pI4DN542boI+U6PKXYajg7p7X4rtPIdWZSmq2Bhs7QNk/opxQ4cZeWnliwoo4\nRltkob9EwhYOPsq016mZxx6mdIpF3VM15F9KyvthFNnJfUMiDGDi7Z+mU9T1y5WS\nDowYYBDt0aDQkvpa8tKjmn0mA0OwwyoSG8RQzEkEmjNVensJCrZ/9a+oTSZrCe7a\n5BVaI6YkujTRZj7alE1yXWHoEcIZyM3HxtHUVysW/EPYuZCxXu797zQEQjvUaK53\nKEsqInNZJGRRpXFndm8QHFdvAgMBAAGjFjAUMBIGA1UdEwEB/wQIMAYBAf8CAQAw\nDQYJKoZIhvcNAQELBQADggEBAGiu1b4zCgHZ33S6M2vfRyKC4Ea2XHFxctMBl1st\ndxUPHrAro/8SpTErzf6bdL4sKqNT8Q4avi3BYjJT+5VwnU3Xd/F2tljUuNTjcEyU\nFRVXFCw6xhbsbWfgyCfHFIQSXW84MK7Ac0Dx3Aznmvyirq2YD7RJaGLemKBkMn1w\nlYHQs4EJR+vKDVuMGaWt8Uf7R+Inp39838NS1xwQqOaDYcRxulo3oh7cO/g1jI9e\nr0mppvd27HecH5cyk9LZcIAC9RXoiiplFvSxpRmR3EUri73qLOHgMdWzrOfG4tCP\nlSwpNRYutESgyWvtWlgz42xLr0YuxF7iByroYXkQEZr59hU=\n-----END CERTIFICATE-----","commonName":"C=US,O=Google\\, Inc,CN=Google Cloud SQL Server CA,dnQualifier=40538233-fe7e-4fcc-9508-01d17c0b20da","sha1Fingerprint":"ecdb1d78e2ea1189d2bd607210ff4522a97fbab3","instance":"sqluser-dep-3vxr1tn21m3yp","createTime":"2024-08-28T06:13:11.706Z","expirationTime":"2034-08-26T06:14:11.706Z"},"instanceType":"CLOUD_SQL_INSTANCE","project":"example-project","serviceAccountEmailAddress":"p123456789-pxm49x@gcp-sa-cloud-sql.iam.gserviceaccount.com","backendType":"SECOND_GEN","selfLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp","connectionName":"example-project:us-central1:sqluser-dep-3vxr1tn21m3yp","name":"sqluser-dep-3vxr1tn21m3yp","region":"us-central1","gceZone":"us-central1-b","databaseInstalledVersion":"MYSQL_5_7_44","maintenanceVersion":"MYSQL_5_7_44.R20240527.01_12","upgradableDatabaseVersions":[{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0","displayName":"MySQL 8.0"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_18","displayName":"MySQL 8.0.18"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_26","displayName":"MySQL 8.0.26"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_27","displayName":"MySQL 8.0.27"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_28","displayName":"MySQL 8.0.28"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_29","displayName":"MySQL 8.0.29"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_30","displayName":"MySQL 8.0.30"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_31","displayName":"MySQL 8.0.31"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_32","displayName":"MySQL 8.0.32"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_33","displayName":"MySQL 8.0.33"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_34","displayName":"MySQL 8.0.34"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_35","displayName":"MySQL 8.0.35"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_36","displayName":"MySQL 8.0.36"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_37","displayName":"MySQL 8.0.37"}],"geminiConfig":{"entitled":false,"activeQueryEnabled":false,"indexAdvisorEnabled":false,"flagRecommenderEnabled":false},"createTime":"2024-08-28T06:13:24.514Z","sqlNetworkArchitecture":"NEW_NETWORK_ARCHITECTURE","satisfiesPzi":true}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 87.145018ms
[...]
    - id: 10
      request:
        host: sqladmin.googleapis.com
        body: |
            {"host":"foo","instance":"sqluser-dep-3vxr1tn21m3yp","name":"sqluser-3vxr1tn21m3yp","password":"password"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp/users?alt=json&prettyPrint=false
        method: POST
      response:
        body: '{"kind":"sql#operation","targetLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp","status":"DONE","user":"user@google.com","insertTime":"2024-08-28T06:16:00.005Z","startTime":"2024-08-28T06:16:00.014Z","endTime":"2024-08-28T06:16:00.121Z","operationType":"CREATE_USER","name":"f4992b09-5611-4383-9012-b2b800000032","targetId":"sqluser-dep-3vxr1tn21m3yp","selfLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/operations/f4992b09-5611-4383-9012-b2b800000032","targetProject":"example-project"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 239.02678ms
[...]
    - id: 19
      request:
        host: sqladmin.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp/users?alt=json&host=foo&name=sqluser-3vxr1tn21m3yp&prettyPrint=false
        method: DELETE
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 403 Forbidden
        code: 403
        duration: 91.160519ms
[...]
