# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
  - id: 0
    request:
      host: sqladmin.googleapis.com
      body: ""
      form: {}
      headers:
      url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp?alt=json&prettyPrint=false
      method: GET
    response:
      body: fake error message
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 404 Not Found
      code: 404
      duration: 181.438833ms
  - id: 1
    request:
      host: sqladmin.googleapis.com
      body: |
        {"databaseVersion":"MYSQL_5_7","name":"sqluser-dep-3vxr1tn21m3yp","region":"us-central1","settings":{"activationPolicy":"ALWAYS","availabilityType":"ZONAL","dataDiskType":"PD_SSD","pricingPlan":"PER_USE","storageAutoResize":true,"tier":"db-n1-standard-1","userLabels":{"cnrm-test":"true","managed-by-cnrm":"true"}}}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances?alt=json&prettyPrint=false
      method: POST
    response:
      body: '{"kind":"sql#operation","targetLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp","status":"PENDING","user":"integration-test@example-project.iam.gserviceaccount.com","insertTime":"2024-04-25T02:07:51.195Z","operationType":"CREATE","name":"64c5afa1-6e53-426a-bc91-0a9100000032","targetId":"sqluser-dep-3vxr1tn21m3yp","selfLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/operations/64c5afa1-6e53-426a-bc91-0a9100000032","targetProject":"example-project"}'
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 1.039208057s
  - id: 2
    request:
      host: sqladmin.googleapis.com
      body: ""
      form: {}
      headers:
      url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/operations/64c5afa1-6e53-426a-bc91-0a9100000032?alt=json&prettyPrint=false
      method: GET
    response:
      body: '{"kind":"sql#operation","targetLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp","status":"DONE","user":"integration-test@example-project.iam.gserviceaccount.com","insertTime":"2024-04-25T02:07:51.195Z","startTime":"2024-04-25T02:07:51.377Z","endTime":"2024-04-25T02:11:14.343Z","operationType":"CREATE","name":"64c5afa1-6e53-426a-bc91-0a9100000032","targetId":"sqluser-dep-3vxr1tn21m3yp","selfLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/operations/64c5afa1-6e53-426a-bc91-0a9100000032","targetProject":"example-project"}'
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 158.880659ms
  - id: 3
    request:
      host: sqladmin.googleapis.com
      body: ""
      form: {}
      headers:
      url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp/users?alt=json&prettyPrint=false
      method: GET
    response:
      body: '{"kind":"sql#usersList","items":[{"kind":"sql#user","etag":"e9da3bb8206052408b8cadcfdd9d41ca601e8c25f3f96caa71d8f1b723acce7b","name":"root","host":"%","instance":"sqluser-dep-3vxr1tn21m3yp","project":"example-project","passwordPolicy":{"status":{}}}]}'
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 244.352728ms
  - id: 4
    request:
      host: sqladmin.googleapis.com
      body: ""
      form: {}
      headers:
      url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp/users?alt=json&host=%25&name=root&prettyPrint=false
      method: DELETE
    response:
      body: '{"kind":"sql#operation","targetLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp","status":"DONE","user":"integration-test@example-project.iam.gserviceaccount.com","insertTime":"2024-04-25T02:11:19.886Z","startTime":"2024-04-25T02:11:19.892Z","endTime":"2024-04-25T02:11:19.998Z","operationType":"DELETE_USER","name":"ca14e67e-8ba7-4c5d-b6f0-b10500000032","targetId":"sqluser-dep-3vxr1tn21m3yp","selfLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/operations/ca14e67e-8ba7-4c5d-b6f0-b10500000032","targetProject":"example-project"}'
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 298.582426ms
  - id: 5
    request:
      host: sqladmin.googleapis.com
      body: ""
      form: {}
      headers:
      url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp?alt=json&prettyPrint=false
      method: GET
    response:
      body: '{"kind":"sql#instance","state":"RUNNABLE","databaseVersion":"MYSQL_5_7","settings":{"authorizedGaeApplications":[],"tier":"db-n1-standard-1","kind":"sql#settings","userLabels":{"cnrm-test":"true","managed-by-cnrm":"true"},"availabilityType":"ZONAL","pricingPlan":"PER_USE","replicationType":"SYNCHRONOUS","activationPolicy":"ALWAYS","ipConfiguration":{"authorizedNetworks":[],"sslMode":"ALLOW_UNENCRYPTED_AND_ENCRYPTED","ipv4Enabled":true,"requireSsl":false},"locationPreference":{"zone":"us-central1-a","kind":"sql#locationPreference"},"dataDiskType":"PD_SSD","backupConfiguration":{"startTime":"20:00","kind":"sql#backupConfiguration","backupRetentionSettings":{"retentionUnit":"COUNT","retainedBackups":7},"enabled":false,"transactionLogRetentionDays":7,"transactionalLogStorageState":"TRANSACTIONAL_LOG_STORAGE_STATE_UNSPECIFIED"},"connectorEnforcement":"NOT_REQUIRED","settingsVersion":"1","storageAutoResizeLimit":"0","storageAutoResize":true,"dataDiskSizeGb":"10","deletionProtectionEnabled":false},"etag":"da9cca3b1e7ecce33135394a5d97635dbb91d5b3eb34b91e6998d44e0307ae1b","ipAddresses":[{"type":"PRIMARY","ipAddress":"35.223.189.113"}],"serverCaCert":{"kind":"sql#sslCert","certSerialNumber":"0","cert":"-----BEGIN CERTIFICATE-----\nMIIDfzCCAmegAwIBAgIBADANBgkqhkiG9w0BAQsFADB3MS0wKwYDVQQuEyRlNzVh\nNzVhNi1lYzUxLTRkY2ItYWQ1Ny0yYWViN2E4NmE1OGIxIzAhBgNVBAMTGkdvb2ds\nZSBDbG91ZCBTUUwgU2VydmVyIENBMRQwEgYDVQQKEwtHb29nbGUsIEluYzELMAkG\nA1UEBhMCVVMwHhcNMjQwNDI1MDIwODM2WhcNMzQwNDIzMDIwOTM2WjB3MS0wKwYD\nVQQuEyRlNzVhNzVhNi1lYzUxLTRkY2ItYWQ1Ny0yYWViN2E4NmE1OGIxIzAhBgNV\nBAMTGkdvb2dsZSBDbG91ZCBTUUwgU2VydmVyIENBMRQwEgYDVQQKEwtHb29nbGUs\nIEluYzELMAkGA1UEBhMCVVMwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIB\nAQDOHnwixlJOq3LRBYWdDAxiZhJ3ef/yXof+ZTbr8PZGuA5kBAijtoFGckDVJL6b\n2WMEHt8nJC6LXo0p0tSyFCD7pdrMU0uXm5l/30hl+X5WXRXEsWiPgoOHB6p86bdH\n3DUiiYp3eL1+wtE921WY6FtJTf3d2ucOpRSrbqAfbyoXm+6r4q4ubizFb22ybMAQ\n6xVipkfcyyJFytLmlRBD31Tk8+GOR1yCGf6kfjf06WbknvuEluKJdEC9FBjj1OVt\nF+dMUv8BDo57TouL0pF3u531hLUe3MhpbSG7T0SOZtMItjYx9/JLehV152chdU7m\nARpJ+XUK3CE1X9USweaNkkDHAgMBAAGjFjAUMBIGA1UdEwEB/wQIMAYBAf8CAQAw\nDQYJKoZIhvcNAQELBQADggEBACptpkm2mT2EnxI/AQk8Nd5sOY3SRx5HIAiOVSFR\n/Di7sVF7CPCDVnK1nmsasr4tanbOCkj4fx9G22fuO2CXPGoPNdUVfmjTMdBIpW3B\n3F0FlNFTdw4sk3sqwSUSPf6maYCL11Cx0G40TReyUa9oBOlAZj+cGS9pFK/9ISF1\nj29LPOVtg858U+EQyLaf78/u5mLwOYoqSWO6CIUcS+gBnugFsaHnam6APjyxMYqv\nWvyyrkQ897I4lLhN6LNSIGok87zGfDiD3ntQKB0qSrUWEx2HaE+vkSutdAG1fe3t\n8ssAA+eXpciJO8dLQxq2Rd988qJhQ6Xl725/+EbcMNt5TFs=\n-----END CERTIFICATE-----","commonName":"C=US,O=Google\\, Inc,CN=Google Cloud SQL Server CA,dnQualifier=e75a75a6-ec51-4dcb-ad57-2aeb7a86a58b","sha1Fingerprint":"46282f1a50714c56ed04e066b5ce58102a8a7992","instance":"sqluser-dep-3vxr1tn21m3yp","createTime":"2024-04-25T02:08:36.863Z","expirationTime":"2034-04-23T02:09:36.863Z"},"instanceType":"CLOUD_SQL_INSTANCE","project":"example-project","serviceAccountEmailAddress":"p123456789-l5ih3n@gcp-sa-cloud-sql.iam.gserviceaccount.com","backendType":"SECOND_GEN","selfLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp","connectionName":"example-project:us-central1:sqluser-dep-3vxr1tn21m3yp","name":"sqluser-dep-3vxr1tn21m3yp","region":"us-central1","gceZone":"us-central1-c","databaseInstalledVersion":"MYSQL_5_7_44","maintenanceVersion":"MYSQL_5_7_44.R20240207.00_10","geminiConfig":{"entitled":false,"indexAdvisorEnabled":false,"flagRecommenderEnabled":false},"createTime":"2024-04-25T02:07:50.607Z","sqlNetworkArchitecture":"NEW_NETWORK_ARCHITECTURE"}'
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 191.395301ms
[...]
  - id: 10
    request:
      host: sqladmin.googleapis.com
      body: |
        {"host":"foo","instance":"sqluser-dep-3vxr1tn21m3yp","name":"sqluser-3vxr1tn21m3yp","password":"password"}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp/users?alt=json&prettyPrint=false
      method: POST
    response:
      body: '{"kind":"sql#operation","targetLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp","status":"DONE","user":"integration-test@example-project.iam.gserviceaccount.com","insertTime":"2024-04-25T02:11:22.269Z","startTime":"2024-04-25T02:11:22.277Z","endTime":"2024-04-25T02:11:22.433Z","operationType":"CREATE_USER","name":"e107890d-d05c-485a-9b5b-660300000032","targetId":"sqluser-dep-3vxr1tn21m3yp","selfLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/operations/e107890d-d05c-485a-9b5b-660300000032","targetProject":"example-project"}'
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 388.678716ms
[...]
  - id: 19
    request:
      host: sqladmin.googleapis.com
      body: ""
      form: {}
      headers:
      url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp/users?alt=json&host=foo&name=sqluser-3vxr1tn21m3yp&prettyPrint=false
      method: DELETE
    response:
      body: fake error message
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 403 Forbidden
      code: 403
      duration: 155.950093ms
[...]
