# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: sqladmin.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp?alt=json&prettyPrint=false
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 194.694142ms
    - id: 1
      request:
        host: sqladmin.googleapis.com
        body: |
            {"databaseVersion":"MYSQL_5_7","name":"sqluser-dep-3vxr1tn21m3yp","region":"us-central1","settings":{"activationPolicy":"ALWAYS","availabilityType":"ZONAL","dataDiskType":"PD_SSD","edition":"ENTERPRISE","pricingPlan":"PER_USE","storageAutoResize":true,"tier":"db-n1-standard-1","userLabels":{"cnrm-test":"true","config-connector-resource-type":"sqlinstance","managed-by-cnrm":"true"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances?alt=json&prettyPrint=false
        method: POST
      response:
        body: '{"kind":"sql#operation","targetLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp","status":"PENDING","user":"user@google.com","insertTime":"2024-08-15T19:31:50.365Z","operationType":"CREATE","name":"b665ce4d-1fe8-49a0-b82b-8d9d00000032","targetId":"sqluser-dep-3vxr1tn21m3yp","selfLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/operations/b665ce4d-1fe8-49a0-b82b-8d9d00000032","targetProject":"example-project"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 811.838345ms
    - id: 2
      request:
        host: sqladmin.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/operations/b665ce4d-1fe8-49a0-b82b-8d9d00000032?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"sql#operation","targetLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp","status":"DONE","user":"user@google.com","insertTime":"2024-08-15T19:31:50.365Z","startTime":"2024-08-15T19:31:50.607Z","endTime":"2024-08-15T19:34:19.992Z","operationType":"CREATE","name":"b665ce4d-1fe8-49a0-b82b-8d9d00000032","targetId":"sqluser-dep-3vxr1tn21m3yp","selfLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/operations/b665ce4d-1fe8-49a0-b82b-8d9d00000032","targetProject":"example-project"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 91.519206ms
    - id: 3
      request:
        host: sqladmin.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp/users?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"sql#usersList","items":[{"kind":"sql#user","etag":"6f865b9d1e095e9d5d708cb058b61cf08f919cf1f83a27e1292caa1baf88a32c","name":"root","host":"%","instance":"sqluser-dep-3vxr1tn21m3yp","project":"example-project","passwordPolicy":{"status":{}}}]}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 134.148144ms
    - id: 4
      request:
        host: sqladmin.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp/users?alt=json&host=%25&name=root&prettyPrint=false
        method: DELETE
      response:
        body: '{"kind":"sql#operation","targetLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp","status":"DONE","user":"user@google.com","insertTime":"2024-08-15T19:34:24.403Z","startTime":"2024-08-15T19:34:24.410Z","endTime":"2024-08-15T19:34:24.513Z","operationType":"DELETE_USER","name":"4245716d-66b0-406c-9ec9-014000000032","targetId":"sqluser-dep-3vxr1tn21m3yp","selfLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/operations/4245716d-66b0-406c-9ec9-014000000032","targetProject":"example-project"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 240.608649ms
    - id: 5
      request:
        host: sqladmin.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"sql#instance","state":"RUNNABLE","databaseVersion":"MYSQL_5_7","settings":{"authorizedGaeApplications":[],"tier":"db-n1-standard-1","kind":"sql#settings","userLabels":{"config-connector-resource-type":"sqlinstance","cnrm-test":"true","managed-by-cnrm":"true"},"availabilityType":"ZONAL","pricingPlan":"PER_USE","replicationType":"SYNCHRONOUS","activationPolicy":"ALWAYS","ipConfiguration":{"authorizedNetworks":[],"sslMode":"ALLOW_UNENCRYPTED_AND_ENCRYPTED","ipv4Enabled":true,"requireSsl":false,"serverCaMode":"GOOGLE_MANAGED_INTERNAL_CA"},"locationPreference":{"zone":"us-central1-c","kind":"sql#locationPreference"},"dataDiskType":"PD_SSD","backupConfiguration":{"startTime":"06:00","kind":"sql#backupConfiguration","backupRetentionSettings":{"retentionUnit":"COUNT","retainedBackups":7},"enabled":false,"transactionLogRetentionDays":7,"transactionalLogStorageState":"TRANSACTIONAL_LOG_STORAGE_STATE_UNSPECIFIED"},"edition":"ENTERPRISE","connectorEnforcement":"NOT_REQUIRED","settingsVersion":"1","storageAutoResizeLimit":"0","storageAutoResize":true,"dataDiskSizeGb":"10","deletionProtectionEnabled":false},"etag":"5b9fa3c6490b8f8125cec67040cc195e062a4f351db8b111ff010cc2e0b63b3c","ipAddresses":[{"type":"PRIMARY","ipAddress":"104.197.188.74"}],"serverCaCert":{"kind":"sql#sslCert","certSerialNumber":"0","cert":"-----BEGIN CERTIFICATE-----\nMIIDfzCCAmegAwIBAgIBADANBgkqhkiG9w0BAQsFADB3MS0wKwYDVQQuEyRjMTc2\nMTAzZC02ZDI5LTQzMTctYWY5Mi05MjhmMDVlNGM4NmMxIzAhBgNVBAMTGkdvb2ds\nZSBDbG91ZCBTUUwgU2VydmVyIENBMRQwEgYDVQQKEwtHb29nbGUsIEluYzELMAkG\nA1UEBhMCVVMwHhcNMjQwODE1MTkzMTM3WhcNMzQwODEzMTkzMjM3WjB3MS0wKwYD\nVQQuEyRjMTc2MTAzZC02ZDI5LTQzMTctYWY5Mi05MjhmMDVlNGM4NmMxIzAhBgNV\nBAMTGkdvb2dsZSBDbG91ZCBTUUwgU2VydmVyIENBMRQwEgYDVQQKEwtHb29nbGUs\nIEluYzELMAkGA1UEBhMCVVMwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIB\nAQDJ5vRCBhH8teARB+xLNM7Ao/N9dbmuT4a+ACxPqfCSZ3xKAst4KKnCBs8zddwU\nfCxqppthBDIStjP5Jec/25MjTAYNRj5tfWW/zhmX645bqdf3efOIbNL8usDyKHK8\nBwRosz3JyCHsPNWVFnc0d+/inw0kZ9LXK1BI7OWowADIOaE9QIQRuz4AeFfo5j4k\nZHdKdM6VF2h7NrOBRkGqOT/m9Qxso+iksyyPCLPoSmOwmNb8SqPAa07qCxbOkz5S\n1PIkgdUO7ZDBlimUrC+dsepZUhx+O2Z+75MpqWJF4kePGKGkjDHQ7/9FeEtQVZ1O\n7Ig4QunSSFdVPr7/rm2xjJOJAgMBAAGjFjAUMBIGA1UdEwEB/wQIMAYBAf8CAQAw\nDQYJKoZIhvcNAQELBQADggEBAE+Vii3s9T9gWtnuoj2C3UXPvvzCnK/UeANA9Jbc\nm/Q11xsKOAnxzoAxokN0RcmfHq1bYuNOxkHg9Etg0MDTSwNFxigHBXupjS/UvWeX\nxiuAkE7rZYBw4rghIIBLYcR7CXS0o10mpGDwx4vhDkP5uP0xWMaQjmQmlDT6Gw3X\nnBNTu6NigGp53VKwevaTNEwy9mAgDwj+uVXuutAWAqXhDTtX/d2276eiL7o8SVDR\nzbQtvwY0v1igtWICKK1h1SNCX889VV/BSzNlKfufVstowisIwQVK2yorm7cFph3B\n4KSO5roWT3rMTxAQIcE1zksa++3JS3V6VJpAH3GlXSLVqKQ=\n-----END CERTIFICATE-----","commonName":"C=US,O=Google\\, Inc,CN=Google Cloud SQL Server CA,dnQualifier=c176103d-6d29-4317-af92-928f05e4c86c","sha1Fingerprint":"12928cc304441768e8ba17e12bf043a4a2d16dad","instance":"sqluser-dep-3vxr1tn21m3yp","createTime":"2024-08-15T19:31:37.402Z","expirationTime":"2034-08-13T19:32:37.402Z"},"instanceType":"CLOUD_SQL_INSTANCE","project":"example-project","serviceAccountEmailAddress":"p123456789-whmxye@gcp-sa-cloud-sql.iam.gserviceaccount.com","backendType":"SECOND_GEN","selfLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp","connectionName":"example-project:us-central1:sqluser-dep-3vxr1tn21m3yp","name":"sqluser-dep-3vxr1tn21m3yp","region":"us-central1","gceZone":"us-central1-c","databaseInstalledVersion":"MYSQL_5_7_44","maintenanceVersion":"MYSQL_5_7_44.R20240527.01_00","upgradableDatabaseVersions":[{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0","displayName":"MySQL 8.0"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_18","displayName":"MySQL 8.0.18"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_26","displayName":"MySQL 8.0.26"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_27","displayName":"MySQL 8.0.27"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_28","displayName":"MySQL 8.0.28"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_29","displayName":"MySQL 8.0.29"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_30","displayName":"MySQL 8.0.30"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_31","displayName":"MySQL 8.0.31"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_32","displayName":"MySQL 8.0.32"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_33","displayName":"MySQL 8.0.33"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_34","displayName":"MySQL 8.0.34"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_35","displayName":"MySQL 8.0.35"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_36","displayName":"MySQL 8.0.36"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_37","displayName":"MySQL 8.0.37"}],"geminiConfig":{"entitled":false,"indexAdvisorEnabled":false,"flagRecommenderEnabled":false},"createTime":"2024-08-15T19:31:49.796Z","sqlNetworkArchitecture":"NEW_NETWORK_ARCHITECTURE","satisfiesPzi":true}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 92.631976ms
[...]
    - id: 10
      request:
        host: sqladmin.googleapis.com
        body: |
            {"host":"foo","instance":"sqluser-dep-3vxr1tn21m3yp","name":"sqluser-3vxr1tn21m3yp","password":"password"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp/users?alt=json&prettyPrint=false
        method: POST
      response:
        body: '{"kind":"sql#operation","targetLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp","status":"DONE","user":"user@google.com","insertTime":"2024-08-15T19:34:25.951Z","startTime":"2024-08-15T19:34:25.958Z","endTime":"2024-08-15T19:34:26.040Z","operationType":"CREATE_USER","name":"83efee18-f30c-4377-94e1-b7c300000032","targetId":"sqluser-dep-3vxr1tn21m3yp","selfLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/operations/83efee18-f30c-4377-94e1-b7c300000032","targetProject":"example-project"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 202.270391ms
[...]
