# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: sqladmin.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp?alt=json&prettyPrint=false
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 411.157446ms
    - id: 1
      request:
        host: sqladmin.googleapis.com
        body: |
            {"databaseVersion":"MYSQL_5_7","name":"sqluser-dep-3vxr1tn21m3yp","region":"us-central1","settings":{"activationPolicy":"ALWAYS","availabilityType":"ZONAL","dataDiskType":"PD_SSD","edition":"ENTERPRISE","pricingPlan":"PER_USE","storageAutoResize":true,"tier":"db-n1-standard-1","userLabels":{"cnrm-test":"true","managed-by-cnrm":"true"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances?alt=json&prettyPrint=false
        method: POST
      response:
        body: '{"kind":"sql#operation","targetLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp","status":"PENDING","user":"user@google.com","insertTime":"2024-09-26T21:29:36.635Z","operationType":"CREATE","name":"627a3b12-c185-4a4c-b646-8d8900000032","targetId":"sqluser-dep-3vxr1tn21m3yp","selfLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/operations/627a3b12-c185-4a4c-b646-8d8900000032","targetProject":"example-project"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.05331032s
    - id: 2
      request:
        host: sqladmin.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/operations/627a3b12-c185-4a4c-b646-8d8900000032?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"sql#operation","targetLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp","status":"DONE","user":"user@google.com","insertTime":"2024-09-26T21:29:36.635Z","startTime":"2024-09-26T21:29:36.775Z","endTime":"2024-09-26T21:32:18.364Z","operationType":"CREATE","name":"627a3b12-c185-4a4c-b646-8d8900000032","targetId":"sqluser-dep-3vxr1tn21m3yp","selfLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/operations/627a3b12-c185-4a4c-b646-8d8900000032","targetProject":"example-project"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 207.185172ms
    - id: 3
      request:
        host: sqladmin.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp/users?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"sql#usersList","items":[{"kind":"sql#user","etag":"f5971a01d0e03cb8f2cf4937b38d5f862147f17f4c0ee493b57b96dc2289097e","name":"root","host":"%","instance":"sqluser-dep-3vxr1tn21m3yp","project":"example-project","passwordPolicy":{"status":{}}}]}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 263.968887ms
    - id: 4
      request:
        host: sqladmin.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp/users?alt=json&host=%25&name=root&prettyPrint=false
        method: DELETE
      response:
        body: '{"kind":"sql#operation","targetLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp","status":"DONE","user":"user@google.com","insertTime":"2024-09-26T21:32:25.447Z","startTime":"2024-09-26T21:32:25.468Z","endTime":"2024-09-26T21:32:25.585Z","operationType":"DELETE_USER","name":"78aa7608-b53d-45f1-b24d-af5700000032","targetId":"sqluser-dep-3vxr1tn21m3yp","selfLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/operations/78aa7608-b53d-45f1-b24d-af5700000032","targetProject":"example-project"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 402.221939ms
    - id: 5
      request:
        host: sqladmin.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"sql#instance","state":"RUNNABLE","databaseVersion":"MYSQL_5_7","settings":{"authorizedGaeApplications":[],"tier":"db-n1-standard-1","kind":"sql#settings","userLabels":{"cnrm-test":"true","managed-by-cnrm":"true"},"availabilityType":"ZONAL","pricingPlan":"PER_USE","replicationType":"SYNCHRONOUS","activationPolicy":"ALWAYS","ipConfiguration":{"authorizedNetworks":[],"sslMode":"ALLOW_UNENCRYPTED_AND_ENCRYPTED","ipv4Enabled":true,"requireSsl":false,"serverCaMode":"GOOGLE_MANAGED_INTERNAL_CA"},"locationPreference":{"zone":"us-central1-a","kind":"sql#locationPreference"},"dataDiskType":"PD_SSD","backupConfiguration":{"startTime":"19:00","kind":"sql#backupConfiguration","backupRetentionSettings":{"retentionUnit":"COUNT","retainedBackups":7},"enabled":false,"transactionLogRetentionDays":7,"transactionalLogStorageState":"TRANSACTIONAL_LOG_STORAGE_STATE_UNSPECIFIED"},"edition":"ENTERPRISE","connectorEnforcement":"NOT_REQUIRED","settingsVersion":"1","storageAutoResizeLimit":"0","storageAutoResize":true,"dataDiskSizeGb":"10","deletionProtectionEnabled":false},"etag":"75087759295ba59c7069f27b5b5ea696f440fc3897f5452110d48043eae8979a","ipAddresses":[{"type":"PRIMARY","ipAddress":"35.226.125.225"}],"serverCaCert":{"kind":"sql#sslCert","certSerialNumber":"0","cert":"-----BEGIN CERTIFICATE-----\nMIIDfzCCAmegAwIBAgIBADANBgkqhkiG9w0BAQsFADB3MS0wKwYDVQQuEyQyNGE1\nMThiZS03ZjEzLTQwNGMtOTZhNy1mNjY1OTE3OWNjYjYxIzAhBgNVBAMTGkdvb2ds\nZSBDbG91ZCBTUUwgU2VydmVyIENBMRQwEgYDVQQKEwtHb29nbGUsIEluYzELMAkG\nA1UEBhMCVVMwHhcNMjQwOTI2MjEyOTM0WhcNMzQwOTI0MjEzMDM0WjB3MS0wKwYD\nVQQuEyQyNGE1MThiZS03ZjEzLTQwNGMtOTZhNy1mNjY1OTE3OWNjYjYxIzAhBgNV\nBAMTGkdvb2dsZSBDbG91ZCBTUUwgU2VydmVyIENBMRQwEgYDVQQKEwtHb29nbGUs\nIEluYzELMAkGA1UEBhMCVVMwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIB\nAQC8B1QprtTsr51X1Ak4ptTnEn4ZQUOuymEtZOUkuXU9Sl3cCVNFoVl2ljJ9zscV\nYhHfeNNF8XBPeuPnQO2y068KT42isPhM4uC2tIZKbu6qPlkpkutJoMsUG1+dkHCu\nhMTxl+k6q8NJRcClxyYp00ZRflpETpcEgGqGa51bsH1T2vXug5/Scd23HPQIWxsm\nQ2/yhEW8xmNjU+BkSwlT5f4Hsq8MTGHcCZjbnJ0DAhLA6jRMwjOtyNLGmABEQcLu\nTeIgDcFpGfWR3Pv0nYRuNrbsfloTo+JgYJxFsKWhfX5VyWJt+/QAY+OvJQ2eWjCb\nH03lmknkrjE7CwJznGceOA0nAgMBAAGjFjAUMBIGA1UdEwEB/wQIMAYBAf8CAQAw\nDQYJKoZIhvcNAQELBQADggEBAGh87FxMIhWnfKb9bff9g+LUCaFxUwuhvM9yA1oA\nz68OvspI/yhmpWzUjMh6I4FJaCdYkW93rGMeOcqANtQHz76F3JJIMRSIYU9yLDA3\n/vE8S/qzU2AM1Z9hHdjn+F7rMEtjAKChohUKjRURzHQmuOipQBOUMR9/6j8LD+D4\nQ4RyoquALZAFOCSgewi7f1eGed/AlP2ueyPOUxzo/N/j1AJoi45i4HuoG1XkDveC\n9hzhywH11o3RWKgIS5idq0Ze3dMP07+n9XTfaw3HUUE4JhjExHECVbOLCdmQOWKn\nZ9y+GwdA+Eq3xBux04S0IA7ajwO8J5Vv+0dvaQ0BhfpXLU8=\n-----END CERTIFICATE-----","commonName":"C=US,O=Google\\, Inc,CN=Google Cloud SQL Server CA,dnQualifier=24a518be-7f13-404c-96a7-f6659179ccb6","sha1Fingerprint":"cf6f88e7ba64c738ce7174205ff2aea9ad6f7556","instance":"sqluser-dep-3vxr1tn21m3yp","createTime":"2024-09-26T21:29:34.906Z","expirationTime":"2034-09-24T21:30:34.906Z"},"instanceType":"CLOUD_SQL_INSTANCE","project":"example-project","serviceAccountEmailAddress":"p123456789-6pwkl8@gcp-sa-cloud-sql.iam.gserviceaccount.com","backendType":"SECOND_GEN","selfLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp","connectionName":"example-project:us-central1:sqluser-dep-3vxr1tn21m3yp","name":"sqluser-dep-3vxr1tn21m3yp","region":"us-central1","gceZone":"us-central1-a","databaseInstalledVersion":"MYSQL_5_7_44","maintenanceVersion":"MYSQL_5_7_44.R20240527.01_12","upgradableDatabaseVersions":[{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0","displayName":"MySQL 8.0"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_18","displayName":"MySQL 8.0.18"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_26","displayName":"MySQL 8.0.26"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_27","displayName":"MySQL 8.0.27"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_28","displayName":"MySQL 8.0.28"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_29","displayName":"MySQL 8.0.29"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_30","displayName":"MySQL 8.0.30"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_31","displayName":"MySQL 8.0.31"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_32","displayName":"MySQL 8.0.32"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_33","displayName":"MySQL 8.0.33"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_34","displayName":"MySQL 8.0.34"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_35","displayName":"MySQL 8.0.35"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_36","displayName":"MySQL 8.0.36"},{"majorVersion":"MYSQL_8_0","name":"MYSQL_8_0_37","displayName":"MySQL 8.0.37"}],"geminiConfig":{"entitled":false,"activeQueryEnabled":false,"indexAdvisorEnabled":false,"flagRecommenderEnabled":false},"createTime":"2024-09-26T21:29:36.224Z","sqlNetworkArchitecture":"NEW_NETWORK_ARCHITECTURE","satisfiesPzi":true}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 224.848668ms
[...]
    - id: 10
      request:
        host: sqladmin.googleapis.com
        body: |
            {"host":"foo","instance":"sqluser-dep-3vxr1tn21m3yp","name":"sqluser-3vxr1tn21m3yp","password":"password"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp/users?alt=json&prettyPrint=false
        method: POST
      response:
        body: '{"kind":"sql#operation","targetLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp","status":"DONE","user":"user@google.com","insertTime":"2024-09-26T21:32:28.098Z","startTime":"2024-09-26T21:32:28.107Z","endTime":"2024-09-26T21:32:28.186Z","operationType":"CREATE_USER","name":"45c18645-fa03-4b1e-8394-2b6d00000032","targetId":"sqluser-dep-3vxr1tn21m3yp","selfLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/operations/45c18645-fa03-4b1e-8394-2b6d00000032","targetProject":"example-project"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 315.250213ms
[...]
