# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
  - id: 0
    request:
      host: monitoring.googleapis.com
      body: |
        {"displayName":"monitoringnotificationchannel2-41w3iydhydd0","enabled":true,"labels":{"email_address":"dev@example.com"},"type":"email","userLabels":{"cnrm-test":"true","managed-by-cnrm":"true"}}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://monitoring.googleapis.com/v3/projects/example-project/notificationChannels?alt=json
      method: POST
    response:
      body: |
        {
          "type": "email",
          "displayName": "monitoringnotificationchannel2-41w3iydhydd0",
          "labels": {
            "email_address": "dev@example.com"
          },
          "name": "projects/example-project/notificationChannels/3903573194057951866",
          "userLabels": {
            "managed-by-cnrm": "true",
            "cnrm-test": "true"
          },
          "enabled": true,
          "creationRecord": {
            "mutateTime": "2024-04-25T01:50:04.477480023Z"
          },
          "mutationRecords": [
            {
              "mutateTime": "2024-04-25T01:50:04.477480023Z"
            }
          ]
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 1.139551922s
  - id: 1
    request:
      host: monitoring.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://monitoring.googleapis.com/v3/projects/example-project/notificationChannels/3903573194057951866?alt=json
      method: GET
    response:
      body: |
        {
          "type": "email",
          "displayName": "monitoringnotificationchannel2-41w3iydhydd0",
          "labels": {
            "email_address": "dev@example.com"
          },
          "name": "projects/example-project/notificationChannels/3903573194057951866",
          "userLabels": {
            "managed-by-cnrm": "true",
            "cnrm-test": "true"
          },
          "enabled": true,
          "creationRecord": {
            "mutateTime": "2024-04-25T01:50:04.477480023Z"
          },
          "mutationRecords": [
            {
              "mutateTime": "2024-04-25T01:50:04.477480023Z"
            }
          ]
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 153.770546ms
[...]
  - id: 7
    request:
      host: monitoring.googleapis.com
      body: |
        {"combiner":"AND_WITH_MATCHING_RESOURCE","conditions":[{"conditionThreshold":{"aggregations":[{"alignmentPeriod":"60s","crossSeriesReducer":"REDUCE_MEAN","groupByFields":["project","resource.label.instance_id","resource.label.zone"],"perSeriesAligner":"ALIGN_MAX"}],"comparison":"COMPARISON_GT","duration":"900s","filter":"metric.type=\"compute.googleapis.com/instance/cpu/utilization\" AND resource.type=\"gce_instance\"","thresholdValue":0.9,"trigger":{"count":1}},"displayName":"Very high CPU usage"}],"displayName":"Test Alert Policy","documentation":{"content":"Introduction to alerting\nAlerting gives timely awareness to problems in your cloud applications so you can resolve the problems quickly.\n\nTo create an alerting policy, you must describe the circumstances under which you want to be alerted and how you want to be notified. This page provides an overview of alerting policies and the concepts behind them.\n\nFor a practical introduction to alerting, try one of these quickstarts:\n\nQuickstart for GCP\nQuickstart for AWS\nFor an alerting policy t[...]
[...]
  - id: 10
    request:
      host: monitoring.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://monitoring.googleapis.com/v3/projects/example-project/alertPolicies/2196633403401485933?alt=json
      method: GET
    response:
      body: |
        {
          "name": "projects/example-project/alertPolicies/2196633403401485933",
          "displayName": "Test Alert Policy",
          "combiner": "AND_WITH_MATCHING_RESOURCE",
          "creationRecord": {
            "mutateTime": "2024-04-25T01:50:09.751333324Z",
            "mutatedBy": "integration-test@example-project.iam.gserviceaccount.com"
          },
          "mutationRecord": {
            "mutateTime": "2024-04-25T01:50:09.751333324Z",
            "mutatedBy": "integration-test@example-project.iam.gserviceaccount.com"
          },
          "conditions": [
            {
              "conditionThreshold": {
                "filter": "metric.type=\"compute.googleapis.com/instance/cpu/utilization\" AND resource.type=\"gce_instance\"",
                "comparison": "COMPARISON_GT",
                "thresholdValue": 0.9,
                "duration": "900s",
            [...]
[...]
  - id: 13
    request:
      host: monitoring.googleapis.com
      body: |
        {"combiner":"OR","conditions":[{"conditionThreshold":{"aggregations":[{"alignmentPeriod":"60s","crossSeriesReducer":"REDUCE_MEAN","groupByFields":["project","resource.label.instance_id","resource.label.zone"],"perSeriesAligner":"ALIGN_MAX"}],"comparison":"COMPARISON_LT","duration":"900s","filter":"metric.type=\"compute.googleapis.com/instance/cpu/utilization\" AND resource.type=\"gce_instance\"","thresholdValue":0.1,"trigger":{"count":3}},"displayName":"Very low CPU usage","name":"projects/example-project/alertPolicies/2196633403401485933/conditions/2196633403401483150"}],"displayName":"Updated Test Alert Policy","documentation":{"content":"“Just the place for a Snark!” the Bellman cried,\nAs he monitored his resources with care;\nSupporting each metric on the top of the tide\nBy a finger entwined in his hair.\n\n“Just the place for a Snark! I have measured it twice:\nThat alone should discourage the crew.\nJust the place for a Snark! I have measured it thrice:\nWhat I measure three times is true.”","mimeType":"text/markdown"},"enabled":false,"notificationChannels":["projects/example-project/notificationChannels/3527810009930327309","projects/example-project/notificationChannels/3903573194057950299"],"userLabels":{"cnrm-test":"true","managed-by-cnrm":"true"}}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://monitoring.googleapis.com/v3/projects/example-project/alertPolicies/2196633403401485933?alt=json&updateMask=displayName%2Ccombiner%2Cenabled%2Cconditions%2CnotificationChannels%2Cdocumentation
      met[...]
[...]
  - id: 20
    request:
      host: monitoring.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://monitoring.googleapis.com/v3/projects/example-project/notificationChannels/3527810009930327309?alt=json&force=false
      method: DELETE
    response:
      body: fake error message
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 400 Bad Request
      code: 400
      duration: 150.495825ms
[...]
