# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
  - id: 0
    request:
      host: logging.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://logging.googleapis.com/v2/projects/example-project/locations/global/buckets/logginglogbucket-3ffl0qgv9h1cm?alt=json
      method: GET
    response:
      body: fake error message
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 404 Not Found
      code: 404
      duration: 143.618358ms
[...]
  - id: 3
    request:
      host: logging.googleapis.com
      body: '{"description":"A sample log bucket","locked":false,"name":"projects/example-project/locations/global/buckets/logginglogbucket-3ffl0qgv9h1cm","retentionDays":30}'
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://logging.googleapis.com/v2/projects/example-project/locations/global/buckets?alt=json&bucketId=logginglogbucket-3ffl0qgv9h1cm
      method: POST
    response:
      body: |
        {
          "name": "projects/example-project/locations/global/buckets/logginglogbucket-3ffl0qgv9h1cm",
          "description": "A sample log bucket",
          "createTime": "2024-04-25T01:43:25.720727659Z",
          "updateTime": "2024-04-25T01:43:25.720727659Z",
          "retentionDays": 30,
          "lifecycleState": "ACTIVE"
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 808.383131ms
[...]
  - id: 7
    request:
      host: logging.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://logging.googleapis.com/v2/projects/example-project/locations/global/buckets/logginglogbucket-3ffl0qgv9h1cm/views/logginglogview-3ffl0qgv9h1cm?alt=json
      method: GET
    response:
      body: fake error message
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 404 Not Found
      code: 404
      duration: 115.126027ms
[...]
  - id: 12
    request:
      host: logging.googleapis.com
      body: '{"description":"A project-level log view","filter":"SOURCE(\"projects/myproject\") AND resource.type = \"gce_instance\" AND LOG_ID(\"stdout\")","name":"projects/example-project/locations/global/buckets/logginglogbucket-3ffl0qgv9h1cm/views/logginglogview-3ffl0qgv9h1cm"}'
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://logging.googleapis.com/v2/projects/example-project/locations/global/buckets/logginglogbucket-3ffl0qgv9h1cm/views?alt=json&viewId=logginglogview-3ffl0qgv9h1cm
      method: POST
    response:
      body: |
        {
          "name": "projects/example-project/locations/global/buckets/logginglogbucket-3ffl0qgv9h1cm/views/logginglogview-3ffl0qgv9h1cm",
          "description": "A project-level log view",
          "createTime": "2024-04-25T01:43:28.669207570Z",
          "updateTime": "2024-04-25T01:43:28.669207570Z",
          "filter": "SOURCE(\"projects/myproject\") AND resource.type = \"gce_instance\" AND LOG_ID(\"stdout\")"
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 694.621757ms
[...]
  - id: 22
    request:
      host: logging.googleapis.com
      body: '{"description":"An updated project-level log view","filter":"SOURCE(\"projects/myproject\") AND resource.type = \"gce_instance\""}'
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://logging.googleapis.com/v2/projects/example-project/locations/global/buckets/logginglogbucket-3ffl0qgv9h1cm/views/logginglogview-3ffl0qgv9h1cm?alt=json&updateMask=description%2Cfilter
      method: PATCH
    response:
      body: |
        {
          "name": "projects/example-project/locations/global/buckets/logginglogbucket-3ffl0qgv9h1cm/views/logginglogview-3ffl0qgv9h1cm",
          "description": "An updated project-level log view",
          "createTime": "2024-04-25T01:43:28.669207570Z",
          "updateTime": "2024-04-25T01:43:33.924036356Z",
          "filter": "SOURCE(\"projects/myproject\") AND resource.type = \"gce_instance\""
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 682.395638ms
[...]
  - id: 27
    request:
      host: logging.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://logging.googleapis.com/v2/projects/example-project/locations/global/buckets//views/logginglogview-3ffl0qgv9h1cm?alt=json
      method: GET
    response:
      body: fake error message
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 400 Bad Request
      code: 400
      duration: 22.532899ms
[...]
