# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# IntelliJ/Goland config
.idea
*.iml

# Google Terraform Provider binary
#terraform-provider-google-beta

# Temporary Build Files
tmp/_output
tmp/_test
.tmp

# build output
bin/
operator/bin

# record_gcp output
artifactz/

# Created by https://www.gitignore.io/api/go,vim,emacs,visualstudiocode

### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile
projectile-bookmarks.eld

# directory configuration
.dir-locals.el

# saveplace
places

# url cache
url/cache/

# cedet
ede-projects.el

# smex
smex-items

# company-statistics
company-statistics-cache.el

# anaconda-mode
anaconda-mode/

# pycache
scripts/dclsampleconverter/__pycache__

# temporary YAMLs
config/installbundle/components/manager/base/manager_image_patch.yaml
config/installbundle/components/recorder/recorder_image_patch.yaml
config/installbundle/components/webhook/webhook_image_patch.yaml
config/installbundle/components/deletiondefender/deletiondefender_image_patch.yaml
config/installbundle/components/unmanageddetector/unmanageddetector_image_patch.yaml
operator/config/manager/manager_image_patch.yaml
operator/config/autopilot-manager/manager_image_patch.yaml
operator/config/crd/generated/

### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with 'go test -c'
*.test
*.build

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

### Vim ###
# swap
.sw[a-p]
.*.sw[a-p]
# session
Session.vim
# temporary
.netrwhist

### VisualStudioCode ###
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history


# End of https://www.gitignore.io/api/go,vim,emacs,visualstudiocode
#

# always skip vendored files
/vendor
.build

# Go workspaces
go.work.sum

# Log files that are often created by e2e runs / downloads
e2e.log
testlogs/
log

# experiments/conductor
experiments/conductor/logs
experiments/conductor/branches.yaml

# failing fuzz output
pkg/fuzztesting/fuzztests/testdata/fuzz/FuzzAllMappers
