go 1.24

use (
	.
	./dev/tools/controllerbuilder
	./experiments/kompanion
	./experiments/kubectl-plan
	./mockgcp
	./mockgcp/tools/patch-proto
//	./third_party/github.com/hashicorp/terraform-provider-google-beta
)
