# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: run.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://run.googleapis.com/v2/projects/example-project/locations/us-central1/services/runservice-1w5ax8rh1otic?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 143.919015ms
    - id: 1
      request:
        host: run.googleapis.com
        body: |
            {"ingress":"INGRESS_TRAFFIC_ALL","labels":{"cnrm-test":"true","config-connector-resource-type":"runservice","managed-by-cnrm":"true"},"launchStage":"GA","template":{"containers":[{"env":[{"name":"FOO","value":"bar]"}],"image":"gcr.io/cloudrun/hello"}],"scaling":{"maxInstanceCount":2}},"traffic":[{"percent":100,"type":"TRAFFIC_TARGET_ALLOCATION_TYPE_LATEST"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://run.googleapis.com/v2/projects/example-project/locations/us-central1/services?alt=json&serviceId=runservice-1w5ax8rh1otic
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/159e0c3c-4684-4047-9b26-76454b828027",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.run.v2.Service",
                "name": "projects/example-project/locations/us-central1/services/runservice-1w5ax8rh1otic",
                "uid": "d1397f3d-6367-421f-a738-2c6ac2e5c246",
                "generation": "1",
                "labels": {
                  "cnrm-test": "true",
                  "config-connector-resource-type": "runservice",
                  "managed-by-cnrm": "true"
                },
                "createTime": "2024-08-15T19:27:20.687287Z",
                "updateTime": "2024-08-15T19:27:20.687287Z",
                "creator": "xiaoweim@google.com",
                "lastModifier": "xiaoweim@google.com",
                "launchStage": "GA",
                "template": {
                  "scaling": {
                    "maxInstanceCount": 2
                  },
                  "timeout": "300s",
                  "serviceAccount": "123456789-compute@developer.gserviceaccount.com",
                  "containers": [
                    {
                      "image": "gcr.io/cloudrun/hello",
                      "env": [
                        {
                          "name": "FOO",
                          "value": "bar]"
                        }
                      ],
                      "resources": {
                        "limits": {
                          "memory": "512Mi",
                          "cpu": "1000m"
                        },
                        "cpuIdle": true
                      },
                      "ports": [
                        {
                          "name": "http1",
                          "containerPort": 8080
                        }
                      ],
                      "startupProbe": {
                        "timeoutSeconds": 240,
                        "periodSeconds": 240,
                        "failureThreshold": 1,
                        "tcpSocket": {
                          "port": 8080
                        }
                      }
                    }
                  ],
                  "maxInstanceRequestConcurrency": 80
                },
                "traffic": [
                  {
                    "type": "TRAFFIC_TARGET_ALLOCATION_TYPE_LATEST",
                    "percent": 100
                  }
                ],
                "terminalCondition": {
                  "state": "CONDITION_PENDING"
                },
                "reconciling": true,
                "etag": "\"CJit-bUGENjV3McC/cHJvamVjdHMveGlhb3dlaW0tZ2tlLWRldi9sb2NhdGlvbnMvdXMtY2VudHJhbDEvc2VydmljZXMvcnVuc2VydmljZS0xdzVheDhyaDFvdGlj\""
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 156.308195ms
    - id: 2
      request:
        host: run.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://run.googleapis.com/v2/projects/example-project/locations/us-central1/operations/159e0c3c-4684-4047-9b26-76454b828027?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/159e0c3c-4684-4047-9b26-76454b8280[...]
[...]
    - id: 6
      request:
        host: run.googleapis.com
        body: |
            {"ingress":"INGRESS_TRAFFIC_ALL","labels":{"cnrm-test":"true","config-connector-resource-type":"runservice","managed-by-cnrm":"true"},"launchStage":"GA","template":{"containers":[{"env":[{"name":"FOO","value":"[barbar"}],"image":"gcr.io/cloudrun/hello","ports":[{"containerPort":8080,"name":"http1"}],"resources":{"cpuIdle":true,"limits":{"cpu":"1000m","memory":"512Mi"}},"startupProbe":{"failureThreshold":1,"grpc":null,"httpGet":null,"periodSeconds":240,"tcpSocket":{"port":8080},"timeoutSeconds":240}}],"maxInstanceRequestConcurrency":80,"scaling":{"maxInstanceCount":3},"serviceAccount":"123456789-compute@developer.gserviceaccount.com","timeout":"300s"},"traffic":[{"percent":100,"type":"TRAFFIC_TARGET_ALLOCATION_TYPE_LATEST"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://run.googleapis.com/v2/projects/example-project/locations/us-central1/services/ru[...]
[...]
    - id: 11
      request:
        host: run.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://run.googleapis.com/v2/projects/example-project/locations/us-central1/services/runservice-1w5ax8rh1otic?alt=json
        method: DELETE
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/3d59e087-6d4f-4480-9048-3c8f116c97c7",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.run.v2.Service",
                "name": "projects/example-project/locations/us-central1/services/runservice-1w5ax8rh1otic",
                "uid": "d1397f3d-6367-421f-a738-2c6ac2e5c246",
                "generation": "3",
                "labels": {
                  "cnrm-test": "true",
                  "config-connector-resource-type": "runservice",
                  "managed-by-cnrm": "true"
                },
                "createTime": "2024-08-15T19:27:20.687287Z",
                "updateTime": "2024-08-15T19:27:54.269333Z",
                "deleteTime": "2024-08-15T19:27:54.269333Z",
                "expireTime": "2024-09-14T19:27:54.269333Z",
                "creator": "xiaoweim@google.com",
                "lastModifier": "xiaoweim@google.com",
                "ingress": "INGRESS_TRAFFIC_ALL",
                "launchStage": "GA",
                "template": {
                  "scaling": {
                    "maxInstanceCount": 3
                  },
                  "timeout": "300s",
                  "serviceAccount": "123456789-compute@developer.gserviceaccount.com",
                  "container[...]
[...]
