# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
  - id: 0
    request:
      host: run.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://run.googleapis.com/v2/projects/example-project/locations/us-central1/services/runservice-1w5ax8rh1otic?alt=json
      method: GET
    response:
      body: fake error message
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 404 Not Found
      code: 404
      duration: 350.44993ms
  - id: 1
    request:
      host: run.googleapis.com
      body: |
        {"ingress":"INGRESS_TRAFFIC_ALL","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"launchStage":"GA","template":{"containers":[{"env":[{"name":"FOO","value":"bar]"}],"image":"gcr.io/cloudrun/hello"}],"scaling":{"maxInstanceCount":2}},"traffic":[{"percent":100,"type":"TRAFFIC_TARGET_ALLOCATION_TYPE_LATEST"}]}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://run.googleapis.com/v2/projects/example-project/locations/us-central1/services?alt=json&serviceId=runservice-1w5ax8rh1otic
      method: POST
    response:
      body: |
        {
          "name": "projects/example-project/locations/us-central1/operations/91ecdd0d-9cab-422c-b991-3936eb579e76",
          "metadata": {
            "@type": "type.googleapis.com/google.cloud.run.v2.Service",
            "name": "projects/example-project/locations/us-central1/services/runservice-1w5ax8rh1otic",
            "uid": "00983b4f-6f4b-4bd4-ac6f-1022cc24c160",
            "generation": "1",
            "labels": {
              "cnrm-test": "true",
              "managed-by-cnrm": "true"
            },
            "createTime": "2024-04-25T01:58:35.886675Z",
            "updateTime": "2024-04-25T01:58:35.886675Z",
            "creator": "integration-test@example-project.iam.gserviceaccount.com",
            "lastModifier": "integration-test@example-project.iam.gserviceaccount.com",
            "launchStage": "GA",
            "template": {
              "scaling": {
                "maxInstanceCount": 2
              },
              "timeout": "300s",
              "serviceAccount": "123456789-compute@developer.gserviceaccount.com",
              "containers": [
                {
                  "image": "gcr.io/cloudrun/hello",
                  "env": [
                    {
                      "name": "FOO",
                      "value": "bar]"
                    }
                  ],
                  "resources": {
                    "limits": {
                      "memory": "512Mi",
                      "cpu": "1000m"
                    },
                    "cpuIdle": true
                  },
                  "ports": [
                    {
                      "name": "http1",
                      "containerPort": 8080
                    }
                  ],
                  "startupProbe": {
                    "timeoutSeconds": 240,
                    "periodSeconds": 240,
                    "failureThreshold": 1,
                    "tcpSocket": {
                      "port": 8080
                    }
                  }
                }
              ],
              "maxInstanceRequestConcurrency": 80
            },
            "traffic": [
              {
                "type": "TRAFFIC_TARGET_ALLOCATION_TYPE_LATEST",
                "percent": 100
              }
            ],
            "terminalCondition": {
              "state": "CONDITION_PENDING"
            },
            "reconciling": true,
            "etag": "\"CMvxprEGELis5qYD/cHJvamVjdHMvY25ybS10ZXN0LTF2a3hzOWJoanYweG85OHEvbG9jYXRpb25zL3VzLWNlbnRyYWwxL3NlcnZpY2VzL3J1bnNlcnZpY2UtMXc1YXg4cmgxb3RpYw\""
          }
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 374.6107ms
  - id: 2
    request:
      host: run.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://run.googleapis.com/v2/projects/example-project/locations/us-central1/operations/91ecdd0d-9cab-422c-b991-3936eb579e76?alt=json
      method: GET
    response:
      body: |
        {
          "name": "projects/example-project/locations/us-central1/operations/91ecdd0d-9cab-422c-b991-3936eb579e76",
          "metadata": {
         [...]
[...]
  - id: 6
    request:
      host: run.googleapis.com
      body: |
        {"ingress":"INGRESS_TRAFFIC_ALL","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"launchStage":"GA","template":{"containers":[{"env":[{"name":"FOO","value":"[barbar"}],"image":"gcr.io/cloudrun/hello","ports":[{"containerPort":8080,"name":"http1"}],"resources":{"cpuIdle":true,"limits":{"cpu":"1000m","memory":"512Mi"}},"startupProbe":{"failureThreshold":1,"grpc":null,"httpGet":null,"periodSeconds":240,"tcpSocket":{"port":8080},"timeoutSeconds":240}}],"maxInstanceRequestConcurrency":80,"scaling":{"maxInstanceCount":3},"serviceAccount":"123456789-compute@developer.gserviceaccount.com","timeout":"300s"},"traffic":[{"percent":100,"type":"TRAFFIC_TARGET_ALLOCATION_TYPE_LATEST"}]}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://run.googleapis.com/v2/projects/example-project/locations/us-central1/services/runservice-1w5ax8r[...]
[...]
  - id: 11
    request:
      host: run.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://run.googleapis.com/v2/projects/example-project/locations/us-central1/services/runservice-1w5ax8rh1otic?alt=json
      method: DELETE
    response:
      body: |
        {
          "name": "projects/example-project/locations/us-central1/operations/067f8367-af70-40a8-b61d-dc95892fad0c",
          "metadata": {
            "@type": "type.googleapis.com/google.cloud.run.v2.Service",
            "name": "projects/example-project/locations/us-central1/services/runservice-1w5ax8rh1otic",
            "uid": "00983b4f-6f4b-4bd4-ac6f-1022cc24c160",
            "generation": "3",
            "labels": {
              "cnrm-test": "true",
              "managed-by-cnrm": "true"
            },
            "createTime": "2024-04-25T01:58:35.886675Z",
            "updateTime": "2024-04-25T01:59:02.029208Z",
            "deleteTime": "2024-04-25T01:59:02.029208Z",
            "expireTime": "2024-05-25T01:59:02.029208Z",
            "creator": "integration-test@example-project.iam.gserviceaccount.com",
            "lastModifier": "integration-test@example-project.iam.gserviceaccount.com",
            "ingress": "INGRESS_TRAFFIC_ALL",
            "launchStage": "GA",
            "template": {
              "scaling": {
                "maxInstanceCount": 3
              },
              "timeout": "300s",
              "serviceAccount": "123456789-compute@developer.gserviceaccount.[...]
[...]
