# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: cloudresourcemanager.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://cloudresourcemanager.googleapis.com/v1/projects/project-2r0ydlvdt0yby?alt=json&prettyPrint=false
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 403 Forbidden
        code: 403
        duration: 230.267853ms
    - id: 1
      request:
        host: cloudresourcemanager.googleapis.com
        body: |
            {"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"name":"KCC 2r0ydlvdt0yby","parent":{"id":"123450001","type":"organization"},"projectId":"project-2r0ydlvdt0yby"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://cloudresourcemanager.googleapis.com/v1/projects?alt=json&prettyPrint=false
        method: POST
      response:
        body: '{"name":"operations/cp.5604738089330105044"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 299.063623ms
    - id: 2
      request:
        host: cloudresourcemanager.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://cloudresourcemanager.googleapis.com/v1/operations/cp.5604738089330105044?alt=json
        method: GET
      response:
        body: |
            {
              "name": "operations/cp.5604738089330105044",
              "metadata": {
                "@type": "type.googleapis.com/google.cloudresourcemanager.v1.ProjectCreationStatus",
                "gettable": true,
                "ready": true
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.cloudresourcemanager.v1.Project",
                "projectNumber": "473324289142",
                "projectId": "project-2r0ydlvdt0yby",
                "lifecycleState": "ACTIVE",
                "name": "KCC 2r0ydlvdt0yby",
                "labels": {
                  "cnrm-test": "true",
                  "managed-by-cnrm": "true"
                },
                "createTime": "2024-04-30T17:16:39.043644Z",
                "parent": {
                  "type": "organization",
                  "id": "123450001"
                }
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 249.443688ms
[...]
    - id: 4
      request:
        host: cloudbilling.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://cloudbilling.googleapis.com/v1/projects/project-2r0ydlvdt0yby/billingInfo?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"name":"projects/project-2r0ydlvdt0yby/billingInfo","projectId":"project-2r0ydlvdt0yby","billingAccountName":"","billingEnabled":false}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 436.012212ms
[...]
    - id: 11
      request:
        host: cloudresourcemanager.googleapis.com
        body: |
            {"createTime":"2024-04-30T17:16:39.043644Z","labels":{"cnrm-test":"true","label-one":"value-one","managed-by-cnrm":"true"},"lifecycleState":"ACTIVE","name":"KCC-2 2r0ydlvdt0yby","parent":{"id":"123450001","type":"organization"},"projectId":"project-2r0ydlvdt0yby","projectNumber":"473324289142"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://cloudresourcemanager.googleapis.com/v1/projects/project-2r0ydlvdt0yby?alt=json&prettyPrint=false
        method: PUT
      response:
        body: '{"projectNumber":"473324289142","projectId":"project-2r0ydlvdt0yby","lifecycleState":"ACTIVE","name":"KCC-2 2r0ydlvdt0yby","labels":{"cnrm-test":"true","label-one":"value-one","managed-by-cnrm":"true"},"createTime":"2024-04-30T17:16:39.043644Z","parent":{"type":"organization","id":"123450001"}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.818042654s
[...]
