# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-1er1cbmiy6owv?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 234.505864ms
    - id: 1
      request:
        host: compute.googleapis.com
        body: |
            {"autoCreateSubnetworks":false,"name":"computenetwork-1er1cbmiy6owv","networkFirewallPolicyEnforcementOrder":"AFTER_CLASSIC_FIREWALL"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "5205611519593933031",
              "name": "operation-1723749896800-61fbdcc47c733-dc705301-8d94995c",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-1er1cbmiy6owv",
              "targetId": "94594926910892263",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-08-15T12:24:56.983-07:00",
              "startTime": "2024-08-15T12:24:56.985-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1723749896800-61fbdcc47c733-dc705301-8d94995c"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 405.3439ms
    - id: 2
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1723749896800-61fbdcc47c733-dc705301-8d94995c?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#operation","id":"5205611519593933031","name":"operation-1723749896800-61fbdcc47c733-dc705301-8d94995c","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-1er1cbmiy6owv","targetId":"94594926910892263","status":"DONE","user":"user@google.com","progress":100,"insertTime":"2024-08-15T12:24:56.983-07:00","startTime":"2024-08-15T12:24:56.985-07:00","endTime":"2024-08-15T12:25:07.380-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1723749896800-61fbdcc47c733-dc705301-8d94995c"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 266.173934ms
    - id: 3
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-1er1cbmiy6owv?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#network",
              "id": "94594926910892263",
              "creationTimestamp": "2024-08-15T12:24:56.950-07:00",
              "name": "computenetwork-1er1cbmiy6owv",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-1er1cbmiy6owv",
              "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/94594926910892263",
              "autoCreateSubnetworks": false,
              "routingConfig": {
                "routingMode": "REGIONAL",
                "bgpBestPathSelectionMode": "LEGACY"
              },
              "networkFirewallPolicyEnforcementOrder": "AFTER_CLASSIC_FIREWALL"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 210.482804ms
    - id: 4
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress2-1er1cbmiy6owv?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 109.610677ms
[...]
    - id: 7
      request:
        host: compute.googleapis.com
        body: |
            {"addressType":"INTERNAL","labels":{"cnrm-test":"true","config-connector-resource-type":"computeaddress","managed-by-cnrm":"true"},"name":"computeaddress1-1er1cbmiy6owv","network":"projects/example-project/global/networks/computenetwork-1er1cbmiy6owv","prefixLength":16,"purpose":"VPC_PEERING"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "2381732546096654586",
              "name": "operation-1723749909455-61fbdcd08e292-c3a2c01c-6aa0f4b8",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress1-1er1cbmiy6owv",
              "targetId": "2382569695352187130",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-08-15T12:25:09.729-07:00",
              "startTime": "2024-08-15T12:25:09.732-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1723749909455-61fbdcd08e292-c3a2c01c-6aa0f4b8"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 405.897069ms
[...]
    - id: 10
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress1-1er1cbmiy6owv?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#address",
              "id": "2382569695352187130",
              "creationTimestamp": "2024-08-15T12:25:09.692-07:00",
              "name": "computeaddress1-1er1cbmiy6owv",
              "description": "",
              "address": "10.87.0.0",
              "prefixLength": 16,
              "status": "RESERVED",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress1-1er1cbmiy6owv",
              "networkTier": "PREMIUM",
              "labelFingerprint": "42WmSpB8rSM=",
              "addressType": "INTERNAL",
              "purpose": "VPC_PEERING",
              "network": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-1er1cbmiy6owv"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 137.441176ms
[...]
    - id: 13
      request:
        host: compute.googleapis.com
        body: |
            {"labelFingerprint":"42WmSpB8rSM=","labels":{"cnrm-test":"true","config-connector-resource-type":"computeaddress","managed-by-cnrm":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress1-1er1cbmiy6owv/setLabels?alt=json
        method: POST
  [...]
[...]
    - id: 17
      request:
        host: cloudresourcemanager.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://cloudresourcemanager.googleapis.com/v1/projects/example-project?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"projectNumber":"123456789","projectId":"example-project","lifecycleState":"ACTIVE","name":"example-project","labels":{"firebase":"enabled"},"createTime":"2024-07-16T06:58:54.591918Z","parent":{"type":"folder","id":"722947980017"}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 72.030708ms
[...]
    - id: 20
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections?alt=json&network=projects%2F123456789%2Fglobal%2Fnetworks%2Fcomputenetwork-1er1cbmiy6owv&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 271.650043ms
[...]
    - id: 22
      request:
        host: servicenetworking.googleapis.com
        body: |
            {"network":"projects/123456789/global/networks/computenetwork-1er1cbmiy6owv","reservedPeeringRanges":["computeaddress1-1er1cbmiy6owv"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections/-?alt=json&force=true&prettyPrint=false&updateMask=reservedPeeringRanges
        method: PATCH
      response:
        body: '{"name":"operations/pssn.p24-123456789-ba2e9424-572d-4298-8399-ac3ef5bc83f7"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 390.613509ms
    - id: 23
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/operations/pssn.p24-123456789-ba2e9424-572d-4298-8399-ac3ef5bc83f7?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"name":"operations/pssn.p24-123456789-ba2e9424-572d-4298-8399-ac3ef5bc83f7","done":true,"response":{"@type":"type.googleapis.com/google.cloud.servicenetworking.v1.Connection","network":"projects/123456789/global/networks/computenetwork-1er1cbmiy6owv","reservedPeeringRanges":["computeaddress1-1er1cbmiy6owv"],"peering":"servicenetworking-googleapis-com"}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 96.709407ms
[...]
    - id: 25
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections?alt=json&network=projects%2F123456789%2Fglobal%2Fnetworks%2Fcomputenetwork-1er1cbmiy6owv&prettyPrint=false
        method: GET
      response:
        body: '{"connections":[{"network":"projects/123456789/global/networks/computenetwork-1er1cbmiy6owv","reservedPeeringRanges":["computeaddress1-1er1cbmiy6owv"],"peering":"servicenetworking-googleapis-com","service":"services/servicenetworking.googleapis.com"}]}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 255.981313ms
[...]
    - id: 34
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-1er1cbmiy6owv?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#network",
              "id": "94594926910892263",
              "creationTimestamp": "2024-08-15T12:24:56.950-07:00",
              "name": "computenetwork-1er1cbmiy6owv",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-1er1cbmiy6owv",
              "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/94594926910892263",
              "autoCreateSubnetworks": false,
              "peerings": [
                {
                  "name": "servicenetworking-googleapis-com",
                  "network": "https://www.googleapis.com/compute/beta/projects/d23379ce5bc81030cp-tp/global/networks/servicenetworking",
                  "state": "ACTIVE",
                  "stateDetails": "[2024-08-15T12:25:52.959-07:00]: Connected.",
                  "autoCreateRoutes": true,
                  "exportCustomRoutes": false,
                  "importCustomRoutes": false,
                  "exchangeSubnetRoutes": true,
                  "exportSubnetRoutesWithPublicIp": false,
                  "importSubnetRoutesWithPublicIp": false,
                  "stackType": "IPV4_ONLY"
                }
              ],
              "routingConfig": {
                "routingMode": "REGIONAL",
                "bgpBestPathSelectionMode": "LEGACY"
              },
              "networkFirewallPolicyEnforcementOrder": "AFTER_CLASSIC_FIREWALL"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 129.411216ms
[...]
    - id: 42
      request:
        host: compute.googleapis.com
        body: |
            {"name":"servicenetworking-googleapis-com"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/123456789/global/networks/computenetwork-1er1cbmiy6owv/removePeering?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "4109119837942573213",
              "name": "operation-1723750002211-61fbdd2903b0c-fcff2ead-7a9b57bc",
              "operationType": "removePeering",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-1er1cbmiy6owv",
              "targetId": "94594926910892263",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-08-15T12:26:42.511-07:00",
              "startTime": "2024-08-15T12:26:42.513-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1723750002211-61fbdd2903b0c-fcff2ead-7a9b57bc"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.117933296s
[...]
