# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-1er1cbmiy6owv?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 325.861603ms
    - id: 1
      request:
        host: compute.googleapis.com
        body: |
            {"autoCreateSubnetworks":false,"name":"computenetwork-1er1cbmiy6owv","networkFirewallPolicyEnforcementOrder":"AFTER_CLASSIC_FIREWALL"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "7545796563331002389",
              "name": "operation-1712885497776-615dc3ba2c7d6-2b69b750-b9a60449",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-1er1cbmiy6owv",
              "targetId": "3693373519165730837",
              "status": "RUNNING",
              "user": "integration-test@example-project.iam.gserviceaccount.com",
              "progress": 0,
              "insertTime": "2024-04-11T18:31:38.153-07:00",
              "startTime": "2024-04-11T18:31:38.166-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712885497776-615dc3ba2c7d6-2b69b750-b9a60449"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 589.815629ms
    - id: 2
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712885497776-615dc3ba2c7d6-2b69b750-b9a60449?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#operation","id":"7545796563331002389","name":"operation-1712885497776-615dc3ba2c7d6-2b69b750-b9a60449","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-1er1cbmiy6owv","targetId":"3693373519165730837","status":"RUNNING","user":"integration-test@example-project.iam.gserviceaccount.com","progress":0,"insertTime":"2024-04-11T18:31:38.153-07:00","startTime":"2024-04-11T18:31:38.166-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712885497776-615dc3ba2c7d6-2b69b750-b9a60449"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 226.050891ms
    - id: 3
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712885497776-615dc3ba2c7d6-2b69b750-b9a60449?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#operation","id":"7545796563331002389","name":"operation-1712885497776-615dc3ba2c7d6-2b69b750-b9a60449","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-1er1cbmiy6owv","targetId":"3693373519165730837","status":"DONE","user":"integration-test@example-project.iam.gserviceaccount.com","progress":100,"insertTime":"2024-04-11T18:31:38.153-07:00","startTime":"2024-04-11T18:31:38.166-07:00","endTime":"2024-04-11T18:31:47.217-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712885497776-615dc3ba2c7d6-2b69b750-b9a60449"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 288.80664ms
    - id: 4
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-1er1cbmiy6owv?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#network",
              "id": "3693373519165730837",
              "creationTimestamp": "2024-04-11T18:31:38.149-07:00",
              "name": "computenetwork-1er1cbmiy6owv",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-1er1cbmiy6owv",
              "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/3693373519165730837",
              "autoCreateSubnetworks": false,
              "routingConfig": {
                "routingMode": "REGIONAL"
              },
              "networkFirewallPolicyEnforcementOrder": "AFTER_CLASSIC_FIREWALL"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 191.039748ms
    - id: 5
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress1-1er1cbmiy6owv?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 190.159945ms
[...]
    - id: 8
      request:
        host: compute.googleapis.com
        body: |
            {"addressType":"INTERNAL","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"name":"computeaddress2-1er1cbmiy6owv","network":"projects/example-project/global/networks/computenetwork-1er1cbmiy6owv","prefixLength":16,"purpose":"VPC_PEERING"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "5475147968995996136",
              "name": "operation-1712885510843-615dc3c6a2cde-0e9bed6b-9c15b3d3",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress2-1er1cbmiy6owv",
              "targetId": "6899096560113889768",
              "status": "RUNNING",
              "user": "integration-test@example-project.iam.gserviceaccount.com",
              "progress": 0,
              "insertTime": "2024-04-11T18:31:51.302-07:00",
              "startTime": "2024-04-11T18:31:51.313-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712885510843-615dc3c6a2cde-0e9bed6b-9c15b3d3"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 682.903727ms
[...]
    - id: 13
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress2-1er1cbmiy6owv?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#address",
              "id": "6899096560113889768",
              "creationTimestamp": "2024-04-11T18:31:51.296-07:00",
              "name": "computeaddress2-1er1cbmiy6owv",
              "description": "",
              "address": "10.204.0.0",
              "prefixLength": 16,
              "status": "RESERVED",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress2-1er1cbmiy6owv",
              "networkTier": "PREMIUM",
              "labelFingerprint": "42WmSpB8rSM=",
              "addressType": "INTERNAL",
              "purpose": "VPC_PEERING",
              "network": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-1er1cbmiy6owv"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 250.054309ms
[...]
    - id: 16
      request:
        host: compute.googleapis.com
        body: |
            {"labelFingerprint":"42WmSpB8rSM=","labels":{"cnrm-test":"true","managed-by-cnrm":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress2-1er1cbmiy6owv/setLabels?alt=json
        method: POST
      response:
        body: |
            {
      [...]
[...]
    - id: 21
      request:
        host: cloudresourcemanager.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://cloudresourcemanager.googleapis.com/v1/projects/example-project?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"projectNumber":"882850097339","projectId":"example-project","lifecycleState":"ACTIVE","name":"example-project","labels":{"cnrm-test":"true"},"createTime":"2024-04-12T01:11:51.183466Z","parent":{"type":"organization","id":"128653134652"}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 154.531688ms
[...]
    - id: 23
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections?alt=json&network=projects%2F882850097339%2Fglobal%2Fnetworks%2Fcomputenetwork-1er1cbmiy6owv&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 2.212119484s
[...]
    - id: 25
      request:
        host: servicenetworking.googleapis.com
        body: |
            {"network":"projects/882850097339/global/networks/computenetwork-1er1cbmiy6owv","reservedPeeringRanges":["computeaddress1-1er1cbmiy6owv"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections/-?alt=json&force=true&prettyPrint=false&updateMask=reservedPeeringRanges
        method: PATCH
      response:
        body: '{"name":"operations/pssn.p24-882850097339-02bf2643-da68-42b4-b3de-b1951ad79d8d"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 542.916781ms
    - id: 26
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/operations/pssn.p24-882850097339-02bf2643-da68-42b4-b3de-b1951ad79d8d?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"name":"operations/pssn.p24-882850097339-02bf2643-da68-42b4-b3de-b1951ad79d8d"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 132.921251ms
    - id: 27
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/operations/pssn.p24-882850097339-02bf2643-da68-42b4-b3de-b1951ad79d8d?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"name":"operations/pssn.p24-882850097339-02bf2643-da68-42b4-b3de-b1951ad79d8d","done":true,"response":{"@type":"type.googleapis.com/google.cloud.servicenetworking.v1.Connection","network":"projects/882850097339/global/networks/computenetwork-1er1cbmiy6owv","reservedPeeringRanges":["computeaddress1-1er1cbmiy6owv"],"peering":"servicenetworking-googleapis-com"}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 97.902912ms
[...]
    - id: 29
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections?alt=json&network=projects%2F882850097339%2Fglobal%2Fnetworks%2Fcomputenetwork-1er1cbmiy6owv&prettyPrint=false
        method: GET
      response:
        body: '{"connections":[{"network":"projects/882850097339/global/networks/computenetwork-1er1cbmiy6owv","reservedPeeringRanges":["computeaddress1-1er1cbmiy6owv"],"peering":"servicenetworking-googleapis-com","service":"services/servicenetworking.googleapis.com"}]}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 474.772268ms
[...]
    - id: 39
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-1er1cbmiy6owv?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#network",
              "id": "3693373519165730837",
              "creationTimestamp": "2024-04-11T18:31:38.149-07:00",
              "name": "computenetwork-1er1cbmiy6owv",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-1er1cbmiy6owv",
              "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/3693373519165730837",
              "autoCreateSubnetworks": false,
              "peerings": [
                {
                  "name": "servicenetworking-googleapis-com",
                  "network": "https://www.googleapis.com/compute/beta/projects/v07c632dcc48f7c2bp-tp/global/networks/servicenetworking",
                  "state": "ACTIVE",
                  "stateDetails": "[2024-04-11T18:32:39.545-07:00]: Connected.",
                  "autoCreateRoutes": true,
                  "exportCustomRoutes": false,
                  "importCustomRoutes": false,
                  "exchangeSubnetRoutes": true,
                  "exportSubnetRoutesWithPublicIp": false,
                  "importSubnetRoutesWithPublicIp": false,
                  "stackType": "IPV4_ONLY"
                }
              ],
              "routingConfig": {
                "routingMode": "REGIONAL"
              },
              "networkFirewallPolicyEnforcementOrder": "AFTER_CLASSIC_FIREWALL"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 263.368478ms
[...]
    - id: 47
      request:
        host: compute.googleapis.com
        body: |
            {"name":"servicenetworking-googleapis-com"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/882850097339/global/networks/computenetwork-1er1cbmiy6owv/removePeering?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "2613445885697536387",
              "name": "operation-1712885612241-615dc42756161-2140fd1b-6ef08c09",
              "operationType": "removePeering",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-1er1cbmiy6owv",
              "targetId": "3693373519165730837",
              "status": "RUNNING",
              "user": "integration-test@example-project.iam.gserviceaccount.com",
              "progress": 0,
              "insertTime": "2024-04-11T18:33:32.763-07:00",
              "startTime": "2024-04-11T18:33:32.776-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712885612241-615dc42756161-2140fd1b-6ef08c09"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 782.574922ms
[...]
