# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
  - id: 0
    request:
      host: compute.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-1er1cbmiy6owv?alt=json
      method: GET
    response:
      body: fake error message
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 404 Not Found
      code: 404
      duration: 256.701133ms
  - id: 1
    request:
      host: compute.googleapis.com
      body: |
        {"autoCreateSubnetworks":false,"name":"computenetwork-1er1cbmiy6owv","networkFirewallPolicyEnforcementOrder":"AFTER_CLASSIC_FIREWALL"}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks?alt=json
      method: POST
    response:
      body: |
        {
          "kind": "compute#operation",
          "id": "173879250108286890",
          "name": "operation-1714010437348-616e227426de0-6c263cf4-0e96ac75",
          "operationType": "insert",
          "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-1er1cbmiy6owv",
          "targetId": "9114364167955154858",
          "status": "RUNNING",
          "user": "integration-test@example-project.iam.gserviceaccount.com",
          "progress": 0,
          "insertTime": "2024-04-24T19:00:37.777-07:00",
          "startTime": "2024-04-24T19:00:37.787-07:00",
          "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1714010437348-616e227426de0-6c263cf4-0e96ac75"
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 606.432401ms
  - id: 2
    request:
      host: compute.googleapis.com
      body: ""
      form: {}
      headers:
      url: https://compute.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1714010437348-616e227426de0-6c263cf4-0e96ac75?alt=json&prettyPrint=false
      method: GET
    response:
      body: '{"kind":"compute#operation","id":"173879250108286890","name":"operation-1714010437348-616e227426de0-6c263cf4-0e96ac75","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-1er1cbmiy6owv","targetId":"9114364167955154858","status":"DONE","user":"integration-test@example-project.iam.gserviceaccount.com","progress":100,"insertTime":"2024-04-24T19:00:37.777-07:00","startTime":"2024-04-24T19:00:37.787-07:00","endTime":"2024-04-24T19:00:47.044-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1714010437348-616e227426de0-6c263cf4-0e96ac75"}'
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 148.959872ms
  - id: 3
    request:
      host: compute.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-1er1cbmiy6owv?alt=json
      method: GET
    response:
      body: |
        {
          "kind": "compute#network",
          "id": "9114364167955154858",
          "creationTimestamp": "2024-04-24T19:00:37.739-07:00",
          "name": "computenetwork-1er1cbmiy6owv",
          "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-1er1cbmiy6owv",
          "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/9114364167955154858",
          "autoCreateSubnetworks": false,
          "routingConfig": {
            "routingMode": "REGIONAL"
          },
          "networkFirewallPolicyEnforcementOrder": "AFTER_CLASSIC_FIREWALL"
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 130.967996ms
  - id: 4
    request:
      host: compute.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress1-1er1cbmiy6owv?alt=json
      method: GET
    response:
      body: fake error message
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 404 Not Found
      code: 404
      duration: 142.855447ms
[...]
  - id: 7
    request:
      host: compute.googleapis.com
      body: |
        {"addressType":"INTERNAL","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"name":"computeaddress1-1er1cbmiy6owv","network":"projects/example-project/global/networks/computenetwork-1er1cbmiy6owv","prefixLength":16,"purpose":"VPC_PEERING"}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses?alt=json
      method: POST
    response:
      body: |
        {
          "kind": "compute#operation",
          "id": "5553647185046013885",
          "name": "operation-1714010449873-616e228018aef-2ac87f7d-2c660a2d",
          "operationType": "insert",
          "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress1-1er1cbmiy6owv",
          "targetId": "1963367572871317437",
          "status": "RUNNING",
          "user": "integration-test@example-project.iam.gserviceaccount.com",
          "progress": 0,
          "insertTime": "2024-04-24T19:00:50.350-07:00",
          "startTime": "2024-04-24T19:00:50.362-07:00",
          "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1714010449873-616e228018aef-2ac87f7d-2c660a2d"
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 656.227867ms
[...]
  - id: 10
    request:
      host: compute.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress1-1er1cbmiy6owv?alt=json
      method: GET
    response:
      body: |
        {
          "kind": "compute#address",
          "id": "1963367572871317437",
          "creationTimestamp": "2024-04-24T19:00:50.308-07:00",
          "name": "computeaddress1-1er1cbmiy6owv",
          "description": "",
          "address": "10.176.0.0",
          "prefixLength": 16,
          "status": "RESERVED",
          "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress1-1er1cbmiy6owv",
          "networkTier": "PREMIUM",
          "labelFingerprint": "42WmSpB8rSM=",
          "addressType": "INTERNAL",
          "purpose": "VPC_PEERING",
          "network": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-1er1cbmiy6owv"
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 160.501207ms
[...]
  - id: 13
    request:
      host: compute.googleapis.com
      body: |
        {"labelFingerprint":"42WmSpB8rSM=","labels":{"cnrm-test":"true","managed-by-cnrm":"true"}}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress1-1er1cbmiy6owv/setLabels?alt=json
      method: POST
    response:
      body: |
        {
          "kind": "compute#operation",
          "id": "4474924517537613745",
          "name": "operation-1714010462132-616e228bc9982-d4216e8a-2bb3a638",
          "operationType": "setLabels",
          "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress1-1er1cbmiy6owv",
          "targetId": "1963367572871317437",
          "status": "DONE",
          "user": "integration-test@example-project.iam.gserviceaccount.com",
          "progress": 100,
          "insertTime": "2024-04-24T19:01:02.683-07:00",
          "startTime": "2024-04-24T19:01:02.684-07:00",
          "endTime": "2024-04-24T19:01:02.684-07:00",
          "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1714010462132-616e228bc9982-d4216e8a-2bb3a638"
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 843.657687ms
[...]
  - id: 16
    request:
      host: cloudresourcemanager.googleapis.com
      body: ""
      form: {}
      headers:
      url: https://cloudresourcemanager.googleapis.com/v1/projects/example-project?alt=json&prettyPrint=false
      method: GET
    response:
      body: '{"projectNumber":"123456789","projectId":"example-project","lifecycleState":"ACTIVE","name":"example-project","labels":{"cnrm-test":"true"},"createTime":"2024-04-25T01:09:29.896238Z","parent":{"type":"organization","id":"128653134652"}}'
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 150.293211ms
[...]
  - id: 20
    request:
      host: servicenetworking.googleapis.com
      body: ""
      form: {}
      headers:
      url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections?alt=json&network=projects%2F123456789%2Fglobal%2Fnetworks%2Fcomputenetwork-1er1cbmiy6owv&prettyPrint=false
      method: GET
    response:
      body: '{}'
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 2.474724215s
[...]
  - id: 22
    request:
      host: servicenetworking.googleapis.com
      body: |
        {"network":"projects/123456789/global/networks/computenetwork-1er1cbmiy6owv","reservedPeeringRanges":["computeaddress1-1er1cbmiy6owv"]}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections/-?alt=json&force=true&prettyPrint=false&updateMask=reservedPeeringRanges
      method: PATCH
    response:
      body: '{"name":"operations/pssn.p24-123456789-64bf7498-bf22-40ab-92f7-297a027932bd"}'
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 465.982387ms
  - id: 23
    request:
      host: servicenetworking.googleapis.com
      body: ""
      form: {}
      headers:
      url: https://servicenetworking.googleapis.com/v1/operations/pssn.p24-123456789-64bf7498-bf22-40ab-92f7-297a027932bd?alt=json&prettyPrint=false
      method: GET
    response:
      body: '{"name":"operations/pssn.p24-123456789-64bf7498-bf22-40ab-92f7-297a027932bd","done":true,"response":{"@type":"type.googleapis.com/google.cloud.servicenetworking.v1.Connection","network":"projects/123456789/global/networks/computenetwork-1er1cbmiy6owv","reservedPeeringRanges":["computeaddress1-1er1cbmiy6owv"],"peering":"servicenetworking-googleapis-com"}}'
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 102.395072ms
[...]
  - id: 25
    request:
      host: servicenetworking.googleapis.com
      body: ""
      form: {}
      headers:
      url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections?alt=json&network=projects%2F123456789%2Fglobal%2Fnetworks%2Fcomputenetwork-1er1cbmiy6owv&prettyPrint=false
      method: GET
    response:
      body: '{"connections":[{"network":"projects/123456789/global/networks/computenetwork-1er1cbmiy6owv","reservedPeeringRanges":["computeaddress1-1er1cbmiy6owv"],"peering":"servicenetworking-googleapis-com","service":"services/servicenetworking.googleapis.com"}]}'
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 411.093825ms
[...]
  - id: 34
    request:
      host: compute.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-1er1cbmiy6owv?alt=json
      method: GET
    response:
      body: |
        {
          "kind": "compute#network",
          "id": "9114364167955154858",
          "creationTimestamp": "2024-04-24T19:00:37.739-07:00",
          "name": "computenetwork-1er1cbmiy6owv",
          "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-1er1cbmiy6owv",
          "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/9114364167955154858",
          "autoCreateSubnetworks": false,
          "peerings": [
            {
              "name": "servicenetworking-googleapis-com",
              "network": "https://www.googleapis.com/compute/beta/projects/l2f302f8ed3b63cf4p-tp/global/networks/servicenetworking",
              "state": "ACTIVE",
              "stateDetails": "[2024-04-24T19:01:45.840-07:00]: Connected.",
              "autoCreateRoutes": true,
              "exportCustomRoutes": false,
              "importCustomRoutes": false,
              "exchangeSubnetRoutes": true,
              "exportSubnetRoutesWithPublicIp": false,
              "importSubnetRoutesWithPublicIp": false,
              "stackType": "IPV4_ONLY"
            }
          ],
          "routingConfig": {
            "routingMode": "REGIONAL"
          },
          "networkFirewallPolicyEnforcementOrder": "AFTER_CLASSIC_FIREWALL"
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 197.882301ms
[...]
  - id: 42
    request:
      host: compute.googleapis.com
      body: |
        {"name":"servicenetworking-googleapis-com"}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://compute.googleapis.com/compute/beta/projects/123456789/global/networks/computenetwork-1er1cbmiy6owv/removePeering?alt=json
      method: POST
    response:
      body: |
        {
          "kind": "compute#operation",
          "id": "2650758723315959632",
          "name": "operation-1714010559623-616e22e8c331c-12a2af0f-8cbfdb05",
          "operationType": "removePeering",
          "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-1er1cbmiy6owv",
          "targetId": "9114364167955154858",
          "status": "RUNNING",
          "user": "integration-test@example-project.iam.gserviceaccount.com",
          "progress": 0,
          "insertTime": "2024-04-24T19:02:39.980-07:00",
          "startTime": "2024-04-24T19:02:39.990-07:00",
          "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1714010559623-616e22e8c331c-12a2af0f-8cbfdb05"
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 647.562207ms
[...]
