# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: iam.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://iam.googleapis.com/v1/projects/example-project/locations/global/workloadIdentityPools/iamwip-2okpok4nq8kgn?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 300.600727ms
[...]
    - id: 3
      request:
        host: iam.googleapis.com
        body: '{"description":"A sample workload identity pool using a newly created project","disabled":false,"displayName":"sample-pool","name":"projects/example-project/locations/global/workloadIdentityPools/iamwip-2okpok4nq8kgn"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://iam.googleapis.com/v1/projects/example-project/locations/global/workloadIdentityPools?alt=json&workloadIdentityPoolId=iamwip-2okpok4nq8kgn
        method: POST
      response:
        body: |
            {
              "name": "projects/916595846568/locations/global/workloadIdentityPools/iamwip-2okpok4nq8kgn/operations/bigarnps4gyamefqt25kuai000000000"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 442.78073ms
    - id: 4
      request:
        host: iam.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://iam.googleapis.com/v1/projects/916595846568/locations/global/workloadIdentityPools/iamwip-2okpok4nq8kgn/operations/bigarnps4gyamefqt25kuai000000000?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/916595846568/locations/global/workloadIdentityPools/iamwip-2okpok4nq8kgn/operations/bigarnps4gyamefqt25kuai000000000"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 60.926558ms
    - id: 5
      request:
        host: iam.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://iam.googleapis.com/v1/projects/916595846568/locations/global/workloadIdentityPools/iamwip-2okpok4nq8kgn/operations/bigarnps4gyamefqt25kuai000000000?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/916595846568/locations/global/workloadIdentityPools/iamwip-2okpok4nq8kgn/operations/bigarnps4gyamefqt25kuai000000000",
              "done": true
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 74.56415ms
    - id: 6
      request:
        host: iam.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://iam.googleapis.com/v1/projects/example-project/locations/global/workloadIdentityPools/iamwip-2okpok4nq8kgn?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/916595846568/locations/global/workloadIdentityPools/iamwip-2okpok4nq8kgn",
              "displayName": "sample-pool",
              "description": "A sample workload identity pool using a newly created project",
              "state": "ACTIVE"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 87.975492ms
[...]
    - id: 9
      request:
        host: iam.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://iam.googleapis.com/v1/projects/example-project/locations/global/workloadIdentityPools/iamwip-2okpok4nq8kgn/providers/iamwipp-2okpok4nq8kgn?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 112.379669ms
[...]
    - id: 14
      request:
        host: iam.googleapis.com
        body: '{"attributeMapping":{"google.subject":"true"},"name":"projects/example-project/locations/global/workloadIdentityPools/iamwip-2okpok4nq8kgn/providers/iamwipp-2okpok4nq8kgn","oidc":{"allowedAudiences":["sample-audience"],"issuerUri":"https://example.com/"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://iam.googleapis.com/v1/projects/example-project/locations/global/workloadIdentityPools/iamwip-2okpok4nq8kgn/providers?alt=json&workloadIdentityPoolProviderId=iamwipp-2okpok4nq8kgn
        method: POST
      response:
        body: |
            {
              "name": "projects/916595846568/locations/global/workloadIdentityPools/iamwip-2okpok4nq8kgn/providers/iamwipp-2okpok4nq8kgn/operations/bigaroxs4gyamegau6eoyai000000000"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 261.760925ms
    - id: 15
      request:
        host: iam.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://iam.googleapis.com/v1/projects/916595846568/locations/global/workloadIdentityPools/iamwip-2okpok4nq8kgn/providers/iamwipp-2okpok4nq8kgn/operations/bigaroxs4gyamegau6eoyai000000000?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/916595846568/locations/global/workloadIdentityPools/iamwip-2okpok4nq8kgn/providers/iamwipp-2okpok4nq8kgn/operations/bigaroxs4gyamegau6eoyai000000000"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 55.971367ms
[...]
    - id: 26
      request:
        host: iam.googleapis.com
        body: '{"attributeMapping":{"google.subject":"true"},"oidc":{"allowedAudiences":["sample-audience","new-sample-audience"],"issuerUri":"https://new-example.com/"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://iam.googleapis.com/v1/projects/example-project/locations/global/workloadIdentityPools/iamwip-2okpok4nq8kgn/providers/iamwipp-2okpok4nq8kgn?alt=json&updateMask=oidc.allowedAudiences%2Coidc.issuerUri
        method: PATCH
      response:
        body: |
            {
              "name": "projects/916595846568/locations/global/workloadIdentityPools/iamwip-2okpok4nq8kgn/providers/iamwipp-2okpok4nq8kgn/operations/bifqrqhs4gyamefazo2sc00000000000"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 224.54759ms
    - id: 27
      request:
        host: iam.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://iam.googleapis.com/v1/projects/916595846568/locations/global/workloadIdentityPools/iamwip-2okpok4nq8kgn/providers/iamwipp-2okpok4nq8kgn/operations/bifqrqhs4gyamefazo2sc00000000000?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/916595846568/locations/global/workloadIdentityPools/iamwip-2okpok4nq8kgn/providers/iamwipp-2okpok4nq8kgn/operations/bifqrqhs4gyamefazo2sc00000000000"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 65.242536ms
[...]
    - id: 30
      request:
        host: iam.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://iam.googleapis.com/v1/projects/example-project/locations/global/workloadIdentityPools//providers/iamwipp-2okpok4nq8kgn?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 400 Bad Request
        code: 400
        duration: 41.067443ms
[...]
