# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
  - id: 0
    request:
      host: iam.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://iam.googleapis.com/v1/projects/example-project/locations/global/workloadIdentityPools/iamwip-2okpok4nq8kgn?alt=json
      method: GET
    response:
      body: fake error message
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 404 Not Found
      code: 404
      duration: 303.529049ms
[...]
  - id: 3
    request:
      host: iam.googleapis.com
      body: '{"description":"A sample workload identity pool using a newly created project","disabled":false,"displayName":"sample-pool","name":"projects/example-project/locations/global/workloadIdentityPools/iamwip-2okpok4nq8kgn"}'
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://iam.googleapis.com/v1/projects/example-project/locations/global/workloadIdentityPools?alt=json&workloadIdentityPoolId=iamwip-2okpok4nq8kgn
      method: POST
    response:
      body: |
        {
          "name": "projects/123456789/locations/global/workloadIdentityPools/iamwip-2okpok4nq8kgn/operations/bifqrvxju2yqmeeystoho00000000000"
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 589.842456ms
  - id: 4
    request:
      host: iam.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://iam.googleapis.com/v1/projects/123456789/locations/global/workloadIdentityPools/iamwip-2okpok4nq8kgn/operations/bifqrvxju2yqmeeystoho00000000000?alt=json
      method: GET
    response:
      body: |
        {
          "name": "projects/123456789/locations/global/workloadIdentityPools/iamwip-2okpok4nq8kgn/operations/bifqrvxju2yqmeeystoho00000000000",
          "done": true
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 74.493656ms
  - id: 5
    request:
      host: iam.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://iam.googleapis.com/v1/projects/example-project/locations/global/workloadIdentityPools/iamwip-2okpok4nq8kgn?alt=json
      method: GET
    response:
      body: |
        {
          "name": "projects/123456789/locations/global/workloadIdentityPools/iamwip-2okpok4nq8kgn",
          "displayName": "sample-pool",
          "description": "A sample workload identity pool using a newly created project",
          "state": "ACTIVE"
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 51.829148ms
[...]
  - id: 7
    request:
      host: iam.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://iam.googleapis.com/v1/projects/example-project/locations/global/workloadIdentityPools/iamwip-2okpok4nq8kgn/providers/iamwipp-2okpok4nq8kgn?alt=json
      method: GET
    response:
      body: fake error message
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 404 Not Found
      code: 404
      duration: 86.317405ms
[...]
  - id: 13
    request:
      host: iam.googleapis.com
      body: '{"attributeMapping":{"google.subject":"true"},"name":"projects/example-project/locations/global/workloadIdentityPools/iamwip-2okpok4nq8kgn/providers/iamwipp-2okpok4nq8kgn","oidc":{"allowedAudiences":["sample-audience"],"issuerUri":"https://example.com/"}}'
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://iam.googleapis.com/v1/projects/example-project/locations/global/workloadIdentityPools/iamwip-2okpok4nq8kgn/providers?alt=json&workloadIdentityPoolProviderId=iamwipp-2okpok4nq8kgn
      method: POST
    response:
      body: |
        {
          "name": "projects/123456789/locations/global/workloadIdentityPools/iamwip-2okpok4nq8kgn/providers/iamwipp-2okpok4nq8kgn/operations/bigarwxju2yqmehy63nieaq000000000"
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 153.122979ms
  - id: 14
    request:
      host: iam.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://iam.googleapis.com/v1/projects/123456789/locations/global/workloadIdentityPools/iamwip-2okpok4nq8kgn/providers/iamwipp-2okpok4nq8kgn/operations/bigarwxju2yqmehy63nieaq000000000?alt=json
      method: GET
    response:
      body: |
        {
          "name": "projects/123456789/locations/global/workloadIdentityPools/iamwip-2okpok4nq8kgn/providers/iamwipp-2okpok4nq8kgn/operations/bigarwxju2yqmehy63nieaq000000000",
          "done": true
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 49.057262ms
[...]
  - id: 24
    request:
      host: iam.googleapis.com
      body: '{"attributeMapping":{"google.subject":"true"},"oidc":{"allowedAudiences":["sample-audience","new-sample-audience"],"issuerUri":"https://new-example.com/"}}'
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://iam.googleapis.com/v1/projects/example-project/locations/global/workloadIdentityPools/iamwip-2okpok4nq8kgn/providers/iamwipp-2okpok4nq8kgn?alt=json&updateMask=oidc.allowedAudiences%2Coidc.issuerUri
      method: PATCH
    response:
      body: |
        {
          "name": "projects/123456789/locations/global/workloadIdentityPools/iamwip-2okpok4nq8kgn/providers/iamwipp-2okpok4nq8kgn/operations/bifqryhju2yqmefi3crry00000000000"
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 214.760469ms
  - id: 25
    request:
      host: iam.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://iam.googleapis.com/v1/projects/123456789/locations/global/workloadIdentityPools/iamwip-2okpok4nq8kgn/providers/iamwipp-2okpok4nq8kgn/operations/bifqryhju2yqmefi3crry00000000000?alt=json
      method: GET
    response:
      body: |
        {
          "name": "projects/123456789/locations/global/workloadIdentityPools/iamwip-2okpok4nq8kgn/providers/iamwipp-2okpok4nq8kgn/operations/bifqryhju2yqmefi3crry00000000000",
          "done": true
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 47.246233ms
[...]
