# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: redis.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://redis.googleapis.com/v1beta1/projects/example-project/locations/us-central1/instances/redisinstances-24br44i91tfzi?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 147.496737ms
    - id: 1
      request:
        host: redis.googleapis.com
        body: |
            {"connectMode":"DIRECT_PEERING","displayName":"Sample Redis Instance","labels":{"cnrm-test":"true","config-connector-resource-type":"redisinstance","label-one":"value-one","managed-by-cnrm":"true"},"memorySizeGb":16,"name":"projects/example-project/locations/us-central1/instances/redisinstances-24br44i91tfzi","tier":"BASIC","transitEncryptionMode":"DISABLED"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://redis.googleapis.com/v1beta1/projects/example-project/locations/us-central1/instances?alt=json&instanceId=redisinstances-24br44i91tfzi
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/operation-1724825023593-620b81ed4bcdd-a9ad9a28-ee19f4a9",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.common.OperationMetadata",
                "createTime": "2024-08-28T06:03:43.773433376Z",
                "target": "projects/example-project/locations/us-central1/instances/redisinstances-24br44i91tfzi",
                "verb": "create",
                "cancelRequested": false,
                "apiVersion": "v1beta1"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 247.989583ms
    - id: 2
      request:
        host: redis.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://redis.googleapis.com/v1beta1/projects/example-project/locations/us-central1/operations/operation-1724825023593-620b81ed4bcdd-a9ad9a28-ee19f4a9?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/operation-1724825023593-620b81ed4bcdd-a9ad9a28-ee19f4a9",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.common.OperationMetadata",
                "createTime": "2024-08-28T06:03:43.773433376Z",
                "endTime": "2024-08-28T06:07:49.892767485Z",
                "target": "projects/example-project/locations/us-central1/instances/redisinstances-24br44i91tfzi",
                "verb": "create",
                "cancelRequested": false,
                "apiVersion": "v1beta1"
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.cloud.redis.v1beta1.Instance",
                "name": "projects/example-project/locations/us-central1/instances/redisinstances-24br44i91tfzi",
                "displayName": "Sample Redis Instance",
                "labels": {
                  "cnrm-test": "true",
                  "config-connector-resource-type": "redisinstance",
                  "label-one": "value-one",
                  "managed-by-cnrm": "true"
                },
                "locationId": "us-central1-c",
                "redisVersion": "REDIS_7_0",
                "reservedIpRange": "10.48.115.16/29",
                "host": "10.48.115.19",
                "port": 6379,
                "currentLocationId": "us-central1-c",
                "createTime": "2024-08-28T06:03:43.768686686Z",
                "state": "READY",
                "tier": "BASIC",
                "memorySizeGb": 16,
                "authorizedNetwork": "projects/example-project/global/networks/default",
                "persistenceIamIdentity": "serviceAccount:service-123456789@cloud-redis.iam.gserviceaccount.com",
                "connectMode": "DIRECT_PEERING",
                "transitEncryptionMode": "DISABLED",
                "nodes": [
                  {
                    "id": "node-0",
                    "zone": "us-central1-c"
                  }
                ],
                "readReplicasMode": "READ_REPLICAS_DISABLED",
                "persistenceConfig": {
                  "persistenceMode": "DISABLED"
                },
                "maintenanceVersion": "20240411_00_00",
                "availableMaintenanceVersions": [
                  "20240503_00_00",
                  "20240724_00_00"
                ]
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 30.383154ms
[...]
    - id: 6
      request:
        host: redis.googleapis.com
        body: |
            {"displayName":"newDisplayName","labels":{"cnrm-test":"true","config-connector-resource-type":"redisinstance","label-one":"value-one","managed-by-cnrm":"true","newkey":"newval"},"memorySizeGb":20,"persistenceConfig":{"persistenceMode":"DISABLED"},"readReplicasMode":"READ_REPLICAS_DISABLED"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://redis.googleapis.com/v1beta1/projects/example-project/locations/us-central1/instances/redisinstances-24br44i91tfzi?alt=json&updateMask=displayName%2Clabels%2CmemorySizeGb
        method: PATCH
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/operation-1724825277272-620b82df392af-4385c91c-d341e25b",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.common.OperationMetadata",
                "createTime": "2024-08-28T06:07:57.356420171Z",
                "target": "projects/example-project/locations/us-central1/instances/redisinstances-24br44i91tfzi",
                "verb": "update",
                "cancelRequested": false,
                "apiVersion": "v1beta1"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 132.777047ms
[...]
