# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: dataproc.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://dataproc.googleapis.com/v1/projects/example-project/locations/us-central1/autoscalingPolicies/dataprocautoscalingpolicy-1tzjbegzhqu4o?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
            X-Debug-Tracking-Id:
                - 15303376126998335055;o=0
        status: 404 Not Found
        code: 404
        duration: 157.990465ms
[...]
    - id: 3
      request:
        host: dataproc.googleapis.com
        body: '{"basicAlgorithm":{"yarnConfig":{"gracefulDecommissionTimeout":"30s","scaleDownFactor":0.5,"scaleUpFactor":0.5}},"id":"dataprocautoscalingpolicy-1tzjbegzhqu4o","secondaryWorkerConfig":{"maxInstances":2},"workerConfig":{"maxInstances":2}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://dataproc.googleapis.com/v1/projects/example-project/locations/us-central1/autoscalingPolicies?alt=json
        method: POST
      response:
        body: |
            {
              "id": "dataprocautoscalingpolicy-1tzjbegzhqu4o",
              "name": "projects/example-project/regions/us-central1/autoscalingPolicies/dataprocautoscalingpolicy-1tzjbegzhqu4o",
              "basicAlgorithm": {
                "yarnConfig": {
                  "scaleUpFactor": 0.5,
                  "scaleDownFactor": 0.5,
                  "gracefulDecommissionTimeout": "30s"
                },
                "cooldownPeriod": "120s"
              },
              "workerConfig": {
                "minInstances": 2,
                "maxInstances": 2,
                "weight": 1
              },
              "secondaryWorkerConfig": {
                "maxInstances": 2,
                "weight": 1
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
            X-Debug-Tracking-Id:
                - 16962071209796297068;o=0
        status: 200 OK
        code: 200
        duration: 153.243341ms
[...]
    - id: 7
      request:
        host: dataproc.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://dataproc.googleapis.com/v1/projects/example-project/regions/us-central1/clusters/dataproccluster-1tzjbegzhqu4o?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
            X-Debug-Tracking-Id:
                - 7400027895498071297;o=0
        status: 404 Not Found
        code: 404
        duration: 264.806416ms
[...]
    - id: 12
      request:
        host: dataproc.googleapis.com
        body: '{"clusterName":"dataproccluster-1tzjbegzhqu4o","config":{"autoscalingConfig":{"policyUri":"projects/example-project/locations/us-central1/autoscalingPolicies/dataprocautoscalingpolicy-1tzjbegzhqu4o"},"masterConfig":{"diskConfig":{"bootDiskType":"pd-standard"},"machineTypeUri":"n2-standard-2","numInstances":1}},"labels":{"cnrm-test":"true","label-one":"value-one","managed-by-cnrm":"true"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://dataproc.googleapis.com/v1/projects/example-project/regions/us-central1/clusters?alt=json
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/regions/us-central1/operations/5f2222bc-9251-4af5-96b2-2498060f2f4e",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.dataproc.v1.ClusterOperationMetadata",
                "clusterName": "dataproccluster-1tzjbegzhqu4o",
                "clusterUuid": "5b421a2b-2a8a-4d4c-970c-cb8a33d71dbc",
                "status": {
                  "state": "PENDING",
                  "innerState": "PENDING",
                  "stateStartTime": "2024-04-11T23:28:28.672822Z"
                },
                "operationType": "CREATE",
                "description": "Create cluster with 2 workers",
                "warnings": [
                  "No image specified. Using the default image version. It is recommended to select a specific image version in production, as the default image version may change at any time.",
                  "Permissions are missing for the default service account '916595846568-compute@developer.gserviceaccount.com', missing permissions: [storage.buckets.get, storage.objects.create, storage.objects.delete, storage.objects.get, storage.objects.list, storage.objects.update] on the project 'projects/example-project'. This usually happens when a custom resource (ex: custom staging bucket) or a user-managed VM Service account has been provided and the default/user-managed service account hasn't been granted enough permissions on the resource. See https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/service-accounts#VM_service_account.",
                  "The firewall rules for specified network or subnetwork would allow ingress traffic from 0.0.0.0/0, which could be a security risk."
                ]
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
            X-Debug-Tracking-Id:
                - 4115958918031866438;o=0
        status: 200 OK
        code: 200
        duration: 1.555735173s
    - id: 13
      request:
        host: dataproc.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://dataproc.googleapis.com/v1/projects/example-project/regions/us-central1/operations/5f2222bc-9251-4af5-96b2-2498060f2f4e?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/regions/us-central1/operations/5f2222bc-9251-4af5-96b2-2498060f2f4e",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.dataproc.v1.ClusterOperationMetadata",
                "clusterName": "dataproccluster-1tzjbegzhqu4o",
                "clusterUuid": "5b421a2b-2a8a-4d4c-970c-cb8a33d71dbc",
                "status": {
                  "state": "RUNNING",
                  "innerState": "CLUSTER_MEMBERSHIP_FILES_CREATED",
                  "stateStartTime": "2024-04-11T23:28:28.747802Z"
                },
                "statusHistory": [
                  {
                    "state": "PENDING",
                    "stateStartTime": "2024-04-11T23:28:28.672822Z"
                  }
                ],
                "operationType": "CREATE",
                "description": "Create cluster with 2 workers",
                "warnings": [
                  "No image specified. Using the default image version. It is recommended to select a specific image version in production, as the default image version may change at any time."[...]
[...]
    - id: 17
      request:
        host: dataproc.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://dataproc.googleapis.com/v1/projects/example-project/regions/us-central1/clusters/dataproccluster-1tzjbegzhqu4o?alt=json
        method: GET
      response:
        body: |
            {
              "projectId": "example-project",
              "clusterName": "dataproccluster-1tzjbegzhqu4o",
              "config": {
                "configBucket": "dataproc-staging-us-central1-916595846568-2lglzih0",
                "tempBucket": "dataproc-temp-us-central1-916595846568-pv12ivhz",
                "gceClusterConfig": {
                  "zoneUri": "https://www.googleapis.com/compute/v1/projects/example-project/zones/us-central1-c",
                  "networkUri": "https://www.googleapis.com/compute/v1/projects/example-project/global/networks/default",
                  "serviceAccountScopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/bigtable.admin.table",
                    "https://www.googleapis.com/auth/bigtable.data",
                    "https://www.googleapis.com/auth/cloud.useraccounts.readonly",
                    "https://www.googleapis.com/auth/devstorage.full_control",
                    "https://www.googleapis.com/auth/devstorage.read_write",
                    "https://www.googleapis.com/auth/logging.write",
                    "https://www.googleapis.com/auth/monitoring.write"
                  ],
                  "internalIpOnly": false
                },
                "masterConfig": {
                  "numInstances": 1,
                  "instanceNames": [
                    "dataproccluster-1tzjbegzhqu4o-m"
                  ],
                  "imageUri": "https://www.googleapis.com/compute/v1/projects/cloud-dataproc/global/images/dataproc-2-0-deb10-20240315-014251-rc01",
                  "machineTypeUri": "https://www.googleapis.com/compute/v1/projects/example-project/zones/us-central1-c/machineTypes/n2-standard-2",
                  "diskConfig": {
                    "bootDiskSizeGb": 1000,
                    "bootDiskType": "pd-standard"
                  },
                  "minCpuPlatform": "AUTOMATIC",
                  "preemptibility": "NON_PREEMPTIBLE"
                },
                "workerConfig": {
                  "numInstances": 2,
                  "instanceNames": [
                    "dataproccluster-1tzjbegzhqu4o-w-0",
                    "dataproccluster-1tzjbegzhqu4o-w-1"
                  ],
                  "imageUri": "https://www.googleapis.com/compute/v1/projects/cloud-dataproc/global/images/dataproc-2-0-deb10-20240315-014251-rc01",
                  "machineTypeUri": "https://www.googleapis.com/compute/v1/projects/example-project/zones/us-central1-c/machineTypes/n1-standard-4",
                  "diskConfig": {
                    "bootDiskSizeGb": 1000,
                    "bootDiskType": "pd-standard"
                  },
                  "minCpuPlatform": "AUTOMATIC",
                  "preemptibility": "NON_PREEMPTIBLE"
                },
                "softwareConfig": {
                  "imageVersion": "2.0.96-debian10",
                  "properties": {
                    "capacity-scheduler:yarn.scheduler.capacity.root.default.ordering-policy": "fair",
                    "core:fs.gs.block.size": "134217728",
                    "core:fs.gs.metadata.cache.enable": "false",
                    "core:hadoop.ssl.enabled.protocols": "TLSv1,TLSv1.1,TLSv1.2",
                    "distcp:mapreduce.map.java.opts": "-Xmx768m",
                    "distcp:mapreduce.map.memory.mb": "1024",
                    "distcp:mapreduce.reduce.java.opts": "-Xm[...]
[...]
    - id: 40
      request:
        host: dataproc.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://dataproc.googleapis.com/v1/projects/example-project/regions/us-central1/operations/61235ae4-0971-4cee-ba91-90703b1e8709?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/regions/us-central1/operations/61235ae4-0971-4cee-ba91-90703b1e8709",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.dataproc.v1.ClusterOperationMetadata",
                "clusterName": "dataproccluster-1tzjbegzhqu4o",
                "clusterUuid": "5b421a2b-2a8a-4d4c-970c-cb8a33d71dbc",
                "status": {
                  "state": "DONE",
                  "innerState": "DONE",
                  "stateStartTime": "2024-04-11T23:31:20.214477Z"
                },
                "statusHistory": [
                  {
                    "state": "PENDING",
                    "stateStartTime": "2024-04-11T23:30:52.932105Z"
                  },
                  {
                    "state": "RUNNING",
                    "stateStartTime": "2024-04-11T23:30:52.967006Z"
                  }
                ],
                "operationType": "DELETE",
                "description": "Delete cluster"
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.protobuf.Empty"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
            X-Debug-Tracking-Id:
                - 17149075499295001137;o=0
        status: 200 OK
        code: 200
        duration: 48.699828ms
[...]
