# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: dataproc.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://dataproc.googleapis.com/v1/projects/example-project/locations/us-central1/autoscalingPolicies/dataprocautoscalingpolicy-1tzjbegzhqu4o?alt=json
        method: GET
      response:
        body: |
            {
              "id": "dataprocautoscalingpolicy-1tzjbegzhqu4o",
              "name": "projects/example-project/regions/us-central1/autoscalingPolicies/dataprocautoscalingpolicy-1tzjbegzhqu4o",
              "basicAlgorithm": {
                "yarnConfig": {
                  "scaleUpFactor": 0.5,
                  "scaleDownFactor": 0.5,
                  "gracefulDecommissionTimeout": "30s"
                },
                "cooldownPeriod": "120s"
              },
              "workerConfig": {
                "minInstances": 2,
                "maxInstances": 2,
                "weight": 1
              },
              "secondaryWorkerConfig": {
                "maxInstances": 2,
                "weight": 1
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
            X-Debug-Tracking-Id:
                - 2408266061468036117;o=0
        status: 200 OK
        code: 200
        duration: 183.472604ms
[...]
    - id: 3
      request:
        host: dataproc.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://dataproc.googleapis.com/v1/projects/example-project/regions/us-central1/clusters/dataproccluster-1tzjbegzhqu4o?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
            X-Debug-Tracking-Id:
                - 7091144284286098316;o=0
        status: 404 Not Found
        code: 404
        duration: 70.820447ms
[...]
    - id: 9
      request:
        host: dataproc.googleapis.com
        body: '{"clusterName":"dataproccluster-1tzjbegzhqu4o","config":{"autoscalingConfig":{"policyUri":"projects/example-project/locations/us-central1/autoscalingPolicies/dataprocautoscalingpolicy-1tzjbegzhqu4o"},"masterConfig":{"diskConfig":{"bootDiskType":"pd-standard"},"machineTypeUri":"n2-standard-2","numInstances":1}},"labels":{"cnrm-test":"true","config-connector-resource-type":"dataproccluster","label-one":"value-one","managed-by-cnrm":"true"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://dataproc.googleapis.com/v1/projects/example-project/regions/us-central1/clusters?alt=json
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/regions/us-central1/operations/1de6fb29-72e5-4bb4-9657-06dd8481d94d",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.dataproc.v1.ClusterOperationMetadata",
                "clusterName": "dataproccluster-1tzjbegzhqu4o",
                "clusterUuid": "1051fad3-b726-4497-949f-07d75db3d6c0",
                "status": {
                  "state": "PENDING",
                  "innerState": "PENDING",
                  "stateStartTime": "2024-08-15T18:52:42.658696Z"
                },
                "operationType": "CREATE",
                "description": "Create cluster with 2 workers",
                "warnings": [
                  "No image specified. Using the default image version. It is recommended to select a specific image version in production, as the default image version may change at any time."
                ]
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
            X-Debug-Tracking-Id:
                - 18224261499330544413;o=0
        status: 200 OK
        code: 200
        duration: 1.511387378s
    - id: 10
      request:
        host: dataproc.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://dataproc.googleapis.com/v1/projects/example-project/regions/us-central1/operations/1de6fb29-72e5-4bb4-9657-06dd8481d94d?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/regions/us-central1/operations/1de6fb29-72e5-4bb4-9657-06dd8481d94d",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.dataproc.v1.ClusterOperationMetadata",
                "clusterName": "dataproccluster-1tzjbegzhqu4o",
                "clusterUuid": "1051fad3-b726-4497-949f-07d75db3d6c0",
                "status": {
                  "state": "DONE",
                  "innerState": "DONE",
                  "stateStartTime": "2024-08-15T18:54:56.219088Z"
                },
                "statusHistory": [
                  {
                    "state": "PENDING",
                    "stateStartTime": "2024-08-15T18:52:42.658696Z"
                  },
                  {
                    "state": "RUNNING",
                    "stateStartTime": "2024-08-15T18:52:42.782914Z"
                  }
                ],
                "operationType": "CREATE",
                "description": "Create cluster with 2 workers",
                "warnings": [
                  "No image specified. Using the default image version. It is recommended to select a specific image version in production, as the default image version may change at any time."
                ]
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.cloud.dataproc.v1.Cluster",
                "projectId": "example-project",
                "clusterName": "dataproccluster-1tzjbegzhqu4o",
                "config": {
                  "configBucket": "dataproc-staging-us-central1-123456789-hyktfe58",
                  "tempBucket": "dataproc-temp-us-central1-123456789-gtahtxsn",
                  "gceClusterConfig": {
                    "zoneUri": "https://www.googleapis.com/compute/v1/projects/example-project/zones/us-central1-f",
                    "networkUri": "https://www.googleapis.com/compute/v1/projects/example-project/global/networks/default",
                    "serviceAccountScopes": [
                      "https://www.googleapis.com/auth/bigquery",
                      "https://www.googleapis.com/auth/bigtable.admin.table",
                      "https://www.googleapis.com/auth/bigtable.data",
                      "https://www.googleapis.com/auth/cloud.useraccounts.readonly",
                      "https://www.googleapis.com/auth/devstorage.full_control",
                      "https://www.googleapis.com/auth/devstorage.read_write",
                      "https://www.googleapis.com/auth/logging.write",
                      "https://www.googleapis.com/auth/monitoring.write"
                    ],
                    "internalIpOnly": false
                  },
                  "masterConfig": {
                    "numInstances": 1,
                    "imageUri": "https://www.googleapis.com/compute/v1/projects/cloud-dataproc/global/images/dataproc-2-0-deb10-20240717-165100-rc01",
                    "machineTypeUri": "https://www.googleapis.com/compute/v1/projects/example-project/zones/us-central1-f/machineTypes/n2-standard-2",
                    "diskConfig": {
                      "bootDiskSizeGb": 1000,
                      "bootDiskType": "pd-standard"
                    },
                    "minCpuPlatform": "AUTOMATIC",
                    "preemptibility": "NON_PREEMPTIBLE"
                  },
                  "workerConfig": {
                    "numInstances": 2,
                    "imageUri": "https://www.googleapis.com/compute/v1/projects/cloud-dataproc/global/images/dataproc-2-0-deb10-20240717-165100-rc01",
                    "machineTypeUri": "https://www.googleapis.com/compute/v1/projects/example-project/zones/us-central1-f/machineTypes/n1-standard-4",
                    "diskConfig": {
                      "bootDiskSizeGb": 1000,
                      "bootDiskType": "pd-standard"
                    },
                    "minCpuPlatform": "AUTOMATIC",
                    "preemptibility": "NON_PREEMPTIBLE"
                  },
                  "softwareConfig": {
                    "imageVersion": "2.0.113-debian10",
                    "properties": {
                      "capacity-scheduler:yarn.scheduler.capacity.root.default.ordering-policy": "fair",
                      "core:fs.gs.block.size": "134217728",
                      "core:fs.gs.metadata.cache.enable": "false",
                      "core:hadoop.ssl.enabled.protocols": "TLSv1,TLSv1.1,TLSv1.2",
                      "distcp:mapreduce.map.java.opts": "-Xmx768m",
                      "distcp:mapreduce.map.memory.mb": "1024",
                      "distcp:mapreduce.reduce.ja[...]
[...]
