# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: dataproc.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://dataproc.googleapis.com/v1/projects/example-project/locations/us-central1/autoscalingPolicies/dataprocautoscalingpolicy-1tzjbegzhqu4o?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
            X-Debug-Tracking-Id:
                - 5618223841483454790;o=0
        status: 404 Not Found
        code: 404
        duration: 381.477483ms
[...]
    - id: 3
      request:
        host: dataproc.googleapis.com
        body: '{"basicAlgorithm":{"yarnConfig":{"gracefulDecommissionTimeout":"30s","scaleDownFactor":0.5,"scaleUpFactor":0.5}},"id":"dataprocautoscalingpolicy-1tzjbegzhqu4o","secondaryWorkerConfig":{"maxInstances":2},"workerConfig":{"maxInstances":2}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://dataproc.googleapis.com/v1/projects/example-project/locations/us-central1/autoscalingPolicies?alt=json
        method: POST
      response:
        body: |
            {
              "id": "dataprocautoscalingpolicy-1tzjbegzhqu4o",
              "name": "projects/example-project/regions/us-central1/autoscalingPolicies/dataprocautoscalingpolicy-1tzjbegzhqu4o",
              "basicAlgorithm": {
                "yarnConfig": {
                  "scaleUpFactor": 0.5,
                  "scaleDownFactor": 0.5,
                  "gracefulDecommissionTimeout": "30s"
                },
                "cooldownPeriod": "120s"
              },
              "workerConfig": {
                "minInstances": 2,
                "maxInstances": 2,
                "weight": 1
              },
              "secondaryWorkerConfig": {
                "maxInstances": 2,
                "weight": 1
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
            X-Debug-Tracking-Id:
                - 5867195220251431215;o=0
        status: 200 OK
        code: 200
        duration: 154.16758ms
[...]
    - id: 7
      request:
        host: dataproc.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://dataproc.googleapis.com/v1/projects/example-project/regions/us-central1/clusters/dataproccluster-1tzjbegzhqu4o?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
            X-Debug-Tracking-Id:
                - 14715905865185975816;o=0
        status: 404 Not Found
        code: 404
        duration: 256.415162ms
[...]
    - id: 12
      request:
        host: dataproc.googleapis.com
        body: '{"clusterName":"dataproccluster-1tzjbegzhqu4o","config":{"autoscalingConfig":{"policyUri":"projects/example-project/locations/us-central1/autoscalingPolicies/dataprocautoscalingpolicy-1tzjbegzhqu4o"},"gceClusterConfig":{"internalIpOnly":false},"masterConfig":{"diskConfig":{"bootDiskType":"pd-standard"},"machineTypeUri":"n2-standard-2","numInstances":1}},"labels":{"cnrm-test":"true","label-one":"value-one","managed-by-cnrm":"true"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://dataproc.googleapis.com/v1/projects/example-project/regions/us-central1/clusters?alt=json
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/regions/us-central1/operations/015cc4b7-ed16-4029-aa54-6ad7e16b3f45",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.dataproc.v1.ClusterOperationMetadata",
                "clusterName": "dataproccluster-1tzjbegzhqu4o",
                "clusterUuid": "db2201b2-81ad-49b1-a339-3610a8c5c985",
                "status": {
                  "state": "PENDING",
                  "innerState": "PENDING",
                  "stateStartTime": "2024-10-28T01:29:50.586606Z"
                },
                "operationType": "CREATE",
                "description": "Create cluster with 2 workers",
                "warnings": [
                  "The firewall rules for specified network or subnetwork would allow ingress traffic from 0.0.0.0/0, which could be a security risk.",
                  "The specified custom staging bucket 'dataproc-staging-us-central1-123456789-pxeyagwz' is not using uniform bucket level access IAM configuration. It is recommended to update bucket to enable the same. See https://cloud.google.com/storage/docs/uniform-bucket-level-access.",
                  "No image specified. Using the default image version. It is recommended to select a specific image version in production, as the default image version may change at any time."
                ]
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
            X-Debug-Tracking-Id:
                - 1747190019451247620;o=0
        status: 200 OK
        code: 200
        duration: 1.211920356s
    - id: 13
      request:
        host: dataproc.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://dataproc.googleapis.com/v1/projects/example-project/regions/us-central1/operations/015cc4b7-ed16-4029-aa54-6ad7e16b3f45?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/regions/us-central1/operations/015cc4b7-ed16-4029-aa54-6ad7e16b3f45",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.dataproc.v1.ClusterOperationMetadata",
                "clusterName": "dataproccluster-1tzjbegzhqu4o",
                "clusterUuid": "db2201b2-81ad-49b1-a339-3610a8c5c985",
                "status": {
                  "state": "DONE",
                  "innerState": "DONE",
                  "stateStartTime": "2024-10-28T01:32:58.714884Z"
                },
                "statusHistory": [
                  {
                    "state": "PENDING",
                    "stateStartTime": "2024-10-28T01:29:50.586606Z"
                  },
                  {
                    "state": "RUNNING",
                    "stateStartTime": "2024-10-28T01:29:50.662066Z"
                  }
                ],
                "operationType": "CREATE",
                "description": "Create cluster with 2 workers",
                "warnings": [
                  "The firewall rules for specified network or subnetwork would allow ingress traffic from 0.0.0.0/0, which could be a security risk.",
                  "The specified custom staging bucket 'dataproc-staging-us-central1-123456789-pxeyagwz' is not using uniform bucket level access IAM configuration. It is recommended to update bucket to enable the same. See https://cloud.google.com/storage/docs/uniform-bucket-level-access.",
                  "No image specified. Using the default image version. It is recommended to select a specific image version in production, as the default image version may change at any time."
                ]
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.cloud.dataproc.v1.Cluster",
                "projectId": "example-project",
                "clusterName": "dataproccluster-1tzjbegzhqu4o",
                "config": {
                  "configBucket": "dataproc-staging-us-central1-123456789-pxeyagwz",
                  "tempBucket": "dataproc-temp-us-central1-123456789-jcn7juyd",
                  "gceClusterConfig": {
                    "zoneUri": "https://www.googleapis.com/compute/v1/projects/example-project/zones/us-central1-f",
                    "networkUri": "https://www.googleapis.com/compute/v1/projects/example-project/global/networks/default",
                    "serviceAccountScopes": [
                      "https://www.googleapis.com/auth/cloud-platform"
                    ],
                    "internalIpOnly": false,
                    "shieldedInstanceConfig": {
                      "enableSecureBoot": true,
                      "enableVtpm": true,
                      "enableIntegrityMonitoring": true
                    }
                  },
                  "masterConfig": {
                    "numInstances": 1,
                    "imageUri": "https://www.googleapis.com/compute/v1/projects/cloud-dataproc/global/images/dataproc-2-2-deb12-20241018-045100-rc01",
                    "machineTypeUri": "https://www.googleapis.com/compute/v1/projects/example-project/zones/us-central1-f/machineTypes/n2-standard-2",
                    "diskConfig": {
                      "bootDiskSizeGb": 1000,
                      "bootDiskType": "pd-standard"
                    },
                    "minCpuPlatform": "AUTOMATIC",
                    "preemptibility": "NON_PREEMPTIBLE"
                  },
                  "workerConfig": {
                    "numInstances": 2,
                    "imageUri": "https://www.googleapis.com/compute/v1/projects/cloud-dataproc/global/images/dataproc-2-2-deb12-20241018-045100-rc01",
                    "machineTypeUri": "https://www.googleapis.com/compute/v1/projects/example-project/zones/us-central1-f/machineTypes/n2-standard-4",
                    "diskConfig": {
                      "bootDiskSizeGb": 1000,
                      "bootDiskType": "pd-standard"
                    },
                    "minCpuPlatform": "AUTOMATIC",
                    "preemptibility": "NON_PREEMPTIBLE"
                  },
                  "softwareConfig": {
                    "imageVersion": "2.2.38-debian12",
                    "properties": {
                      "capacity-scheduler:yarn.scheduler.capacity.resource-calculator": "org.apache.hadoop.yarn.util.resource.DominantResourceCalculator",
                      "capacity-scheduler:yarn.scheduler.capacity.root.default.ordering-policy": "fair",
                      "core:fs.gs.block.size": "134217728",
                      "core:fs.gs.metadata.cache.enable": "false",
                      "core:hadoop.ssl.enabled.protocols": "TLSv1,TLSv1.1,TLSv1.2",
                      "dis[...]
    - id: 14
      request:
        host: dataproc.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://dataproc.googleapis.com/v1/projects/example-project/regions/us-central1/clusters/dataproccluster-1tzjbegzhqu4o?alt=json
        method: GET
      response:
        body: |
            {
              "projectId": "example-project",
              "clusterName": "dataproccluster-1tzjbegzhqu4o",
              "config": {
                "configBucket": "dataproc-staging-us-central1-123456789-pxeyagwz",
                "tempBucket": "dataproc-temp-us-central1-123456789-jcn7juyd",
                "gceClusterConfig": {
                  "zoneUri": "https://www.googleapis.com/compute/v1/projects/example-project/zones/us-central1-f",
                  "networkUri": "https://www.googleapis.com/compute/v1/projects/example-project/global/networks/default",
                  "serviceAccountScopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "internalIpOnly": false,
                  "shieldedInstanceConfig": {
                    "enableSecureBoot": true,
                    "enableVtpm": true,
                    "enableIntegrityMonitoring": true
                  }
                },
                "masterConfig": {
                  "numInstances": 1,
                  "instanceNames": [
                    "dataproccluster-1tzjbegzhqu4o-m"
                  ],
                  "imageUri": "https://www.googleapis.com/compute/v1/projects/cloud-dataproc/global/images/dataproc-2-2-deb12-20241018-045100-rc01",
                  "machineTypeUri": "https://www.googleapis.com/compute/v1/projects/example-project/zones/us-central1-f/machineTypes/n2-standard-2",
                  "diskConfig": {
                    "bootDiskSizeGb": 1000,
                    "bootDiskType": "pd-standa[...]
[...]
