# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: cloudresourcemanager.googleapis.com
        body: |
            {"options":{"requestedPolicyVersion":3}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://cloudresourcemanager.googleapis.com/v1/projects/example-project:getIamPolicy?alt=json&prettyPrint=false
        method: POST
      response:
        body: '{"version":1,"etag":"BwYlfzVzdKQ=","bindings":[{"role":"roles/alloydb.serviceAgent","members":["serviceAccount:service-123456789@gcp-sa-alloydb.iam.gserviceaccount.com"]},{"role":"roles/appengine.serviceAgent","members":["serviceAccount:service-123456789@gcp-gae-service.iam.gserviceaccount.com"]},{"role":"roles/artifactregistry.serviceAgent","members":["serviceAccount:service-123456789@gcp-sa-artifactregistry.iam.gserviceaccount.com"]},{"role":"roles/bigqueryconnection.serviceAgent","members":["serviceAccount:service-123456789@gcp-sa-bigqueryconnection.iam.gserviceaccount.com"]},{"role":[...]
[...]
    - id: 3
      request:
        host: cloudresourcemanager.googleapis.com
        body: |
            {"policy":{"bindings":[{"members":["serviceAccount:service-123456789@gcp-sa-alloydb.iam.gserviceaccount.com"],"role":"roles/alloydb.serviceAgent"},{"members":["serviceAccount:service-123456789@gcp-gae-service.iam.gserviceaccount.com"],"role":"roles/appengine.serviceAgent"},{"members":["serviceAccount:service-123456789@gcp-sa-artifactregistry.iam.gserviceaccount.com"],"role":"roles/artifactregistry.serviceAgent"},{"members":["serviceAccount:service-123456789@gcp-sa-bigqueryconnection.iam.gserviceaccount.co[...]
[...]
