# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: container.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://container.googleapis.com/v1beta1/projects/example-project/locations/us-central1-a/clusters/cluster-sample-3eufqu3ymc4dr?alt=json&prettyPrint=false
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 184.749266ms
[...]
    - id: 2
      request:
        host: container.googleapis.com
        body: |
            {"cluster":{"autopilot":{"enabled":false},"autoscaling":{"enableNodeAutoprovisioning":false},"binaryAuthorization":{"enabled":false},"initialNodeCount":1,"ipAllocationPolicy":{"stackType":"IPV4","useIpAliases":false},"legacyAbac":{"enabled":false},"loggingService":"logging.googleapis.com/kubernetes","maintenancePolicy":{"window":{}},"masterAuthorizedNetworksConfig":{},"monitoringService":"monitoring.googleapis.com/kubernetes","name":"cluster-sample-3eufqu3ymc4dr","network":"projects/example-project/global/networks/default","networkConfig":{},"networkPolicy":{},"nodeConfig":{"oauthScopes":["https://www.googleapis.com/auth/devstorage.read_only","https://www.googleapis.com/auth/logging.write","https://www.googleapis.com/auth/monitoring","https://www.googleapis.com/auth/service.management.readonly","https://www.googleapis.com/auth/servicecontrol","https://www.googleapis.com/auth/trace.append"]},"notificationConfig":{"pubsub":{}},"resourceLabels":{"cnrm-test":"true","config-connector-resource-type":"containercluster","label-one":"value-one","managed-by-cnrm":"true"},"shieldedNodes":{"enabled":true}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://container.googleapis.com/v1beta1/projects/example-project/locations/us-central1-a/clusters?alt=json&prettyPrint=false
        method: POST
      response:
        body: '{"name":"operation-1723746763284-1799f847-8cd4-462c-b1c5-fe43e3beae24","zone":"us-central1-a","operationType":"CREATE_CLUSTER","status":"RUNNING","selfLink":"https://container.googleapis.com/v1beta1/projects/123456789/zones/us-central1-a/operations/operation-1723746763284-1799f847-8cd4-462c-b1c5-fe43e3beae24","targetLink":"https://container.googleapis.com/v1beta1/projects/123456789/zones/us-central1-a/clusters/cluster-sample-3eufqu3ymc4dr","startTime":"2024-08-15T18:32:43.284078251Z"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 2.811129077s
    - id: 3
      request:
        host: container.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://container.googleapis.com/v1beta1/projects/example-project/locations/us-central1-a/operations/operation-1723746763284-1799f847-8cd4-462c-b1c5-fe43e3beae24?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"name":"operation-1723746763284-1799f847-8cd4-462c-b1c5-fe43e3beae24","zone":"us-central1-a","operationType":"CREATE_CLUSTER","status":"DONE","selfLink":"https://container.googleapis.com/v1beta1/projects/123456789/zones/us-central1-a/operations/operation-1723746763284-1799f847-8cd4-462c-b1c5-fe43e3beae24","targetLink":"https://container.googleapis.com/v1beta1/projects/123456789/zones/us-central1-a/clusters/cluster-sample-3eufqu3ymc4dr","startTime":"2024-08-15T18:32:43.284078251Z","endTime":"2024-08-15T18:38:19.974186571Z","progress":{"metrics":[{"name":"CLUSTER_CONFIGURING","intValue":"10"},{"name":"CLUSTER_CONFIGURING_TOTAL","intValue":"10"},{"name":"CLUSTER_DEPLOYING","intValue":"12"},{"name":"CLUSTER_DEPLOYING_TOTAL","intValue":"12"},{"name":"CLUSTER_HEALTHCHECKING","intValue":"1"},{"name":"CLUSTER_HEALTHCHECKING_TOTAL","intValue":"2"}]}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 55.755828ms
    - id: 4
      request:
        host: container.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://container.googleapis.com/v1beta1/projects/example-project/locations/us-central1-a/clusters/cluster-sample-3eufqu3ymc4dr?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"name":"cluster-sample-3eufqu3ymc4dr","initialNodeCount":1,"nodeConfig":{"machineType":"e2-medium","diskSizeGb":100,"oauthScopes":["https://www.googleapis.com/auth/devstorage.read_only","https://www.googleapis.com/auth/logging.write","https://www.googleapis.com/auth/monitoring","https://www.googleapis.com/auth/service.management.readonly","https://www.googleapis.com/auth/servicecontrol","https://www.googleapis.com/auth/trace.append"],"metadata":{"disable-legacy-endpoints":"true"},"imageType":"COS_CONTAINERD","serviceAccount":"default","diskType":"pd-balanced","shieldedInstanceConfig":{"enableIntegrityMonitoring":true},"windowsNodeConfig":{}},"masterAuth":{"clientCertificateConfig":{},"clusterCaCertificate":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUVMVENDQXBXZ0F3SUJBZ0lSQU5KakhjcVRybHlSaFNSRlFGN0hzLzh3RFFZSktvWklodmNOQVFFTEJRQXcKTHpFdE1Dc0dBMVVFQXhNa05HTmlaRGt5TVRFdE1qTTBNaTAwTXprekxXSmpZemd0Wm1aa1ltVXpPREprWkdRegpNQ0FYRFRJME1EZ3hOVEUzTXpJME1Wb1lEekl3TlRRd09EQTRNVGd6TWpReFdqQXZNUzB3S3dZRFZRUURFeVEwClkySmtPVEl4TVMweU16UXlMVFF6T1RNdFltTmpPQzFtWm1SaVpUTTRNbVJrWkRNd2dnR2lNQTBHQ1NxR1NJYjMKRFFFQkFRVUFBNElCandBd2dnR0tBb0lCZ1FDd1ZiZU14TUdHYXVYN1F1QU4ySkhITHp0QysvUFNyZG9SSi9xagpKS1dxbE41Nmo1WncxRjVnYTJtTGl[...]
    - id: 5
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a/instanceGroupManagers/gke-cluster-sample-3eufq-default-pool-62237f98-grp?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#instanceGroupManager","id":"3973700631496226589","creationTimestamp":"2024-08-15T11:33:22.429-07:00","name":"gke-cluster-sample-3eufq-default-pool-62237f98-grp","zone":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a","instanceTemplate":"https://www.googleapis.com/compute/beta/projects/example-project/global/instanceTemplates/gke-cluster-sample-3eufq-default-pool-62237f98","versions":[{"instanceTemplate":"https://www.googleapis.com/compute/beta/projects/example-project/global/instanceTemplates/gke-cluster-sample-3eufq-default-pool-62237f98","targetSize":{"calculated":1}}],"instanceGroup":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a/instanceGroups/gke-cluster-sample-3eufq-default-pool-62237f98-grp","baseInstanceName":"gke-cluster-sample-3eufq-default-pool-62237f98","fingerprint":"QQ36fB9S3Xk=","currentActions":{"none":1,"creating":0,"creatingWithoutRetries":0,"verifying":0,"recreating":0,"deleting":0,"abandoning":0,"restarting":0,"refreshing":0,"suspending":0,"resuming":0,"stopping":0,"starting":0},"status":{"isStable":true,"allInstancesConfig":{"effective":true},"versionTarget":{"isReached":true},"stateful":{"isStateful":false,"hasStatefulConfig":false,"perInstanceConfigs":{"allEffective":true}}},"targetSize":1,"targetStoppedSize":0,"targetSuspendedSize":0,"listManagedInstancesResults":"PAGINATED","standbyPolicy":{"mode":"MANUAL"},"selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a/instanceGroupManagers/gke-cluster-sample-3eufq-default-pool-62237f98-grp","updatePolicy":{"type":"OPPORTUNISTIC","minimalAction":"REPLACE","maxSurge":{"fixed":1,"calculated":1},"maxUnavailable":{"fixed":1,"calculated":1},"minReadySec":0,"replacementMethod":"SUBSTITUTE"},"serviceAccount":"123456789@cloudservices.gserviceaccount.com","instanceLifecyclePolicy":{"forceUpdateOnRepair":"NO","defaultActionOnFailure":"REPAIR"},"satisfiesPzi":true,"satisfiesPzs":true}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 129.976654ms
[...]
    - id: 7
      request:
        host: container.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://container.googleapis.com/v1beta1/projects/example-project/locations/us-central1-a/clusters/cluster-sample-3eufqu3ymc4dr/nodePools/nodepool-sample-3eufqu3ymc4dr?alt=json&prettyPrint=false
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 58.777777ms
[...]
    - id: 11
      request:
        host: container.googleapis.com
        body: |
            {"nodePool":{"autoscaling":{"enabled":true,"maxNodeCount":3,"minNodeCount":1,"totalMaxNodeCount":0,"totalMinNodeCount":0},"config":{"oauthScopes":["https://www.googleapis.com/auth/devstorage.read_only","https://www.googleapis.com/auth/logging.write","https://www.googleapis.com/auth/monitoring","https://www.googleapis.com/auth/service.management.readonly","https://www.googleapis.com/auth/servicecontrol","https://www.googleapis.com/auth/trace.append"]},"name":"nodepool-sample-3eufqu3ymc4dr","networkConfig":{}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://container.googleapis.com/v1beta1/projects/example-project/locations/us-central1-a/clusters/cluster-sample-3eufqu3ymc4dr/nodePools?alt=json&prettyPrint=false
        method: POST
      response:
        body: '{"name":"operation-1723747102179-09db925e-bb29-4372-962c-8d7f48861f36","zone":"us-central1-a","operationType":"CREATE_NODE_POOL","status":"PENDING","selfLink":"https://container.googleapis.com/v1beta1/projects/123456789/zones/us-central1-a/operations/operation-1723747102179-09db925e-bb29-4372-962c-8d7f48861f36","targetLink":"https://container.googleapis.com/v1beta1/projects/123456789/zones/us-central1-a/clusters/cluster-sample-3eufqu3ymc4dr/nodePools/nodepool-sample-3eufqu3ymc4dr","startTime":"2024-08-15T18:38:22.179341852Z"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 940.029372ms
[...]
    - id: 13
      request:
        host: container.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://container.googleapis.com/v1beta1/projects/example-project/locations/us-central1-a/clusters/cluster-sample-3eufqu3ymc4dr/nodePools/nodepool-sample-3eufqu3ymc4dr?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"name":"nodepool-sample-3eufqu3ymc4dr","config":{"machineType":"e2-medium","diskSizeGb":100,"oauthScopes":["https://www.googleapis.com/auth/devstorage.read_only","https://www.googleapis.com/auth/logging.write","https://www.googleapis.com/auth/monitoring","https://www.googleapis.com/auth/service.management.readonly","https://www.googleapis.com/auth/servicecontrol","https://www.googleapis.com/auth/trace.append"],"metadata":{"disable-legacy-endpoints":"true"},"imageType":"COS_CONTAINERD","serviceAccount":"default","diskType":"pd-balanced","shieldedInstanceConfig":{"enableIntegrityMonitoring":true},"windowsNodeConfig":{}},"autoscaling":{"enabled":true,"minNodeCount":1,"maxNodeCount":3,"locationPolicy":"BALANCED"},"management":{"autoUpgrade":true,"autoRepair":true},"maxPodsConstraint":{"maxPodsPerNode":"110"},"podIpv4CidrSize":24,"locations":["us-central1-a"],"networkConfig":{"podRange":"gke-cluster-sample-3eufqu3ymc4dr-pods-b5f18b69","podIpv4CidrBlock":"10.108.0.0/14"},"selfLink":"https://container.googleapis.com/v1beta1/projects/example-project/zones/us-central1-a/clusters/cluster-sample-3eufqu3ymc4dr/nodePools/nodepool-sample-3eufqu3ymc4dr","version":"1.29.6-gke.1326000","instanceGroupUrls":["https://www.googleapis.com/compute/v1/projects/example-project/zones/us-central1-a/instanceGroupManagers/gke-cluster-sample-3-nodepool-sample--fabe73fd-grp"],"status":"RUNNING","upgradeSettings":{"maxSurge":1,"strategy":"SURGE"},"etag":"7f55dfe0-9aaf-46ba-b65f-932a96d6372c"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 81.024596ms
    - id: 14
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a/instanceGroupManagers/gke-cluster-sample-3-nodepool-sample--fabe73fd-grp?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#instanceGroupManager","id":"5259644518870021580","creationTimestamp":"2024-08-15T11:38:27.312-07:00","name":"gke-c[...]
[...]
    - id: 23
      request:
        host: container.googleapis.com
        body: |
            {"update":{"desiredNodePoolAutoscaling":{"enabled":true,"locationPolicy":"BALANCED","maxNodeCount":5,"minNodeCount":1,"totalMinNodeCount":0},"desiredNodePoolId":"nodepool-sample-3eufqu3ymc4dr"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://container.googleapis.com/v1beta1/projects/example-project/locations/us-central1-a/clusters/cluster-sample-3eufqu3ymc4dr?alt=json&prettyPrint=false
        method: PUT
      response:
        body: '{"name":"operation-1723747126126-b681b03e-5859-41ca-a22b-e487b8a2c3d5","zone":"us-central1-a","operationType":"UPDATE_CLUSTER","status":"PENDING","selfLink":"https://container.googleapis.com/v1beta1/projects/123456789/zones/us-central1-a/operations/operation-1723747126126-b681b03e-5859-41ca-a22b-e487b8a2c3d5","targetLink":"https://container.googleapis.com/v1beta1/projects/123456789/zones/us-central1-a/clusters/cluster-sample-3eufqu3ymc4dr/nodePools/nodepool-sample-3eufqu3ymc4dr","startTime":"2024-08-15T18:38:46.126066578Z"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 264.403036ms
[...]
