# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: container.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://container.googleapis.com/v1beta1/projects/example-project/locations/us-central1-a/clusters/cluster-sample-3eufqu3ymc4dr?alt=json&prettyPrint=false
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 170.792393ms
[...]
    - id: 2
      request:
        host: container.googleapis.com
        body: |
            {"cluster":{"autopilot":{"enabled":false},"autoscaling":{"enableNodeAutoprovisioning":false},"binaryAuthorization":{"enabled":false},"initialNodeCount":1,"ipAllocationPolicy":{"stackType":"IPV4","useIpAliases":false},"legacyAbac":{"enabled":false},"loggingService":"logging.googleapis.com/kubernetes","maintenancePolicy":{"window":{}},"masterAuthorizedNetworksConfig":{},"monitoringService":"monitoring.googleapis.com/kubernetes","name":"cluster-sample-3eufqu3ymc4dr","network":"projects/example-project/global/networks/default","networkConfig":{},"networkPolicy":{},"nodeConfig":{"oauthScopes":["https://www.googleapis.com/auth/devstorage.read_only","https://www.googleapis.com/auth/logging.write","https://www.googleapis.com/auth/monitoring","https://www.googleapis.com/auth/service.management.readonly","https://www.googleapis.com/auth/servicecontrol","https://www.googleapis.com/auth/trace.append"]},"notificationConfig":{"pubsub":{}},"resourceLabels":{"cnrm-test":"true","config-connector-resource-type":"containercluster","label-one":"value-one","managed-by-cnrm":"true"},"shieldedNodes":{"enabled":true}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://container.googleapis.com/v1beta1/projects/example-project/locations/us-central1-a/clusters?alt=json&prettyPrint=false
        method: POST
      response:
        body: '{"name":"operation-1724818830051-57fefb41-f3e8-41b3-9155-d81751253083","zone":"us-central1-a","operationType":"CREATE_CLUSTER","status":"RUNNING","selfLink":"https://container.googleapis.com/v1beta1/projects/123456789/zones/us-central1-a/operations/operation-1724818830051-57fefb41-f3e8-41b3-9155-d81751253083","targetLink":"https://container.googleapis.com/v1beta1/projects/123456789/zones/us-central1-a/clusters/cluster-sample-3eufqu3ymc4dr","startTime":"2024-08-28T04:20:30.051079556Z"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 2.751104395s
    - id: 3
      request:
        host: container.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://container.googleapis.com/v1beta1/projects/example-project/locations/us-central1-a/operations/operation-1724818830051-57fefb41-f3e8-41b3-9155-d81751253083?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"name":"operation-1724818830051-57fefb41-f3e8-41b3-9155-d81751253083","zone":"us-central1-a","operationType":"CREATE_CLUSTER","status":"DONE","selfLink":"https://container.googleapis.com/v1beta1/projects/123456789/zones/us-central1-a/operations/operation-1724818830051-57fefb41-f3e8-41b3-9155-d81751253083","targetLink":"https://container.googleapis.com/v1beta1/projects/123456789/zones/us-central1-a/clusters/cluster-sample-3eufqu3ymc4dr","startTime":"2024-08-28T04:20:30.051079556Z","endTime":"2024-08-28T04:25:34.870425472Z","progress":{"metrics":[{"name":"CLUSTER_CONFIGURING","intValue":"10"},{"name":"CLUSTER_CONFIGURING_TOTAL","intValue":"10"},{"name":"CLUSTER_DEPLOYING","intValue":"12"},{"name":"CLUSTER_DEPLOYING_TOTAL","intValue":"12"},{"name":"CLUSTER_HEALTHCHECKING","intValue":"1"},{"name":"CLUSTER_HEALTHCHECKING_TOTAL","intValue":"2"}]}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 57.55237ms
    - id: 4
      request:
        host: container.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://container.googleapis.com/v1beta1/projects/example-project/locations/us-central1-a/clusters/cluster-sample-3eufqu3ymc4dr?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"name":"cluster-sample-3eufqu3ymc4dr","initialNodeCount":1,"nodeConfig":{"machineType":"e2-medium","diskSizeGb":100,"oauthScopes":["https://www.googleapis.com/auth/devstorage.read_only","https://www.googleapis.com/auth/logging.write","https://www.googleapis.com/auth/monitoring","https://www.googleapis.com/auth/service.management.readonly","https://www.googleapis.com/auth/servicecontrol","https://www.googleapis.com/auth/trace.append"],"metadata":{"disable-legacy-endpoints":"true"},"imageType":"COS_CONTAINERD","serviceAccount":"default","diskType":"pd-balanced","shieldedInstanceConfig":{"enableIntegrityMonitoring":true},"windowsNodeConfig":{}},"masterAuth":{"clientCertificateConfig":{},"clusterCaCertificate":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUVMRENDQXBTZ0F3SUJBZ0lRVVYzdzFTNGVVZXZOS0xSL2R4cEVBVEFOQmdrcWhraUc5dzBCQVFzRkFEQXYKTVMwd0t3WURWUVFERXlSaU5HWTBZVEV5WXkxbE9USm1MVFE1WVdZdE9HWTFNaTAwWm1RMFpUZGlZemxsWmpRdwpJQmNOTWpRd09ESTRNRE15TURJNFdoZ1BNakExTkRBNE1qRXdOREl3TWpoYU1DOHhMVEFyQmdOVkJBTVRKR0kwClpqUmhNVEpqTFdVNU1tWXRORGxoWmkwNFpqVXlMVFJtWkRSbE4ySmpPV1ZtTkRDQ0FhSXdEUVlKS29aSWh2Y04KQVFFQkJRQURnZ0dQQURDQ0FZb0NnZ0dCQUpyMVpjWnY0UFVXV2ZETVpyQ1QrL0lESHBXNGRjN2dZQVJ0eUpSOQpSNVUrcmx5YUl0eFRiVkJkdEMySWo[...]
    - id: 5
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a/instanceGroupManagers/gke-cluster-sample-3eufq-default-pool-409d409c-grp?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#instanceGroupManager","id":"8580505342287485740","creationTimestamp":"2024-08-27T21:21:23.755-07:00","name":"gke-cluster-sample-3eufq-default-pool-409d409c-grp","zone":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a","instanceTemplate":"https://www.googleapis.com/compute/beta/projects/example-project/global/instanceTemplates/gke-cluster-sample-3eufq-default-pool-409d409c","versions":[{"instanceTemplate":"https://www.googleapis.com/compute/beta/projects/example-project/global/instanceTemplates/gke-cluster-sample-3eufq-default-pool-409d409c","targetSize":{"calculated":1}}],"instanceGroup":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a/instanceGroups/gke-cluster-sample-3eufq-default-pool-409d409c-grp","baseInstanceName":"gke-cluster-sample-3eufq-default-pool-409d409c","fingerprint":"ppYvUY8lqqE=","currentActions":{"none":1,"creating":0,"creatingWithoutRetries":0,"verifying":0,"recreating":0,"deleting":0,"abandoning":0,"restarting":0,"refreshing":0,"suspending":0,"resuming":0,"stopping":0,"starting":0},"status":{"isStable":true,"allInstancesConfig":{"effective":true},"versionTarget":{"isReached":true},"stateful":{"isStateful":false,"hasStatefulConfig":false,"perInstanceConfigs":{"allEffective":true}}},"targetSize":1,"targetStoppedSize":0,"targetSuspendedSize":0,"listManagedInstancesResults":"PAGINATED","standbyPolicy":{"mode":"MANUAL"},"selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a/instanceGroupManagers/gke-cluster-sample-3eufq-default-pool-409d409c-grp","updatePolicy":{"type":"OPPORTUNISTIC","minimalAction":"REPLACE","maxSurge":{"fixed":1,"calculated":1},"maxUnavailable":{"fixed":1,"calculated":1},"minReadySec":0,"replacementMethod":"SUBSTITUTE"},"serviceAccount":"123456789@cloudservices.gserviceaccount.com","instanceLifecyclePolicy":{"forceUpdateOnRepair":"NO","defaultActionOnFailure":"REPAIR"}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 127.026743ms
[...]
    - id: 8
      request:
        host: container.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://container.googleapis.com/v1beta1/projects/example-project/locations/us-central1-a/clusters/cluster-sample-3eufqu3ymc4dr/nodePools/nodepool-sample-3eufqu3ymc4dr?alt=json&prettyPrint=false
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 58.64135ms
[...]
    - id: 11
      request:
        host: container.googleapis.com
        body: |
            {"nodePool":{"autoscaling":{"enabled":true,"maxNodeCount":3,"minNodeCount":1,"totalMaxNodeCount":0,"totalMinNodeCount":0},"config":{"loggingConfig":{"variantConfig":{"variant":"DEFAULT"}},"taints":[{"effect":"NO_SCHEDULE","key":"originalKey","value":"originalValue"}]},"name":"nodepool-sample-3eufqu3ymc4dr","networkConfig":{}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://container.googleapis.com/v1beta1/projects/example-project/locations/us-central1-a/clusters/cluster-sample-3eufqu3ymc4dr/nodePools?alt=json&prettyPrint=false
        method: POST
      response:
        body: '{"name":"operation-1724819138219-14b80e49-a56b-41c1-99db-35fd438790f3","zone":"us-central1-a","operationType":"CREATE_NODE_POOL","status":"PENDING","selfLink":"https://container.googleapis.com/v1beta1/projects/123456789/zones/us-central1-a/operations/operation-1724819138219-14b80e49-a56b-41c1-99db-35fd438790f3","targetLink":"https://container.googleapis.com/v1beta1/projects/123456789/zones/us-central1-a/clusters/cluster-sample-3eufqu3ymc4dr/nodePools/nodepool-sample-3eufqu3ymc4dr","startTime":"2024-08-28T04:25:38.219943008Z"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 789.921931ms
[...]
    - id: 13
      request:
        host: container.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://container.googleapis.com/v1beta1/projects/example-project/locations/us-central1-a/clusters/cluster-sample-3eufqu3ymc4dr/nodePools/nodepool-sample-3eufqu3ymc4dr?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"name":"nodepool-sample-3eufqu3ymc4dr","config":{"machineType":"e2-medium","diskSizeGb":100,"oauthScopes":["https://www.googleapis.com/auth/devstorage.read_only","https://www.googleapis.com/auth/logging.write","https://www.googleapis.com/auth/monitoring","https://www.googleapis.com/auth/service.management.readonly","https://www.googleapis.com/auth/servicecontrol","https://www.googleapis.com/auth/trace.append"],"metadata":{"disable-legacy-endpoints":"true"},"imageType":"COS_CONTAINERD","serviceAccount":"default","diskType":"pd-balanced","taints":[{"key":"originalKey","value":"originalValue","effect":"NO_SCHEDULE"}],"shieldedInstanceConfig":{"enableIntegrityMonitoring":true},"loggingConfig":{"variantConfig":{"variant":"DEFAULT"}},"windowsNodeConfig":{}},"autoscaling":{"enabled":true,"minNodeCount":1,"maxNodeCount":3,"locationPolicy":"BALANCED"},"management":{"autoUpgrade":true,"autoRepair":true},"maxPodsConstraint":{"maxPodsPerNode":"110"},"podIpv4CidrSize":24,"locations":["us-central1-a"],"networkConfig":{"podRange":"gke-cluster-sample-3eufqu3ymc4dr-pods-81b1098e","podIpv4CidrBlock":"10.36.0.0/14"},"selfLink":"https://container.googleapis.com/v1beta1/projects/example-project/zones/us-central1-a/clusters/cluster-sample-3eufqu3ymc4dr/nodePools/nodepool-sample-3eufqu3ymc4dr","version":"1.29.7-gke.1104000","instanceGroupUrls":["https://www.googleapis.com/compute/v1/projects/example-project/zones/us-central1-a/instanceGroupManagers/gke-cluster-sample-3-nodepool-sample--4912815b-grp"],"status":"RUNNING","upgradeSettings":{"maxSurge":1,"strategy":"SURGE"},"etag":"25e2c7f5-7a45-4077-9017-a3618651d68c"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 45.543217ms
    - id: 14
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a/instanceGroupManagers/gke-cluster-sample-3-nodepool-sample--4912815b-grp?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#instanceGroupManager","id":"7822662486076889127","creationTimestamp":"2024-08-27T21:25:44.200-07:00","name":"gke-c[...]
[...]
    - id: 23
      request:
        host: container.googleapis.com
        body: |
            {"update":{"desiredNodePoolAutoscaling":{"enabled":true,"locationPolicy":"BALANCED","maxNodeCount":5,"minNodeCount":1,"totalMinNodeCount":0},"desiredNodePoolId":"nodepool-sample-3eufqu3ymc4dr"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://container.googleapis.com/v1beta1/projects/example-project/locations/us-central1-a/clusters/cluster-sample-3eufqu3ymc4dr?alt=json&prettyPrint=false
        method: PUT
      response:
        body: '{"name":"operation-1724819161389-2b35d6f0-58e0-431c-8bd3-e1a72526a511","zone":"us-central1-a","operationType":"UPDATE_CLUSTER","status":"PENDING","selfLink":"https://container.googleapis.com/v1beta1/projects/123456789/zones/us-central1-a/operations/operation-1724819161389-2b35d6f0-58e0-431c-8bd3-e1a72526a511","targetLink":"https://container.googleapis.com/v1beta1/projects/123456789/zones/us-central1-a/clusters/cluster-sample-3eufqu3ymc4dr/nodePools/nodepool-sample-3eufqu3ymc4dr","startTime":"2024-08-28T04:26:01.389127954Z"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 226.160568ms
[...]
