# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: secretmanager.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
            x-goog-request-params:
                - name=projects%2Fyuwenma-gke-playground%2Fsecrets%2Fsecretmanagersecretversion-dep-2v5hqlif3igof
        url: https://secretmanager.googleapis.com/v1/projects/example-project/secrets/secretmanagersecretversion-dep-2v5hqlif3igof?%24alt=json%3Benum-encoding%3Dint
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 172.958531ms
    - id: 1
      request:
        host: secretmanager.googleapis.com
        body: '{"replication":{"automatic":{}},"labels":{"cnrm-test":"true","managed-by-cnrm":"true"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            x-goog-request-params:
                - parent=projects%2Fyuwenma-gke-playground
        url: https://secretmanager.googleapis.com/v1/projects/example-project/secrets?%24alt=json%3Benum-encoding%3Dint&secretId=secretmanagersecretversion-dep-2v5hqlif3igof
        method: POST
      response:
        body: |
            {
              "name": "projects/123456789/secrets/secretmanagersecretversion-dep-2v5hqlif3igof",
              "replication": {
                "automatic": {}
              },
              "createTime": "2024-12-13T19:47:50.457085Z",
              "labels": {
                "cnrm-test": "true",
                "managed-by-cnrm": "true"
              },
              "etag": "\"16292c1b1d1efd\""
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 428.144379ms
    - id: 2
      request:
        host: secretmanager.googleapis.com
        body: '{"parent":"projects/example-project/secrets/secretmanagersecretversion-dep-2v5hqlif3igof","payload":{"data":"SSBhbHdheXMgbG92ZWQgc3BhcnJpbmcgd2l0aCBnaWFudCBjYW5keSBzd29yZHMsIGJ1dCBJIGhhZCBubyBpZGVhIHRoYXQgd2FzIG15IHN1cGVyIHNlY3JldCBpbmZvcm1hdGlvbiE="}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            x-goog-request-params:
                - parent=projects%2Fyuwenma-gke-playground%2Fsecrets%2Fsecretmanagersecretversion-dep-2v5hqlif3igof
        url: https://secretmanager.googleapis.com/v1/projects/example-project/secrets/secretmanagersecretversion-dep-2v5hqlif3igof:addVersion?%24alt=json%3Benum-encoding%3Dint
        method: POST
      response:
        body: |
            {
              "name": "projects/123456789/secrets/secretmanagersecretversion-dep-2v5hqlif3igof/versions/1",
              "createTime": "2024-12-13T19:47:51.498398Z",
              "state": 1,
              "replicationStatus": {
                "automatic": {}
              },
              "etag": "\"16292c1b2d029e\""
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 582.015488ms
    - id: 3
      request:
        host: secretmanager.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
            x-goog-request-params:
                - name=projects%2Fyuwenma-gke-playground%2Fsecrets%2Fsecretmanagersecretversion-dep-2v5hqlif3igof%2Fversions%2F1
        url: https://secretmanager.googleapis.com/v1/projects/example-project/secrets/secretmanagersecretversion-dep-2v5hqlif3igof/versions/1?%24alt=json%3Benum-encoding%3Dint
        method: GET
      response:
        body: |
            {
              "name": "projects/123456789/secrets/secretmanagersecretversion-dep-2v5hqlif3igof/versions/1",
              "createTime": "2024-12-13T19:47:51.498398Z",
              "state": 1,
              "replicationStatus": {
                "automatic": {}
              },
              "etag": "\"16292c1b2d029e\""
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 108.788897ms
    - id: 4
      request:
        host: secretmanager.googleapis.com
        body: '{"name":"projects/example-project/secrets/secretmanagersecretversion-dep-2v5hqlif3igof/versions/1","etag":"\"16292c1b2d029e\""}'
        form: {}
        headers:
            Content-Type:
                - application/json
            x-goog-request-params:
                - name=projects%2Fyuwenma-gke-playground%2Fsecrets%2Fsecretmanagersecretversion-dep-2v5hqlif3igof%2Fversions%2F1
        url: https://secretmanager.googleapis.com/v1/projects/example-project/secrets/secretmanagersecretversion-dep-2v5hqlif3igof/versions/1:disable?%24alt=json%3Benum-encoding%3Dint
        method: POST
      response:
        body: |
            {
              "name": "projects/123456789/secrets/secretmanagersecretversion-dep-2v5hqlif3igof/versions/1",
              "createTime": "2024-12-13T19:47:51.498398Z",
              "state": 2,
              "replicationStatus": {
                "automatic": {}
              },
              "etag": "\"16292c1b46d396\""
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 409.925416ms
[...]
    - id: 9
      request:
        host: secretmanager.googleapis.com
        body: '{"name":"projects/example-project/secrets/secretmanagersecretversion-dep-2v5hqlif3igof/versions/1","etag":"\"16292c1b46d396\""}'
        form: {}
        headers:
            Content-Type:
                - application/json
            x-goog-request-params:
                - name=projects%2Fyuwenma-gke-playground%2Fsecrets%2Fsecretmanagersecretversion-dep-2v5hqlif3igof%2Fversions%2F1
        url: https://secretmanager.googleapis.com/v1/projects/example-project/secrets/secretmanagersecretversion-dep-2v5hqlif3igof/versions/1:destroy?%24alt=json%3Benum-encoding%3Dint
        method: POST
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 232.507687ms
[...]
