---
version: 2
interactions:
    - id: 0
      request:
        host: secretmanager.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
            x-goog-request-params:
                - name=projects%2Fcnrm-anhdle%2Fsecrets%2Fsecretmanagersecretversion-dep-2v5hqlif3igof
        url: https://secretmanager.googleapis.com/v1/projects/example-project/secrets/secretmanagersecretversion-dep-2v5hqlif3igof?%24alt=json%3Benum-encoding%3Dint
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 410.677727ms
    - id: 1
      request:
        host: secretmanager.googleapis.com
        body: '{"replication":{"automatic":{}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            x-goog-request-params:
                - parent=projects%2Fcnrm-anhdle
        url: https://secretmanager.googleapis.com/v1/projects/example-project/secrets?%24alt=json%3Benum-encoding%3Dint&secretId=secretmanagersecretversion-dep-2v5hqlif3igof
        method: POST
      response:
        body: |
            {
              "name": "projects/123456789/secrets/secretmanagersecretversion-dep-2v5hqlif3igof",
              "replication": {
                "automatic": {}
              },
              "createTime": "2025-03-31T23:30:56.640217Z",
              "etag": "\"1631abcfda90d9\""
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 401.249286ms
    - id: 2
      request:
        host: secretmanager.googleapis.com
        body: '{"parent":"projects/example-project/secrets/secretmanagersecretversion-dep-2v5hqlif3igof","payload":{"data":"SSBhbHdheXMgbG92ZWQgc3BhcnJpbmcgd2l0aCBnaWFudCBjYW5keSBzd29yZHMsIGJ1dCBJIGhhZCBubyBpZGVhIHRoYXQgd2FzIG15IHN1cGVyIHNlY3JldCBpbmZvcm1hdGlvbiE="}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            x-goog-request-params:
                - parent=projects%2Fcnrm-anhdle%2Fsecrets%2Fsecretmanagersecretversion-dep-2v5hqlif3igof
        url: https://secretmanager.googleapis.com/v1/projects/example-project/secrets/secretmanagersecretversion-dep-2v5hqlif3igof:addVersion?%24alt=json%3Benum-encoding%3Dint
        method: POST
      response:
        body: |
            {
              "name": "projects/123456789/secrets/secretmanagersecretversion-dep-2v5hqlif3igof/versions/1",
              "createTime": "2025-03-31T23:30:57.822766Z",
              "state": 1,
              "replicationStatus": {
                "automatic": {}
              },
              "etag": "\"1631abcfec9c2e\""
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 762.900455ms
    - id: 3
      request:
        host: secretmanager.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
            x-goog-request-params:
                - name=projects%2Fcnrm-anhdle%2Fsecrets%2Fsecretmanagersecretversion-dep-2v5hqlif3igof%2Fversions%2F1
        url: https://secretmanager.googleapis.com/v1/projects/example-project/secrets/secretmanagersecretversion-dep-2v5hqlif3igof/versions/1?%24alt=json%3Benum-encoding%3Dint
        method: GET
      response:
        body: |
            {
              "name": "projects/123456789/secrets/secretmanagersecretversion-dep-2v5hqlif3igof/versions/1",
              "createTime": "2025-03-31T23:30:57.822766Z",
              "state": 1,
              "replicationStatus": {
                "automatic": {}
              },
              "etag": "\"1631abcfec9c2e\""
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 94.535305ms
    - id: 4
      request:
        host: secretmanager.googleapis.com
        body: '{"name":"projects/example-project/secrets/secretmanagersecretversion-dep-2v5hqlif3igof/versions/1","etag":"\"1631abcfec9c2e\""}'
        form: {}
        headers:
            Content-Type:
                - application/json
            x-goog-request-params:
                - name=projects%2Fcnrm-anhdle%2Fsecrets%2Fsecretmanagersecretversion-dep-2v5hqlif3igof%2Fversions%2F1
        url: https://secretmanager.googleapis.com/v1/projects/example-project/secrets/secretmanagersecretversion-dep-2v5hqlif3igof/versions/1:disable?%24alt=json%3Benum-encoding%3Dint
        method: POST
      response:
        body: |
            {
              "name": "projects/123456789/secrets/secretmanagersecretversion-dep-2v5hqlif3igof/versions/1",
              "createTime": "2025-03-31T23:30:57.822766Z",
              "state": 2,
              "replicationStatus": {
                "automatic": {}
              },
              "etag": "\"1631abd008b1df\""
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 185.309399ms
[...]
    - id: 9
      request:
        host: secretmanager.googleapis.com
        body: '{"name":"projects/example-project/secrets/secretmanagersecretversion-dep-2v5hqlif3igof/versions/1","etag":"\"1631abd008b1df\""}'
        form: {}
        headers:
            Content-Type:
                - application/json
            x-goog-request-params:
                - name=projects%2Fcnrm-anhdle%2Fsecrets%2Fsecretmanagersecretversion-dep-2v5hqlif3igof%2Fversions%2F1
        url: https://secretmanager.googleapis.com/v1/projects/example-project/secrets/secretmanagersecretversion-dep-2v5hqlif3igof/versions/1:destroy?%24alt=json%3Benum-encoding%3Dint
        method: POST
      response:
        body: |
            {
              "name": "projects/123456789/secrets/secretmanagersecretversion-dep-2v5hqlif3igof/versions/1",
              "createTime": "2025-03-31T23:30:57.822766Z",
              "destroyTime": "2025-03-31T23:31:00.844596082Z",
              "state": 3,
              "replicationStatus": {
                "automatic": {}
              },
              "etag": "\"1631abd01b178f\""
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 198.197009ms
[...]
