# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
  - id: 0
    request:
      host: osconfig.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://osconfig.googleapis.com/v1beta/projects/example-project/guestPolicies/osconfigguestpolicy-xnsehxa3np4w?alt=json
      method: GET
    response:
      body: fake error message
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 404 Not Found
      code: 404
      duration: 154.391856ms
[...]
  - id: 3
    request:
      host: osconfig.googleapis.com
      body: '{"assignment":{"groupLabels":[{"labels":{"app":"old","env":"prod"}},{"labels":{"app":"old","env":"staging"}}],"instances":["projects/example-project/zones/us-central1-a/instances/computeinstance1-xnsehxa3np4w","projects/example-project/zones/us-central1-a/instances/computeinstance2-xnsehxa3np4w"],"osTypes":[{"osArchitecture":"x86_64","osShortName":"debian","osVersion":"10"},{"osArchitecture":"x86_64","osShortName":"windows","osVersion":"10.0.14393"}],"zones":["us-central1-a"]},"description":"An OSConfigGuestPolicy for testing.","name":"osconfigguestpolicy-xnsehxa3np4w","packageRepositories":[{"apt":{"archiveType":"DEB","components":["main"],"distribution":"aiy-debian-buster","gpgKey":"https://packages.cloud.google.com/apt/dists/aiy-debian-buster/Release.gpg","uri":"https://packages.cloud.google.com/apt"}},{"yum":{"baseUrl":"https://packages.cloud.google.com/yum/repos/liamtest","displayName":"Liam Test","gpgKeys":["https://packages.cloud.google.com/yum/doc/yum-key.gpg","https://packages.cloud.google.com/yum/doc/rpm-pkg-key.gpg"],"id":"liamtest"}}],"packages":[{"desiredState":"INSTALLED","manager":"APT","name":"add-apt-key"},{"desiredState":"REMOVED","manager":"YUM","name":"ssl"},{"desiredState":"UPDATED","manager":"ANY","name":"ansible-doc"}],"recipes":[{"artifacts":[{"allowInsecure":true,"id":"ansible","remote":{"uri":"https://releases.ansible.com/ansible-tower/setup/ansible-tower-setup-latest.tar.gz"}}],"desiredState":"INSTALLED","installSteps":[{"fileCopy":{"artifactId":"ansible","destination":"/installbackups/ansible","overwrite":true,"permissions":"555"}},{"archiveExtraction":{"artifactId":"ansible","destination":"/var/ansible/","type":"TAR_GZIP"}}],"name":"newest-ansible","version":"1.0.0.1"},{"artifacts":[{"allowInsecure":false,"gcs":{"bucket":"storagebucket1-xnsehxa3np4w","generation":1829485032948520,"object":"latest/prod"},"id":"web-app"}],"desiredState":"UPDATED","installSteps":[{"fileCopy":{"artifactId":"web-app","destination":"/installbackups/prod","overwrite":false,"permissions":"777"}},{"fileExec":{"allowedExitCodes":[0],"args":["prodcompile"],"localPath":"/installbackups/prod"}}],"name":"prod-web-app","updateSteps":[{"fileCopy":{"artifactId":"web-app","destination":"/installbackups/prod","permissions":"755"}},{"fileExec":{"allowedExitCodes":[0,4],"args":["updatecompile"],"localPath":"/installbackups/prod"}}],"version":"2.5.27"}]}'
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://osconfig.googleapis.com/v1beta/projects/example-project/guestPolicies?alt=json&guestPolicyId=osconfigguestpolicy-xnsehxa3np4w
      method: POST
    response:
      body: |
        {
          "name": "projects/123456789/guestPolicies/osconfigguestpolicy-xnsehxa3np4w",
          "description": "An OSConfigGuestPolicy for testing.",
          "createTime": "2024-04-25T01:54:32.517608Z",
          "updateTime": "2024-04-25T01:54:32.517608Z",
          "assignment": {
            "groupLabels": [
              {
                "labels": {
                  "app": "old",
                  "env": "prod"
                }
              },
              {
                "labels": {
                  "app": "old",
                  "env": "staging"
                }
              }
            ],
            "zones": [
              "us-central1-a"
            ],
            "instances": [
              "[...]
[...]
  - id: 14
    request:
      host: osconfig.googleapis.com
      body: '{"assignment":{"groupLabels":[{"labels":{"app":"new","env":"prod"}},{"labels":{"app":"new","env":"staging"}}],"instances":["projects/example-project/zones/us-central1-a/instances/computeinstance2-xnsehxa3np4w"],"osTypes":[{"osArchitecture":"x86_64","osShortName":"debian","osVersion":"10"},{"osArchitecture":"x86_64","osShortName":"windows","osVersion":"10.0.14393"}],"zones":["us-central1-a"]},"description":"An OSConfigGuestPolicy for testing.","etag":"ad82359f-6be5-40f3-a2b4-98cc15a23b2d","name":"osconfigguestpolicy-xnsehxa3np4w","packageRepositories":[{"apt":{"archiveType":"DEB","components":["main"],"distribution":"aiy-debian-buster","gpgKey":"https://packages.cloud.google.com/apt/dists/aiy-debian-buster/Release.gpg","uri":"https://packages.cloud.google.com/apt"}},{"yum":{"baseUrl":"https://packages.cloud.google.com/yum/repos/liamtest","displayName":"Liam Test","gpgKeys":["https://packages.cloud.google.com/yum/doc/yum-key.gpg","https://pac[...]
[...]
