# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
  - id: 0
    request:
      host: storage.googleapis.com
      body: ""
      form: {}
      headers:
      url: https://storage.googleapis.com/storage/v1/b/storagebucket2-xnsehxa3np4w?alt=json&prettyPrint=false
      method: GET
    response:
      body: fake error message
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 404 Not Found
      code: 404
      duration: 144.879503ms
  - id: 1
    request:
      host: compute.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/default?alt=json
      method: GET
    response:
      body: |
        {
          "kind": "compute#network",
          "id": "2445367146633761542",
          "creationTimestamp": "2024-04-24T18:12:09.998-07:00",
          "name": "default",
          "description": "Default network for the project",
          "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/default",
          "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/2445367146633761542",
          "autoCreateSubnetworks": true,
          "subnetworks": [
            "https://www.googleapis.com/compute/beta/projects/example-project/regions/asia-southeast2/subnetworks/default",
            "https://www.googleapis.com/compute/beta/projects/example-project/regions/europe-west9/subnetworks/default",
            "https://www.googleapis.com/compute/beta/projects/example-project/regions/asia-southeast1/subnetworks/default",
            "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-west1/subnetworks/default",
           [...]
[...]
  - id: 3
    request:
      host: compute.googleapis.com
      body: ""
      form: {}
      headers:
      url: https://compute.googleapis.com/compute/beta/projects/example-project/global/instanceTemplates/computeinstancetemplate-xnsehxa3np4w?alt=json&prettyPrint=false
      method: GET
    response:
      body: fake error message
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 404 Not Found
      code: 404
      duration: 162.262032ms
[...]
  - id: 5
    request:
      host: compute.googleapis.com
      body: ""
      form: {}
      headers:
      url: https://compute.googleapis.com/compute/beta/projects/debian-cloud/global/images/debian-11?alt=json&prettyPrint=false
      method: GET
    response:
      body: fake error message
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 404 Not Found
      code: 404
      duration: 142.036476ms
  - id: 6
    request:
      host: storage.googleapis.com
      body: |
        {"iamConfiguration":{"uniformBucketLevelAccess":{"enabled":false}},"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"lifecycle":{"rule":[]},"name":"storagebucket2-xnsehxa3np4w","storageClass":"STANDARD"}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://storage.googleapis.com/storage/v1/b?alt=json&prettyPrint=false&project=example-project
      method: POST
    response:
      body: '{"kind":"storage#bucket","selfLink":"https://www.googleapis.com/storage/v1/b/storagebucket2-xnsehxa3np4w","id":"storagebucket2-xnsehxa3np4w","name":"storagebucket2-xnsehxa3np4w","projectNumber":"123456789","metageneration":"1","location":"US","storageClass":"STANDARD","etag":"CAE=","timeCreated":"2024-04-25T01:53:50.455Z","updated":"2024-04-25T01:53:50.455Z","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"softDeletePolicy":{"retentionDurationSeconds":"604800","effectiveTime":"2024-04-25T01:53:50.455Z"},"iamConfiguration":{"bucketPolicyOnly":{"enabled":false},"uniformBucketLevelAccess":{"enabled":false},"publicAccessPrevention":"inherited"},"locationType":"multi-region","rpo":"DEFAULT"}'
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 813.295177ms
  - id: 7
    request:
      host: compute.googleapis.com
      body: ""
      form: {}
      headers:
      url: https://compute.googleapis.com/compute/beta/projects/debian-cloud/global/images/family/debian-11?alt=json&prettyPrint=false
      method: GET
    response:
      body: '{"kind":"compute#image","id":"3433906770923237514","creationTimestamp":"2024-04-15T13:30:29.979-07:00","name":"debian-11-bullseye-v20240415","description":"Debian, Debian GNU/Linux, 11 (bullseye), amd64 built on 20240415","sourceType":"RAW","rawDisk":{"source":"","containerType":"TAR"},"status":"READY","archiveSizeBytes":"1968385536","diskSizeGb":"10","licenses":["https://www.googleapis.com/compute/beta/projects/debian-cloud/global/licenses/debian-11-bullseye"],"family":"debian-11","selfLink":"https://www.googleapis.com/compute/beta/projects/debian-cloud/global/images/debian-11-bullseye-v20240415","labelFingerprint":"42WmSpB8rSM=","guestOsFeatures":[{"type":"UEFI_COMPATIBLE"},{"type":"VIRTIO_SCSI_MULTIQUEUE"},{"type":"GVNIC"},{"type":"SEV_CAPABLE"}],"licenseCodes":["3853522013536123851"],"storageLocations":["asia","us","eu"],"rolloutOverride":{"locationRolloutPolicies":{"zones/africa-south1-a":"2024-04-16T03:30:26Z","zones/africa-south1-b":"2024-04-18T13:30:26Z","zones/africa-south1-c":"2024-04-20T01:30:26Z","zones/asia-east1-a":"2024-04-16T16:30:26Z","zones/asia-east1-b":"2024-04-19T02:30:26Z","zones/asia-east1-c":"2024-04-20T06:30:26Z","zones/asia-east2-a":"2024-04-17T14:30:26Z","zones/asia-east2-b":"2024-04-18T05:30:26Z","zones/asia-east2-c":"2024-04-19T11:30:26Z","zones/asia-northeast1-a":"2024-04-16T11:30:26Z","zones/asia-northeast1-b":"2024-04-19T03:30:2[...]
[...]
  - id: 10
    request:
      host: compute.googleapis.com
      body: |
        {"name":"computeinstancetemplate-xnsehxa3np4w","properties":{"disks":[{"autoDelete":true,"boot":true,"initializeParams":{"diskType":"pd-standard","sourceImage":"projects/debian-cloud/global/images/family/debian-11"},"interface":"SCSI","mode":"READ_WRITE","type":"PERSISTENT"}],"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"machineType":"n1-standard-1","metadata":{},"networkInterfaces":[{"network":"projects/example-project/global/networks/default"}],"scheduling":{"onHostMaintenance":"MIGRATE"},"tags":{}}}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://compute.googleapis.com/compute/beta/projects/example-project/global/instanceTemplates?alt=json&prettyPrint=false
      method: POST
    response:
      body: '{"kind":"compute#operation","id":"6291933178257213760","name":"operation-1714010030897-616e20f0878cf-1a2b9ce0-dcad9986","operationType":"compute.instanceTemplates.insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/instanceTemplates/computeinstancetemplate-xnsehxa3np4w","targetId":"8655062920826456385","status":"RUNNING","user":"integration-test@example-project.iam.gserviceaccount.com","progress":0,"insertTime":"2024-04-24T18:53:51.164-07:00","startTime":"2024-04-24T18:53:51.172-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1714010030897-616e20f0878cf-1a2b9ce0-dcad9986"}'
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 711.209993ms
[...]
  - id: 15
    request:
      host: compute.googleapis.com
      body: ""
      form: {}
      headers:
      url: https://compute.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1714010030897-616e20f0878cf-1a2b9ce0-dcad9986?alt=json&prettyPrint=false
      method: GET
    response:
      body: '{"kind":"compute#operation","id":"6291933178257213760","name":"operation-1714010030897-616e20f0878cf-1a2b9ce0-dcad9986","operationType":"compute.instanceTemplates.insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/instanceTemplates/computeinstancetemplate-xnsehxa3np4w","targetId":"8655062920826456385","status":"DONE","user":"integration-test@example-project.iam.gserviceaccount.com","progress":100,"insertTime":"2024-04-24T18:53:51.164-07:00","startTime":"2024-04-24T18:53:51.172-07:00","endTime":"2024-04-24T18:53:51.624-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1714010030897-616e20f0878cf-1a2b9ce0-dcad9986"}'
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 300.125625ms
[...]
  - id: 17
    request:
      host: compute.googleapis.com
      body: ""
      form: {}
      headers:
      url: https://compute.googleapis.com/compute/beta/projects/example-project/global/instanceTemplates/8655062920826456385?alt=json&prettyPrint=false
      method: GET
    response:
      body: '{"kind":"compute#instanceTemplate","id":"8655062920826456385","creationTimestamp":"2024-04-24T18:53:51.170-07:00","name":"computeinstancetemplate-xnsehxa3np4w","description":"","properties":{"tags":{},"machineType":"n1-standard-1","networkInterfaces":[{"kind":"compute#networkInterface","network":"https://www.googleapis.com/compute/beta/projects/example-project/global/networks/default","name":"nic0"}],"disks":[{"kind":"compute#attachedDisk","type":"PERSISTENT","mode":"READ_WRITE","deviceName":"persistent-disk-0","index":0,"boot":true,"initializeParams":{"sourceImage":"projects/debian-cloud/global/images/family/debian-11","diskType":"pd-standard"},"autoDelete":true,"interface":"SCSI"}],"metadata":{"kind":"compute#metadata","fingerprint":"0iFDgVe1Lwo="},"scheduling":{"onHostMaintenance":"MIGRATE","automaticRestart":true,"preemptible":false,"provisioningModel":"STANDARD"},"labels":{"cnrm-test":"true","managed-by-cnrm":"true"}},"selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/instanceTemplates/computeinstancetemplate-xnsehxa3np4w"}'
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 147.700552ms
  - id: 18
    request:
      host: compute.googleapis.com
      body: ""
      form: {}
      headers:
      url: https://compute.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a/instances/computeinstance2-xnsehxa3np4w?alt=json&prettyPrint=false
      method: GET
    response:
      body: fake error message
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 404 Not Found
      code: 404
      duration: 160.223934ms
[...]
  - id: 22
    request:
      host: compute.googleapis.com
      body: ""
      form: {}
      headers:
      url: https://compute.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a?alt=json&prettyPrint=false
      method: GET
    response:
      body: '{"kind":"compute#zone","id":"2000","creationTimestamp":"1969-12-31T16:00:00.000-08:00","name":"us-central1-a","description":"us-central1-a","status":"UP","region":"https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a","availableCpuPlatforms":["Ampere Altra","Intel Broadwell","Intel Cascade Lake","Intel Emerald Rapids","AMD Genoa","Intel Haswell","Intel Ice Lake","Intel Ivy Bridge","AMD Milan","AMD Rome","Intel Sandy Bridge","Intel Sapphire Rapids","Intel Skylake"],"supportsPzs":false}'
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 172.627738ms
[...]
  - id: 27
    request:
      host: compute.googleapis.com
      body: |
        {"disks":[{"autoDelete":true,"boot":true,"deviceName":"persistent-disk-0","initializeParams":{"diskType":"zones/us-central1-a/diskTypes/pd-standard","sourceImage":"projects/debian-cloud/global/images/family/debian-11"},"interface":"SCSI","kind":"compute#attachedDisk","mode":"READ_WRITE","type":"PERSISTENT"}],"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"metadata":{},"name":"computeinstance1-xnsehxa3np4w","params":{},"scheduling":{"automaticRestart":true,"onHostMaintenance":"MIGRATE","provisioningModel":"STANDARD"},"tags":{},"zone":""}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://compute.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a/instances?alt=json&prettyPrint=false&sourceInstanceTemplate=projects%2Fexample-project%2Fglobal%2FinstanceTemplates%2Fcomputeinstancetemplate-xnsehxa3np4w
      method: POST
    response:
      body: '{"kind":"compute#operation","id":"3067727668968687964","name":"operation-1714010034458-616e20f3ece70-7280cd0c-f763c4ab","zone":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a/instances/computeinstance1-xnsehxa3np4w","targetId":"4840863560882194781","status":"RUNNING","user":"integration-test@example-project.iam.gserviceaccount.com","progress":0,"insertTime":"2024-04-24T18:53:55.766-07:00","startTime":"2024-04-24T18:53:55.767-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a/operations/operation-1714010034458-616e20f3ece70-7280cd0c-f763c4ab"}'
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 2.402285504s
[...]
  - id: 29
    request:
      host: compute.googleapis.com
      body: ""
      form: {}
      headers:
      url: https://compute.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a/operations/operation-1714010034421-616e20f3e3d24-eec9232f-7775d2c8?alt=json&prettyPrint=false
      method: GET
    response:
      body: '{"kind":"compute#operation","id":"4474411947550574938","name":"operation-1714010034421-616e20f3e3d24-eec9232f-7775d2c8","zone":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a/instances/computeinstance2-xnsehxa3np4w","targetId":"6340056555937073501","status":"DONE","user":"integration-test@example-project.iam.gserviceaccount.com","progress":100,"insertTime":"2024-04-24T18:53:57.180-07:00","startTime":"2024-04-24T18:53:57.181-07:00","endTime":"2024-04-24T18:54:02.668-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a/operations/operation-1714010034421-616e20f3e3d24-eec9232f-7775d2c8"}'
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 150.447715ms
  - id: 30
    request:
      host: compute.googleapis.com
      body: ""
      form: {}
      headers:
      url: https://compute.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a/instances/computeinstance2-xnsehxa3np4w?alt=json&prettyPrint=false
      method: GET
    response:
      body: '{"kind":"compute#instance","id":"6340056555937073501","creationTimestamp":"2024-04-24T18:53:57.119-07:00","name":"computeinstance2-xnsehxa3np4w","tags":{"fingerprint":"42WmSpB8rSM="},"machineType":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a/machineTypes/n1-standard-1","status":"RUNNING","zone":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a","networkInterfaces":[{"kind":"compute#networkInterface","network":"https://www.googleapis.com/compute/beta/projects/example-project/global/networks/default","subnetwork":"https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1/subnetworks/default","networkIP":"10.128.0.6","name":"nic0","fingerprint":"d7MewHRdyXw=","stackType":"IPV4_ONLY"}],"disks":[{"kind":"compute#attachedDisk","type":"PERSISTENT","mode":"READ_WRITE","source":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a/disks/computeinstance2-xnsehxa3np4w","deviceName":"persistent-disk-0","index":0,"boot":true,"autoDelete":true,"licenses":["https://www.googleapis.com/compute/beta/projects/debian-cloud/global/licenses/debian-11-bullseye"],"interface":"SCSI","guestOsFeatures":[{"type":"UEFI_COMPATIBLE"},{"type":"VIRTIO_SCSI_MULTIQUEUE"},{"type":"GVNIC"},{"type":"SEV_CAPABLE"}],"diskSizeGb":"10","architecture":"X86_64"}],"metadata":{"kind":"compute#metadata","fingerprint":"0iFDgVe1Lwo="},"selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a/instances/computeinstance2-xnsehxa3np4w","scheduling":{"onHostMaintenance":"MIGRATE","automaticRestart":true,"preemptible":false,"provisioningModel":"STANDARD"},"cpuPlatform":"Intel Haswell","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"labelFingerprint":"npwiPjasDms=","startRestricted":false,"deletionProtection":false,"shieldedVmConfig":{"enableSecureBoot":false,"enableVtpm":true,"enableIntegrityMonitoring":true},"shieldedVmIntegrityPolicy":{"updateAutoLearnPolicy":true},"shieldedInstanceConfig":{"enableSecureBoot":false,"enableVtpm":true,"enableIntegrityMonitoring":true},"shieldedInstanceIntegrityPolicy":{"updateAutoLearnPolicy":true},"fingerprint":"QpfICxNyI3Q=","lastStartTimestamp":"2024-04-24T18:54:02.623-07:00","satisfiesPzi":false,"resourceStatus":{"scheduling":{}}}'
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 139.639478ms
  - id: 31
    request:
      host: compute.googleapis.com
      body: ""
      form: {}
      headers:
      url: https://compute.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a/disks/computeinstance2-xnsehxa3np4w?alt=json&prettyPrint=false
      method: GET
    response:
      body: '{"kind":"compute#disk","id":"5974694459844331869","creationTimestamp":"2024-04-24T18:53:57.127-07:00","name":"computeinstance2-xnsehxa3np4w","sizeGb":"10","zone":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a","status":"READY","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a/disks/computeinstance2-xnsehxa3np4w","sourceImage":"https://www.googleapis.com/compute/beta/projects/debian-cloud/global/images/debian-11-bullseye-v20240415","sourceImageId":"3433906770923237514","type":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a/diskTypes/pd-standard","licenses":["https://www.googleapis.com/compute/beta/projects/debian-cloud/global/licenses/debian-11-bullseye"],"guestOsFeatures":[{"type":"UEFI_COMPATIBLE"},{"type":"VIRTIO_SCSI_MULTIQUEUE"},{"type":"GVNIC"},{"type":"SEV_CAPABLE"}],"lastAttachTimestamp":"2024-04-24T18:53:57.128-07:00","users":["https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a/instances/computeinstance2-xnsehxa3np4w"],"labelFingerprint":"42WmSpB8rSM=","licenseCodes":["3853522013536123851"],"physicalBlockSizeBytes":"4096","multiWriter":false,"satisfiesPzi":false,"architecture":"X86_64","locked":false}'
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 188.713907ms
[...]
  - id: 43
    request:
      host: storage.googleapis.com
      body: ""
      form: {}
      headers:
      url: https://storage.googleapis.com/storage/v1/b/storagebucket1-xnsehxa3np4w/o?alt=json&prettyPrint=false&versions=true
      method: GET
    response:
      body: '{"kind":"storage#objects"}'
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 34.997021ms
[...]
