# Copyright 2025 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: spanner.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
            x-goog-request-params:
                - name=projects%2Fcnrm-anhdle%2Finstances%2Fspannerinstance-3eej62fms64k6
        url: https://spanner.googleapis.com/v1/projects/example-project/instances/spannerinstance-3eej62fms64k6?%24alt=json%3Benum-encoding%3Dint
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 213.389233ms
    - id: 1
      request:
        host: spanner.googleapis.com
        body: '{"parent":"projects/example-project", "instanceId":"spannerinstance-3eej62fms64k6", "instance":{"name":"projects/example-project/instances/spannerinstance-3eej62fms64k6", "config":"projects/example-project/instanceConfigs/regional-us-west1", "displayName":"Spanner Database Dependency", "nodeCount":1, "labels":{"cnrm-test":"true", "managed-by-cnrm":"true"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            x-goog-request-params:
                - parent=projects%2Fcnrm-anhdle
        url: https://spanner.googleapis.com/v1/projects/example-project/instances?%24alt=json%3Benum-encoding%3Dint
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6/operations/f535a62373c9d485",
              "metadata": {
                "@type": "type.googleapis.com/google.spanner.admin.instance.v1.CreateInstanceMetadata",
                "instance": {
                  "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6",
                  "config": "projects/example-project/instanceConfigs/regional-us-west1",
                  "displayName": "Spanner Database Dependency",
                  "nodeCount": 1,
                  "state": 2,
                  "labels": {
                    "cnrm-test": "true",
                    "managed-by-cnrm": "true"
                  },
                  "processingUnits": 1000,
                  "instanceType": 1,
                  "replicaComputeCapacity": [
                    {
                      "replicaSelection": {
                        "location": "us-west1"
                      },
                      "nodeCount": 1
                    }
                  ],
                  "edition": 1,
                  "resourceLocation": "us-west1",
                  "defaultBackupScheduleType": 2
                },
                "startTime": "2025-01-07T19:32:55.145285Z"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.489242886s
    - id: 2
      request:
        host: spanner.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
            x-goog-request-params:
                - name=projects%2Fcnrm-anhdle%2Finstances%2Fspannerinstance-3eej62fms64k6%2Foperations%2Ff535a62373c9d485
        url: https://spanner.googleapis.com/v1/projects/example-project/instances/spannerinstance-3eej62fms64k6/operations/f535a62373c9d485
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6/operations/f535a62373c9d485",
              "metadata": {
                "@type": "type.googleapis.com/google.spanner.admin.instance.v1.CreateInstanceMetadata",
                "instance": {
                  "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6",
                  "config": "projects/example-project/instanceConfigs/regional-us-west1",
                  "displayName": "Spanner Database Dependency",
                  "nodeCount": 1,
                  "state": "READY",
                  "labels": {
                    "cnrm-test": "true",
                    "managed-by-cnrm": "true"
                  },
                  "processingUnits": 1000,
                  "instanceType": "PROVISIONED",
                  "createTime": "2025-01-07T19:32:55.476377Z",
                  "updateTime": "2025-01-07T19:32:55.476377Z",
                  "edition": "STANDARD",
                  "resourceLocation": "us-west1",
                  "defaultBackupScheduleType": "AUTOMATIC"
                },
                "startTime": "2025-01-07T19:32:55.145285Z",
                "endTime": "2025-01-07T19:32:55.479156Z",
                "expectedFulfillmentPeriod": "FULFILLMENT_PERIOD_NORMAL"
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.spanner.admin.instance.v1.Instance",
                "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6",
                "config": "projects/example-project/instanceConfigs/regional-us-west1",
                "displayName": "Spanner Database Dependency",
                "nodeCount": 1,
                "state": "READY",
                "labels": {
                  "managed-by-cnrm": "true",
                  "cnrm-test": "true"
                },
                "processingUnits": 1000,
                "instanceType": "PROVISIONED",
                "createTime": "2025-01-07T19:32:55.476377Z",
                "updateTime": "2025-01-07T19:32:55.476377Z",
                "edition": "STANDARD",
                "resourceLocation": "us-west1",
                "defaultBackupScheduleType": "AUTOMATIC"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 136.02291ms
[...]
