---
version: 2
interactions:
    - id: 0
      request:
        host: spanner.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
            x-goog-request-params:
                - name=projects%2Fcnrm-anhdle%2Finstances%2Fspannerinstance-3eej62fms64k6
        url: https://spanner.googleapis.com/v1/projects/example-project/instances/spannerinstance-3eej62fms64k6?%24alt=json%3Benum-encoding%3Dint
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 453.402816ms
    - id: 1
      request:
        host: spanner.googleapis.com
        body: '{"parent":"projects/example-project", "instanceId":"spannerinstance-3eej62fms64k6", "instance":{"name":"projects/example-project/instances/spannerinstance-3eej62fms64k6", "config":"projects/example-project/instanceConfigs/regional-us-west1", "displayName":"Spanner Database Dependency", "nodeCount":1, "labels":{"cnrm-test":"true", "managed-by-cnrm":"true"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            x-goog-request-params:
                - parent=projects%2Fcnrm-anhdle
        url: https://spanner.googleapis.com/v1/projects/example-project/instances?%24alt=json%3Benum-encoding%3Dint
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6/operations/8b19de694151aaa5",
              "metadata": {
                "@type": "type.googleapis.com/google.spanner.admin.instance.v1.CreateInstanceMetadata",
                "instance": {
                  "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6",
                  "config": "projects/example-project/instanceConfigs/regional-us-west1",
                  "displayName": "Spanner Database Dependency",
                  "nodeCount": 1,
                  "state": 2,
                  "labels": {
                    "cnrm-test": "true",
                    "managed-by-cnrm": "true"
                  },
                  "processingUnits": 1000,
                  "instanceType": 1,
                  "replicaComputeCapacity": [
                    {
                      "replicaSelection": {
                        "location": "us-west1"
                      },
                      "nodeCount": 1
                    }
                  ],
                  "edition": 1,
                  "resourceLocation": "us-west1",
                  "defaultBackupScheduleType": 2
                },
                "startTime": "2025-03-18T21:43:14.580827Z"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.532236462s
    - id: 2
      request:
        host: spanner.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
            x-goog-request-params:
                - name=projects%2Fcnrm-anhdle%2Finstances%2Fspannerinstance-3eej62fms64k6%2Foperations%2F8b19de694151aaa5
        url: https://spanner.googleapis.com/v1/projects/example-project/instances/spannerinstance-3eej62fms64k6/operations/8b19de694151aaa5
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6/operations/8b19de694151aaa5",
              "metadata": {
                "@type": "type.googleapis.com/google.spanner.admin.instance.v1.CreateInstanceMetadata",
                "instance": {
                  "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6",
                  "config": "projects/example-project/instanceConfigs/regional-us-west1",
                  "displayName": "Spanner Database Dependency",
                  "nodeCount": 1,
                  "state": "READY",
                  "labels": {
                    "managed-by-cnrm": "true",
                    "cnrm-test": "true"
                  },
                  "processingUnits": 1000,
                  "instanceType": "PROVISIONED",
                  "createTime": "2025-03-18T21:43:14.726435Z",
                  "updateTime": "2025-03-18T21:43:14.726435Z",
                  "replicaComputeCapacity": [
                    {
                      "replicaSelection": {
                        "location": "us-west1"
                      },
                      "nodeCount": 1
                    }
                  ],
                  "edition": "STANDARD",
                  "resourceLocation": "us-west1",
                  "defaultBackupScheduleType": "AUTOMATIC"
                },
                "startTime": "2025-03-18T21:43:14.580827Z",
                "endTime": "2025-03-18T21:43:14.729328Z",
                "expectedFulfillmentPeriod": "FULFILLMENT_PERIOD_NORMAL"
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.spanner.admin.instance.v1.Instance",
                "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6",
                "config": "projects/example-project/instanceConfigs/regional-us-west1",
                "displayName": "Spanner Database Dependency",
                "nodeCount": 1,
                "state": "READY",
                "labels": {
                  "managed-by-cnrm": "true",
                  "cnrm-test": "true"
                },
                "processingUnits": 1000,
                "instanceType": "PROVISIONED",
                "createTime": "2025-03-18T21:43:14.726435Z",
                "updateTime": "2025-03-18T21:43:14.726435Z",
                "replicaComputeCapacity": [
                  {
                    "replicaSelection": {
                      "location": "us-west1"
                    },
                    "nodeCount": 1
                  }
                ],
                "edition": "STANDARD",
                "resourceLocation": "us-west1",
                "defaultBackupScheduleType": "AUTOMATIC"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 122.003035ms
[...]
