# Copyright 2025 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: spanner.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://spanner.googleapis.com/v1/projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdb-3eej62fms64k6?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 186.241381ms
    - id: 1
      request:
        host: spanner.googleapis.com
        body: |
            {"createStatement":"CREATE DATABASE `spannerdb-3eej62fms64k6`"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://spanner.googleapis.com/v1/projects/example-project/instances/spannerinstance-3eej62fms64k6/databases?alt=json
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdb-3eej62fms64k6/operations/_auto_op_3f9b71649e7b8665",
              "metadata": {
                "@type": "type.googleapis.com/google.spanner.admin.database.v1.CreateDatabaseMetadata",
                "database": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdb-3eej62fms64k6"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 2.374185999s
    - id: 2
      request:
        host: spanner.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://spanner.googleapis.com/v1/projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdb-3eej62fms64k6/operations/_auto_op_3f9b71649e7b8665?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdb-3eej62fms64k6/operations/_auto_op_3f9b71649e7b8665",
              "metadata": {
                "@type": "type.googleapis.com/google.spanner.admin.database.v1.CreateDatabaseMetadata",
                "database": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdb-3eej62fms64k6"
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.spanner.admin.database.v1.Database",
                "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdb-3eej62fms64k6",
                "state": "READY",
                "createTime": "2025-01-07T19:32:58.682274Z",
                "versionRetentionPeriod": "1h",
                "earliestVersionTime": "2025-01-07T19:32:58.682274Z",
                "databaseDialect": "GOOGLE_STANDARD_SQL"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 51.030676ms
    - id: 3
      request:
        host: spanner.googleapis.com
        body: |
            {"statements":["CREATE TABLE t1 (t1 INT64 NOT NULL,) PRIMARY KEY(t1)"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://spanner.googleapis.com/v1/projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdb-3eej62fms64k6/ddl?alt=json
        method: PATCH
      response:
        body: |
            {
              "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdb-3eej62fms64k6/operations/_auto_op_eb6abdf21b315739",
              "metadata": {
                "@type": "type.googleapis.com/google.spanner.admin.database.v1.UpdateDatabaseDdlMetadata",
                "database": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdb-3eej62fms64k6",
                "statements": [
                  "CREATE TABLE t1 (\n  t1 INT64 NOT NULL,\n) PRIMARY KEY(t1)"
                ],
                "progress": [
                  {
                    "startTime": "2025-01-07T19:33:02.771733Z"
                  }
                ],
                "actions": [
                  {
                    "action": "CREATE",
                    "entityType": "TABLE",
                    "entityNames": [
                      "t1"
                    ]
                  }
                ]
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 630.313862ms
    - id: 4
      request:
        host: spanner.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://spanner.googleapis.com/v1/projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdb-3eej62fms64k6/operations/_auto_op_eb6abdf21b315739?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdb-3eej62fms64k6/operations/_auto_op_eb6abdf21b315739",
              "metadata": {
                "@type": "type.googleapis.com/google.spanner.admin.database.v1.UpdateDatabaseDdlMetadata",
                "database": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdb-3eej62fms64k6",
                "statements": [
                  "CREATE TABLE t1 (\n  t1 INT64 NOT NULL,\n) PRIMARY KEY(t1)"
                ],
                "commitTimestamps": [
                  "2025-01-07T19:34:17.802257Z"
                ],
                "progress": [
                  {
                    "progressPercent": 100,
                    "startTime": "2025-01-07T19:33:02.771733Z",
                    "endTime": "2025-01-07T19:34:17.802257Z"
                  }
                ],
                "actions": [
                  {
                    "action": "CREATE",
                    "entityType": "TABLE",
                    "entityNames": [
                      "t1"
                    ]
                  }
                ]
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.protobuf.Empty"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 117.639812ms
    - id: 5
      request:
        host: spanner.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://spanner.googleapis.com/v1/projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdb-3eej62fms64k6?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdb-3eej62fms64k6",
              "state": "READY",
              "createTime": "2025-01-07T19:32:58.682274Z",
              "versionRetentionPeriod": "1h",
              "earliestVersionTime": "2025-01-07T19:32:58.682274Z",
              "encryptionInfo": [
                {
                  "encryptionType": "GOOGLE_DEFAULT_ENCRYPTION"
                }
              ],
              "databaseDialect": "GOOGLE_STANDARD_SQL"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 43.395344ms
[...]
