# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
  - id: 0
    request:
      host: spanner.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://spanner.googleapis.com/v1/projects/example-project/instances/spannerinstance-3eej62fms64k6?alt=json
      method: GET
    response:
      body: fake error message
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 404 Not Found
      code: 404
      duration: 136.695246ms
  - id: 1
    request:
      host: spanner.googleapis.com
      body: |
        {"instance":{"config":"projects/example-project/instanceConfigs/regional-us-west1","displayName":"Spanner Database Dependency","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"nodeCount":1},"instanceId":"spannerinstance-3eej62fms64k6"}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://spanner.googleapis.com/v1/projects/example-project/instances?alt=json
      method: POST
    response:
      body: |
        {
          "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6/operations/d4b8f8b8b454c31f",
          "metadata": {
            "@type": "type.googleapis.com/google.spanner.admin.instance.v1.CreateInstanceMetadata",
            "instance": {
              "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6",
              "config": "projects/example-project/instanceConfigs/regional-us-west1",
              "displayName": "Spanner Database Dependency",
              "nodeCount": 1,
              "state": "READY",
              "labels": {
                "cnrm-test": "true",
                "managed-by-cnrm": "true"
              },
              "processingUnits": 1000,
              "instanceType": "PROVISIONED"
            },
            "startTime": "2024-04-25T02:05:40.290932Z"
          }
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 640.808394ms
  - id: 2
    request:
      host: spanner.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://spanner.googleapis.com/v1/projects/example-project/instances/spannerinstance-3eej62fms64k6/operations/d4b8f8b8b454c31f?alt=json
      method: GET
    response:
      body: |
        {
          "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6/operations/d4b8f8b8b454c31f",
          "metadata": {
            "@type": "type.googleapis.com/google.spanner.admin.instance.v1.CreateInstanceMetadata",
            "instance": {
              "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6",
              "config": "projects/example-project/instanceConfigs/regional-us-west1",
              "displayName": "Spanner Database Dependency",
              "nodeCount": 1,
              "state": "READY",
              "labels": {
                "managed-by-cnrm": "true",
                "cnrm-test": "true"
              },
              "processingUnits": 1000,
              "instanceType": "PROVISIONED",
              "createTime": "2024-04-25T02:05:40.576Z",
              "updateTime": "2024-04-25T02:05:40.576Z"
            },
            "startTime": "2024-04-25T02:05:40.290932Z",
            "endTime": "2024-04-25T02:05:40.580718Z",
            "expectedFulfillmentPeriod": "FULFILLMENT_PERIOD_NORMAL"
          },
          "done": true,
          "response": {
            "@type": "type.googleapis.com/google.spanner.admin.instance.v1.Instance",
            "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6",
            "config": "projects/example-project/instanceConfigs/regional-us-west1",
            "displayName": "Spanner Database Dependency",
            "nodeCount": 1,
            "state": "READY",
            "labels": {
              "managed-by-cnrm": "true",
              "cnrm-test": "true"
            },
            "processingUnits": 1000,
            "instanceType": "PROVISIONED",
            "createTime": "2024-04-25T02:05:40.576Z",
            "updateTime": "2024-04-25T02:05:40.576Z"
          }
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 126.036224ms
[...]
  - id: 5
    request:
      host: spanner.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://spanner.googleapis.com/v1/projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdatabase-test?alt=json
      method: GET
    response:
      body: fake error message
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 404 Not Found
      code: 404
      duration: 127.604835ms
  - id: 6
    request:
      host: spanner.googleapis.com
      body: |
        {"createStatement":"CREATE DATABASE `spannerdatabase-test`"}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://spanner.googleapis.com/v1/projects/example-project/instances/spannerinstance-3eej62fms64k6/databases?alt=json
      method: POST
    response:
      body: |
        {
          "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdatabase-test/operations/_auto_op_c95af7487185c38e",
          "metadata": {
            "@type": "type.googleapis.com/google.spanner.admin.database.v1.CreateDatabaseMetadata",
            "database": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdatabase-test"
          }
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 2.75018178s
  - id: 7
    request:
      host: spanner.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://spanner.googleapis.com/v1/projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdatabase-test/operations/_auto_op_c95af7487185c38e?alt=json
      method: GET
    response:
      body: |
        {
          "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdatabase-test/operations/_auto_op_c95af7487185c38e",
          "metadata": {
            "@type": "type.googleapis.com/google.spanner.admin.database.v1.CreateDatabaseMetadata",
            "database": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdatabase-test"
          },
          "done": true,
          "response": {
            "@type": "type.googleapis.com/google.spanner.admin.database.v1.Database",
            "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdatabase-test",
            "state": "READY",
            "createTime": "2024-04-25T02:05:47.925268Z",
            "versionRetentionPeriod": "1h",
            "earliestVersionTime": "2024-04-25T02:05:47.925268Z",
            "databaseDialect": "GOOGLE_STANDARD_SQL"
          }
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 104.65227ms
  - id: 8
    request:
      host: spanner.googleapis.com
      body: |
        {"statements":["CREATE TABLE t1 (t1 INT64 NOT NULL,) PRIMARY KEY(t1)"]}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://spanner.googleapis.com/v1/projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdatabase-test/ddl?alt=json
      method: PATCH
    response:
      body: |
        {
          "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdatabase-test/operations/_auto_op_7d62ae5cc9d3b188",
          "metadata": {
            "@type": "type.googleapis.com/google.spanner.admin.database.v1.UpdateDatabaseDdlMetadata",
            "database": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdatabase-test",
            "statements": [
              "CREATE TABLE t1 (\n  t1 INT64 NOT NULL,\n) PRIMARY KEY(t1)"
            ],
            "progress": [
              {
                "startTime": "2024-04-25T02:05:53.112441Z"
              }
            ],
            "actions": [
              {
                "action": "CREATE",
                "entityType": "TABLE",
                "entityNames": [
                  "t1"
                ]
              }
            ]
          }
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 877.851495ms
  - id: 9
    request:
      host: spanner.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://spanner.googleapis.com/v1/projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdatabase-test/operations/_auto_op_7d62ae5cc9d3b188?alt=json
      method: GET
    response:
      body: |
        {
          "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdatabase-test/operations/_auto_op_7d62ae5cc9d3b188",
          "metadata": {
            "@type": "type.googleapis.com/google.spanner.admin.database.v1.UpdateDatabaseDdlMetadata",
            "database": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdatabase-test",
            "statements": [
              "CREATE TABLE t1 (\n  t1 INT64 NOT NULL,\n) PRIMARY KEY(t1)"
            ],
            "commitTimestamps": [
              "2024-04-25T02:06:50.031515Z"
            ],
            "progress": [
              {
                "progressPercent": 100,
                "startTime": "2024-04-25T02:05:53.112441Z",
                "endTime": "2024-04-25T02:06:50.031515Z"
              }
            ],
            "actions": [
              {
                "action": "CREATE",
                "entityType": "TABLE",
                "entityNames": [
                  "t1"
                ]
              }
            ]
          },
          "done": true,
          "response": {
            "@type": "type.googleapis.com/google.protobuf.Empty"
          }
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 139.824725ms
  - id: 10
    request:
      host: spanner.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://spanner.googleapis.com/v1/projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdatabase-test?alt=json
      method: GET
    response:
      body: |
        {
          "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdatabase-test",
          "state": "READY",
          "createTime": "2024-04-25T02:05:47.925268Z",
          "versionRetentionPeriod": "1h",
          "earliestVersionTime": "2024-04-25T02:05:47.925268Z",
          "encryptionInfo": [
            {
              "encryptionType": "GOOGLE_DEFAULT_ENCRYPTION"
            }
          ],
          "databaseDialect": "GOOGLE_STANDARD_SQL"
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 77.769693ms
[...]
