---
version: 2
interactions:
    - id: 0
      request:
        host: spanner.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://spanner.googleapis.com/v1/projects/example-project/instances/spannerinstance-3eej62fms64k6?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 416.200938ms
    - id: 1
      request:
        host: spanner.googleapis.com
        body: |
            {"instance":{"config":"projects/example-project/instanceConfigs/regional-us-west1","displayName":"Spanner Database Dependency","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"nodeCount":1},"instanceId":"spannerinstance-3eej62fms64k6"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://spanner.googleapis.com/v1/projects/example-project/instances?alt=json
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6/operations/b8fc976ca6c437b2",
              "metadata": {
                "@type": "type.googleapis.com/google.spanner.admin.instance.v1.CreateInstanceMetadata",
                "instance": {
                  "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6",
                  "config": "projects/example-project/instanceConfigs/regional-us-west1",
                  "displayName": "Spanner Database Dependency",
                  "nodeCount": 1,
                  "state": "READY",
                  "labels": {
                    "managed-by-cnrm": "true",
                    "cnrm-test": "true"
                  },
                  "processingUnits": 1000,
                  "instanceType": "PROVISIONED",
                  "replicaComputeCapacity": [
                    {
                      "replicaSelection": {
                        "location": "us-west1"
                      },
                      "nodeCount": 1
                    }
                  ],
                  "edition": "STANDARD",
                  "resourceLocation": "us-west1",
                  "defaultBackupScheduleType": "AUTOMATIC"
                },
                "startTime": "2025-03-30T22:59:41.662158Z"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.435272561s
    - id: 2
      request:
        host: spanner.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://spanner.googleapis.com/v1/projects/example-project/instances/spannerinstance-3eej62fms64k6/operations/b8fc976ca6c437b2?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6/operations/b8fc976ca6c437b2",
              "metadata": {
                "@type": "type.googleapis.com/google.spanner.admin.instance.v1.CreateInstanceMetadata",
                "instance": {
                  "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6",
                  "config": "projects/example-project/instanceConfigs/regional-us-west1",
                  "displayName": "Spanner Database Dependency",
                  "nodeCount": 1,
                  "state": "READY",
                  "labels": {
                    "managed-by-cnrm": "true",
                    "cnrm-test": "true"
                  },
                  "processingUnits": 1000,
                  "instanceType": "PROVISIONED",
                  "createTime": "2025-03-30T22:59:41.800101Z",
                  "updateTime": "2025-03-30T22:59:41.800101Z",
                  "replicaComputeCapacity": [
                    {
                      "replicaSelection": {
                        "location": "us-west1"
                      },
                      "nodeCount": 1
                    }
                  ],
                  "edition": "STANDARD",
                  "resourceLocation": "us-west1",
                  "defaultBackupScheduleType": "AUTOMATIC"
                },
                "startTime": "2025-03-30T22:59:41.662158Z",
                "endTime": "2025-03-30T22:59:41.802791Z",
                "expectedFulfillmentPeriod": "FULFILLMENT_PERIOD_NORMAL"
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.spanner.admin.instance.v1.Instance",
                "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6",
                "config": "projects/example-project/instanceConfigs/regional-us-west1",
                "displayName": "Spanner Database Dependency",
                "nodeCount": 1,
                "state": "READY",
                "labels": {
                  "cnrm-test": "true",
                  "managed-by-cnrm": "true"
                },
                "processingUnits": 1000,
                "instanceType": "PROVISIONED",
                "createTime": "2025-03-30T22:59:41.800101Z",
                "updateTime": "2025-03-30T22:59:41.800101Z",
                "replicaComputeCapacity": [
                  {
                    "replicaSelection": {
                      "location": "us-west1"
                    },
                    "nodeCount": 1
                  }
                ],
                "edition": "STANDARD",
                "resourceLocation": "us-west1",
                "defaultBackupScheduleType": "AUTOMATIC"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 135.173524ms
[...]
    - id: 5
      request:
        host: spanner.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://spanner.googleapis.com/v1/projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdb-3eej62fms64k6?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 100.839676ms
    - id: 6
      request:
        host: spanner.googleapis.com
        body: |
            {"createStatement":"CREATE DATABASE `spannerdb-3eej62fms64k6`"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://spanner.googleapis.com/v1/projects/example-project/instances/spannerinstance-3eej62fms64k6/databases?alt=json
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdb-3eej62fms64k6/operations/_auto_op_cf12dfdaa788b14f",
              "metadata": {
                "@type": "type.googleapis.com/google.spanner.admin.database.v1.CreateDatabaseMetadata",
                "database": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdb-3eej62fms64k6"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 2.045381208s
    - id: 7
      request:
        host: spanner.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://spanner.googleapis.com/v1/projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdb-3eej62fms64k6/operations/_auto_op_cf12dfdaa788b14f?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdb-3eej62fms64k6/operations/_auto_op_cf12dfdaa788b14f",
              "metadata": {
                "@type": "type.googleapis.com/google.spanner.admin.database.v1.CreateDatabaseMetadata",
                "database": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdb-3eej62fms64k6"
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.spanner.admin.database.v1.Database",
                "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdb-3eej62fms64k6",
                "state": "READY",
                "createTime": "2025-03-30T22:59:50.052764Z",
                "versionRetentionPeriod": "1h",
                "earliestVersionTime": "2025-03-30T22:59:50.052764Z",
                "databaseDialect": "GOOGLE_STANDARD_SQL"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 105.274013ms
    - id: 8
      request:
        host: spanner.googleapis.com
        body: |
            {"statements":["CREATE TABLE t1 (t1 INT64 NOT NULL,) PRIMARY KEY(t1)"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://spanner.googleapis.com/v1/projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdb-3eej62fms64k6/ddl?alt=json
        method: PATCH
      response:
        body: |
            {
              "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdb-3eej62fms64k6/operations/_auto_op_2421b2f4d3468f3a",
              "metadata": {
                "@type": "type.googleapis.com/google.spanner.admin.database.v1.UpdateDatabaseDdlMetadata",
                "database": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdb-3eej62fms64k6",
                "statements": [
                  "CREATE TABLE t1 (\n  t1 INT64 NOT NULL,\n) PRIMARY KEY(t1)"
                ],
                "progress": [
                  {
                    "startTime": "2025-03-30T22:59:56.047888Z"
                  }
                ],
                "actions": [
                  {
                    "action": "CREATE",
                    "entityType": "TABLE",
                    "entityNames": [
                      "t1"
                    ]
                  }
                ]
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 3.01946099s
    - id: 9
      request:
        host: spanner.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://spanner.googleapis.com/v1/projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdb-3eej62fms64k6/operations/_auto_op_2421b2f4d3468f3a?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdb-3eej62fms64k6/operations/_auto_op_2421b2f4d3468f3a",
              "metadata": {
                "@type": "type.googleapis.com/google.spanner.admin.database.v1.UpdateDatabaseDdlMetadata",
                "database": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdb-3eej62fms64k6",
                "statements": [
                  "CREATE TABLE t1 (\n  t1 INT64 NOT NULL,\n) PRIMARY KEY(t1)"
                ],
                "commitTimestamps": [
                  "2025-03-30T23:00:22.785908Z"
                ],
                "progress": [
                  {
                    "progressPercent": 100,
                    "startTime": "2025-03-30T22:59:56.047888Z",
                    "endTime": "2025-03-30T23:00:22.785908Z"
                  }
                ],
                "actions": [
                  {
                    "action": "CREATE",
                    "entityType": "TABLE",
                    "entityNames": [
                      "t1"
                    ]
                  }
                ]
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.protobuf.Empty"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 93.57158ms
    - id: 10
      request:
        host: spanner.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://spanner.googleapis.com/v1/projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdb-3eej62fms64k6?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdb-3eej62fms64k6",
              "state": "READY",
              "createTime": "2025-03-30T22:59:50.052764Z",
              "versionRetentionPeriod": "1h",
              "earliestVersionTime": "2025-03-30T22:59:50.052764Z",
              "encryptionInfo": [
                {
                  "encryptionType": "GOOGLE_DEFAULT_ENCRYPTION"
                }
              ],
              "databaseDialect": "GOOGLE_STANDARD_SQL"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 180.960564ms
[...]
