# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: spanner.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://spanner.googleapis.com/v1/projects/example-project/instances/spannerinstance-3eej62fms64k6?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 190.251063ms
    - id: 1
      request:
        host: spanner.googleapis.com
        body: |
            {"instance":{"config":"projects/example-project/instanceConfigs/regional-us-west1","displayName":"Spanner Database Dependency","labels":{"cnrm-test":"true","config-connector-resource-type":"spannerinstance","managed-by-cnrm":"true"},"nodeCount":1},"instanceId":"spannerinstance-3eej62fms64k6"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://spanner.googleapis.com/v1/projects/example-project/instances?alt=json
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6/operations/e5d30d8ddc00da50",
              "metadata": {
                "@type": "type.googleapis.com/google.spanner.admin.instance.v1.CreateInstanceMetadata",
                "instance": {
                  "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6",
                  "config": "projects/example-project/instanceConfigs/regional-us-west1",
                  "displayName": "Spanner Database Dependency",
                  "nodeCount": 1,
                  "state": "READY",
                  "labels": {
                    "config-connector-resource-type": "spannerinstance",
                    "managed-by-cnrm": "true",
                    "cnrm-test": "true"
                  },
                  "processingUnits": 1000,
                  "instanceType": "PROVISIONED",
                  "replicaComputeCapacity": [
                    {
                      "replicaSelection": {
                        "location": "us-west1"
                      },
                      "nodeCount": 1
                    }
                  ]
                },
                "startTime": "2024-08-15T19:28:34.310506Z"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 951.112025ms
    - id: 2
      request:
        host: spanner.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://spanner.googleapis.com/v1/projects/example-project/instances/spannerinstance-3eej62fms64k6/operations/e5d30d8ddc00da50?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6/operations/e5d30d8ddc00da50",
              "metadata": {
                "@type": "type.googleapis.com/google.spanner.admin.instance.v1.CreateInstanceMetadata",
                "instance": {
                  "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6",
                  "config": "projects/example-project/instanceConfigs/regional-us-west1",
                  "displayName": "Spanner Database Dependency",
                  "nodeCount": 1,
                  "state": "READY",
                  "labels": {
                    "cnrm-test": "true",
                    "config-connector-resource-type": "spannerinstance",
                    "managed-by-cnrm": "true"
                  },
                  "processingUnits": 1000,
                  "instanceType": "PROVISIONED",
                  "createTime": "2024-08-15T19:28:36.035005Z",
                  "updateTime": "2024-08-15T19:28:36.035005Z"
                },
                "startTime": "2024-08-15T19:28:34.310506Z",
                "endTime": "2024-08-15T19:28:36.038371Z",
                "expectedFulfillmentPeriod": "FULFILLMENT_PERIOD_NORMAL"
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.spanner.admin.instance.v1.Instance",
                "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6",
                "config": "projects/example-project/instanceConfigs/regional-us-west1",
                "displayName": "Spanner Database Dependency",
                "nodeCount": 1,
                "state": "READY",
                "labels": {
                  "config-connector-resource-type": "spannerinstance",
                  "managed-by-cnrm": "true",
                  "cnrm-test": "true"
                },
                "processingUnits": 1000,
                "instanceType": "PROVISIONED",
                "createTime": "2024-08-15T19:28:36.035005Z",
                "updateTime": "2024-08-15T19:28:36.035005Z"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.197421007s
[...]
    - id: 4
      request:
        host: spanner.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://spanner.googleapis.com/v1/projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdatabase-3eej62fms64k6?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 129.685725ms
[...]
    - id: 6
      request:
        host: spanner.googleapis.com
        body: |
            {"createStatement":"CREATE DATABASE `spannerdatabase-3eej62fms64k6`"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://spanner.googleapis.com/v1/projects/example-project/instances/spannerinstance-3eej62fms64k6/databases?alt=json
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdatabase-3eej62fms64k6/operations/_auto_op_ad26d7544c75ae1e",
              "metadata": {
                "@type": "type.googleapis.com/google.spanner.admin.database.v1.CreateDatabaseMetadata",
                "database": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdatabase-3eej62fms64k6"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 3.128974277s
    - id: 7
      request:
        host: spanner.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://spanner.googleapis.com/v1/projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdatabase-3eej62fms64k6/operations/_auto_op_ad26d7544c75ae1e?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdatabase-3eej62fms64k6/operations/_auto_op_ad26d7544c75ae1e",
              "metadata": {
                "@type": "type.googleapis.com/google.spanner.admin.database.v1.CreateDatabaseMetadata",
                "database": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdatabase-3eej62fms64k6"
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.spanner.admin.database.v1.Database",
                "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdatabase-3eej62fms64k6",
                "state": "READY",
                "createTime": "2024-08-15T19:28:46.257110Z",
                "versionRetentionPeriod": "1h",
                "earliestVersionTime": "2024-08-15T19:28:46.257110Z",
                "databaseDialect": "GOOGLE_STANDARD_SQL"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 140.558195ms
    - id: 8
      request:
        host: spanner.googleapis.com
        body: |
            {"statements":["CREATE TABLE t1 (t1 INT64 NOT NULL,) PRIMARY KEY(t1)"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://spanner.googleapis.com/v1/projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdatabase-3eej62fms64k6/ddl?alt=json
        method: PATCH
      response:
        body: |
            {
              "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdatabase-3eej62fms64k6/operations/_auto_op_ca4219d2bb83ad1a",
              "metadata": {
                "@type": "type.googleapis.com/google.spanner.admin.database.v1.UpdateDatabaseDdlMetadata",
                "database": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdatabase-3eej62fms64k6",
                "statements": [
                  "CREATE TABLE t1 (\n  t1 INT64 NOT NULL,\n) PRIMARY KEY(t1)"
                ],
                "progress": [
                  {
                    "startTime": "2024-08-15T19:28:52.358982Z"
                  }
                ],
                "actions": [
                  {
                    "action": "CREATE",
                    "entityType": "TABLE",
                    "entityNames": [
                      "t1"
                    ]
                  }
                ]
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.587808862s
    - id: 9
      request:
        host: spanner.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://spanner.googleapis.com/v1/projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdatabase-3eej62fms64k6/operations/_auto_op_ca4219d2bb83ad1a?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdatabase-3eej62fms64k6/operations/_auto_op_ca4219d2bb83ad1a",
              "metadata": {
                "@type": "type.googleapis.com/google.spanner.admin.database.v1.UpdateDatabaseDdlMetadata",
                "database": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdatabase-3eej62fms64k6",
                "statements": [
                  "CREATE TABLE t1 (\n  t1 INT64 NOT NULL,\n) PRIMARY KEY(t1)"
                ],
                "commitTimestamps": [
                  "2024-08-15T19:29:18.824131Z"
                ],
                "progress": [
                  {
                    "progressPercent": 100,
                    "startTime": "2024-08-15T19:28:52.358982Z",
                    "endTime": "2024-08-15T19:29:18.824131Z"
                  }
                ],
                "actions": [
                  {
                    "action": "CREATE",
                    "entityType": "TABLE",
                    "entityNames": [
                      "t1"
                    ]
                  }
                ]
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.protobuf.Empty"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 233.871552ms
    - id: 10
      request:
        host: spanner.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://spanner.googleapis.com/v1/projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdatabase-3eej62fms64k6?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdatabase-3eej62fms64k6",
              "state": "READY",
              "createTime": "2024-08-15T19:28:46.257110Z",
              "versionRetentionPeriod": "1h",
              "earliestVersionTime": "2024-08-15T19:28:46.257110Z",
              "encryptionInfo": [
                {
                  "encryptionType": "GOOGLE_DEFAULT_ENCRYPTION"
                }
              ],
              "databaseDialect": "GOOGLE_STANDARD_SQL"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 383.142576ms
[...]
