---
version: 2
interactions:
    - id: 0
      request:
        host: spanner.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://spanner.googleapis.com/v1/projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdb-3eej62fms64k6?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 146.564049ms
    - id: 1
      request:
        host: spanner.googleapis.com
        body: |
            {"createStatement":"CREATE DATABASE `spannerdb-3eej62fms64k6`"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://spanner.googleapis.com/v1/projects/example-project/instances/spannerinstance-3eej62fms64k6/databases?alt=json
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdb-3eej62fms64k6/operations/_auto_op_f130b5e54215f2e1",
              "metadata": {
                "@type": "type.googleapis.com/google.spanner.admin.database.v1.CreateDatabaseMetadata",
                "database": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdb-3eej62fms64k6"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.824089613s
    - id: 2
      request:
        host: spanner.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://spanner.googleapis.com/v1/projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdb-3eej62fms64k6/operations/_auto_op_f130b5e54215f2e1?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdb-3eej62fms64k6/operations/_auto_op_f130b5e54215f2e1",
              "metadata": {
                "@type": "type.googleapis.com/google.spanner.admin.database.v1.CreateDatabaseMetadata",
                "database": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdb-3eej62fms64k6"
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.spanner.admin.database.v1.Database",
                "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdb-3eej62fms64k6",
                "state": "READY",
                "createTime": "2025-03-18T21:43:17.787942Z",
                "versionRetentionPeriod": "1h",
                "earliestVersionTime": "2025-03-18T21:43:17.787942Z",
                "databaseDialect": "GOOGLE_STANDARD_SQL"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 145.11641ms
    - id: 3
      request:
        host: spanner.googleapis.com
        body: |
            {"statements":["CREATE TABLE t1 (t1 INT64 NOT NULL,) PRIMARY KEY(t1)"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://spanner.googleapis.com/v1/projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdb-3eej62fms64k6/ddl?alt=json
        method: PATCH
      response:
        body: |
            {
              "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdb-3eej62fms64k6/operations/_auto_op_5972ab3977da2bcb",
              "metadata": {
                "@type": "type.googleapis.com/google.spanner.admin.database.v1.UpdateDatabaseDdlMetadata",
                "database": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdb-3eej62fms64k6",
                "statements": [
                  "CREATE TABLE t1 (\n  t1 INT64 NOT NULL,\n) PRIMARY KEY(t1)"
                ],
                "progress": [
                  {
                    "startTime": "2025-03-18T21:43:21.301623Z"
                  }
                ],
                "actions": [
                  {
                    "action": "CREATE",
                    "entityType": "TABLE",
                    "entityNames": [
                      "t1"
                    ]
                  }
                ]
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 748.407456ms
    - id: 4
      request:
        host: spanner.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://spanner.googleapis.com/v1/projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdb-3eej62fms64k6/operations/_auto_op_5972ab3977da2bcb?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdb-3eej62fms64k6/operations/_auto_op_5972ab3977da2bcb",
              "metadata": {
                "@type": "type.googleapis.com/google.spanner.admin.database.v1.UpdateDatabaseDdlMetadata",
                "database": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdb-3eej62fms64k6",
                "statements": [
                  "CREATE TABLE t1 (\n  t1 INT64 NOT NULL,\n) PRIMARY KEY(t1)"
                ],
                "commitTimestamps": [
                  "2025-03-18T21:43:50.411530Z"
                ],
                "progress": [
                  {
                    "progressPercent": 100,
                    "startTime": "2025-03-18T21:43:21.301623Z",
                    "endTime": "2025-03-18T21:43:50.411530Z"
                  }
                ],
                "actions": [
                  {
                    "action": "CREATE",
                    "entityType": "TABLE",
                    "entityNames": [
                      "t1"
                    ]
                  }
                ]
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.protobuf.Empty"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 97.02044ms
    - id: 5
      request:
        host: spanner.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://spanner.googleapis.com/v1/projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdb-3eej62fms64k6?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/instances/spannerinstance-3eej62fms64k6/databases/spannerdb-3eej62fms64k6",
              "state": "READY",
              "createTime": "2025-03-18T21:43:17.787942Z",
              "versionRetentionPeriod": "1h",
              "earliestVersionTime": "2025-03-18T21:43:17.787942Z",
              "encryptionInfo": [
                {
                  "encryptionType": "GOOGLE_DEFAULT_ENCRYPTION"
                }
              ],
              "databaseDialect": "GOOGLE_STANDARD_SQL"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 61.223618ms
[...]
