# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: pubsub.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://pubsub.googleapis.com/v1/projects/example-project/topics/pubsubtopic-sample-37ttqtx972a52?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 169.904525ms
    - id: 1
      request:
        host: pubsub.googleapis.com
        body: |
            {"labels":{"cnrm-test":"true","label-one":"value-one","managed-by-cnrm":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://pubsub.googleapis.com/v1/projects/example-project/topics/pubsubtopic-sample-37ttqtx972a52?alt=json
        method: PUT
      response:
        body: |
            {
              "name": "projects/example-project/topics/pubsubtopic-sample-37ttqtx972a52",
              "labels": {
                "managed-by-cnrm": "true",
                "label-one": "value-one",
                "cnrm-test": "true"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 5.007148889s
[...]
    - id: 5
      request:
        host: pubsub.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://pubsub.googleapis.com/v1/projects/example-project/subscriptions/pubsubsubscription-sample-37ttqtx972a52?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 126.498609ms
    - id: 6
      request:
        host: pubsub.googleapis.com
        body: |
            {"ackDeadlineSeconds":15,"deadLetterPolicy":null,"expirationPolicy":null,"labels":{"cnrm-test":"true","label-one":"value-one","managed-by-cnrm":"true"},"messageRetentionDuration":"86400s","topic":"projects/example-project/topics/pubsubtopic-sample-37ttqtx972a52"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://pubsub.googleapis.com/v1/projects/example-project/subscriptions/pubsubsubscription-sample-37ttqtx972a52?alt=json
        method: PUT
      response:
        body: |
            {
              "name": "projects/example-project/subscriptions/pubsubsubscription-sample-37ttqtx972a52",
              "topic": "projects/example-project/topics/pubsubtopic-sample-37ttqtx972a52",
              "pushConfig": {},
              "ackDeadlineSeconds": 15,
              "messageRetentionDuration": "86400s",
              "labels": {
                "label-one": "value-one",
                "cnrm-test": "true",
                "managed-by-cnrm": "true"
              },
              "expirationPolicy": {
                "ttl": "2678400s"
              },
              "state": "ACTIVE"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.63116699s
[...]
    - id: 15
      request:
        host: pubsub.googleapis.com
        body: |
            {"subscription":{"ackDeadlineSeconds":20,"deadLetterPolicy":null,"enableExactlyOnceDelivery":true,"expirationPolicy":{"ttl":"2678400s"},"labels":{"cnrm-test":"true","label-one":"value-one","managed-by-cnrm":"true","newkey":"newval"},"messageRetentionDuration":"86400s"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://pubsub.googleapis.com/v1/projects/example-project/subscriptions/pubsubsubscription-sample-37ttqtx972a52?alt=json&updateMask=labels%2CackDeadlineSeconds%2CenableExactlyOnceDelivery
        method: PATCH
      response:
        body: |
            {
              "name": "projects/example-project/subscriptions/pubsubsubscription-sample-37ttqtx972a52",
              "topic": "projects/example-project/topics/pubsubtopic-sample-37ttqtx972a52",
              "pushConfig": {
                "attributes": {
                  "x-goog-version": "v1"
                }
              },
              "ackDeadlineSeconds": 20,
              "messageRetentionDuration": "86400s",
              "labels": {
                "cnrm-test": "true",
                "label-one": "value-one",
                "managed-by-cnrm": "true",
                "newkey": "newval"
              },
              "expirationPolicy": {
                "ttl": "2678400s"
              },
              "enableExactlyOnceDelivery": true,
              "state": "ACTIVE"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 509.607375ms
[...]
