# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-33ih9vwrinvog?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 191.459486ms
    - id: 1
      request:
        host: compute.googleapis.com
        body: |
            {"autoCreateSubnetworks":false,"name":"computenetwork-33ih9vwrinvog","networkFirewallPolicyEnforcementOrder":"AFTER_CLASSIC_FIREWALL"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "1774546985042585425",
              "name": "operation-1712953790494-615ec2232f5de-7ee57110-568be880",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-33ih9vwrinvog",
              "targetId": "6516717133579429713",
              "status": "RUNNING",
              "user": "integration-test@example-project.iam.gserviceaccount.com",
              "progress": 0,
              "insertTime": "2024-04-12T13:29:50.849-07:00",
              "startTime": "2024-04-12T13:29:50.860-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712953790494-615ec2232f5de-7ee57110-568be880"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 525.853185ms
    - id: 2
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712953790494-615ec2232f5de-7ee57110-568be880?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#operation","id":"1774546985042585425","name":"operation-1712953790494-615ec2232f5de-7ee57110-568be880","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-33ih9vwrinvog","targetId":"6516717133579429713","status":"RUNNING","user":"integration-test@example-project.iam.gserviceaccount.com","progress":0,"insertTime":"2024-04-12T13:29:50.849-07:00","startTime":"2024-04-12T13:29:50.860-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712953790494-615ec2232f5de-7ee57110-568be880"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 166.119012ms
    - id: 3
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712953790494-615ec2232f5de-7ee57110-568be880?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#operation","id":"1774546985042585425","name":"operation-1712953790494-615ec2232f5de-7ee57110-568be880","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-33ih9vwrinvog","targetId":"6516717133579429713","status":"DONE","user":"integration-test@example-project.iam.gserviceaccount.com","progress":100,"insertTime":"2024-04-12T13:29:50.849-07:00","startTime":"2024-04-12T13:29:50.860-07:00","endTime":"2024-04-12T13:30:00.142-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712953790494-615ec2232f5de-7ee57110-568be880"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 180.506377ms
    - id: 4
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-33ih9vwrinvog?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#network",
              "id": "6516717133579429713",
              "creationTimestamp": "2024-04-12T13:29:50.844-07:00",
              "name": "computenetwork-33ih9vwrinvog",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-33ih9vwrinvog",
              "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/6516717133579429713",
              "autoCreateSubnetworks": false,
              "routingConfig": {
                "routingMode": "REGIONAL"
              },
              "networkFirewallPolicyEnforcementOrder": "AFTER_CLASSIC_FIREWALL"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 266.39173ms
[...]
    - id: 6
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-33ih9vwrinvog?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 164.136896ms
    - id: 7
      request:
        host: memcache.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://memcache.googleapis.com/v1beta2/projects/example-project/locations/us-central1/instances/memcacheinstance-33ih9vwrinvog?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 280.017368ms
    - id: 8
      request:
        host: compute.googleapis.com
        body: |
            {"addressType":"INTERNAL","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"name":"computeaddress-33ih9vwrinvog","network":"projects/example-project/global/networks/computenetwork-33ih9vwrinvog","prefixLength":16,"purpose":"VPC_PEERING"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "1012584520755717924",
              "name": "operation-1712953803174-615ec22f4711f-a57b1134-98246102",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-33ih9vwrinvog",
              "targetId": "6385236274704557860",
              "status": "RUNNING",
              "user": "integration-test@example-project.iam.gserviceaccount.com",
              "progress": 0,
              "insertTime": "2024-04-12T13:30:03.811-07:00",
              "startTime": "2024-04-12T13:30:03.825-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712953803174-615ec22f4711f-a57b1134-98246102"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 958.583502ms
    - id: 9
      request:
        host: memcache.googleapis.com
        body: |
            {"authorizedNetwork":"projects/example-project/global/networks/computenetwork-33ih9vwrinvog","displayName":"Sample Memcache Instance","labels":{"cnrm-test":"true","managed-by-cnrm":"true","process-type":"long-queue","size":"small"},"memcacheVersion":"MEMCACHE_1_5","nodeConfig":{"cpuCount":1,"memorySizeMb":1024},"nodeCount":2,"parameters":{"params":{"listen-backlog":"10000","max-item-size":"524288","max-reqs-per-event":"1"}},"zones":["us-central1-a","us-central1-c"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://memcache.googleapis.com/v1beta2/projects/example-project/locations/us-central1/instances?alt=json&instanceId=memcacheinstance-33ih9vwrinvog
        method: POST
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 400 Bad Request
        code: 400
        duration: 964.0044ms
[...]
    - id: 16
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-33ih9vwrinvog?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#address",
              "id": "6385236274704557860",
              "creationTimestamp": "2024-04-12T13:30:03.774-07:00",
              "name": "computeaddress-33ih9vwrinvog",
              "description": "",
              "address": "10.191.0.0",
              "prefixLength": 16,
              "status": "RESERVED",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-33ih9vwrinvog",
              "networkTier": "PREMIUM",
              "labelFingerprint": "42WmSpB8rSM=",
              "addressType": "INTERNAL",
              "purpose": "VPC_PEERING",
              "network": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-33ih9vwrinvog"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 205.693319ms
    - id: 17
      request:
        host: compute.googleapis.com
        body: |
            {"labelFingerprint":"42WmSpB8rSM=","labels":{"cnrm-test":"true","managed-by-cnrm":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-33ih9vwrinvog/setLabels?alt=json
        method: POST
      response:
        body: |
            {
       [...]
[...]
    - id: 19
      request:
        host: cloudresourcemanager.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://cloudresourcemanager.googleapis.com/v1/projects/example-project?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"projectNumber":"664094794612","projectId":"example-project","lifecycleState":"ACTIVE","name":"example-project","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"createTime":"2024-04-12T19:13:37.596848Z","parent":{"type":"organization","id":"128653134652"}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 163.990706ms
[...]
    - id: 21
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections?alt=json&network=projects%2F664094794612%2Fglobal%2Fnetworks%2Fcomputenetwork-33ih9vwrinvog&prettyPrint=false
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 2.171766326s
[...]
    - id: 23
      request:
        host: servicenetworking.googleapis.com
        body: |
            {"network":"projects/664094794612/global/networks/computenetwork-33ih9vwrinvog","reservedPeeringRanges":["computeaddress-33ih9vwrinvog"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections/-?alt=json&force=true&prettyPrint=false&updateMask=reservedPeeringRanges
        method: PATCH
      response:
        body: '{"name":"operations/pssn.p24-664094794612-27097757-fa48-49f3-88a7-72338a49ed3c"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 454.487419ms
    - id: 24
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/operations/pssn.p24-664094794612-27097757-fa48-49f3-88a7-72338a49ed3c?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"name":"operations/pssn.p24-664094794612-27097757-fa48-49f3-88a7-72338a49ed3c"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 151.299305ms
[...]
    - id: 31
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/operations/pssn.p24-664094794612-27097757-fa48-49f3-88a7-72338a49ed3c?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"name":"operations/pssn.p24-664094794612-27097757-fa48-49f3-88a7-72338a49ed3c","done":true,"response":{"@type":"type.googleapis.com/google.cloud.servicenetworking.v1.Connection","network":"projects/664094794612/global/networks/computenetwork-33ih9vwrinvog","reservedPeeringRanges":["computeaddress-33ih9vwrinvog"],"peering":"servicenetworking-googleapis-com"}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 127.170003ms
[...]
    - id: 33
      request:
        host: servicenetworking.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://servicenetworking.googleapis.com/v1/services/servicenetworking.googleapis.com/connections?alt=json&network=projects%2F664094794612%2Fglobal%2Fnetworks%2Fcomputenetwork-33ih9vwrinvog&prettyPrint=false
        method: GET
      response:
        body: '{"connections":[{"network":"projects/664094794612/global/networks/computenetwork-33ih9vwrinvog","reservedPeeringRanges":["computeaddress-33ih9vwrinvog"],"peering":"servicenetworking-googleapis-com","service":"services/servicenetworking.googleapis.com"}]}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 298.767627ms
[...]
    - id: 35
      request:
        host: memcache.googleapis.com
        body: |
            {"authorizedNetwork":"projects/example-project/global/networks/computenetwork-33ih9vwrinvog","displayName":"Sample Memcache Instance","labels":{"cnrm-test":"true","managed-by-cnrm":"true","process-type":"long-queue","size":"small"},"memcacheVersion":"MEMCACHE_1_5","nodeConfig":{"cpuCount":1,"memorySizeMb":1024},"nodeCount":2,"parameters":{"params":{"listen-backlog":"10000","max-item-size":"524288","max-reqs-per-event":"1"}},"zones":["us-central1-a","us-central1-c"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://memcache.googleapis.com/v1beta2/projects/example-project/locations/us-central1/instances?alt=json&instanceId=memcacheinstance-33ih9vwrinvog
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/operation-1712953944086-615ec2b5a96bd-9affba19-12fc4bc4",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.memcache.v1beta2.OperationMetadata",
                "createTime": "2024-04-12T20:32:25.120578999Z",
                "target": "projects/example-project/locations/us-central1/instances/memcacheinstance-33ih9vwrinvog",
                "verb": "create",
                "cancelRequested": false,
                "apiVersion": "v1beta2"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.277702162s
    - id: 36
      request:
        host: memcache.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://memcache.googleapis.com/v1beta2/projects/example-project/locations/us-central1/operations/operation-1712953944086-615ec2b5a96bd-9affba19-12fc4bc4?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/operation-1712953944086-615ec2b5a96bd-9affba19-12fc4bc4",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.memcache.v1beta2.OperationMetadata",
                "createTime": "2024-04-12T20:32:25.120578999Z",
                "target": "projects/example-project/locations/us-central1/instances/memcacheinstance-33ih9vwrinvog",
                "verb": "create",
                "cancelRequested": false,
                "apiVersion": "v1beta2"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 79.371095ms
[...]
    - id: 41
      request:
        host: memcache.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://memcache.googleapis.com/v1beta2/projects/example-project/locations/us-central1/instances/memcacheinstance-33ih9vwrinvog?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/instances/memcacheinstance-33ih9vwrinvog",
              "displayName": "Sample Memcache Instance",
              "labels": {
                "cnrm-test": "true",
                "managed-by-cnrm": "true",
                "process-type": "long-queue",
                "size": "small"
              },
              "authorizedNetwork": "projects/example-project/global/networks/computenetwork-33ih9vwrinvog",
              "zones": [
                "us-central1-a",
                "us-central1-c"
              ],
              "nodeCount": 2,
              "nodeConfig": {
                "cpuCount": 1,
                "memorySizeMb": 1024
              },
              "memcacheVersion": "MEMCACHE_1_5",
              "parameters": {
                "id": "167177550",
                "params": {
                  "listen-backlog": "10000",
                  "max-item-size": "524288",
                  "max-reqs-per-event": "1"
                }
              },
              "memcacheNodes": [
                {
                  "nodeId": "node-a-1",
                  "zone": "us-central1-a",
                  "state": "READY",
                  "host": "10.191.0.5",
                  "port": 11211,
                  "parameters": {
                    "id": "167177550",
                    "params": {
                      "listen-backlog": "10000",
                      "max-item-size": "524288",
                      "max-reqs-per-event": "1"
                    }
                  },
                  "memcacheVersion": "MEMCACHE_1_5",
                  "memcacheFullVersion": "memcached-1.5.16"
                },
                {
                  "nodeId": "node-c-1",
                  "zone": "us-central1-c",
                  "state": "READY",
                  "host": "10.191.0.6",
                  "port": 11211,
                  "parameters": {
                    "id": "167177550",
                    "params": {
                      "listen-backlog": "10000",
                      "max-item-size": "524288",
                      "max-reqs-per-event": "1"
                    }
                  },
                  "memcacheVersion": "MEMCACHE_1_5",
                  "memcacheFullVersion": "memcached-1.5.16"
                }
              ],
              "createTime": "2024-04-12T20:32:25.115906879Z",
              "updateTime": "2024-04-12T20:37:04.206362317Z",
              "state": "READY",
              "memcacheFullVersion": "memcached-1.5.16",
              "discoveryEndpoint": "10.191.0.4:11211"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 249.56256ms
[...]
    - id: 44
      request:
        host: memcache.googleapis.com
        body: |
            {"displayName":"Sample Memcache Instance","labels":{"cnrm-test":"true","managed-by-cnrm":"true","process-style":"long-queue","process-type":"long-queue","size":"smallish"},"memcacheVersion":"MEMCACHE_1_5","nodeCount":1}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://memcache.googleapis.com/v1beta2/projects/example-project/locations/us-central1/instances/memcacheinstance-33ih9vwrinvog?alt=json&updateMask=labels%2CnodeCount
        method: PATCH
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/operation-1712954231907-615ec3c8263e5-67890131-c5c19ac9",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.memcache.v1beta2.OperationMetadata",
                "createTime": "2024-04-12T20:37:12.040392988Z",
                "target": "projects/example-project/locations/us-central1/instances/memcacheinstance-33ih9vwrinvog",
                "verb": "update",
                "cancelRequested": false,
                "apiVersion": "v1beta2"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 513.791294ms
[...]
    - id: 51
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-33ih9vwrinvog?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#network",
              "id": "6516717133579429713",
              "creationTimestamp": "2024-04-12T13:29:50.844-07:00",
              "name": "computenetwork-33ih9vwrinvog",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-33ih9vwrinvog",
              "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/6516717133579429713",
              "autoCreateSubnetworks": false,
              "peerings": [
                {
                  "name": "servicenetworking-googleapis-com",
                  "network": "https://www.googleapis.com/compute/beta/projects/r0ad8a21743f70165-tp/global/networks/servicenetworking",
                  "state": "ACTIVE",
                  "stateDetails": "[2024-04-12T13:32:49.544-07:00]: Connected.",
                  "autoCreateRoutes": true,
                  "exportCustomRoutes": false,
                  "importCustomRoutes": false,
                  "exchangeSubnetRoutes": true,
                  "exportSubnetRoutesWithPublicIp": false,
                  "importSubnetRoutesWithPublicIp": false,
                  "stackType": "IPV4_ONLY"
                }
              ],
              "routingConfig": {
                "routingMode": "REGIONAL"
              },
              "networkFirewallPolicyEnforcementOrder": "AFTER_CLASSIC_FIREWALL"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 228.055726ms
[...]
    - id: 60
      request:
        host: compute.googleapis.com
        body: |
            {"name":"servicenetworking-googleapis-com"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/664094794612/global/networks/computenetwork-33ih9vwrinvog/removePeering?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "6838038931371730218",
              "name": "operation-1712954309062-615ec411baf07-d584cc7b-3a95006c",
              "operationType": "removePeering",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-33ih9vwrinvog",
              "targetId": "6516717133579429713",
              "status": "RUNNING",
              "user": "integration-test@example-project.iam.gserviceaccount.com",
              "progress": 0,
              "insertTime": "2024-04-12T13:38:29.459-07:00",
              "startTime": "2024-04-12T13:38:29.470-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712954309062-615ec411baf07-d584cc7b-3a95006c"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 586.554773ms
[...]
