# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/healthChecks/computehealthcheck-28i6nma6sbu9b?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 212.447594ms
    - id: 1
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/default?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#network",
              "id": "8690839680577821487",
              "creationTimestamp": "2024-04-11T15:35:44.314-07:00",
              "name": "default",
              "description": "Default network for the project",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/default",
              "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/8690839680577821487",
              "autoCreateSubnetworks": true,
              "subnetworks": [
                "https://www.googleapis.com/compute/beta/projects/example-project/regions/asia-south1/subnetworks/default",
                "https://www.googleapis.com/compute/beta/projects/example-project/regions/asia-southeast1/subnetworks/default",
                "https://www.googleapis.com/compute/beta/projects/example-project/regions/southamerica-west1/subnetworks/default",
                "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-east1/subnetworks/def[...]
[...]
    - id: 3
      request:
        host: compute.googleapis.com
        body: |
            {"checkIntervalSec":10,"healthyThreshold":2,"httpHealthCheck":{"port":80,"proxyHeader":"NONE","requestPath":"/"},"name":"computehealthcheck-28i6nma6sbu9b","timeoutSec":5,"type":"HTTP","unhealthyThreshold":2}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/healthChecks?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "5916774081376932553",
              "name": "operation-1712876582394-615da283cd8e0-ba0c6d69-79a803f3",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/healthChecks/computehealthcheck-28i6nma6sbu9b",
              "targetId": "1238217672713687753",
              "status": "RUNNING",
              "user": "integration-test@example-project.iam.gserviceaccount.com",
              "progress": 0,
              "insertTime": "2024-04-11T16:03:02.736-07:00",
              "startTime": "2024-04-11T16:03:02.745-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712876582394-615da283cd8e0-ba0c6d69-79a803f3"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 895.736581ms
    - id: 4
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712876582394-615da283cd8e0-ba0c6d69-79a803f3?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#operation","id":"5916774081376932553","name":"operation-1712876582394-615da283cd8e0-ba0c6d69-79a803f3","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/healthChecks/computehealthcheck-28i6nma6sbu9b","targetId":"1238217672713687753","status":"RUNNING","user":"integration-test@example-project.iam.gserviceaccount.com","progress":0,"insertTime":"2024-04-11T16:03:02.736-07:00","startTime":"2024-04-11T16:03:02.745-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712876582394-615da283cd8e0-ba0c6d69-79a803f3"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 192.272103ms
    - id: 5
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712876582394-615da283cd8e0-ba0c6d69-79a803f3?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#operation","id":"5916774081376932553","name":"operation-1712876582394-615da283cd8e0-ba0c6d69-79a803f3","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/healthChecks/computehealthcheck-28i6nma6sbu9b","targetId":"1238217672713687753","status":"DONE","user":"integration-test@example-project.iam.gserviceaccount.com","progress":100,"insertTime":"2024-04-11T16:03:02.736-07:00","startTime":"2024-04-11T16:03:02.745-07:00","endTime":"2024-04-11T16:03:04.324-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712876582394-615da283cd8e0-ba0c6d69-79a803f3"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 223.985779ms
[...]
    - id: 7
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/backendServices/computebackendservice-28i6nma6sbu9b?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 216.260979ms
[...]
    - id: 9
      request:
        host: compute.googleapis.com
        body: |
            {"connectionDraining":{"drainingTimeoutSec":300},"healthChecks":["https://www.googleapis.com/compute/v1/projects/example-project/global/healthChecks/computehealthcheck-28i6nma6sbu9b"],"iap":{"enabled":false,"oauth2ClientId":"","oauth2ClientSecret":""},"loadBalancingScheme":"INTERNAL_SELF_MANAGED","name":"computebackendservice-28i6nma6sbu9b"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/backendServices?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "4671719240438764251",
              "name": "operation-1712876595851-615da290a32dc-aef3475d-6cbb0dd2",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/backendServices/computebackendservice-28i6nma6sbu9b",
              "targetId": "132959597738971867",
              "status": "RUNNING",
              "user": "integration-test@example-project.iam.gserviceaccount.com",
              "progress": 0,
              "insertTime": "2024-04-11T16:03:16.418-07:00",
              "startTime": "2024-04-11T16:03:16.428-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712876595851-615da290a32dc-aef3475d-6cbb0dd2"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 947.30526ms
[...]
    - id: 12
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/backendServices/computebackendservice-28i6nma6sbu9b?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#backendService",
              "id": "132959597738971867",
              "creationTimestamp": "2024-04-11T16:03:16.383-07:00",
              "name": "computebackendservice-28i6nma6sbu9b",
              "description": "",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/backendServices/computebackendservice-28i6nma6sbu9b",
              "healthChecks": [
                "https://www.googleapis.com/compute/beta/projects/example-project/global/healthChecks/computehealthcheck-28i6nma6sbu9b"
              ],
              "timeoutSec": 30,
              "port": 80,
              "protocol": "HTTP",
              "fingerprint": "x7R2_L93p4M=",
              "portName": "http",
              "sessionAffinity": "NONE",
              "affinityCookieTtlSec": 0,
              "loadBalancingScheme": "INTERNAL_SELF_MANAGED",
              "connectionDraining": {
                "drainingTimeoutSec": 300
              },
              "iap": {
                "enabled": false,
                "oauth2ClientId": "",
                "oauth2ClientSecretSha256": "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 151.757991ms
[...]
    - id: 14
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/urlMaps/computeurlmap-28i6nma6sbu9b?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 180.062604ms
    - id: 15
      request:
        host: compute.googleapis.com
        body: |
            {"defaultService":"https://www.googleapis.com/compute/v1/projects/example-project/global/backendServices/computebackendservice-28i6nma6sbu9b","name":"computeurlmap-28i6nma6sbu9b"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/urlMaps?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "4035366397553267363",
              "name": "operation-1712876619658-615da2a757471-6aad77c8-39777562",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/urlMaps/computeurlmap-28i6nma6sbu9b",
              "targetId": "5971277074629251747",
              "status": "RUNNING",
              "user": "integration-test@example-project.iam.gserviceaccount.com",
              "progress": 0,
              "insertTime": "2024-04-11T16:03:40.120-07:00",
              "startTime": "2024-04-11T16:03:40.129-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712876619658-615da2a757471-6aad77c8-39777562"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 668.981586ms
[...]
    - id: 18
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/targetHttpProxies/computetargethttpproxy-2-28i6nma6sbu9b?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 174.992157ms
    - id: 19
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/targetHttpProxies/computetargethttpproxy-28i6nma6sbu9b?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 187.439435ms
[...]
    - id: 21
      request:
        host: compute.googleapis.com
        body: |
            {"description":"other test description","name":"computetargethttpproxy-2-28i6nma6sbu9b","urlMap":"projects/example-project/global/urlMaps/computeurlmap-28i6nma6sbu9b"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/targetHttpProxies?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "819970072347267745",
              "name": "operation-1712876622263-615da2a9d32de-c164c2a9-95e75e98",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/targetHttpProxies/computetargethttpproxy-2-28i6nma6sbu9b",
              "targetId": "3531842779870515873",
              "status": "RUNNING",
              "user": "integration-test@example-project.iam.gserviceaccount.com",
              "progress": 0,
              "insertTime": "2024-04-11T16:03:42.770-07:00",
              "startTime": "2024-04-11T16:03:42.780-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712876622263-615da2a9d32de-c164c2a9-95e75e98"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.263178784s
[...]
    - id: 26
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/forwardingRules/computeglobalforwardingrule-28i6nma6sbu9b?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 165.708946ms
[...]
    - id: 28
      request:
        host: compute.googleapis.com
        body: |
            {"IPAddress":"0.0.0.0","description":"A global forwarding rule","labels":{"cnrm-test":"true","label-one":"value-one","managed-by-cnrm":"true"},"loadBalancingScheme":"INTERNAL_SELF_MANAGED","name":"computeglobalforwardingrule-28i6nma6sbu9b","network":"projects/example-project/global/networks/default","portRange":"80","target":"https://www.googleapis.com/compute/v1/projects/example-project/global/targetHttpProxies/computetargethttpproxy-28i6nma6sbu9b"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/forwardingRules?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "8111291641357521596",
              "name": "operation-1712876626675-615da2ae087dd-6ff1a17e-ffe22638",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/forwardingRules/computeglobalforwardingrule-28i6nma6sbu9b",
              "targetId": "3247096601448403644",
              "status": "RUNNING",
              "user": "integration-test@example-project.iam.gserviceaccount.com",
              "progress": 0,
              "insertTime": "2024-04-11T16:03:47.237-07:00",
              "startTime": "2024-04-11T16:03:47.248-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712876626675-615da2ae087dd-6ff1a17e-ffe22638"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 838.776767ms
[...]
    - id: 34
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/forwardingRules/computeglobalforwardingrule-28i6nma6sbu9b?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#forwardingRule",
              "id": "3247096601448403644",
              "creationTimestamp": "2024-04-11T16:03:47.231-07:00",
              "name": "computeglobalforwardingrule-28i6nma6sbu9b",
              "description": "A global forwarding rule",
              "IPAddress": "0.0.0.0",
              "IPProtocol": "TCP",
              "portRange": "80-80",
              "target": "https://www.googleapis.com/compute/beta/projects/example-project/global/targetHttpProxies/computetargethttpproxy-28i6nma6sbu9b",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/forwardingRules/computeglobalforwardingrule-28i6nma6sbu9b",
              "loadBalancingScheme": "INTERNAL_SELF_MANAGED",
              "network": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/default",
              "networkTier": "PREMIUM",
              "labelFingerprint": "42WmSpB8rSM=",
              "fingerprint": "Eenzi4x2RZk="
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 189.739846ms
    - id: 35
      request:
        host: compute.googleapis.com
        body: |
            {"labelFingerprint":"42WmSpB8rSM=","labels":{"cnrm-test":"true","label-one":"value-one","managed-by-cnrm":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/forwardingRules/computeglobalforwardingrule-28i6nma6sbu9b/setLabels?alt=json
        method: POST
      resp[...]
[...]
    - id: 39
      request:
        host: compute.googleapis.com
        body: |
            {"target":"https://www.googleapis.com/compute/v1/projects/example-project/global/targetHttpProxies/computetargethttpproxy-2-28i6nma6sbu9b"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/forwardingRules/computeglobalforwardingrule-28i6nma6sbu9b/setTarget?alt=json
      [...]
[...]
