# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: pubsub.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://pubsub.googleapis.com/v1/projects/example-project/topics/pubsubtopic-2ubz1ejdpwb22?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 130.774556ms
    - id: 1
      request:
        host: run.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://run.googleapis.com/v2/projects/example-project/locations/us-central1/services/runservice-1-2ubz1ejdpwb22?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 319.224666ms
[...]
    - id: 3
      request:
        host: iam.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://iam.googleapis.com/v1/projects/example-project/serviceAccounts/gsa-2ubz1ejdpwb22@example-project.iam.gserviceaccount.com?alt=json&prettyPrint=false
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 359.025807ms
    - id: 4
      request:
        host: run.googleapis.com
        body: |
            {"ingress":"INGRESS_TRAFFIC_ALL","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"launchStage":"GA","template":{"containers":[{"env":[{"name":"FOO","value":"bar]"}],"image":"gcr.io/cloudrun/hello"}],"scaling":{"maxInstanceCount":2}},"traffic":[{"percent":100,"type":"TRAFFIC_TARGET_ALLOCATION_TYPE_LATEST"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://run.googleapis.com/v2/projects/example-project/locations/us-central1/services?alt=json&serviceId=runservice-1-2ubz1ejdpwb22
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/afa679bc-65fe-4c87-94fb-2c04e4e144f9",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.run.v2.Service",
                "name": "projects/example-project/locations/us-central1/services/runservice-1-2ubz1ejdpwb22",
                "uid": "3c056f0e-7f83-40b9-93b1-38cf7e7e2371",
                "generation": "1",
                "labels": {
                  "cnrm-test": "true",
                  "managed-by-cnrm": "true"
                },
                "createTime": "2024-04-11T23:33:53.902818Z",
                "updateTime": "2024-04-11T23:33:53.902818Z",
                "creator": "integration-test@example-project.iam.gserviceaccount.com",
                "lastModifier": "integration-test@example-project.iam.gserviceaccount.com",
                "launchStage": "GA",
                "template": {
                  "scaling": {
                    "maxInstanceCount": 2
                  },
                  "timeout": "300s",
                  "serviceAccount": "916595846568-compute@developer.gserviceaccount.com",
                  "containers": [
                    {
                      "image": "gcr.io/cloudrun/hello",
                      "env": [
                        {
                          "name": "FOO",
                          "value": "bar]"
                        }
                      ],
                      "resources": {
                        "limits": {
                          "memory": "512Mi",
                          "cpu": "1000m"
                        },
                        "cpuIdle": true
                      },
                      "ports": [
                        {
                          "name": "http1",
                          "containerPort": 8080
                        }
                      ],
                      "startupProbe": {
                        "timeoutSeconds": 240,
                        "periodSeconds": 240,
                        "failureThreshold": 1,
                        "tcpSocket": {
                          "port": 8080
                        }
                      }
                    }
                  ],
                  "maxInstanceRequestConcurrency": 80
                },
                "traffic": [
                  {
                    "type": "TRAFFIC_TARGET_ALLOCATION_TYPE_LATEST",
                    "percent": 100
                  }
                ],
                "terminalCondition": {
                  "state": "CONDITION_PENDING"
                },
                "reconciling": true,
                "etag": "\"COHm4bAGENDRv64D/cHJvamVjdHMvY25ybS10ZXN0LXFpMHdiOGNzbTRpYjRnejkvbG9jYXRpb25zL3VzLWNlbnRyYWwxL3NlcnZpY2VzL3J1bnNlcnZpY2UtMS0ydWJ6MWVqZHB3YjIy\""
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 444.155429ms
[...]
    - id: 6
      request:
        host: iam.googleapis.com
        body: |
            {"accountId":"gsa-2ubz1ejdpwb22","serviceAccount":{"displayName":"ExampleGSA"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://iam.googleapis.com/v1/projects/example-project/serviceAccounts?alt=json&prettyPrint=false
        method: POST
      response:
        body: '{"name":"projects/example-project/serviceAccounts/gsa-2ubz1ejdpwb22@example-project.iam.gserviceaccount.com","projectId":"example-project","uniqueId":"115092513527504568401","email":"gsa-2ubz1ejdpwb22@example-project.iam.gserviceaccount.com","displayName":"ExampleGSA","etag":"MDEwMjE5MjA=","oauth2ClientId":"115092513527504568401"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 589.608766ms
    - id: 7
      request:
        host: run.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://run.googleapis.com/v2/projects/example-project/locations/us-central1/operations/335cee52-afe8-4369-8eea-845f817abd4d?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/335cee52-afe8-4369-8eea-845f817abd[...]
[...]
    - id: 13
      request:
        host: cloudresourcemanager.googleapis.com
        body: |
            {"options":{"requestedPolicyVersion":3}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://cloudresourcemanager.googleapis.com/v1/projects/example-project:getIamPolicy?alt=json&prettyPrint=false
        method: POST
      response:
        body: '{"version":1,"etag":"BwYV2pEFkbY=","bindings":[{"role":"roles/appengine.serviceAgent","members":["serviceAccount:service-916595846568@gcp-gae-service.iam.gserviceaccount.com"]},{"role":"roles/artifactregistry.serviceAgent","members":["serviceAccount:service-916595846568@gcp-sa-artifactregistry.iam.gserviceaccount.com"]},{"role":"roles/binaryauthorization.serviceAgent","members":["serviceAccount:service-916595846568@gcp-sa-binaryauthorization.iam.gserviceaccount.com"]},{"role":"roles/cloudbuild.builds.builder","members":["serviceAccount:916595846568@cloudbuild.gserviceaccount.com"]},{"role"[...]
[...]
    - id: 19
      request:
        host: cloudresourcemanager.googleapis.com
        body: |
            {"policy":{"bindings":[{"members":["serviceAccount:service-916595846568@gcp-gae-service.iam.gserviceaccount.com"],"role":"roles/appengine.serviceAgent"},{"members":["serviceAccount:service-916595846568@gcp-sa-artifactregistry.iam.gserviceaccount.com"],"role":"roles/artifactregistry.serviceAgent"},{"members":["serviceAccount:service-916595846568@gcp-sa-binaryauthorization.iam.gserviceaccount.com"],"role":"roles/binaryauthorization.serviceAgent"},{"members":["serviceAccount:916595846568@cloudbuild.gservicea[...]
[...]
    - id: 35
      request:
        host: run.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://run.googleapis.com/v2/projects/example-project/locations/us-central1/services/runservice-1-2ubz1ejdpwb22?alt=json
        method: DELETE
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/337a0641-6ac4-4550-ad12-3534836bdf57",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.run.v2.Service",
                "name": "projects/example-project/locations/us-central1/services/runservice-1-2ubz1ejdpwb22",
                "uid": "3c056f0e-7f83-40b9-93b1-38cf7e7e2371",
                "generation": "2",
                "labels": {
                  "cnrm-test": "true",
                  "managed-by-cnrm": "true"
                },
                "createTime": "2024-04-11T23:33:53.902818Z",
                "updateTime": "2024-04-11T23:35:35.403107Z",
                "deleteTime": "2024-04-11T23:35:35.403107Z",
                "expireTime": "2024-05-11T23:35:35.403107Z",
                "creator": "integration-test@example-project.iam.gserviceaccount.com",
                "lastModifier": "integration-test@example-project.iam.gserviceaccount.com",
                "ingress": "INGRESS_TRAFFIC_ALL",
                "launchStage": "GA",
                "template": {
                  "scaling": {
                    "maxInstanceCount": 2
                  },
                  "timeout": "300s",
                  "serviceAccount": "9165[...]
[...]
