# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: networkservices.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://networkservices.googleapis.com/v1/projects/example-project/locations/global/meshes/networkservicesmesh-2-3elfauhbt8s3t?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 330.791113ms
[...]
    - id: 2
      request:
        host: networkservices.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://networkservices.googleapis.com/v1/projects/example-project/locations/global/gateways/networkservicesgateway-1-3elfauhbt8s3t?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 337.927911ms
[...]
    - id: 12
      request:
        host: networkservices.googleapis.com
        body: '{"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"name":"projects/example-project/locations/global/meshes/networkservicesmesh-1-3elfauhbt8s3t"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://networkservices.googleapis.com/v1/projects/example-project/locations/global/meshes?alt=json&meshId=networkservicesmesh-1-3elfauhbt8s3t
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/global/operations/operation-1712884790195-615dc1175f651-66cdbbd2-e85773ca",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.networkservices.v1.OperationMetadata",
                "createTime": "2024-04-12T01:19:51.865477864Z",
                "target": "projects/example-project/locations/global/meshes/networkservicesmesh-1-3elfauhbt8s3t",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 2.02110825s
[...]
    - id: 14
      request:
        host: networkservices.googleapis.com
        body: '{"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"name":"projects/example-project/locations/global/gateways/networkservicesgateway-2-3elfauhbt8s3t","ports":[80,443],"scope":"s-3elfauhbt8s3t-2","type":"OPEN_MESH"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://networkservices.googleapis.com/v1/projects/example-project/locations/global/gateways?alt=json&gatewayId=networkservicesgateway-2-3elfauhbt8s3t
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/global/operations/operation-1712884790617-615dc117c6557-381aab22-c0623fbb",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.networkservices.v1.OperationMetadata",
                "createTime": "2024-04-12T01:19:52.022221898Z",
                "target": "projects/example-project/locations/global/gateways/networkservicesgateway-2-3elfauhbt8s3t",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.815600579s
[...]
    - id: 16
      request:
        host: networkservices.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://networkservices.googleapis.com/v1/projects/example-project/locations/global/operations/operation-1712884790676-615dc117d4a68-bfbb1a3a-6be2046e?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/global/operations/operation-1712884790676-615dc117d4a68-bfbb1a3a-6be2046e",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.networkservices.v1.OperationMetadata",
                "createTime": "2024-04-12T01:19:51.984941098Z",
                "target": "projects/example-project/locations/global/meshes/networkservicesmesh-2-3elfauhbt8s3t",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 234.933634ms
[...]
    - id: 20
      request:
        host: networkservices.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://networkservices.googleapis.com/v1/projects/example-project/locations/global/operations/operation-1712884790195-615dc1175f651-66cdbbd2-e85773ca?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/global/operations/operation-1712884790195-615dc1175f651-66cdbbd2-e85773ca",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.networkservices.v1.OperationMetadata",
                "createTime": "2024-04-12T01:19:51.865477864Z",
                "endTime": "2024-04-12T01:19:55.340975625Z",
                "target": "projects/example-project/locations/global/meshes/networkservicesmesh-1-3elfauhbt8s3t",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1"
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.cloud.networkservices.v1.Mesh",
                "name": "projects/example-project/locations/global/meshes/networkservicesmesh-1-3elfauhbt8s3t",
                "createTime": "2024-04-12T01:19:51.861354701Z",
                "updateTime": "2024-04-12T01:19:51.861354701Z",
                "labels": {
                  "managed-by-cnrm": "true",
                  "cnrm-test": "true"
                }
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 250.177956ms
[...]
    - id: 23
      request:
        host: networkservices.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://networkservices.googleapis.com/v1/projects/example-project/locations/global/meshes/networkservicesmesh-1-3elfauhbt8s3t?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/global/meshes/networkservicesmesh-1-3elfauhbt8s3t",
              "createTime": "2024-04-12T01:19:51.861354701Z",
              "updateTime": "2024-04-12T01:19:55.366171460Z",
              "labels": {
                "cnrm-test": "true",
                "managed-by-cnrm": "true"
              },
              "selfLink": "https://networkservices.googleapis.com/v1alpha1/projects/example-project/locations/global/meshes/networkservicesmesh-1-3elfauhbt8s3t"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 290.26117ms
[...]
    - id: 44
      request:
        host: networkservices.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://networkservices.googleapis.com/v1/projects/example-project/locations/global/grpcRoutes/networkservicesgrpcroute-3elfauhbt8s3t?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 240.990615ms
[...]
    - id: 47
      request:
        host: networkservices.googleapis.com
        body: '{"description":"A test GrpcRoute","gateways":["https://networkservices.googleapis.com/v1alpha1/projects/example-project/locations/global/gateways/networkservicesgateway-1-3elfauhbt8s3t"],"hostnames":["test1","test2"],"labels":{"cnrm-test":"true","foo":"bar","managed-by-cnrm":"true"},"meshes":["https://networkservices.googleapis.com/v1alpha1/projects/example-project/locations/global/meshes/networkservicesmesh-1-3elfauhbt8s3t"],"name":"projects/example-project/locations/global/grpcRoutes/networkservicesgrpcroute-3elfauhbt8s3t","rules":[{"action":{"destinations":[{"serviceName":"projects/example-project/global/backendServices/computebackendservice-1-3elfauhbt8s3t","weight":50},{"serviceName":"projects/example-project/global/backendServices/computebackendservice-1-3elfauhbt8s3t","weight":50}],"faultInjectionPolicy":{"abort":{"httpStatus":501,"percentage":1},"delay":{"fixedDelay":"10s","percentage":2}},"retryPolicy":{"numRetries":3,"retryConditions":["refused-stream","cancelled"]},"timeout":"30s"},"matches":[{"headers":[{"key":"foo","type":"EXACT","value":"bar"}],"method":{"caseSensitive":false,"grpcMethod":"SayHello","grpcService":"helloworld.Greeter","type":"EXACT"}}]},{"action":{"destinations":[{"serviceName":"projects/example-project/global/backendServices/computebackendservice-1-3elfauhbt8s3t"}]}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://networkservices.googleapis.com/v1/projects/example-project/locations/global/grpcRoutes?alt=json&grpcRouteId=networkservicesgrpcroute-3elfauhbt8s3t
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/global/operations/operation-1712884814614-615dc12ea8fce-a2a0c5fa-d746b656",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.networkservices.v1.OperationMetadata",
                "createTime": "2024-04-12T01:20:14.759273744Z",
                "target": "projects/example-project/locations/global/grpcRoutes/networkservicesgrpcroute-3elfauhbt8s3t",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 338.098841ms
[...]
    - id: 59
      request:
        host: networkservices.googleapis.com
        body: '{"description":"An updated test GrpcRoute","gateways":["https://networkservices.googleapis.com/v1alpha1/projects/example-project/locations/global/gateways/networkservicesgateway-2-3elfauhbt8s3t"],"hostnames":["test1","test2","newhost"],"labels":{"bar":"baz","cnrm-test":"true","foo":"bar","managed-by-cnrm":"true"},"meshes":["https://networkservices.googleapis.com/v1alpha1/projects/example-project/locations/global/meshes/networkservicesmesh-2-3elfauhbt8s3t"],"name":"projects/projects/example-project/locations/global/grpcRoutes/networkservicesgrpcroute-3elfauhbt8s3t","rules":[{"action":{"destinations":[{"serviceName":"projects/example-project/global/backendServices/computebackendservice-2-3elfauhbt8s3t","weight":100}],"faultInjectionPolicy":{"ab[...]
[...]
