# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: cloudfunctions.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://cloudfunctions.googleapis.com/v1/projects/example-project/locations/us-west2/functions/cloudfunctionsfunction-1xnjudyudz13f?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 178.174667ms
[...]
    - id: 3
      request:
        host: cloudfunctions.googleapis.com
        body: '{"entryPoint":"helloGET","httpsTrigger":{"securityLevel":"SECURE_OPTIONAL"},"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"name":"projects/example-project/locations/us-west2/functions/cloudfunctionsfunction-1xnjudyudz13f","runtime":"nodejs10","sourceArchiveUrl":"gs://config-connector-samples/cloudfunctionsfunction/http_trigger.zip"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://cloudfunctions.googleapis.com/v1/projects/example-project/locations/us-west2/functions?alt=json
        method: POST
      response:
        body: |
            {
              "name": "operations/Y25ybS10ZXN0LXFpMHdiOGNzbTRpYjRnejkvdXMtd2VzdDIvY2xvdWRmdW5jdGlvbnNmdW5jdGlvbi0xeG5qdWR5dWR6MTNmL1lBdWRSVjBteXpJ",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.functions.v1.OperationMetadataV1",
                "target": "projects/example-project/locations/us-west2/functions/cloudfunctionsfunction-1xnjudyudz13f",
                "type": "CREATE_FUNCTION",
                "request": {
                  "@type": "type.googleapis.com/google.cloud.functions.v1.CloudFunction",
                  "name": "projects/example-project/locations/us-west2/functions/cloudfunctionsfunction-1xnjudyudz13f",
                  "sourceArchiveUrl": "gs://config-connector-samples/cloudfunctionsfunction/http_trigger.zip",
                  "httpsTrigger": {
                    "securityLevel": "SECURE_OPTIONAL"
                  },
                  "entryPoint": "helloGET",
                  "labels": {
                    "cnrm-test": "true",
                    "managed-by-cnrm": "true"
                  },
                  "runtime": "nodejs10"
                },
                "versionId": "1",
                "updateTime": "2024-04-11T22:59:01Z"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 427.404233ms
    - id: 4
      request:
        host: cloudfunctions.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://cloudfunctions.googleapis.com/v1/operations/Y25ybS10ZXN0LXFpMHdiOGNzbTRpYjRnejkvdXMtd2VzdDIvY2xvdWRmdW5jdGlvbnNmdW5jdGlvbi0xeG5qdWR5dWR6MTNmL1lBdWRSVjBteXpJ?alt=json
        method: GET
      response:
        body: |
            {
              "name": "operations/Y25ybS10ZXN0LXFpMHdiOGNzbTRpYj[...]
[...]
    - id: 8
      request:
        host: cloudfunctions.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://cloudfunctions.googleapis.com/v1/projects/example-project/locations/us-west2/functions/cloudfunctionsfunction-1xnjudyudz13f?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west2/functions/cloudfunctionsfunction-1xnjudyudz13f",
              "sourceArchiveUrl": "gs://config-connector-samples/cloudfunctionsfunction/http_trigger.zip",
              "httpsTrigger": {
                "url": "https://us-west2-example-project.cloudfunctions.net/cloudfunctionsfunction-1xnjudyudz13f",
                "securityLevel": "SECURE_OPTIONAL"
              },
              "status": "ACTIVE",
              "entryPoint": "helloGET",
              "timeout": "60s",
              "availableMemoryMb": 256,
              "serviceAccountEmail": "example-project@appspot.gserviceaccount.com",
              "updateTime": "2024-04-11T23:00:17.992Z",
              "versionId": "1",
              "labels": {
                "cnrm-test": "true",
                "managed-by-cnrm": "true"
              },
              "runtime": "nodejs10",
              "ingressSettings": "ALLOW_ALL",
              "buildId": "0e3ae983-1463-47f4-be65-b5517c3bdc12",
              "buildName": "projects/916595846568/locations/us-west2/builds/0e3ae983-1463-47f4-be65-b5517c3bdc12",
              "dockerRegistry": "ARTIFACT_REGISTRY",
              "automaticUpdatePolicy": {}
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 99.692052ms
[...]
    - id: 17
      request:
        host: cloudfunctions.googleapis.com
        body: '{"availableMemoryMb":256,"ingressSettings":"ALLOW_ALL","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"runtime":"nodejs10","timeout":"120s"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://cloudfunctions.googleapis.com/v1/projects/example-project/locations/us-west2/functions/cloudfunctionsfunction-1xnjudyudz13f?alt=json&updateMask=tim[...]
    - id: 18
      request:
        host: cloudfunctions.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://cloudfunctions.googleapis.com/v1/operations/Y25ybS10ZXN0LXFpMHdiOGNzbTRpYjRnejkvdXMtd2VzdDIvY2xvdWRmdW5jdGlvbnNmdW5jdGlvbi0xeG5qdWR5dWR6MTNmLzUzdlhhZEtIeklv?alt=json
        method: GET
      response:
        body: |
            {
              "name": "operations/Y25ybS10ZXN0LXFpMHdiOGNzbTRpY[...]
[...]
    - id: 26
      request:
        host: cloudfunctions.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://cloudfunctions.googleapis.com/v1/operations/Y25ybS10ZXN0LXFpMHdiOGNzbTRpYjRnejkvdXMtd2VzdDIvY2xvdWRmdW5jdGlvbnNmdW5jdGlvbi0xeG5qdWR5dWR6MTNmLzJMTGhoRUc5Q2JJ?alt=json
        method: GET
      response:
        body: |
            {
              "name": "operations/Y25ybS10ZXN0LXFpMHdiOGNzbTRpYjRnejkvdXMtd2VzdDIvY2xvdWRmdW5jdGlvbnNmdW5jdGlvbi0xeG5qdWR5dWR6MTNmLzJMTGhoRUc5Q2JJ",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.functions.v1.OperationMetadataV1",
                "target": "projects/example-project/locations/us-west2/functions/cloudfunctionsfunction-1xnjudyudz13f",
                "type": "DELETE_FUNCTION",
                "request": {
                  "@type": "type.googleapis.com/google.protobuf.Empty"
                },
                "updateTime": "2024-04-11T23:01:23Z"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 75.355107ms
[...]
    - id: 28
      request:
        host: cloudfunctions.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://cloudfunctions.googleapis.com/v1/operations/Y25ybS10ZXN0LXFpMHdiOGNzbTRpYjRnejkvdXMtd2VzdDIvY2xvdWRmdW5jdGlvbnNmdW5jdGlvbi0xeG5qdWR5dWR6MTNmLzJMTGhoRUc5Q2JJ?alt=json
        method: GET
      response:
        body: |
            {
              "name": "operations/Y25ybS10ZXN0LXFpMHdiOGNzbTRpYjRnejkvdXMtd2VzdDIvY2xvdWRmdW5jdGlvbnNmdW5jdGlvbi0xeG5qdWR5dWR6MTNmLzJMTGhoRUc5Q2JJ",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.functions.v1.OperationMetadataV1",
                "target": "projects/example-project/locations/us-west2/functions/cloudfunctionsfunction-1xnjudyudz13f",
                "type": "DELETE_FUNCTION",
                "request": {
                  "@type": "type.googleapis.com/google.protobuf.Empty"
                },
                "updateTime": "2024-04-11T23:01:27Z"
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.protobuf.Empty"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 68.614511ms
[...]
