# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: storage.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://storage.googleapis.com/storage/v1/b/storagebucket2-xnsehxa3np4w?alt=json&prettyPrint=false
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 75.98777ms
[...]
    - id: 2
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/default?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#network",
              "id": "2351698127569105927",
              "creationTimestamp": "2024-04-11T18:14:16.656-07:00",
              "name": "default",
              "description": "Default network for the project",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/default",
              "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/2351698127569105927",
              "autoCreateSubnetworks": true,
              "subnetworks": [
                "https://www.googleapis.com/compute/beta/projects/example-project/regions/europe-north1/subnetworks/default",
                "https://www.googleapis.com/compute/beta/projects/example-project/regions/me-central2/subnetworks/default",
                "https://www.googleapis.com/compute/beta/projects/example-project/regions/southamerica-west1/subnetworks/default",
                "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-south1/subnetworks/defa[...]
    - id: 3
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/instanceTemplates/computeinstancetemplate-xnsehxa3np4w?alt=json&prettyPrint=false
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 227.099012ms
[...]
    - id: 5
      request:
        host: storage.googleapis.com
        body: |
            {"iamConfiguration":{"uniformBucketLevelAccess":{"enabled":false}},"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"lifecycle":{"rule":[]},"name":"storagebucket1-xnsehxa3np4w","storageClass":"STANDARD"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://storage.googleapis.com/storage/v1/b?alt=json&prettyPrint=false&project=example-project
        method: POST
      response:
        body: '{"kind":"storage#bucket","selfLink":"https://www.googleapis.com/storage/v1/b/storagebucket1-xnsehxa3np4w","id":"storagebucket1-xnsehxa3np4w","name":"storagebucket1-xnsehxa3np4w","projectNumber":"882850097339","metageneration":"1","location":"US","storageClass":"STANDARD","etag":"CAE=","timeCreated":"2024-04-12T01:21:29.468Z","updated":"2024-04-12T01:21:29.468Z","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"softDeletePolicy":{"retentionDurationSeconds":"604800","effectiveTime":"2024-04-12T01:21:29.468Z"},"iamConfiguration":{"bucketPolicyOnly":{"enabled":false},"uniformBucketLevelAccess":{"enabled":false},"publicAccessPrevention":"inherited"},"locationType":"multi-region","rpo":"DEFAULT"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 948.299133ms
[...]
    - id: 7
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/debian-cloud/global/images/debian-11?alt=json&prettyPrint=false
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 142.361984ms
    - id: 8
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/debian-cloud/global/images/family/debian-11?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#image","id":"4767407753173754346","creationTimestamp":"2024-03-12T16:02:29.741-07:00","name":"debian-11-bullseye-v20240312","description":"Debian, Debian GNU/Linux, 11 (bullseye), amd64 built on 20240312","sourceType":"RAW","rawDisk":{"source":"","containerType":"TAR"},"status":"READY","archiveSizeBytes":"1982198016","diskSizeGb":"10","licenses":["https://www.googleapis.com/compute/beta/projects/debian-cloud/global/licenses/debian-11-bullseye"],"family":"debian-11","selfLink":"https://www.googleapis.com/compute/beta/projects/debian-cloud/global/images/debian-11-bullseye-v20240312","labelFingerprint":"42WmSpB8rSM=","guestOsFeatures":[{"type":"UEFI_COMPATIBLE"},{"type":"VIRTIO_SCSI_MULTIQUEUE"},{"type":"GVNIC"},{"type":"SEV_CAPABLE"}],"licenseCodes":["3853522013536123851"],"storageLocations":["us","asia","eu"],"rolloutOverride":{"locationRolloutPolicies":{"zones/africa-south1-a":"2024-03-14T06:02:26Z","zones/africa-south1-b":"2024-03-15T00:02:26Z","zones/africa-south1-c":"2024-03-16T13:02:26Z","zones/asia-east1-a":"2024-03-13T14:02:26Z","zones/asia-east1-b":"2024-03-16T03:02:26Z","zones/asia-east1-c":"2024-03-17T11:02:26Z","zones/asia-east2-a":"2024-03-13T07:02:26Z","zones/asia-east2-b":"2024-03-16T04:02:26Z","zones/asia-east2-c":"2024-03-17T12:02:26Z","zones/asia-northeast1-a":"2024-03-13T00:02:26Z","zones/asia-northeast1-b":"2024-03-15T13:02:2[...]
[...]
    - id: 13
      request:
        host: compute.googleapis.com
        body: |
            {"name":"computeinstancetemplate-xnsehxa3np4w","properties":{"disks":[{"autoDelete":true,"boot":true,"initializeParams":{"diskType":"pd-standard","sourceImage":"projects/debian-cloud/global/images/family/debian-11"},"interface":"SCSI","mode":"READ_WRITE","type":"PERSISTENT"}],"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"machineType":"n1-standard-1","metadata":{},"networkInterfaces":[{"network":"projects/example-project/global/networks/default"}],"scheduling":{"onHostMaintenance":"MIGRATE"},"tags":{}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/instanceTemplates?alt=json&prettyPrint=false
        method: POST
      response:
        body: '{"kind":"compute#operation","id":"5388111053743010421","name":"operation-1712884890310-615dc176d97b4-df8c9d79-8df2dc0f","operationType":"compute.instanceTemplates.insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/instanceTemplates/computeinstancetemplate-xnsehxa3np4w","targetId":"897995459018437237","status":"RUNNING","user":"integration-test@example-project.iam.gserviceaccount.com","progress":0,"insertTime":"2024-04-11T18:21:30.654-07:00","startTime":"2024-04-11T18:21:30.662-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712884890310-615dc176d97b4-df8c9d79-8df2dc0f"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 801.051039ms
[...]
    - id: 16
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712884890310-615dc176d97b4-df8c9d79-8df2dc0f?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#operation","id":"5388111053743010421","name":"operation-1712884890310-615dc176d97b4-df8c9d79-8df2dc0f","operationType":"compute.instanceTemplates.insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/instanceTemplates/computeinstancetemplate-xnsehxa3np4w","targetId":"897995459018437237","status":"DONE","user":"integration-test@example-project.iam.gserviceaccount.com","progress":100,"insertTime":"2024-04-11T18:21:30.654-07:00","startTime":"2024-04-11T18:21:30.662-07:00","endTime":"2024-04-11T18:21:31.151-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712884890310-615dc176d97b4-df8c9d79-8df2dc0f"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 234.395841ms
    - id: 17
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/instanceTemplates/897995459018437237?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#instanceTemplate","id":"897995459018437237","creationTimestamp":"2024-04-11T18:21:30.660-07:00","name":"computeinstancetemplate-xnsehxa3np4w","description":"","properties":{"tags":{},"machineType":"n1-standard-1","networkInterfaces":[{"kind":"compute#networkInterface","network":"https://www.googleapis.com/compute/beta/projects/example-project/global/networks/default","name":"nic0"}],"disks":[{"kind":"compute#attachedDisk","type":"PERSISTENT","mode":"READ_WRITE","deviceName":"persistent-disk-0","index":0,"boot":true,"initializeParams":{"sourceImage":"projects/debian-cloud/global/images/family/debian-11","diskType":"pd-standard"},"autoDelete":true,"interface":"SCSI"}],"metadata":{"kind":"compute#metadata","fingerprint":"hkDuKF3Nxz0="},"scheduling":{"onHostMaintenance":"MIGRATE","automaticRestart":true,"preemptible":false,"provisioningModel":"STANDARD"},"labels":{"cnrm-test":"true","managed-by-cnrm":"true"}},"selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/instanceTemplates/computeinstancetemplate-xnsehxa3np4w"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 171.703098ms
    - id: 18
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a/instances/computeinstance2-xnsehxa3np4w?alt=json&prettyPrint=false
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 135.451588ms
[...]
    - id: 21
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#zone","id":"2000","creationTimestamp":"1969-12-31T16:00:00.000-08:00","name":"us-central1-a","description":"us-central1-a","status":"UP","region":"https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a","availableCpuPlatforms":["Ampere Altra","Intel Broadwell","Intel Cascade Lake","AMD Genoa","Intel Haswell","Intel Ice Lake","Intel Ivy Bridge","AMD Milan","AMD Rome","Intel Sandy Bridge","Intel Sapphire Rapids","Intel Skylake"],"supportsPzs":false}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 162.126365ms
[...]
    - id: 27
      request:
        host: compute.googleapis.com
        body: |
            {"disks":[{"autoDelete":true,"boot":true,"deviceName":"persistent-disk-0","initializeParams":{"diskType":"zones/us-central1-a/diskTypes/pd-standard","sourceImage":"projects/debian-cloud/global/images/family/debian-11"},"interface":"SCSI","kind":"compute#attachedDisk","mode":"READ_WRITE","type":"PERSISTENT"}],"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"metadata":{},"name":"computeinstance1-xnsehxa3np4w","params":{},"scheduling":{"automaticRestart":true,"onHostMaintenance":"MIGRATE","provisioningModel":"STANDARD"},"tags":{},"zone":""}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a/instances?alt=json&prettyPrint=false&sourceInstanceTemplate=projects%2Fexample-project%2Fglobal%2FinstanceTemplates%2Fcomputeinstancetemplate-xnsehxa3np4w
        method: POST
      response:
        body: '{"kind":"compute#operation","id":"8680231107061690958","name":"operation-1712884893931-615dc17a4d97a-f5e99a5b-b3b03e53","zone":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a/instances/computeinstance1-xnsehxa3np4w","targetId":"245549489638945393","status":"PENDING","user":"integration-test@example-project.iam.gserviceaccount.com","progress":0,"insertTime":"2024-04-11T18:21:37.690-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a/operations/operation-1712884893931-615dc17a4d97a-f5e99a5b-b3b03e53"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 3.973719997s
[...]
    - id: 29
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a/operations/operation-1712884893931-615dc17a4d97a-f5e99a5b-b3b03e53?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#operation","id":"8680231107061690958","name":"operation-1712884893931-615dc17a4d97a-f5e99a5b-b3b03e53","zone":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a/instances/computeinstance1-xnsehxa3np4w","targetId":"245549489638945393","status":"RUNNING","user":"integration-test@example-project.iam.gserviceaccount.com","progress":0,"insertTime":"2024-04-11T18:21:37.690-07:00","startTime":"2024-04-11T18:21:38.049-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a/operations/operation-1712884893931-615dc17a4d97a-f5e99a5b-b3b03e53"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 145.982589ms
[...]
    - id: 32
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a/instances/computeinstance1-xnsehxa3np4w?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#instance","id":"245549489638945393","creationTimestamp":"2024-04-11T18:21:37.593-07:00","name":"computeinstance1-xnsehxa3np4w","tags":{"fingerprint":"42WmSpB8rSM="},"machineType":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a/machineTypes/n1-standard-1","status":"RUNNING","zone":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a","networkInterfaces":[{"kind":"compute#networkInterface","network":"https://www.googleapis.com/compute/beta/projects/example-project/global/networks/default","subnetwork":"https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1/subnetworks/default","networkIP":"10.128.0.2","name":"nic0","fingerprint":"gM8z8u3HxA8=","stackType":"IPV4_ONLY"}],"disks":[{"kind":"compute#attachedDisk","type":"PERSISTENT","mode":"READ_WRITE","source":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a/disks/computeinstance1-xnsehxa3np4w","deviceName":"persistent-disk-0","index":0,"boot":true,"autoDelete":true,"licenses":["https://www.googleapis.com/compute/beta/projects/debian-cloud/global/licenses/debian-11-bullseye"],"interface":"SCSI","guestOsFeatures":[{"type":"UEFI_COMPATIBLE"},{"type":"VIRTIO_SCSI_MULTIQUEUE"},{"type":"GVNIC"},{"type":"SEV_CAPABLE"}],"diskSizeGb":"10","architecture":"X86_64"}],"metadata":{"kind":"compute#metadata","fingerprint":"hkDuKF3Nxz0="},"selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a/instances/computeinstance1-xnsehxa3np4w","scheduling":{"onHostMaintenance":"MIGRATE","automaticRestart":true,"preemptible":false,"provisioningModel":"STANDARD"},"cpuPlatform":"Intel Haswell","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"labelFingerprint":"npwiPjasDms=","startRestricted":false,"deletionProtection":false,"shieldedVmConfig":{"enableSecureBoot":false,"enableVtpm":true,"enableIntegrityMonitoring":true},"shieldedVmIntegrityPolicy":{"updateAutoLearnPolicy":true},"shieldedInstanceConfig":{"enableSecureBoot":false,"enableVtpm":true,"enableIntegrityMonitoring":true},"shieldedInstanceIntegrityPolicy":{"updateAutoLearnPolicy":true},"fingerprint":"k8lGHZ1AEDg=","lastStartTimestamp":"2024-04-11T18:22:55.301-07:00","satisfiesPzi":false,"resourceStatus":{"scheduling":{}}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 340.834448ms
    - id: 33
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a/disks/computeinstance1-xnsehxa3np4w?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#disk","id":"937764429522874993","creationTimestamp":"2024-04-11T18:21:37.602-07:00","name":"computeinstance1-xnsehxa3np4w","sizeGb":"10","zone":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a","status":"READY","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a/disks/computeinstance1-xnsehxa3np4w","sourceImage":"https://www.googleapis.com/compute/beta/projects/debian-cloud/global/images/debian-11-bullseye-v20240312","sourceImageId":"4767407753173754346","type":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a/diskTypes/pd-standard","licenses":["https://www.googleapis.com/compute/beta/projects/debian-cloud/global/licenses/debian-11-bullseye"],"guestOsFeatures":[{"type":"UEFI_COMPATIBLE"},{"type":"VIRTIO_SCSI_MULTIQUEUE"},{"type":"GVNIC"},{"type":"SEV_CAPABLE"}],"lastAttachTimestamp":"2024-04-11T18:21:37.602-07:00","users":["https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a/instances/computeinstance1-xnsehxa3np4w"],"labelFingerprint":"42WmSpB8rSM=","licenseCodes":["3853522013536123851"],"physicalBlockSizeBytes":"4096","multiWriter":false,"satisfiesPzi":false,"architecture":"X86_64","locked":false}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 156.598347ms
[...]
    - id: 44
      request:
        host: storage.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://storage.googleapis.com/storage/v1/b/storagebucket2-xnsehxa3np4w/o?alt=json&prettyPrint=false&versions=true
        method: GET
      response:
        body: '{"kind":"storage#objects"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 26.249155ms
[...]
