# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: servicedirectory.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://servicedirectory.googleapis.com/v1beta1/projects/example-project/locations/us-central1/namespaces/servicedirectory-namespace-39nczegclghzv?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 313.304776ms
    - id: 1
      request:
        host: servicedirectory.googleapis.com
        body: |
            {"labels":{"cnrm-test":"true","label-one":"value-one","managed-by-cnrm":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://servicedirectory.googleapis.com/v1beta1/projects/example-project/locations/us-central1/namespaces?alt=json&namespaceId=servicedirectory-namespace-39nczegclghzv
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/namespaces/servicedirectory-namespace-39nczegclghzv",
              "labels": {
                "label-one": "value-one",
                "cnrm-test": "true",
                "managed-by-cnrm": "true"
              },
              "createTime": "2024-04-12T01:31:08.642218Z",
              "updateTime": "2024-04-12T01:31:08.642218Z",
              "uid": "0b9179e61c2a4a6c95cf7190ba57a302"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 122.311839ms
[...]
