# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: sqladmin.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp?alt=json&prettyPrint=false
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 164.639199ms
    - id: 1
      request:
        host: sqladmin.googleapis.com
        body: |
            {"databaseVersion":"MYSQL_5_7","name":"sqluser-dep-3vxr1tn21m3yp","region":"us-central1","settings":{"activationPolicy":"ALWAYS","availabilityType":"ZONAL","dataDiskType":"PD_SSD","pricingPlan":"PER_USE","storageAutoResize":true,"tier":"db-n1-standard-1","userLabels":{"cnrm-test":"true","managed-by-cnrm":"true"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances?alt=json&prettyPrint=false
        method: POST
      response:
        body: '{"kind":"sql#operation","targetLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp","status":"PENDING","user":"integration-test@example-project.iam.gserviceaccount.com","insertTime":"2024-04-12T01:38:47.372Z","operationType":"CREATE","name":"e60a4d74-3b66-474e-81cc-3e6d00000032","targetId":"sqluser-dep-3vxr1tn21m3yp","selfLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/operations/e60a4d74-3b66-474e-81cc-3e6d00000032","targetProject":"example-project"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.397030356s
    - id: 2
      request:
        host: sqladmin.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/operations/e60a4d74-3b66-474e-81cc-3e6d00000032?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"sql#operation","targetLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp","status":"RUNNING","user":"integration-test@example-project.iam.gserviceaccount.com","insertTime":"2024-04-12T01:38:47.372Z","startTime":"2024-04-12T01:38:47.503Z","operationType":"CREATE","name":"e60a4d74-3b66-474e-81cc-3e6d00000032","targetId":"sqluser-dep-3vxr1tn21m3yp","selfLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/operations/e60a4d74-3b66-474e-81cc-3e6d00000032","targetProject":"example-project"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 180.644492ms
    - id: 3
      request:
        host: sqladmin.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/operations/e60a4d74-3b66-474e-81cc-3e6d00000032?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"sql#operation","targetLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp","status":"DONE","user":"integration-test@example-project.iam.gserviceaccount.com","insertTime":"2024-04-12T01:38:47.372Z","startTime":"2024-04-12T01:38:47.503Z","endTime":"2024-04-12T01:42:29.149Z","operationType":"CREATE","name":"e60a4d74-3b66-474e-81cc-3e6d00000032","targetId":"sqluser-dep-3vxr1tn21m3yp","selfLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/operations/e60a4d74-3b66-474e-81cc-3e6d00000032","targetProject":"example-project"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 179.855816ms
    - id: 4
      request:
        host: sqladmin.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp/users?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"sql#usersList","items":[{"kind":"sql#user","etag":"f5d5a9e95fd8cfa0e00d0534961f7d369944dd058d96352b83f3d46ea226d7c1","name":"root","host":"%","instance":"sqluser-dep-3vxr1tn21m3yp","project":"example-project","passwordPolicy":{"status":{}}}]}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 216.688399ms
    - id: 5
      request:
        host: sqladmin.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp/users?alt=json&host=%25&name=root&prettyPrint=false
        method: DELETE
      response:
        body: '{"kind":"sql#operation","targetLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp","status":"DONE","user":"integration-test@example-project.iam.gserviceaccount.com","insertTime":"2024-04-12T01:42:37.206Z","startTime":"2024-04-12T01:42:37.213Z","endTime":"2024-04-12T01:42:37.330Z","operationType":"DELETE_USER","name":"5f60a96c-8f4b-44fd-9ca8-f7d000000032","targetId":"sqluser-dep-3vxr1tn21m3yp","selfLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/operations/5f60a96c-8f4b-44fd-9ca8-f7d000000032","targetProject":"example-project"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 339.928381ms
    - id: 6
      request:
        host: sqladmin.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"sql#instance","state":"RUNNABLE","databaseVersion":"MYSQL_5_7","settings":{"authorizedGaeApplications":[],"tier":"db-n1-standard-1","kind":"sql#settings","userLabels":{"cnrm-test":"true","managed-by-cnrm":"true"},"availabilityType":"ZONAL","pricingPlan":"PER_USE","replicationType":"SYNCHRONOUS","activationPolicy":"ALWAYS","ipConfiguration":{"authorizedNetworks":[],"sslMode":"ALLOW_UNENCRYPTED_AND_ENCRYPTED","ipv4Enabled":true,"requireSsl":false},"locationPreference":{"zone":"us-central1-a","kind":"sql#locationPreference"},"dataDiskType":"PD_SSD","backupConfiguration":{"startTime":"22:00","kind":"sql#backupConfiguration","backupRetentionSettings":{"retentionUnit":"COUNT","retainedBackups":7},"enabled":false,"transactionLogRetentionDays":7,"transactionalLogStorageState":"TRANSACTIONAL_LOG_STORAGE_STATE_UNSPECIFIED"},"connectorEnforcement":"NOT_REQUIRED","settingsVersion":"1","storageAutoResizeLimit":"0","storageAutoResize":true,"dataDiskSizeGb":"10","deletionProtectionEnabled":false},"etag":"83e48c6a9658008dd382076e7db1a26679a148a3d65d22e6c834f8d23d0b2d77","ipAddresses":[{"type":"PRIMARY","ipAddress":"34.171.106.251"}],"serverCaCert":{"kind":"sql#sslCert","certSerialNumber":"0","cert":"-----BEGIN CERTIFICATE-----\nMIIDfzCCAmegAwIBAgIBADANBgkqhkiG9w0BAQsFADB3MS0wKwYDVQQuEyQxZDkz\nY2I2Yy0wYmU5LTQ5M2MtOThmNy1lZDczNzA3MmNmMzExIzAhBgNVBAMTGkdvb2ds\nZSBDbG91ZCBTUUwgU2VydmVyIENBMRQwEgYDVQQKEwtHb29nbGUsIEluYzELMAkG\nA1UEBhMCVVMwHhcNMjQwNDEyMDEzOTQxWhcNMzQwNDEwMDE0MDQxWjB3MS0wKwYD\nVQQuEyQxZDkzY2I2Yy0wYmU5LTQ5M2MtOThmNy1lZDczNzA3MmNmMzExIzAhBgNV\nBAMTGkdvb2dsZSBDbG91ZCBTUUwgU2VydmVyIENBMRQwEgYDVQQKEwtHb29nbGUs\nIEluYzELMAkGA1UEBhMCVVMwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIB\nAQCVDWd8xpySxcrx+4NiwKIqGMQmTHMhMd4O5ttJUraAEWEr8Oh7H9oeb5s6KuSp\nMayFqi0lBwfmoaXRy0SprQB8TfuOu+Jgf5Z57WA/zCkMOg03M0dcmaDZm45puqMB\nycOGSNUwG0qHURnHkPjcV8zu+DDtkV0EjYASanp26L5VJ2xEVhxDqSHfkedNrIf+\ngONsSKghM7rVFODpJBvBScFfSZiYUH3W62iiRmvW60JiC7nOMZR2WqkGaJDc2wXC\nkwUGHgWqnzGCh3raTqkq2tuEZ5DxAK7bWC8yD9OPglcaTGxD0vNAj/zUnYh1eSlg\nMJ718O1RlGDzvf9LJ66n9AEdAgMBAAGjFjAUMBIGA1UdEwEB/wQIMAYBAf8CAQAw\nDQYJKoZIhvcNAQELBQADggEBADZRqEwnLcCsMyYd8Ge3nUTh1i9+RvoXkcsPUMXH\nU4O2JjJWpAOHzIX1LMiY2G1S00DwwiAv6Yd8659SgU4GysOzI/0CKvQ793n8jKUi\n0waTqRaomn8AimgvMPMVVEUcvCIWntImJgPJ7CW2oqn6QBrqcHs7rE62I/q1x50D\nLvrnVWbywDqanYDjuKe5ZrAddRCzu7AZ9q+Ltuo6KXHOTq9bzs1Crop/EfhUX/nr\nzBuwRyrpCjegTpz/T4Od2VU3OxSN6nixErtSVF0d9O5E/SpEQaZjzmMHf9a2fNaW\nugwBwouopdIsc6rmhR47fneQmu16fETHuKnb4I+rRoNvW/Y=\n-----END CERTIFICATE-----","commonName":"C=US,O=Google\\, Inc,CN=Google Cloud SQL Server CA,dnQualifier=1d93cb6c-0be9-493c-98f7-ed737072cf31","sha1Fingerprint":"5c8f789ec5ea6798ee4641b4da55d0d7856e94f5","instance":"sqluser-dep-3vxr1tn21m3yp","createTime":"2024-04-12T01:39:41.953Z","expirationTime":"2034-04-10T01:40:41.953Z"},"instanceType":"CLOUD_SQL_INSTANCE","project":"example-project","serviceAccountEmailAddress":"p882850097339-ztugvm@gcp-sa-cloud-sql.iam.gserviceaccount.com","backendType":"SECOND_GEN","selfLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp","connectionName":"example-project:us-central1:sqluser-dep-3vxr1tn21m3yp","name":"sqluser-dep-3vxr1tn21m3yp","region":"us-central1","gceZone":"us-central1-a","databaseInstalledVersion":"MYSQL_5_7_44","maintenanceVersion":"MYSQL_5_7_44.R20240207.00_10","geminiConfig":{"entitled":false,"indexAdvisorEnabled":false,"flagRecommenderEnabled":false},"createTime":"2024-04-12T01:38:46.525Z","sqlNetworkArchitecture":"NEW_NETWORK_ARCHITECTURE"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 185.67446ms
[...]
    - id: 11
      request:
        host: sqladmin.googleapis.com
        body: |
            {"host":"foo","instance":"sqluser-dep-3vxr1tn21m3yp","name":"sqluser-3vxr1tn21m3yp","password":"password"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp/users?alt=json&prettyPrint=false
        method: POST
      response:
        body: '{"kind":"sql#operation","targetLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/instances/sqluser-dep-3vxr1tn21m3yp","status":"DONE","user":"integration-test@example-project.iam.gserviceaccount.com","insertTime":"2024-04-12T01:42:39.554Z","startTime":"2024-04-12T01:42:39.563Z","endTime":"2024-04-12T01:42:39.730Z","operationType":"CREATE_USER","name":"f2a58c3e-533b-4d58-9bba-af3c00000032","targetId":"sqluser-dep-3vxr1tn21m3yp","selfLink":"https://sqladmin.googleapis.com/sql/v1beta4/projects/example-project/operations/f2a58c3e-533b-4d58-9bba-af3c00000032","targetProject":"example-project"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 384.516337ms
[...]
