# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: pubsub.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://pubsub.googleapis.com/v1/projects/example-project/topics/pubsubtopic-3a92e2gc7nt5n?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 141.059428ms
    - id: 1
      request:
        host: iam.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://iam.googleapis.com/v1/projects/example-project/serviceAccounts/gsa-3a92e2gc7nt5n@example-project.iam.gserviceaccount.com?alt=json&prettyPrint=false
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 405.928481ms
    - id: 2
      request:
        host: iam.googleapis.com
        body: |
            {"accountId":"gsa-3a92e2gc7nt5n","serviceAccount":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://iam.googleapis.com/v1/projects/example-project/serviceAccounts?alt=json&prettyPrint=false
        method: POST
      response:
        body: '{"name":"projects/example-project/serviceAccounts/gsa-3a92e2gc7nt5n@example-project.iam.gserviceaccount.com","projectId":"example-project","uniqueId":"104958789709031621923","email":"gsa-3a92e2gc7nt5n@example-project.iam.gserviceaccount.com","etag":"MDEwMjE5MjA=","oauth2ClientId":"104958789709031621923"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 710.374436ms
[...]
    - id: 7
      request:
        host: pubsub.googleapis.com
        body: |
            {"labels":{"cnrm-test":"true","managed-by-cnrm":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://pubsub.googleapis.com/v1/projects/example-project/topics/pubsubtopic-3a92e2gc7nt5n?alt=json
        method: PUT
      response:
        body: |
            {
              "name": "projects/example-project/topics/pubsubtopic-3a92e2gc7nt5n",
              "labels": {
                "managed-by-cnrm": "true",
                "cnrm-test": "true"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 3.671691868s
[...]
    - id: 11
      request:
        host: sourcerepo.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://sourcerepo.googleapis.com/v1/projects/example-project/repos/sourcereporepository-3a92e2gc7nt5n?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 384.213143ms
    - id: 12
      request:
        host: sourcerepo.googleapis.com
        body: |
            {"name":"projects/example-project/repos/sourcereporepository-3a92e2gc7nt5n","pubsubConfigs":{"projects/example-project/topics/pubsubtopic-3a92e2gc7nt5n":{"messageFormat":"PROTOBUF","serviceAccountEmail":"gsa-3a92e2gc7nt5n@example-project.iam.gserviceaccount.com"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://sourcerepo.googleapis.com/v1/projects/example-project/repos?alt=json
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/repos/sourcereporepository-3a92e2gc7nt5n",
              "url": "https://source.developers.google.com/p/example-project/r/sourcereporepository-3a92e2gc7nt5n"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 2.279626752s
    - id: 13
      request:
        host: sourcerepo.googleapis.com
        body: |
            {"repo":{"pubsubConfigs":{"projects/example-project/topics/pubsubtopic-3a92e2gc7nt5n":{"messageFormat":"PROTOBUF","serviceAccountEmail":"gsa-3a92e2gc7nt5n@example-project.iam.gserviceaccount.com","topic":"projects/example-project/topics/pubsubtopic-3a92e2gc7nt5n"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://sourcerepo.googleapis.com/v1/projects/example-project/repos/sourcereporepository-3a92e2gc7nt5n?alt=json&updateMask=pubsubConfigs
        method: PATCH
      response:
        body: |
            {
              "name": "projects/example-project/repos/sourcereporepository-3a92e2gc7nt5n",
              "url": "https://source.developers.google.com/p/example-project/r/sourcereporepository-3a92e2gc7nt5n",
              "pubsubConfigs": {
                "projects/example-project/topics/pubsubtopic-3a92e2gc7nt5n": {
                  "topic": "projects/example-project/topics/pubsubtopic-3a92e2gc7nt5n",
                  "messageFormat": "PROTOBUF",
                  "serviceAccountEmail": "gsa-3a92e2gc7nt5n@example-project.iam.gserviceaccount.com"
                }
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 2.13772554s
[...]
