# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: run.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://run.googleapis.com/v2/projects/example-project/locations/us-central1/services/runservice-1w5ax8rh1otic?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 361.749672ms
    - id: 1
      request:
        host: run.googleapis.com
        body: |
            {"ingress":"INGRESS_TRAFFIC_ALL","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"launchStage":"GA","template":{"containers":[{"env":[{"name":"FOO","value":"bar]"}],"image":"gcr.io/cloudrun/hello"}],"scaling":{"maxInstanceCount":2}},"traffic":[{"percent":100,"type":"TRAFFIC_TARGET_ALLOCATION_TYPE_LATEST"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://run.googleapis.com/v2/projects/example-project/locations/us-central1/services?alt=json&serviceId=runservice-1w5ax8rh1otic
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/ca1739de-7660-4a29-ae37-7b0c9a331203",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.run.v2.Service",
                "name": "projects/example-project/locations/us-central1/services/runservice-1w5ax8rh1otic",
                "uid": "1f195bfa-e128-4211-872a-cab9ed7b9c07",
                "generation": "1",
                "labels": {
                  "cnrm-test": "true",
                  "managed-by-cnrm": "true"
                },
                "createTime": "2024-04-12T01:28:25.431863Z",
                "updateTime": "2024-04-12T01:28:25.431863Z",
                "creator": "integration-test@example-project.iam.gserviceaccount.com",
                "lastModifier": "integration-test@example-project.iam.gserviceaccount.com",
                "launchStage": "GA",
                "template": {
                  "scaling": {
                    "maxInstanceCount": 2
                  },
                  "timeout": "300s",
                  "serviceAccount": "882850097339-compute@developer.gserviceaccount.com",
                  "containers": [
                    {
                      "image": "gcr.io/cloudrun/hello",
                      "env": [
                        {
                          "name": "FOO",
                          "value": "bar]"
                        }
                      ],
                      "resources": {
                        "limits": {
                          "memory": "512Mi",
                          "cpu": "1000m"
                        },
                        "cpuIdle": true
                      },
                      "ports": [
                        {
                          "name": "http1",
                          "containerPort": 8080
                        }
                      ],
                      "startupProbe": {
                        "timeoutSeconds": 240,
                        "periodSeconds": 240,
                        "failureThreshold": 1,
                        "tcpSocket": {
                          "port": 8080
                        }
                      }
                    }
                  ],
                  "maxInstanceRequestConcurrency": 80
                },
                "traffic": [
                  {
                    "type": "TRAFFIC_TARGET_ALLOCATION_TYPE_LATEST",
                    "percent": 100
                  }
                ],
                "terminalCondition": {
                  "state": "CONDITION_PENDING"
                },
                "reconciling": true,
                "etag": "\"CLmc4rAGENjp9s0B/cHJvamVjdHMvY25ybS10ZXN0LW1ya2o1cWlka3V6ZjFiajIvbG9jYXRpb25zL3VzLWNlbnRyYWwxL3NlcnZpY2VzL3J1bnNlcnZpY2UtMXc1YXg4cmgxb3RpYw\""
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 734.300524ms
    - id: 2
      request:
        host: run.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://run.googleapis.com/v2/projects/example-project/locations/us-central1/operations/ca1739de-7660-4a29-ae37-7b0c9a331203?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/ca1739de-7660-4a29-ae37-7b0c9a3312[...]
[...]
    - id: 7
      request:
        host: run.googleapis.com
        body: |
            {"ingress":"INGRESS_TRAFFIC_ALL","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"launchStage":"GA","template":{"containers":[{"env":[{"name":"FOO","value":"[barbar"}],"image":"gcr.io/cloudrun/hello","ports":[{"containerPort":8080,"name":"http1"}],"resources":{"cpuIdle":true,"limits":{"cpu":"1000m","memory":"512Mi"}},"startupProbe":{"failureThreshold":1,"grpc":null,"httpGet":null,"periodSeconds":240,"tcpSocket":{"port":8080},"timeoutSeconds":240}}],"maxInstanceRequestConcurrency":80,"scaling":{"maxInstanceCount":3},"serviceAccount":"882850097339-compute@developer.gserviceaccount.com","timeout":"300s"},"traffic":[{"percent":100,"type":"TRAFFIC_TARGET_ALLOCATION_TYPE_LATEST"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://run.googleapis.com/v2/projects/example-project/locations/us-central1/services[...]
[...]
    - id: 13
      request:
        host: run.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://run.googleapis.com/v2/projects/example-project/locations/us-central1/services/runservice-1w5ax8rh1otic?alt=json
        method: DELETE
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/643d9abc-e8f4-4314-baa0-96dd9896ed06",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.run.v2.Service",
                "name": "projects/example-project/locations/us-central1/services/runservice-1w5ax8rh1otic",
                "uid": "1f195bfa-e128-4211-872a-cab9ed7b9c07",
                "generation": "3",
                "labels": {
                  "cnrm-test": "true",
                  "managed-by-cnrm": "true"
                },
                "createTime": "2024-04-12T01:28:25.431863Z",
                "updateTime": "2024-04-12T01:29:53.987194Z",
                "deleteTime": "2024-04-12T01:29:53.987194Z",
                "expireTime": "2024-05-12T01:29:53.987194Z",
                "creator": "integration-test@example-project.iam.gserviceaccount.com",
                "lastModifier": "integration-test@example-project.iam.gserviceaccount.com",
                "ingress": "INGRESS_TRAFFIC_ALL",
                "launchStage": "GA",
                "template": {
                  "scaling": {
                    "maxInstanceCount": 3
                  },
                  "timeout": "300s",
                  "serviceAccount": "8828[...]
[...]
