# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: redis.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://redis.googleapis.com/v1beta1/projects/example-project/locations/us-central1/instances/redisinstances-24br44i91tfzi?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 279.443731ms
    - id: 1
      request:
        host: redis.googleapis.com
        body: |
            {"connectMode":"DIRECT_PEERING","displayName":"Sample Redis Instance","labels":{"cnrm-test":"true","label-one":"value-one","managed-by-cnrm":"true"},"memorySizeGb":16,"name":"projects/example-project/locations/us-central1/instances/redisinstances-24br44i91tfzi","tier":"BASIC","transitEncryptionMode":"DISABLED"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://redis.googleapis.com/v1beta1/projects/example-project/locations/us-central1/instances?alt=json&instanceId=redisinstances-24br44i91tfzi
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/operation-1712954502094-615ec4c9d1e61-85fa6e27-1c9a5a51",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.common.OperationMetadata",
                "createTime": "2024-04-12T20:41:43.788252560Z",
                "target": "projects/example-project/locations/us-central1/instances/redisinstances-24br44i91tfzi",
                "verb": "create",
                "cancelRequested": false,
                "apiVersion": "v1beta1"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.9899282s
    - id: 2
      request:
        host: redis.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://redis.googleapis.com/v1beta1/projects/example-project/locations/us-central1/operations/operation-1712954502094-615ec4c9d1e61-85fa6e27-1c9a5a51?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/operation-1712954502094-615ec4c9d1e61-85fa6e27-1c9a5a51",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.common.OperationMetadata",
                "createTime": "2024-04-12T20:41:43.788252560Z",
                "target": "projects/example-project/locations/us-central1/instances/redisinstances-24br44i91tfzi",
                "verb": "create",
                "cancelRequested": false,
                "apiVersion": "v1beta1"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 88.262827ms
    - id: 3
      request:
        host: redis.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://redis.googleapis.com/v1beta1/projects/example-project/locations/us-central1/operations/operation-1712954502094-615ec4c9d1e61-85fa6e27-1c9a5a51?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/operation-1712954502094-615ec4c9d1e61-85fa6e27-1c9a5a51",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.common.OperationMetadata",
                "createTime": "2024-04-12T20:41:43.788252560Z",
                "endTime": "2024-04-12T20:46:40.567885502Z",
                "target": "projects/example-project/locations/us-central1/instances/redisinstances-24br44i91tfzi",
                "verb": "create",
                "cancelRequested": false,
                "apiVersion": "v1beta1"
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.cloud.redis.v1beta1.Instance",
                "name": "projects/example-project/locations/us-central1/instances/redisinstances-24br44i91tfzi",
                "displayName": "Sample Redis Instance",
                "labels": {
                  "label-one": "value-one",
                  "managed-by-cnrm": "true",
                  "cnrm-test": "true"
                },
                "locationId": "us-central1-a",
                "redisVersion": "REDIS_7_0",
                "reservedIpRange": "10.216.45.160/29",
                "host": "10.216.45.163",
                "port": 6379,
                "currentLocationId": "us-central1-a",
                "createTime": "2024-04-12T20:41:43.783710813Z",
                "state": "READY",
                "tier": "BASIC",
                "memorySizeGb": 16,
                "authorizedNetwork": "projects/example-project/global/networks/default",
                "persistenceIamIdentity": "serviceAccount:service-664094794612@cloud-redis.iam.gserviceaccount.com",
                "connectMode": "DIRECT_PEERING",
                "transitEncryptionMode": "DISABLED",
                "nodes": [
                  {
                    "id": "node-0",
                    "zone": "us-central1-a"
                  }
                ],
                "readReplicasMode": "READ_REPLICAS_DISABLED",
                "persistenceConfig": {
                  "persistenceMode": "DISABLED"
                },
                "maintenanceVersion": "20230821_00_00",
                "availableMaintenanceVersions": [
                  "20231114_00_00",
                  "20240220_00_00",
                  "20240328_00_00"
                ]
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 68.815406ms
[...]
    - id: 7
      request:
        host: redis.googleapis.com
        body: |
            {"displayName":"newDisplayName","labels":{"cnrm-test":"true","label-one":"value-one","managed-by-cnrm":"true","newkey":"newval"},"memorySizeGb":20,"persistenceConfig":{"persistenceMode":"DISABLED"},"readReplicasMode":"READ_REPLICAS_DISABLED"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://redis.googleapis.com/v1beta1/projects/example-project/locations/us-central1/instances/redisinstances-24br44i91tfzi?alt=json&updateMask=displayName%2Clabels%2CmemorySizeGb
        method: PATCH
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/operation-1712954807777-615ec5ed57abb-9e8e7b54-b1133c84",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.common.OperationMetadata",
                "createTime": "2024-04-12T20:46:47.836968469Z",
                "target": "projects/example-project/locations/us-central1/instances/redisinstances-24br44i91tfzi",
                "verb": "update",
                "cancelRequested": false,
                "apiVersion": "v1beta1"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 151.786498ms
[...]
