# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: artifactregistry.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://artifactregistry.googleapis.com/v1/projects/example-project/locations/us-west1/repositories/arrepository-1xauxp2uke0mr-2?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 103.001666ms
    - id: 1
      request:
        host: artifactregistry.googleapis.com
        body: |
            {"format":"DOCKER","labels":{"cnrm-test":"true","label-one":"value-two","managed-by-cnrm":"true"},"mode":"STANDARD_REPOSITORY"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://artifactregistry.googleapis.com/v1/projects/example-project/locations/us-west1/repositories?alt=json&repository_id=arrepository-1xauxp2uke0mr-2
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/operations/ab8b10f7-76e3-438d-96c6-42f74cc4fa9b",
              "metadata": {
                "@type": "type.googleapis.com/google.devtools.artifactregistry.v1.OperationMetadata"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 89.900981ms
    - id: 2
      request:
        host: artifactregistry.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://artifactregistry.googleapis.com/v1/projects/example-project/locations/us-west1/operations/ab8b10f7-76e3-438d-96c6-42f74cc4fa9b?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/operations/ab8b10f7-76e3-438d-96c6-42f74cc4fa9b",
              "metadata": {
                "@type": "type.googleapis.com/google.devtools.artifactregistry.v1.OperationMetadata"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 32.69974ms
    - id: 3
      request:
        host: artifactregistry.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://artifactregistry.googleapis.com/v1/projects/example-project/locations/us-west1/operations/ab8b10f7-76e3-438d-96c6-42f74cc4fa9b?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/operations/ab8b10f7-76e3-438d-96c6-42f74cc4fa9b",
              "metadata": {
                "@type": "type.googleapis.com/google.devtools.artifactregistry.v1.OperationMetadata"
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.devtools.artifactregistry.v1.Repository",
                "name": "projects/example-project/locations/us-west1/repositories/arrepository-1xauxp2uke0mr-2",
                "format": "DOCKER",
                "labels": {
                  "cnrm-test": "true",
                  "label-one": "value-two",
                  "managed-by-cnrm": "true"
                },
                "mode": "STANDARD_REPOSITORY"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 38.621831ms
    - id: 4
      request:
        host: artifactregistry.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://artifactregistry.googleapis.com/v1/projects/example-project/locations/us-west1/repositories/arrepository-1xauxp2uke0mr-2?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/repositories/arrepository-1xauxp2uke0mr-2",
              "format": "DOCKER",
              "labels": {
                "cnrm-test": "true",
                "label-one": "value-two",
                "managed-by-cnrm": "true"
              },
              "createTime": "2024-04-11T16:02:27.735392Z",
              "updateTime": "2024-04-11T16:02:27.735392Z",
              "mode": "STANDARD_REPOSITORY"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 54.025151ms
    - id: 5
      request:
        host: artifactregistry.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://artifactregistry.googleapis.com/v1/projects/example-project/locations/us-west1/repositories/arrepository-1xauxp2uke0mr?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 44.771763ms
[...]
    - id: 7
      request:
        host: artifactregistry.googleapis.com
        body: |
            {"description":"test repository description","format":"DOCKER","labels":{"cnrm-test":"true","label-one":"value-one","managed-by-cnrm":"true"},"mode":"VIRTUAL_REPOSITORY","virtualRepositoryConfig":{"upstreamPolicies":[{"id":"upstream-repo","priority":1,"repository":"projects/example-project/locations/us-west1/repositories/arrepository-1xauxp2uke0mr-2"}]}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://artifactregistry.googleapis.com/v1/projects/example-project/locations/us-west1/repositories?alt=json&repository_id=arrepository-1xauxp2uke0mr
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/operations/a6bd9b96-0429-433e-ad6d-87f86f2bfa59",
              "metadata": {
                "@type": "type.googleapis.com/google.devtools.artifactregistry.v1.OperationMetadata"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 73.719572ms
[...]
    - id: 13
      request:
        host: artifactregistry.googleapis.com
        body: |
            {"cleanupPolicies":{},"description":"test repository description 2","labels":{"cnrm-test":"true","label-one":"value-one","managed-by-cnrm":"true"},"virtualRepositoryConfig":{"upstreamPolicies":[{"id":"upstream-repo","priority":1,"repository":"projects/example-project/locations/us-west1/repositories/arrepository-1xauxp2uke0mr-2"}]}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://artifactregistry.googleapis.com/v1/projects/example-project/locations[...]
[...]
