# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: secretmanager.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://secretmanager.googleapis.com/v1/projects/example-project/secrets/secretmanagersecretversion-dep-2v5hqlif3igof?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 146.913911ms
    - id: 1
      request:
        host: secretmanager.googleapis.com
        body: |
            {"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"replication":{"automatic":{}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://secretmanager.googleapis.com/v1/projects/example-project/secrets?alt=json&secretId=secretmanagersecretversion-dep-2v5hqlif3igof
        method: POST
      response:
        body: |
            {
              "name": "projects/882850097339/secrets/secretmanagersecretversion-dep-2v5hqlif3igof",
              "replication": {
                "automatic": {}
              },
              "createTime": "2024-04-12T01:30:32.772603Z",
              "labels": {
                "managed-by-cnrm": "true",
                "cnrm-test": "true"
              },
              "etag": "\"1615dc37c2e7fb\""
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 554.533413ms
[...]
    - id: 4
      request:
        host: secretmanager.googleapis.com
        body: |
            {"payload":{"data":"SSBhbHdheXMgbG92ZWQgc3BhcnJpbmcgd2l0aCBnaWFudCBjYW5keSBzd29yZHMsIGJ1dCBJIGhhZCBubyBpZGVhIHRoYXQgd2FzIG15IHN1cGVyIHNlY3JldCBpbmZvcm1hdGlvbiE="}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://secretmanager.googleapis.com/v1/projects/882850097339/secrets/secretmanagersecretversion-dep-2v5hqlif3igof:addVersion?alt=json
        method: POST
      response:
        body: |
            {
              "name": "projects/882850097339/secrets/secretmanagersecretversion-dep-2v5hqlif3igof/versions/1",
              "createTime": "2024-04-12T01:30:34.230348Z",
              "state": "ENABLED",
              "replicationStatus": {
                "automatic": {}
              },
              "etag": "\"1615dc37d9264c\""
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 713.085041ms
    - id: 5
      request:
        host: secretmanager.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://secretmanager.googleapis.com/v1/projects/882850097339/secrets/secretmanagersecretversion-dep-2v5hqlif3igof/versions/1:enable?alt=json
        method: POST
      response:
        body: |
            {
              "name": "projects/882850097339/secrets/secretmanagersecretversion-dep-2v5hqlif3igof/versions/1",
              "createTime": "2024-04-12T01:30:34.230348Z",
              "state": "ENABLED",
              "replicationStatus": {
                "automatic": {}
              },
              "etag": "\"1615dc37e9a0e3\""
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 365.644248ms
    - id: 6
      request:
        host: secretmanager.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://secretmanager.googleapis.com/v1/projects/882850097339/secrets/secretmanagersecretversion-dep-2v5hqlif3igof/versions/1?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/882850097339/secrets/secretmanagersecretversion-dep-2v5hqlif3igof/versions/1",
              "createTime": "2024-04-12T01:30:34.230348Z",
              "state": "ENABLED",
              "replicationStatus": {
                "automatic": {}
              },
              "etag": "\"1615dc37e9a0e3\""
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 75.940253ms
    - id: 7
      request:
        host: secretmanager.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://secretmanager.googleapis.com/v1/projects/882850097339/secrets/secretmanagersecretversion-dep-2v5hqlif3igof/versions/1:access?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/882850097339/secrets/secretmanagersecretversion-dep-2v5hqlif3igof/versions/1",
              "payload": {
                "data": "SSBhbHdheXMgbG92ZWQgc3BhcnJpbmcgd2l0aCBnaWFudCBjYW5keSBzd29yZHMsIGJ1dCBJIGhhZCBubyBpZGVhIHRoYXQgd2FzIG15IHN1cGVyIHNlY3JldCBpbmZvcm1hdGlvbiE=",
                "dataCrc32c": "98593831"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 37.943598ms
[...]
    - id: 12
      request:
        host: secretmanager.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://secretmanager.googleapis.com/v1/projects/882850097339/secrets/secretmanagersecretversion-dep-2v5hqlif3igof/versions/1:disable?alt=json
        method: POST
      response:
        body: |
            {
              "name": "projects/882850097339/secrets/secretmanagersecretversion-dep-2v5hqlif3igof/versions/1",
              "createTime": "2024-04-12T01:30:34.230348Z",
              "state": "DISABLED",
              "replicationStatus": {
                "automatic": {}
              },
              "etag": "\"1615dc380e893f\""
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 330.275711ms
[...]
