# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
  - id: 0
    request:
      host: recaptchaenterprise.googleapis.com
      body: '{"androidSettings":{"allowAllPackageNames":true},"displayName":"display-name-one","labels":{"cnrm-test":"true","label-one":"value-one","managed-by-cnrm":"true"},"testingOptions":{"testingScore":0.8}}'
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://recaptchaenterprise.googleapis.com/v1/projects/kcc-recaptcha-enterprise/keys?alt=json
      method: POST
    response:
      body: |
        {
          "name": "projects/1066544882171/keys/6Ld0HsYpAAAAAOthR-na97Yp-1RrrNUtu84XGmaZ",
          "displayName": "display-name-one",
          "androidSettings": {
            "allowAllPackageNames": true,
            "allowedPackageNames": [],
            "supportNonGoogleAppStoreDistribution": false
          },
          "labels": {
            "cnrm-test": "true",
            "label-one": "value-one",
            "managed-by-cnrm": "true"
          },
          "testingOptions": {
            "testingScore": 0.8,
            "testingChallenge": "TESTING_CHALLENGE_UNSPECIFIED"
          }
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 686.690171ms
  - id: 1
    request:
      host: recaptchaenterprise.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://recaptchaenterprise.googleapis.com/v1/projects/kcc-recaptcha-enterprise/keys/6Ld0HsYpAAAAAOthR-na97Yp-1RrrNUtu84XGmaZ?alt=json
      method: GET
    response:
      body: |
        {
          "name": "projects/1066544882171/keys/6Ld0HsYpAAAAAOthR-na97Yp-1RrrNUtu84XGmaZ",
          "displayName": "display-name-one",
          "androidSettings": {
            "allowAllPackageNames": true,
            "allowedPackageNames": [],
            "supportNonGoogleAppStoreDistribution": false
          },
          "labels": {
            "label-one": "value-one",
            "cnrm-test": "true",
            "managed-by-cnrm": "true"
          },
          "testingOptions": {
            "testingScore": 0.8,
            "testingChallenge": "TESTING_CHALLENGE_UNSPECIFIED"
          },
          "createTime": "2024-04-25T01:57:54Z"
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 248.157287ms
[...]
  - id: 10
    request:
      host: recaptchaenterprise.googleapis.com
      body: '{"androidSettings":{"allowAllPackageNames":false,"allowedPackageNames":["com.android.application"]},"displayName":"display-name-two","labels":{"cnrm-test":"true","label-one":"value-one","label-two":"value-two","managed-by-cnrm":"true"}}'
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://recaptchaenterprise.googleapis.com/v1/projects/kcc-recaptcha-enterprise/keys/6Ld0HsYpAAAAAOthR-na97Yp-1RrrNUtu84XGmaZ?alt=json&updateMask=androidSettings.allowAllPackageNames%2CandroidSettings.allowedPackageNames%2CdisplayName%2Clabels
      method: PATCH
    response:
      body: |
        {
          "name": "projects/1066544882171/keys/6Ld0HsYpAAAAAOthR-na97Yp-1RrrNUtu84XGmaZ",
          "displayName": "display-name-two",
          "androidSettings": {
            "allowAllPackageNames": false,
            "allowedPackageNames": [
              "com.android.application"
            ],
            "supportNonGoogleAppStoreDistribution": false
          },
          "labels": {
            "label-one": "value-one",
            "cnrm-test": "true",
            "managed-by-cnrm": "true",
            "label-two": "value-two"
          },
          "testingOptions": {
            "testingScore": 0.8,
            "testingChallenge": "TESTING_CHALLENGE_UNSPECIFIED"
          },
          "createTime": "2024-04-25T01:57:54Z"
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 362.9603ms
[...]
