# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: artifactregistry.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://artifactregistry.googleapis.com/v1/projects/example-project/locations/us-west1/repositories/arrepository-1xauxp2uke0mr-2?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 383.385563ms
    - id: 1
      request:
        host: artifactregistry.googleapis.com
        body: |
            {"format":"DOCKER","labels":{"cnrm-test":"true","config-connector-resource-type":"artifactregistryrepository","label-one":"value-two","managed-by-cnrm":"true"},"mode":"STANDARD_REPOSITORY"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://artifactregistry.googleapis.com/v1/projects/example-project/locations/us-west1/repositories?alt=json&repository_id=arrepository-1xauxp2uke0mr-2
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/operations/38e4ecab-325f-41f1-af43-17cfda2fb2d6",
              "metadata": {
                "@type": "type.googleapis.com/google.devtools.artifactregistry.v1.OperationMetadata"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 290.238903ms
    - id: 2
      request:
        host: artifactregistry.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://artifactregistry.googleapis.com/v1/projects/example-project/locations/us-west1/operations/38e4ecab-325f-41f1-af43-17cfda2fb2d6?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/operations/38e4ecab-325f-41f1-af43-17cfda2fb2d6",
              "metadata": {
                "@type": "type.googleapis.com/google.devtools.artifactregistry.v1.OperationMetadata"
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.devtools.artifactregistry.v1.Repository",
                "name": "projects/example-project/locations/us-west1/repositories/arrepository-1xauxp2uke0mr-2",
                "format": "DOCKER",
                "labels": {
                  "cnrm-test": "true",
                  "config-connector-resource-type": "artifactregistryrepository",
                  "label-one": "value-two",
                  "managed-by-cnrm": "true"
                },
                "mode": "STANDARD_REPOSITORY"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 278.438829ms
    - id: 3
      request:
        host: artifactregistry.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://artifactregistry.googleapis.com/v1/projects/example-project/locations/us-west1/repositories/arrepository-1xauxp2uke0mr-2?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/repositories/arrepository-1xauxp2uke0mr-2",
              "format": "DOCKER",
              "labels": {
                "cnrm-test": "true",
                "config-connector-resource-type": "artifactregistryrepository",
                "label-one": "value-two",
                "managed-by-cnrm": "true"
              },
              "createTime": "2024-08-15T18:18:54.911690Z",
              "updateTime": "2024-08-15T18:18:54.911690Z",
              "mode": "STANDARD_REPOSITORY"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 286.599619ms
    - id: 4
      request:
        host: artifactregistry.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://artifactregistry.googleapis.com/v1/projects/example-project/locations/us-west1/repositories/arrepository-1xauxp2uke0mr?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 256.932503ms
[...]
    - id: 6
      request:
        host: artifactregistry.googleapis.com
        body: |
            {"description":"test repository description","format":"DOCKER","labels":{"cnrm-test":"true","config-connector-resource-type":"artifactregistryrepository","label-one":"value-one","managed-by-cnrm":"true"},"mode":"VIRTUAL_REPOSITORY","virtualRepositoryConfig":{"upstreamPolicies":[{"id":"upstream-repo","priority":1,"repository":"projects/example-project/locations/us-west1/repositories/arrepository-1xauxp2uke0mr-2"}]}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://artifactregistry.googleapis.com/v1/projects/example-project/locations/us-west1/repositories?alt=json&repository_id=arrepository-1xauxp2uke0mr
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west1/operations/e3452f8d-ce5e-4460-b639-389f5e7b5ce5",
              "metadata": {
                "@type": "type.googleapis.com/google.devtools.artifactregistry.v1.OperationMetadata"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 294.628381ms
[...]
    - id: 11
      request:
        host: artifactregistry.googleapis.com
        body: |
            {"cleanupPolicies":{},"description":"test repository description 2","labels":{"cnrm-test":"true","config-connector-resource-type":"artifactregistryrepository","label-one":"value-one","managed-by-cnrm":"true"},"virtualRepositoryConfig":{"upstreamPolicies":[{"id":"upstream-repo","priority":1,"repository":"projects/example-project/locations/us-west1/repositories/arrepository-1xauxp2uke0mr-2"}]}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://artifac[...]
[...]
