# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
        url: https://compute.googleapis.com/compute/beta/projects/cnrm-user/regions/us-central1/nodeTemplates/computenodetemplate-uniqueid111111?alt=json
=======
            User-Agent:
                - Terraform/ (+https://www.terraform.io) Terraform-Plugin-SDK/2.10.1 terraform-provider-google-beta/dev
        url: https://compute.googleapis.com/compute/beta/projects/cnrm-yuhou/regions/us-central1/nodeTemplates/computenodetemplate-ecutmuuaqyhab6sxwf7q?alt=json
>>>>>>> 0bd8e264f (use go-vcr package)
=======
<<<<<<< HEAD:pkg/test/resourcefixture/testdata/vcr/cassette/TestAllInSeries_fixtures_computenodetemplate.yaml
            User-Agent:
                - Terraform/ (+https://www.terraform.io) Terraform-Plugin-SDK/2.10.1 terraform-provider-google-beta/dev
        url: https://compute.googleapis.com/compute/beta/projects/cnrm-yuhou/regions/us-central1/nodeTemplates/computenodetemplate-ecutmuuaqyhab6sxwf7q?alt=json
=======
        url: https://compute.googleapis.com/compute/beta/projects/{projectID}/regions/us-central1/nodeTemplates/computenodetemplate-{uniqueID}?alt=json
>>>>>>> e848f5336 (add hook):vcr/fixtures/cassette/TestAllInSeries_fixtures_computenodetemplate.yaml
>>>>>>> 6dabbac2d (add hook)
=======
        url: https://compute.googleapis.com/compute/beta/projects/cnrm-user/regions/us-central1/nodeTemplates/computenodetemplate-uniqueid111111?alt=json
>>>>>>> b048a7b73 (remove debugInfo)
        method: GET
      response:
        body: |
            {
              "error": {
                "code": 404,
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                "message": "The resource 'projects/cnrm-user/regions/us-central1/nodeTemplates/computenodetemplate-uniqueid111111' was not found",
                "errors": [
                  {
                    "message": "The resource 'projects/cnrm-user/regions/us-central1/nodeTemplates/computenodetemplate-uniqueid111111' was not found",
                    "domain": "global",
                    "reason": "notFound",
                    "debugInfo": "fake debug info"
=======
=======
<<<<<<< HEAD:pkg/test/resourcefixture/testdata/vcr/cassette/TestAllInSeries_fixtures_computenodetemplate.yaml
>>>>>>> 6dabbac2d (add hook)
                "message": "The resource 'projects/cnrm-yuhou/regions/us-central1/nodeTemplates/computenodetemplate-ecutmuuaqyhab6sxwf7q' was not found",
=======
                "message": "The resource 'projects/cnrm-user/regions/us-central1/nodeTemplates/computenodetemplate-uniqueid111111' was not found",
>>>>>>> b048a7b73[...]
    - id: 1
      request:
        host: compute.googleapis.com
        body: |
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
            {"cpuOvercommitType":"NONE","description":"Node template for sole tenant nodes running in us-central1, with 96vCPUs and any amount of memory on any machine type.","name":"computenodetemplate-uniqueid111111","nodeAffinityLabels":{"cnrm-test":"true","managed-by-cnrm":"true","memory_guarantee":"false"},"nodeTypeFlexibility":{"cpus":"96","memory":"any"},"region":"projects/cnrm-user/global/regions/us-central1"}
=======
            {"cpuOvercommitType":"NONE","description":"Node template for sole tenant nodes running in us-central1, with 96vCPUs and any amount of memory on any machine type.","name":"computenodetemplate-ecutmuuaqyhab6sxwf7q","nodeAffinityLabels":{"cnrm-test":"true","managed-by-cnrm":"true","memory_guarantee":"false"},"nodeTypeFlexibility":{"cpus":"96","memory":"any"},"region":"projects/cnrm-yuhou/global/regions/us-central1"}
>>>>>>> 0bd8e2[...]
    - id: 2
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
<<<<<<< HEAD
<<<<<<< HEAD
            X-Goog-Api-Client:
                - gl-go/1.21.5 gdcl/0.160.0
        url: https://compute.googleapis.com/compute/beta/projects/cnrm-user/regions/us-central1/operations/operation-1710467214059-613a92eb1a9a2-e761c6e4-c35dd456?alt=json&prettyPrint=false
=======
            User-Agent:
                - google-api-go-client/0.5 Terraform/ (+https://www.terraform.io) Terraform-Plugin-SDK/2.10.1 terraform-provider-google-beta/dev
=======
>>>>>>> 6dabbac2d (add hook)
            X-Goog-Api-Client:
                - gl[...]
[...]
