# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: pubsub.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://pubsub.googleapis.com/v1/projects/example-project/topics/pubsubtopic-3a92e2gc7nt5n?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 123.729237ms
    - id: 1
      request:
        host: iam.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://iam.googleapis.com/v1/projects/example-project/serviceAccounts/gsa-3a92e2gc7nt5n@example-project.iam.gserviceaccount.com?alt=json&prettyPrint=false
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 135.344037ms
    - id: 2
      request:
        host: iam.googleapis.com
        body: |
            {"accountId":"gsa-3a92e2gc7nt5n","serviceAccount":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://iam.googleapis.com/v1/projects/example-project/serviceAccounts?alt=json&prettyPrint=false
        method: POST
      response:
        body: '{"name":"projects/example-project/serviceAccounts/gsa-3a92e2gc7nt5n@example-project.iam.gserviceaccount.com","projectId":"example-project","uniqueId":"108605038449944283875","email":"gsa-3a92e2gc7nt5n@example-project.iam.gserviceaccount.com","etag":"MDEwMjE5MjA=","oauth2ClientId":"108605038449944283875"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 397.636611ms
[...]
    - id: 7
      request:
        host: pubsub.googleapis.com
        body: |
            {"labels":{"cnrm-test":"true","config-connector-resource-type":"pubsubtopic","managed-by-cnrm":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://pubsub.googleapis.com/v1/projects/example-project/topics/pubsubtopic-3a92e2gc7nt5n?alt=json
        method: PUT
      response:
        body: |
            {
              "name": "projects/example-project/topics/pubsubtopic-3a92e2gc7nt5n",
              "labels": {
                "managed-by-cnrm": "true",
                "config-connector-resource-type": "pubsubtopic",
                "cnrm-test": "true"
              },
              "messageStoragePolicy": {
                "allowedPersistenceRegions": [
                  "asia-east1",
                  "asia-northeast1",
                  "asia-southeast1",
                  "australia-southeast1",
                  "europe-north1",
                  "europe-west1",
                  "europe-west2",
                  "europe-west3",
                  "europe-west4",
                  "southamerica-west1",
                  "us-central1",
                  "us-central2",
                  "us-east1",
                  "us-east4",
                  "us-east5",
                  "us-east7",
                  "us-south1",
                  "us-west1",
                  "us-west2",
                  "us-west3",
                  "us-west4",
                  "us-west8"
                ]
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 3.560717026s
[...]
    - id: 11
      request:
        host: sourcerepo.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://sourcerepo.googleapis.com/v1/projects/example-project/repos/sourcereporepository-3a92e2gc7nt5n?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 471.495119ms
    - id: 12
      request:
        host: sourcerepo.googleapis.com
        body: |
            {"name":"projects/example-project/repos/sourcereporepository-3a92e2gc7nt5n","pubsubConfigs":{"projects/example-project/topics/pubsubtopic-3a92e2gc7nt5n":{"messageFormat":"PROTOBUF","serviceAccountEmail":"gsa-3a92e2gc7nt5n@example-project.iam.gserviceaccount.com"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://sourcerepo.googleapis.com/v1/projects/example-project/repos?alt=json
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/repos/sourcereporepository-3a92e2gc7nt5n",
              "url": "https://source.developers.google.com/p/example-project/r/sourcereporepository-3a92e2gc7nt5n"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.939499704s
    - id: 13
      request:
        host: sourcerepo.googleapis.com
        body: |
            {"repo":{"pubsubConfigs":{"projects/example-project/topics/pubsubtopic-3a92e2gc7nt5n":{"messageFormat":"PROTOBUF","serviceAccountEmail":"gsa-3a92e2gc7nt5n@example-project.iam.gserviceaccount.com","topic":"projects/example-project/topics/pubsubtopic-3a92e2gc7nt5n"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://sourcerepo.googleapis.com/v1/projects/example-project/repos/sourcereporepository-3a92e2gc7nt5n?alt=json&updateMask=pubsubConfigs
        method: PATCH
      response:
        body: |
            {
              "name": "projects/example-project/repos/sourcereporepository-3a92e2gc7nt5n",
              "url": "https://source.developers.google.com/p/example-project/r/sourcereporepository-3a92e2gc7nt5n",
              "pubsubConfigs": {
                "projects/example-project/topics/pubsubtopic-3a92e2gc7nt5n": {
                  "topic": "projects/example-project/topics/pubsubtopic-3a92e2gc7nt5n",
                  "messageFormat": "PROTOBUF",
                  "serviceAccountEmail": "gsa-3a92e2gc7nt5n@example-project.iam.gserviceaccount.com"
                }
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.65640124s
[...]
