# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
  - id: 0
    request:
      host: dns.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://dns.googleapis.com/dns/v1beta2/projects/example-project/managedZones/dnsmanagedzone-1bbrvilbauok?alt=json
      method: GET
    response:
      body: fake error message
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 404 Not Found
      code: 404
      duration: 200.474055ms
  - id: 1
    request:
      host: compute.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/default?alt=json
      method: GET
    response:
      body: |
        {
          "kind": "compute#network",
          "id": "2445367146633761542",
          "creationTimestamp": "2024-04-24T18:12:09.998-07:00",
          "name": "default",
          "description": "Default network for the project",
          "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/default",
          "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/2445367146633761542",
          "autoCreateSubnetworks": true,
          "subnetworks": [
            "https://www.googleapis.com/compute/beta/projects/example-project/regions/asia-southeast2/subnetworks/default",
            "https://www.googleapis.com/compute/beta/projects/example-project/regions/europe-west9/subnetworks/default",
            "https://www.googleapis.com/compute/beta/projects/example-project/regions/asia-southeast1/subnetworks/default",
            "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-west1/subnetworks/default",
           [...]
  - id: 2
    request:
      host: compute.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-2-1bbrvilbauok?alt=json
      method: GET
    response:
      body: fake error message
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 404 Not Found
      code: 404
      duration: 156.637047ms
[...]
  - id: 5
    request:
      host: dns.googleapis.com
      body: |
        {"description":"Managed by Config Connector","dnsName":"cnrm-dns-example-1bbrvilbauok.com.","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"name":"dnsmanagedzone-1bbrvilbauok","privateVisibilityConfig":{"networks":[]},"visibility":"public"}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://dns.googleapis.com/dns/v1beta2/projects/example-project/managedZones?alt=json
      method: POST
    response:
      body: |
        {
          "name": "dnsmanagedzone-1bbrvilbauok",
          "dnsName": "cnrm-dns-example-1bbrvilbauok.com.",
          "description": "Managed by Config Connector",
          "id": "1805972131877938336",
          "nameServers": [
            "ns-cloud-b1.googledomains.com.",
            "ns-cloud-b2.googledomains.com.",
            "ns-cloud-b3.googledomains.com.",
            "ns-cloud-b4.googledomains.com."
          ],
          "creationTime": "2024-04-25T01:36:17.834Z",
          "visibility": "public",
          "labels": {
            "cnrm-test": "true",
            "managed-by-cnrm": "true"
          },
          "cloudLoggingConfig": {
            "kind": "dns#managedZoneCloudLoggingConfig"
          },
          "kind": "dns#managedZone"
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 247.532732ms
[...]
  - id: 8
    request:
      host: compute.googleapis.com
      body: |
        {"addressType":"INTERNAL","description":"another test global address","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"name":"computeaddress-2-1bbrvilbauok","network":"projects/example-project/global/networks/default","prefixLength":16,"purpose":"VPC_PEERING"}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses?alt=json
      method: POST
    response:
      body: |
        {
          "kind": "compute#operation",
          "id": "1463464921856740733",
          "name": "operation-1714008978098-616e1d04807d1-c6d51d16-c21b1cfd",
          "operationType": "insert",
          "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-2-1bbrvilbauok",
          "targetId": "31985543671975293",
          "status": "RUNNING",
          "user": "integration-test@example-project.iam.gserviceaccount.com",
          "progress": 0,
          "insertTime": "2024-04-24T18:36:18.637-07:00",
          "startTime": "2024-04-24T18:36:18.647-07:00",
          "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1714008978098-616e1d04807d1-c6d51d16-c21b1cfd"
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 902.352416ms
[...]
  - id: 10
    request:
      host: compute.googleapis.com
      body: ""
      form: {}
      headers:
      url: https://compute.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1714008978098-616e1d04807d1-c6d51d16-c21b1cfd?alt=json&prettyPrint=false
      method: GET
    response:
      body: '{"kind":"compute#operation","id":"1463464921856740733","name":"operation-1714008978098-616e1d04807d1-c6d51d16-c21b1cfd","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-2-1bbrvilbauok","targetId":"31985543671975293","status":"DONE","user":"integration-test@example-project.iam.gserviceaccount.com","progress":100,"insertTime":"2024-04-24T18:36:18.637-07:00","startTime":"2024-04-24T18:36:18.647-07:00","endTime":"2024-04-24T18:36:20.265-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1714008978098-616e1d04807d1-c6d51d16-c21b1cfd"}'
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 168.145689ms
  - id: 11
    request:
      host: compute.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-2-1bbrvilbauok?alt=json
      method: GET
    response:
      body: |
        {
          "kind": "compute#address",
          "id": "31985543671975293",
          "creationTimestamp": "2024-04-24T18:36:18.633-07:00",
          "name": "computeaddress-2-1bbrvilbauok",
          "description": "another test global address",
          "address": "172.23.0.0",
          "prefixLength": 16,
          "status": "RESERVED",
          "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-2-1bbrvilbauok",
          "networkTier": "PREMIUM",
          "labelFingerprint": "42WmSpB8rSM=",
          "addressType": "INTERNAL",
          "purpose": "VPC_PEERING",
          "network": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/default"
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 155.254767ms
[...]
  - id: 14
    request:
      host: compute.googleapis.com
      body: |
        {"labelFingerprint":"42WmSpB8rSM=","labels":{"cnrm-test":"true","managed-by-cnrm":"true"}}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-2-1bbrvilbauok/setLabels?alt=json
      method: POST
    response:
      body: |
        {
          "kind": "compute#operation",
          "id": "5376301650317413744",
          "name": "operation-1714008990864-616e1d10ad5ad-6f526b5f-414005b6",
          "operationType": "setLabels",
          "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-2-1bbrvilbauok",
          "targetId": "31985543671975293",
          "status": "DONE",
          "user": "integration-test@example-project.iam.gserviceaccount.com",
          "progress": 100,
          "insertTime": "2024-04-24T18:36:31.244-07:00",
          "startTime": "2024-04-24T18:36:31.246-07:00",
          "endTime": "2024-04-24T18:36:31.246-07:00",
          "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1714008990864-616e1d10ad5ad-6f526b5f-414005b6"
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 651.368871ms
[...]
  - id: 19
    request:
      host: dns.googleapis.com
      body: ""
      form: {}
      headers:
      url: https://dns.googleapis.com/dns/v1/projects/example-project/managedZones/dnsmanagedzone-1bbrvilbauok/rrsets?alt=json&name=cnrm-dns-example-1bbrvilbauok.com.&prettyPrint=false&type=A
      method: GET
    response:
      body: '{"rrsets":[],"kind":"dns#resourceRecordSetsListResponse"}'
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 129.237503ms
[...]
  - id: 21
    request:
      host: dns.googleapis.com
      body: ""
      form: {}
      headers:
      url: https://dns.googleapis.com/dns/v1/projects/example-project/managedZones/dnsmanagedzone-1bbrvilbauok/rrsets?alt=json&prettyPrint=false
      method: GET
    response:
      body: '{"rrsets":[{"name":"cnrm-dns-example-1bbrvilbauok.com.","type":"NS","ttl":21600,"rrdatas":["ns-cloud-b1.googledomains.com.","ns-cloud-b2.googledomains.com.","ns-cloud-b3.googledomains.com.","ns-cloud-b4.googledomains.com."],"signatureRrdatas":[],"kind":"dns#resourceRecordSet"},{"name":"cnrm-dns-example-1bbrvilbauok.com.","type":"SOA","ttl":21600,"rrdatas":["ns-cloud-b1.googledomains.com. cloud-dns-hostmaster.google.com. 1 21600 3600 259200 300"],"signatureRrdatas":[],"kind":"dns#resourceRecordSet"}],"kind":"dns#resourceRecordSetsListResponse"}'
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 151.256846ms
  - id: 22
    request:
      host: dns.googleapis.com
      body: |
        {"additions":[{"name":"cnrm-dns-example-1bbrvilbauok.com.","rrdatas":["198.51.100.5","10.13.0.0"],"ttl":300,"type":"A"}]}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://dns.googleapis.com/dns/v1/projects/example-project/managedZones/dnsmanagedzone-1bbrvilbauok/changes?alt=json&prettyPrint=false
      method: POST
    response:
      body: '{"additions":[{"name":"cnrm-dns-example-1bbrvilbauok.com.","type":"A","ttl":300,"rrdatas":["198.51.100.5","10.13.0.0"],"signatureRrdatas":[],"kind":"dns#resourceRecordSet"}],"deletions":[],"startTime":"2024-04-25T01:36:33.611Z","id":"1","status":"pending","kind":"dns#change"}'
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 228.433838ms
  - id: 23
    request:
      host: dns.googleapis.com
      body: ""
      form: {}
      headers:
      url: https://dns.googleapis.com/dns/v1/projects/example-project/managedZones/dnsmanagedzone-1bbrvilbauok/changes/1?alt=json&prettyPrint=false
      method: GET
    response:
      body: '{"additions":[{"name":"cnrm-dns-example-1bbrvilbauok.com.","type":"A","ttl":300,"rrdatas":["198.51.100.5","10.13.0.0"],"signatureRrdatas":[],"kind":"dns#resourceRecordSet"}],"deletions":[],"startTime":"2024-04-25T01:36:33.611Z","id":"1","status":"done","kind":"dns#change"}'
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 145.941586ms
[...]
