# Copyright 2023 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: core.cnrm.cloud.google.com/v1alpha1
kind: ServiceMapping
metadata:
  name: alloydb.cnrm.cloud.google.com
  namespace: cnrm-system
spec:
  name: AlloyDB
  version: v1beta1
  serviceHostName: "alloydb.googleapis.com"
  resources:
    - name: google_alloydb_backup
      kind: AlloyDBBackup
      idTemplate: "projects/{{project}}/locations/{{location}}/backups/{{backup_id}}"
      idTemplateCanBeUsedToMatchResourceName: false
      resourceAvailableInAssetInventory: false
      v1alpha1ToV1beta1: true
      storageVersion: v1alpha1
      autoGenerated: false
      metadataMapping:
        name: backup_id
        labels: labels
      resourceID:
        targetField: backup_id
      hierarchicalReferences:
        - type: project
          key: projectRef
      resourceReferences:
        - tfField: project
          description: "The project that this resource belongs to."
          key: projectRef
          gvk: 
            group: resourcemanager.cnrm.cloud.google.com
            version: v1beta1
            kind: Project
        - tfField: cluster_name
          description: "The full resource name of the backup source cluster (e.g., projects/{project}/locations/{location}/clusters/{clusterId})."
          key: clusterNameRef
          gvk: 
            group: alloydb.cnrm.cloud.google.com
            version: v1beta1
            kind: AlloyDBCluster
          targetField: name
    - name: google_alloydb_cluster
      kind: AlloyDBCluster
      idTemplate: "projects/{{project}}/locations/{{location}}/clusters/{{cluster_id}}"
      idTemplateCanBeUsedToMatchResourceName: false
      resourceAvailableInAssetInventory: false
      v1alpha1ToV1beta1: true
      storageVersion: v1alpha1
      autoGenerated: false
      metadataMapping:
        name: cluster_id
        labels: labels
      resourceID:
        targetField: cluster_id
      mutableButUnreadableFields:
        - initial_user
        - deletion_policy
        - display_name
      observedFields:
        - cluster_type
      hierarchicalReferences:
        - type: project
          key: projectRef
      resourceReferences:
        - tfField: project
          description: "The project that this resource belongs to."
          key: projectRef
          gvk: 
            group: resourcemanager.cnrm.cloud.google.com
            version: v1beta1
            kind: Project
        - tfField: encryption_config.kms_key_name
          description: "(Optional) The fully-qualified resource name of the KMS key. Each Cloud KMS key is regionalized and has the following format: projects/[PROJECT]/locations/[REGION]/keyRings/[RING]/cryptoKeys/[KEY_NAME]."
          key: kmsKeyNameRef
          gvk: 
            group: kms.cnrm.cloud.google.com
            version: v1beta1
            kind: KMSCryptoKey
          targetField: self_link
        - tfField: continuous_backup_config.encryption_config.kms_key_name
          description: "(Optional) The fully-qualified resource name of the KMS key. Each Cloud KMS key is regionalized and has the following format: projects/[PROJECT]/locations/[REGION]/keyRings/[RING]/cryptoKeys/[KEY_NAME]."
          key: kmsKeyNameRef
          gvk: 
            group: kms.cnrm.cloud.google.com
            version: v1beta1
            kind: KMSCryptoKey
          targetField: self_link
        - tfField: automated_backup_policy.encryption_config.kms_key_name
          description: "(Optional) The fully-qualified resource name of the KMS key. Each Cloud KMS key is regionalized and has the following format: projects/[PROJECT]/locations/[REGION]/keyRings/[RING]/cryptoKeys/[KEY_NAME]."
          key: kmsKeyNameRef
          gvk:
            group: kms.cnrm.cloud.google.com
            version: v1beta1
            kind: KMSCryptoKey
          targetField: self_link
        - tfField: network
          description: |-
            (Required) The relative resource name of the VPC network on which
            the instance can be accessed. It is specified in the following form:
            projects/{project}/global/networks/{network_id}.
          key: networkRef
          gvk:
            group: compute.cnrm.cloud.google.com
            version: v1beta1
            kind: ComputeNetwork
          valueTemplate: projects/{{project}}/global/networks/{{value}}
        - tfField: network_config.network
          description: |-
            (Required) The relative resource name of the VPC network on which
            the instance can be accessed. It is specified in the following form:
            projects/{project}/global/networks/{network_id}.
          key: networkRef
          gvk:
            group: compute.cnrm.cloud.google.com
            version: v1beta1
            kind: ComputeNetwork
          valueTemplate: projects/{{project}}/global/networks/{{value}}
        - tfField: restore_backup_source.backup_name
          description: "(Required) The name of the backup that this cluster is restored from."
          key: backupNameRef
          gvk: 
            group: alloydb.cnrm.cloud.google.com
            version: v1beta1
            kind: AlloyDBBackup
          targetField: name
        - tfField: restore_continuous_backup_source.cluster
          description: "(Required) The name of the source cluster that this cluster is restored from."
          key: clusterRef
          gvk: 
            group: alloydb.cnrm.cloud.google.com
            version: v1beta1
            kind: AlloyDBCluster
          targetField: name
        - tfField: secondary_config.primary_cluster_name
          description: |-
            Name of the primary cluster must be in the format
            'projects/{project}/locations/{location}/clusters/{cluster_id}'
          key: primaryClusterNameRef
          gvk:
            group: alloydb.cnrm.cloud.google.com
            version: v1beta1
            kind: AlloyDBCluster
          targetField: name
    - name: google_alloydb_instance
      kind: AlloyDBInstance
      autoGenerated: false
      idTemplate: "{{cluster}}/instances/{{instance_id}}"
      idTemplateCanBeUsedToMatchResourceName: false
      resourceAvailableInAssetInventory: false
      v1alpha1ToV1beta1: true
      storageVersion: v1alpha1
      metadataMapping:
        name: instance_id
        labels: labels
      resourceID:
        targetField: instance_id
      ignoredFields:
        - psc_instance_config.psc_dns_name
        - psc_instance_config.service_attachment_link
      resourceReferences:
        - tfField: cluster
          key: clusterRef
          targetField: name
          gvk:
            group: alloydb.cnrm.cloud.google.com
            version: v1beta1
            kind: AlloyDBCluster
          parent: true
        - tfField: instance_type
          description: |-
            The type of instance.
            Possible values: ["PRIMARY", "READ_POOL", "SECONDARY"]
            For PRIMARY and SECONDARY instances, set the value to refer to the name of the associated cluster.
            This is recommended because the instance type of primary and secondary instances is tied to the cluster type of the associated cluster.
            If the secondary cluster is promoted to primary cluster, then the associated secondary instance also becomes primary instance.
            Example:
            instanceTypeRef:
              name: clusterName
            For instances of type READ_POOL, set the value using external keyword.
            Example:
            instanceTypeRef:
              external: READ_POOL
            If the instance type is SECONDARY, the delete instance operation does not delete the secondary instance but abandons it instead.
            Use deletionPolicy = "FORCE" in the associated secondary cluster and delete the cluster forcefully to delete the secondary cluster as well its associated secondary instance.
          key: instanceTypeRef
          targetField: cluster_type
          gvk:
            group: alloydb.cnrm.cloud.google.com
            version: v1beta1
            kind: AlloyDBCluster
          parent: true
    - name: google_alloydb_user
      kind: AlloyDBUser
      autoGenerated: false
      idTemplate: "{{cluster}}/users/{{user_id}}"
      idTemplateCanBeUsedToMatchResourceName: false
      resourceAvailableInAssetInventory: false
      v1alpha1ToV1beta1: false
      metadataMapping:
        name: user_id
      resourceID:
        targetField: user_id
      mutableButUnreadableFields:
        - password
      resourceReferences:
        - tfField: cluster
          key: clusterRef
          targetField: name
          gvk:
            group: alloydb.cnrm.cloud.google.com
            version: v1beta1
            kind: AlloyDBCluster
          parent: true
