# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: networkconnectivity.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://networkconnectivity.googleapis.com/v1/projects/example-project/locations/global/hubs/networkconnectivityhub-9k34uc1ios1q?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 174.78963ms
[...]
    - id: 3
      request:
        host: networkconnectivity.googleapis.com
        body: '{"description":"A sample hub","labels":{"cnrm-test":"true","config-connector-resource-type":"networkconnectivityhub","label-one":"value-one","managed-by-cnrm":"true"},"name":"projects/example-project/locations/global/hubs/networkconnectivityhub-9k34uc1ios1q"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://networkconnectivity.googleapis.com/v1/projects/example-project/locations/global/hubs?alt=json&hubId=networkconnectivityhub-9k34uc1ios1q
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/global/operations/operation-1723748676755-61fbd838f5f58-e3417221-31acc421",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.networkconnectivity.v1.OperationMetadata",
                "createTime": "2024-08-15T19:04:36.884236259Z",
                "target": "projects/example-project/locations/global/hubs/networkconnectivityhub-9k34uc1ios1q",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 281.138793ms
    - id: 4
      request:
        host: networkconnectivity.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://networkconnectivity.googleapis.com/v1/projects/example-project/locations/global/operations/operation-1723748676755-61fbd838f5f58-e3417221-31acc421?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/global/operations/operation-1723748676755-61fbd838f5f58-e3417221-31acc421",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.networkconnectivity.v1.OperationMetadata",
                "createTime": "2024-08-15T19:04:36.884236259Z",
                "endTime": "2024-08-15T19:04:54.742349932Z",
                "target": "projects/example-project/locations/global/hubs/networkconnectivityhub-9k34uc1ios1q",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1"
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.cloud.networkconnectivity.v1.Hub",
                "name": "projects/example-project/locations/global/hubs/networkconnectivityhub-9k34uc1ios1q",
                "createTime": "2024-08-15T19:04:36.870330544Z",
                "updateTime": "2024-08-15T19:04:36.870330544Z",
                "description": "A sample hub",
                "uniqueId": "234e3db8-258e-47ea-a5b2-1e2f5e0be57a",
                "state": "ACTIVE",
                "routeTables": [
                  "projects/123456789/locations/global/hubs/networkconnectivityhub-9k34uc1ios1q/routeTables/default"
                ],
                "policyMode": "PRESET",
                "presetTopology": "MESH",
                "exportPsc": false
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 66.944666ms
[...]
