# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: networkconnectivity.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://networkconnectivity.googleapis.com/v1/projects/example-project/locations/global/hubs/networkconnectivityhub-9k34uc1ios1q?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 306.419747ms
[...]
    - id: 3
      request:
        host: networkconnectivity.googleapis.com
        body: '{"description":"A sample hub","labels":{"cnrm-test":"true","label-one":"value-one","managed-by-cnrm":"true"},"name":"projects/example-project/locations/global/hubs/networkconnectivityhub-9k34uc1ios1q"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://networkconnectivity.googleapis.com/v1/projects/example-project/locations/global/hubs?alt=json&hubId=networkconnectivityhub-9k34uc1ios1q
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/global/operations/operation-1712881482864-615db4c541957-b56f453d-f1c9f6a3",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.networkconnectivity.v1.OperationMetadata",
                "createTime": "2024-04-12T00:24:44.447731655Z",
                "target": "projects/example-project/locations/global/hubs/networkconnectivityhub-9k34uc1ios1q",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 2.061595649s
    - id: 4
      request:
        host: networkconnectivity.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://networkconnectivity.googleapis.com/v1/projects/example-project/locations/global/operations/operation-1712881482864-615db4c541957-b56f453d-f1c9f6a3?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/global/operations/operation-1712881482864-615db4c541957-b56f453d-f1c9f6a3",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.networkconnectivity.v1.OperationMetadata",
                "createTime": "2024-04-12T00:24:44.447731655Z",
                "target": "projects/example-project/locations/global/hubs/networkconnectivityhub-9k34uc1ios1q",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 301.699685ms
    - id: 5
      request:
        host: networkconnectivity.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://networkconnectivity.googleapis.com/v1/projects/example-project/locations/global/operations/operation-1712881482864-615db4c541957-b56f453d-f1c9f6a3?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/global/operations/operation-1712881482864-615db4c541957-b56f453d-f1c9f6a3",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.networkconnectivity.v1.OperationMetadata",
                "createTime": "2024-04-12T00:24:44.447731655Z",
                "endTime": "2024-04-12T00:24:59.289053306Z",
                "target": "projects/example-project/locations/global/hubs/networkconnectivityhub-9k34uc1ios1q",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1"
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.cloud.networkconnectivity.v1.Hub",
                "name": "projects/example-project/locations/global/hubs/networkconnectivityhub-9k34uc1ios1q",
                "createTime": "2024-04-12T00:24:44.411667107Z",
                "updateTime": "2024-04-12T00:24:44.411667107Z",
                "description": "A sample hub",
                "uniqueId": "e0508644-c7ef-4d9d-b06a-26af45b697d2",
                "state": "ACTIVE",
                "routeTables": [
                  "projects/916595846568/locations/global/hubs/networkconnectivityhub-9k34uc1ios1q/routeTables/default"
                ]
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 334.759258ms
[...]
