# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: cloudkms.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://cloudkms.googleapis.com/v1/projects/example-project/locations/us-central1/keyRings/kmscryptokey-6zwe0le41ydl?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/keyRings/kmscryptokey-6zwe0le41ydl",
              "createTime": "2024-08-15T18:58:12.810772617Z"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 177.793517ms
[...]
    - id: 2
      request:
        host: cloudkms.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://cloudkms.googleapis.com/v1/projects/example-project/locations/us-central1/keyRings/kmscryptokey-6zwe0le41ydl/cryptoKeys/kmscryptokey-6zwe0le41ydl?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/keyRings/kmscryptokey-6zwe0le41ydl/cryptoKeys/kmscryptokey-6zwe0le41ydl",
              "purpose": "ASYMMETRIC_SIGN",
              "createTime": "2024-08-15T18:58:13.251381694Z",
              "labels": {
                "managed-by-cnrm": "true",
                "cnrm-test": "true",
                "config-connector-resource-type": "kmscryptokey",
                "key-one": "value-one"
              },
              "versionTemplate": {
                "protectionLevel": "SOFTWARE",
                "algorithm": "EC_SIGN_P384_SHA384"
              },
              "destroyScheduledDuration": "2592000s"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 59.011615ms
[...]
    - id: 7
      request:
        host: cloudkms.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://cloudkms.googleapis.com/v1/projects/example-project/locations/us-central1/keyRings/kmscryptokey-6zwe0le41ydl/cryptoKeys/kmscryptokey-6zwe0le41ydl/cryptoKeyVersions?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"cryptoKeyVersions":[{"name":"projects/example-project/locations/us-central1/keyRings/kmscryptokey-6zwe0le41ydl/cryptoKeys/kmscryptokey-6zwe0le41ydl/cryptoKeyVersions/1","state":"DESTROY_SCHEDULED","createTime":"2024-08-15T18:58:13.251381694Z","destroyTime":"2024-09-14T18:58:14.297490Z","protectionLevel":"SOFTWARE","algorithm":"EC_SIGN_P384_SHA384","generateTime":"2024-08-15T18:58:13.315624965Z"}],"totalSize":1}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 75.816265ms
