# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/regions/us-central1/nodeTemplates/computenodetemplate-bopydlzuxy26?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 175.034001ms
    - id: 1
      request:
        host: compute.googleapis.com
        body: |
            {"cpuOvercommitType":"NONE","name":"computenodetemplate-bopydlzuxy26","nodeAffinityLabels":{"cnrm-test":"true","managed-by-cnrm":"true"},"nodeTypeFlexibility":{"cpus":"any","memory":"any"},"region":"projects/example-project/global/regions/us-central1"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/regions/us-central1/nodeTemplates?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "62798008424150698",
              "name": "operation-1712621637549-6159ecc573e73-7aad63ee-dece6c97",
              "operationType": "compute.nodeTemplates.insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1/nodeTemplates/computenodetemplate-bopydlzuxy26",
              "targetId": "1738795569896830634",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-04-08T17:13:57.909-07:00",
              "startTime": "2024-04-08T17:13:57.953-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1/operations/operation-1712621637549-6159ecc573e73-7aad63ee-dece6c97",
              "region": "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 567.810226ms
    - id: 2
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/regions/us-central1/operations/operation-1712621637549-6159ecc573e73-7aad63ee-dece6c97?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#operation","id":"62798008424150698","name":"operation-1712621637549-6159ecc573e73-7aad63ee-dece6c97","operationType":"compute.nodeTemplates.insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1/nodeTemplates/computenodetemplate-bopydlzuxy26","targetId":"1738795569896830634","status":"DONE","user":"user@google.com","progress":100,"insertTime":"2024-04-08T17:13:57.909-07:00","startTime":"2024-04-08T17:13:57.953-07:00","endTime":"2024-04-08T17:13:58.262-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1/operations/operation-1712621637549-6159ecc573e73-7aad63ee-dece6c97","region":"https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 126.631912ms
    - id: 3
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/regions/us-central1/nodeTemplates/computenodetemplate-bopydlzuxy26?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#nodeTemplate",
              "id": "1738795569896830634",
              "creationTimestamp": "2024-04-08T17:13:57.919-07:00",
              "name": "computenodetemplate-bopydlzuxy26",
              "nodeAffinityLabels": {
                "cnrm-test": "true",
                "managed-by-cnrm": "true"
              },
              "status": "READY",
              "region": "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1/nodeTemplates/computenodetemplate-bopydlzuxy26",
              "nodeTypeFlexibility": {
                "cpus": "any",
                "memory": "any"
              },
              "serverBinding": {
                "type": "RESTART_NODE_ON_ANY_SERVER"
              },
              "cpuOvercommitType": "NONE"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 160.797865ms
    - id: 4
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/zones/us-central1-b/nodeGroups/computenodegroup-bopydlzuxy26?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 150.568907ms
[...]
    - id: 6
      request:
        host: compute.googleapis.com
        body: |
            {"description":"A single sole-tenant node in the us-central1-b zone.","maintenancePolicy":"DEFAULT","name":"computenodegroup-bopydlzuxy26","nodeTemplate":"projects/example-project/regions/us-central1/nodeTemplates/computenodetemplate-bopydlzuxy26","size":1,"zone":"projects/example-project/global/zones/us-central1-b"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/zones/us-central1-b/nodeGroups?alt=json&initialNodeCount=1
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "2310870129798887079",
              "name": "operation-1712621639728-6159ecc787c98-6adf7a73-5dc72da9",
              "zone": "https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-b",
              "operationType": "compute.nodeGroups.insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-b/nodeGroups/computenodegroup-bopydlzuxy26",
              "targetId": "710152998448871079",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-04-08T17:14:00.024-07:00",
              "startTime": "2024-04-08T17:14:00.065-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-b/operations/operation-1712621639728-6159ecc787c98-6adf7a73-5dc72da9"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 605.920187ms
    - id: 7
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/zones/us-central1-b/operations/operation-1712621639728-6159ecc787c98-6adf7a73-5dc72da9?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#operation","id":"2310870129798887079","name":"operation-1712621639728-6159ecc787c98-6adf7a73-5dc72da9","zone":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-b","operationType":"compute.nodeGroups.insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-b/nodeGroups/computenodegroup-bopydlzuxy26","targetId":"710152998448871079","status":"RUNNING","user":"user@google.com","progress":0,"insertTime":"2024-04-08T17:14:00.024-07:00","startTime":"2024-04-08T17:14:00.065-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-b/operations/operation-1712621639728-6159ecc787c98-6adf7a73-5dc72da9"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 168.649093ms
[...]
    - id: 9
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/zones/us-central1-b/nodeGroups/computenodegroup-bopydlzuxy26?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#nodeGroup",
              "id": "710152998448871079",
              "creationTimestamp": "2024-04-08T17:14:00.032-07:00",
              "name": "computenodegroup-bopydlzuxy26",
              "description": "A single sole-tenant node in the us-central1-b zone.",
              "nodeTemplate": "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1/nodeTemplates/computenodetemplate-bopydlzuxy26",
              "zone": "https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-b",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-b/nodeGroups/computenodegroup-bopydlzuxy26",
              "status": "READY",
              "size": 1,
              "autoscalingPolicy": {
                "mode": "OFF",
                "minNodes": 0
              },
              "maintenancePolicy": "DEFAULT",
              "fingerprint": "1eJFBuUGwuc=",
              "shareSettings": {
                "shareType": "LOCAL"
              },
              "maintenanceInterval": "AS_NEEDED"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 340.055457ms
[...]
