# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/regions/us-central1/nodeTemplates/computenodetemplate-bopydlzuxy26?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 177.533521ms
    - id: 1
      request:
        host: compute.googleapis.com
        body: |
            {"cpuOvercommitType":"NONE","name":"computenodetemplate-bopydlzuxy26","nodeAffinityLabels":{"cnrm-test":"true","config-connector-resource-type":"computenodetemplate","managed-by-cnrm":"true"},"nodeTypeFlexibility":{"cpus":"any","memory":"any"},"region":"projects/example-project/global/regions/us-central1"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/regions/us-central1/nodeTemplates?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "6943403786326243306",
              "name": "operation-1723746565101-61fbd05b215fb-9978df79-26781607",
              "operationType": "compute.nodeTemplates.insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1/nodeTemplates/computenodetemplate-bopydlzuxy26",
              "targetId": "5166528889158367210",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-08-15T11:29:25.505-07:00",
              "startTime": "2024-08-15T11:29:25.547-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1/operations/operation-1723746565101-61fbd05b215fb-9978df79-26781607",
              "region": "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 502.360212ms
    - id: 2
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/regions/us-central1/operations/operation-1723746565101-61fbd05b215fb-9978df79-26781607?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#operation","id":"6943403786326243306","name":"operation-1723746565101-61fbd05b215fb-9978df79-26781607","operationType":"compute.nodeTemplates.insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1/nodeTemplates/computenodetemplate-bopydlzuxy26","targetId":"5166528889158367210","status":"DONE","user":"user@google.com","progress":100,"insertTime":"2024-08-15T11:29:25.505-07:00","startTime":"2024-08-15T11:29:25.547-07:00","endTime":"2024-08-15T11:29:25.871-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1/operations/operation-1723746565101-61fbd05b215fb-9978df79-26781607","region":"https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 98.204551ms
    - id: 3
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/regions/us-central1/nodeTemplates/computenodetemplate-bopydlzuxy26?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#nodeTemplate",
              "id": "5166528889158367210",
              "creationTimestamp": "2024-08-15T11:29:25.516-07:00",
              "name": "computenodetemplate-bopydlzuxy26",
              "nodeAffinityLabels": {
                "managed-by-cnrm": "true",
                "cnrm-test": "true",
                "config-connector-resource-type": "computenodetemplate"
              },
              "status": "READY",
              "region": "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1/nodeTemplates/computenodetemplate-bopydlzuxy26",
              "nodeTypeFlexibility": {
                "cpus": "any",
                "memory": "any"
              },
              "serverBinding": {
                "type": "RESTART_NODE_ON_ANY_SERVER"
              },
              "cpuOvercommitType": "NONE"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 102.80277ms
[...]
    - id: 5
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/zones/us-central1-b/nodeGroups/computenodegroup-bopydlzuxy26?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 106.052091ms
    - id: 6
      request:
        host: compute.googleapis.com
        body: |
            {"description":"A single sole-tenant node in the us-central1-b zone.","maintenancePolicy":"DEFAULT","name":"computenodegroup-bopydlzuxy26","nodeTemplate":"projects/example-project/regions/us-central1/nodeTemplates/computenodetemplate-bopydlzuxy26","size":1,"zone":"projects/example-project/global/zones/us-central1-b"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/zones/us-central1-b/nodeGroups?alt=json&initialNodeCount=1
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "7706862947931518952",
              "name": "operation-1723746566797-61fbd05cbf86d-a6aed008-62082758",
              "zone": "https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-b",
              "operationType": "compute.nodeGroups.insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-b/nodeGroups/computenodegroup-bopydlzuxy26",
              "targetId": "2919531514629978088",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-08-15T11:29:27.125-07:00",
              "startTime": "2024-08-15T11:29:27.171-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-b/operations/operation-1723746566797-61fbd05cbf86d-a6aed008-62082758"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 450.771792ms
    - id: 7
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/zones/us-central1-b/operations/operation-1723746566797-61fbd05cbf86d-a6aed008-62082758?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#operation","id":"7706862947931518952","name":"operation-1723746566797-61fbd05cbf86d-a6aed008-62082758","zone":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-b","operationType":"compute.nodeGroups.insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-b/nodeGroups/computenodegroup-bopydlzuxy26","targetId":"2919531514629978088","status":"DONE","user":"user@google.com","progress":100,"insertTime":"2024-08-15T11:29:27.125-07:00","startTime":"2024-08-15T11:29:27.171-07:00","endTime":"2024-08-15T11:30:09.653-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-b/operations/operation-1723746566797-61fbd05cbf86d-a6aed008-62082758"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 106.12911ms
    - id: 8
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/zones/us-central1-b/nodeGroups/computenodegroup-bopydlzuxy26?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#nodeGroup",
              "id": "2919531514629978088",
              "creationTimestamp": "2024-08-15T11:29:27.135-07:00",
              "name": "computenodegroup-bopydlzuxy26",
              "description": "A single sole-tenant node in the us-central1-b zone.",
              "nodeTemplate": "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1/nodeTemplates/computenodetemplate-bopydlzuxy26",
              "zone": "https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-b",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-b/nodeGroups/computenodegroup-bopydlzuxy26",
              "status": "READY",
              "size": 1,
              "autoscalingPolicy": {
                "mode": "OFF",
                "minNodes": 0
              },
              "maintenancePolicy": "DEFAULT",
              "fingerprint": "_UaCXaZAAYE=",
              "shareSettings": {
                "shareType": "LOCAL"
              },
              "maintenanceInterval": "AS_NEEDED"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 109.281409ms
[...]
