# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/regions/us-central1/nodeTemplates/computenodetemplate-bopydlzuxy26?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 181.381019ms
    - id: 1
      request:
        host: compute.googleapis.com
        body: |
            {"cpuOvercommitType":"NONE","name":"computenodetemplate-bopydlzuxy26","nodeAffinityLabels":{"cnrm-test":"true","config-connector-resource-type":"computenodetemplate","managed-by-cnrm":"true"},"nodeTypeFlexibility":{"cpus":"any","memory":"any"},"region":"projects/example-project/global/regions/us-central1"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/regions/us-central1/nodeTemplates?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "3188749999007803228",
              "name": "operation-1724815795114-620b5f8c551e1-5c2f7c3a-6293ff6e",
              "operationType": "compute.nodeTemplates.insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1/nodeTemplates/computenodetemplate-bopydlzuxy26",
              "targetId": "1634707728962365276",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-08-27T20:29:55.393-07:00",
              "startTime": "2024-08-27T20:29:55.429-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1/operations/operation-1724815795114-620b5f8c551e1-5c2f7c3a-6293ff6e",
              "region": "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 362.42118ms
    - id: 2
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/regions/us-central1/operations/operation-1724815795114-620b5f8c551e1-5c2f7c3a-6293ff6e?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#operation","id":"3188749999007803228","name":"operation-1724815795114-620b5f8c551e1-5c2f7c3a-6293ff6e","operationType":"compute.nodeTemplates.insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1/nodeTemplates/computenodetemplate-bopydlzuxy26","targetId":"1634707728962365276","status":"DONE","user":"user@google.com","progress":100,"insertTime":"2024-08-27T20:29:55.393-07:00","startTime":"2024-08-27T20:29:55.429-07:00","endTime":"2024-08-27T20:29:55.661-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1/operations/operation-1724815795114-620b5f8c551e1-5c2f7c3a-6293ff6e","region":"https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 109.056974ms
    - id: 3
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/regions/us-central1/nodeTemplates/computenodetemplate-bopydlzuxy26?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#nodeTemplate",
              "id": "1634707728962365276",
              "creationTimestamp": "2024-08-27T20:29:55.408-07:00",
              "name": "computenodetemplate-bopydlzuxy26",
              "nodeAffinityLabels": {
                "managed-by-cnrm": "true",
                "config-connector-resource-type": "computenodetemplate",
                "cnrm-test": "true"
              },
              "status": "READY",
              "region": "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1/nodeTemplates/computenodetemplate-bopydlzuxy26",
              "nodeTypeFlexibility": {
                "cpus": "any",
                "memory": "any"
              },
              "serverBinding": {
                "type": "RESTART_NODE_ON_ANY_SERVER"
              },
              "cpuOvercommitType": "NONE"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 63.534716ms
    - id: 4
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/zones/us-central1-b/nodeGroups/computenodegroup-bopydlzuxy26?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 84.491895ms
[...]
    - id: 6
      request:
        host: compute.googleapis.com
        body: |
            {"description":"A single sole-tenant node in the us-central1-b zone.","maintenancePolicy":"DEFAULT","name":"computenodegroup-bopydlzuxy26","nodeTemplate":"projects/example-project/regions/us-central1/nodeTemplates/computenodetemplate-bopydlzuxy26","size":1,"zone":"projects/example-project/global/zones/us-central1-b"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/zones/us-central1-b/nodeGroups?alt=json&initialNodeCount=1
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "6789458831159273307",
              "name": "operation-1724815796493-620b5f8da5af5-4526a6b8-185771dc",
              "zone": "https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-b",
              "operationType": "compute.nodeGroups.insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-b/nodeGroups/computenodegroup-bopydlzuxy26",
              "targetId": "1399791245712369499",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-08-27T20:29:56.778-07:00",
              "startTime": "2024-08-27T20:29:56.821-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-b/operations/operation-1724815796493-620b5f8da5af5-4526a6b8-185771dc"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 412.305878ms
    - id: 7
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/zones/us-central1-b/operations/operation-1724815796493-620b5f8da5af5-4526a6b8-185771dc?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#operation","id":"6789458831159273307","name":"operation-1724815796493-620b5f8da5af5-4526a6b8-185771dc","zone":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-b","operationType":"compute.nodeGroups.insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-b/nodeGroups/computenodegroup-bopydlzuxy26","targetId":"1399791245712369499","status":"DONE","user":"user@google.com","progress":100,"insertTime":"2024-08-27T20:29:56.778-07:00","startTime":"2024-08-27T20:29:56.821-07:00","endTime":"2024-08-27T20:30:45.027-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-b/operations/operation-1724815796493-620b5f8da5af5-4526a6b8-185771dc"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 107.370465ms
    - id: 8
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/zones/us-central1-b/nodeGroups/computenodegroup-bopydlzuxy26?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#nodeGroup",
              "id": "1399791245712369499",
              "creationTimestamp": "2024-08-27T20:29:56.787-07:00",
              "name": "computenodegroup-bopydlzuxy26",
              "description": "A single sole-tenant node in the us-central1-b zone.",
              "nodeTemplate": "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1/nodeTemplates/computenodetemplate-bopydlzuxy26",
              "zone": "https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-b",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-b/nodeGroups/computenodegroup-bopydlzuxy26",
              "status": "READY",
              "size": 1,
              "autoscalingPolicy": {
                "mode": "OFF",
                "minNodes": 0
              },
              "maintenancePolicy": "DEFAULT",
              "fingerprint": "ew07eFr8c6Y=",
              "shareSettings": {
                "shareType": "LOCAL"
              },
              "maintenanceInterval": "AS_NEEDED"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 104.495114ms
[...]
