# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: dns.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://dns.googleapis.com/dns/v1beta2/projects/example-project/managedZones/dnsmanagedzone-1bbrvilbauok?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 79.02916ms
    - id: 1
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/default?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#network",
              "id": "4614312711847388316",
              "creationTimestamp": "2024-07-16T00:00:03.967-07:00",
              "name": "default",
              "description": "Default network for the project",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/default",
              "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/4614312711847388316",
              "autoCreateSubnetworks": true,
              "subnetworks": [
                "https://www.googleapis.com/compute/beta/projects/example-project/regions/southamerica-west1/subnetworks/default",
                "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-west2/subnetworks/default",
                "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-east7/subnetworks/default",
                "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1/subnetworks/default",
[...]
    - id: 2
      request:
        host: dns.googleapis.com
        body: |
            {"description":"Managed by Config Connector","dnsName":"cnrm-dns-example-1bbrvilbauok.com.","labels":{"cnrm-test":"true","config-connector-resource-type":"dnsmanagedzone","managed-by-cnrm":"true"},"name":"dnsmanagedzone-1bbrvilbauok","privateVisibilityConfig":{"networks":[]},"visibility":"public"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://dns.googleapis.com/dns/v1beta2/projects/example-project/managedZones?alt=json
        method: POST
      response:
        body: |
            {
              "name": "dnsmanagedzone-1bbrvilbauok",
              "dnsName": "cnrm-dns-example-1bbrvilbauok.com.",
              "description": "Managed by Config Connector",
              "id": "5409357542583991534",
              "nameServers": [
                "ns-cloud-b1.googledomains.com.",
                "ns-cloud-b2.googledomains.com.",
                "ns-cloud-b3.googledomains.com.",
                "ns-cloud-b4.googledomains.com."
              ],
              "creationTime": "2024-08-15T18:46:42.748Z",
              "visibility": "public",
              "labels": {
                "cnrm-test": "true",
                "config-connector-resource-type": "dnsmanagedzone",
                "managed-by-cnrm": "true"
              },
              "cloudLoggingConfig": {
                "kind": "dns#managedZoneCloudLoggingConfig"
              },
              "kind": "dns#managedZone"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 300.97281ms
[...]
    - id: 4
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-2-1bbrvilbauok?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 105.60282ms
[...]
    - id: 8
      request:
        host: compute.googleapis.com
        body: |
            {"addressType":"INTERNAL","description":"a test global address","labels":{"cnrm-test":"true","config-connector-resource-type":"computeaddress","managed-by-cnrm":"true"},"name":"computeaddress-1-1bbrvilbauok","network":"projects/example-project/global/networks/default","prefixLength":16,"purpose":"VPC_PEERING"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "361445089007105020",
              "name": "operation-1723747603522-61fbd43972413-0a1f785b-c44e53fc",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-1-1bbrvilbauok",
              "targetId": "7889946760831038460",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-08-15T11:46:43.787-07:00",
              "startTime": "2024-08-15T11:46:43.789-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1723747603522-61fbd43972413-0a1f785b-c44e53fc"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 442.23627ms
[...]
    - id: 10
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1723747603522-61fbd43972413-0a1f785b-c44e53fc?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#operation","id":"361445089007105020","name":"operation-1723747603522-61fbd43972413-0a1f785b-c44e53fc","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-1-1bbrvilbauok","targetId":"7889946760831038460","status":"DONE","user":"user@google.com","progress":100,"insertTime":"2024-08-15T11:46:43.787-07:00","startTime":"2024-08-15T11:46:43.789-07:00","endTime":"2024-08-15T11:46:45.436-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1723747603522-61fbd43972413-0a1f785b-c44e53fc"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 124.58226ms
    - id: 11
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-1-1bbrvilbauok?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#address",
              "id": "7889946760831038460",
              "creationTimestamp": "2024-08-15T11:46:43.755-07:00",
              "name": "computeaddress-1-1bbrvilbauok",
              "description": "a test global address",
              "address": "10.123.0.0",
              "prefixLength": 16,
              "status": "RESERVED",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-1-1bbrvilbauok",
              "networkTier": "PREMIUM",
              "labelFingerprint": "42WmSpB8rSM=",
              "addressType": "INTERNAL",
              "purpose": "VPC_PEERING",
              "network": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/default"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 149.370889ms
[...]
    - id: 13
      request:
        host: compute.googleapis.com
        body: |
            {"labelFingerprint":"42WmSpB8rSM=","labels":{"cnrm-test":"true","config-connector-resource-type":"computeaddress","managed-by-cnrm":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-1-1bbrvilbauok/setLabels?alt=json
        method: POST
  [...]
[...]
    - id: 17
      request:
        host: dns.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://dns.googleapis.com/dns/v1/projects/example-project/managedZones/dnsmanagedzone-1bbrvilbauok/rrsets?alt=json&name=cnrm-dns-example-1bbrvilbauok.com.&prettyPrint=false&type=A
        method: GET
      response:
        body: '{"rrsets":[],"kind":"dns#resourceRecordSetsListResponse"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 34.92678ms
[...]
    - id: 19
      request:
        host: dns.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://dns.googleapis.com/dns/v1/projects/example-project/managedZones/dnsmanagedzone-1bbrvilbauok/rrsets?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"rrsets":[{"name":"cnrm-dns-example-1bbrvilbauok.com.","type":"NS","ttl":21600,"rrdatas":["ns-cloud-b1.googledomains.com.","ns-cloud-b2.googledomains.com.","ns-cloud-b3.googledomains.com.","ns-cloud-b4.googledomains.com."],"signatureRrdatas":[],"kind":"dns#resourceRecordSet"},{"name":"cnrm-dns-example-1bbrvilbauok.com.","type":"SOA","ttl":21600,"rrdatas":["ns-cloud-b1.googledomains.com. cloud-dns-hostmaster.google.com. 1 21600 3600 259200 300"],"signatureRrdatas":[],"kind":"dns#resourceRecordSet"}],"kind":"dns#resourceRecordSetsListResponse"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 57.32555ms
[...]
    - id: 21
      request:
        host: dns.googleapis.com
        body: |
            {"additions":[{"name":"cnrm-dns-example-1bbrvilbauok.com.","rrdatas":["198.51.100.5","10.123.0.0"],"ttl":300,"type":"A"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://dns.googleapis.com/dns/v1/projects/example-project/managedZones/dnsmanagedzone-1bbrvilbauok/changes?alt=json&prettyPrint=false
        method: POST
      response:
        body: '{"additions":[{"name":"cnrm-dns-example-1bbrvilbauok.com.","type":"A","ttl":300,"rrdatas":["198.51.100.5","10.123.0.0"],"signatureRrdatas":[],"kind":"dns#resourceRecordSet"}],"deletions":[],"startTime":"2024-08-15T18:46:56.889Z","id":"1","status":"pending","kind":"dns#change"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 124.11974ms
    - id: 22
      request:
        host: dns.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://dns.googleapis.com/dns/v1/projects/example-project/managedZones/dnsmanagedzone-1bbrvilbauok/changes/1?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"additions":[{"name":"cnrm-dns-example-1bbrvilbauok.com.","type":"A","ttl":300,"rrdatas":["198.51.100.5","10.123.0.0"],"signatureRrdatas":[],"kind":"dns#resourceRecordSet"}],"deletions":[],"startTime":"2024-08-15T18:46:56.889Z","id":"1","status":"done","kind":"dns#change"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 68.228079ms
[...]
    - id: 40
      request:
        host: dns.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://dns.googleapis.com/dns/v1/projects/example-project/managedZones//rrsets?alt=json&name=cnrm-dns-example-1bbrvilbauok.com.&prettyPrint=false&type=A
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 29.43945ms
[...]
