# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: dns.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://dns.googleapis.com/dns/v1beta2/projects/example-project/managedZones/dnsmanagedzone-1bbrvilbauok?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 248.17061ms
    - id: 1
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/default?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#network",
              "id": "8690839680577821487",
              "creationTimestamp": "2024-04-11T15:35:44.314-07:00",
              "name": "default",
              "description": "Default network for the project",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/default",
              "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/8690839680577821487",
              "autoCreateSubnetworks": true,
              "subnetworks": [
                "https://www.googleapis.com/compute/beta/projects/example-project/regions/asia-south1/subnetworks/default",
                "https://www.googleapis.com/compute/beta/projects/example-project/regions/asia-southeast1/subnetworks/default",
                "https://www.googleapis.com/compute/beta/projects/example-project/regions/southamerica-west1/subnetworks/default",
                "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-east1/subnetworks/def[...]
    - id: 2
      request:
        host: dns.googleapis.com
        body: |
            {"description":"Managed by Config Connector","dnsName":"cnrm-dns-example-1bbrvilbauok.com.","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"name":"dnsmanagedzone-1bbrvilbauok","privateVisibilityConfig":{"networks":[]},"visibility":"public"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://dns.googleapis.com/dns/v1beta2/projects/example-project/managedZones?alt=json
        method: POST
      response:
        body: |
            {
              "name": "dnsmanagedzone-1bbrvilbauok",
              "dnsName": "cnrm-dns-example-1bbrvilbauok.com.",
              "description": "Managed by Config Connector",
              "id": "2799853571792709106",
              "nameServers": [
                "ns-cloud-a1.googledomains.com.",
                "ns-cloud-a2.googledomains.com.",
                "ns-cloud-a3.googledomains.com.",
                "ns-cloud-a4.googledomains.com."
              ],
              "creationTime": "2024-04-11T23:32:50.600Z",
              "visibility": "public",
              "labels": {
                "cnrm-test": "true",
                "managed-by-cnrm": "true"
              },
              "cloudLoggingConfig": {
                "kind": "dns#managedZoneCloudLoggingConfig"
              },
              "kind": "dns#managedZone"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 268.118283ms
    - id: 3
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-2-1bbrvilbauok?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 155.089475ms
[...]
    - id: 8
      request:
        host: compute.googleapis.com
        body: |
            {"addressType":"INTERNAL","description":"another test global address","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"name":"computeaddress-2-1bbrvilbauok","network":"projects/example-project/global/networks/default","prefixLength":16,"purpose":"VPC_PEERING"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "7399797950491512268",
              "name": "operation-1712878370912-615da92d77ab1-1746e306-43a3e576",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-2-1bbrvilbauok",
              "targetId": "5707654288398208460",
              "status": "RUNNING",
              "user": "integration-test@example-project.iam.gserviceaccount.com",
              "progress": 0,
              "insertTime": "2024-04-11T16:32:51.407-07:00",
              "startTime": "2024-04-11T16:32:51.418-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712878370912-615da92d77ab1-1746e306-43a3e576"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.339982477s
[...]
    - id: 10
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712878370912-615da92d77ab1-1746e306-43a3e576?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#operation","id":"7399797950491512268","name":"operation-1712878370912-615da92d77ab1-1746e306-43a3e576","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-2-1bbrvilbauok","targetId":"5707654288398208460","status":"RUNNING","user":"integration-test@example-project.iam.gserviceaccount.com","progress":0,"insertTime":"2024-04-11T16:32:51.407-07:00","startTime":"2024-04-11T16:32:51.418-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712878370912-615da92d77ab1-1746e306-43a3e576"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 190.438238ms
[...]
    - id: 12
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712878370912-615da92d77ab1-1746e306-43a3e576?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#operation","id":"7399797950491512268","name":"operation-1712878370912-615da92d77ab1-1746e306-43a3e576","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-2-1bbrvilbauok","targetId":"5707654288398208460","status":"DONE","user":"integration-test@example-project.iam.gserviceaccount.com","progress":100,"insertTime":"2024-04-11T16:32:51.407-07:00","startTime":"2024-04-11T16:32:51.418-07:00","endTime":"2024-04-11T16:32:54.252-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712878370912-615da92d77ab1-1746e306-43a3e576"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 196.981187ms
    - id: 13
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-2-1bbrvilbauok?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#address",
              "id": "5707654288398208460",
              "creationTimestamp": "2024-04-11T16:32:51.403-07:00",
              "name": "computeaddress-2-1bbrvilbauok",
              "description": "another test global address",
              "address": "10.44.0.0",
              "prefixLength": 16,
              "status": "RESERVED",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-2-1bbrvilbauok",
              "networkTier": "PREMIUM",
              "labelFingerprint": "42WmSpB8rSM=",
              "addressType": "INTERNAL",
              "purpose": "VPC_PEERING",
              "network": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/default"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 273.023312ms
[...]
    - id: 15
      request:
        host: compute.googleapis.com
        body: |
            {"labelFingerprint":"42WmSpB8rSM=","labels":{"cnrm-test":"true","managed-by-cnrm":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/addresses/computeaddress-2-1bbrvilbauok/setLabels?alt=json
        method: POST
      response:
        body: |
            {
      [...]
[...]
    - id: 21
      request:
        host: dns.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://dns.googleapis.com/dns/v1/projects/example-project/managedZones/dnsmanagedzone-1bbrvilbauok/rrsets?alt=json&name=cnrm-dns-example-1bbrvilbauok.com.&prettyPrint=false&type=A
        method: GET
      response:
        body: '{"rrsets":[],"kind":"dns#resourceRecordSetsListResponse"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 135.089968ms
[...]
    - id: 23
      request:
        host: dns.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://dns.googleapis.com/dns/v1/projects/example-project/managedZones/dnsmanagedzone-1bbrvilbauok/rrsets?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"rrsets":[{"name":"cnrm-dns-example-1bbrvilbauok.com.","type":"NS","ttl":21600,"rrdatas":["ns-cloud-a1.googledomains.com.","ns-cloud-a2.googledomains.com.","ns-cloud-a3.googledomains.com.","ns-cloud-a4.googledomains.com."],"signatureRrdatas":[],"kind":"dns#resourceRecordSet"},{"name":"cnrm-dns-example-1bbrvilbauok.com.","type":"SOA","ttl":21600,"rrdatas":["ns-cloud-a1.googledomains.com. cloud-dns-hostmaster.google.com. 1 21600 3600 259200 300"],"signatureRrdatas":[],"kind":"dns#resourceRecordSet"}],"kind":"dns#resourceRecordSetsListResponse"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 131.516481ms
    - id: 24
      request:
        host: dns.googleapis.com
        body: |
            {"additions":[{"name":"cnrm-dns-example-1bbrvilbauok.com.","rrdatas":["198.51.100.5","172.21.0.0"],"ttl":300,"type":"A"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://dns.googleapis.com/dns/v1/projects/example-project/managedZones/dnsmanagedzone-1bbrvilbauok/changes?alt=json&prettyPrint=false
        method: POST
      response:
        body: '{"additions":[{"name":"cnrm-dns-example-1bbrvilbauok.com.","type":"A","ttl":300,"rrdatas":["198.51.100.5","172.21.0.0"],"signatureRrdatas":[],"kind":"dns#resourceRecordSet"}],"deletions":[],"startTime":"2024-04-11T23:33:08.698Z","id":"1","status":"pending","kind":"dns#change"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 171.421273ms
    - id: 25
      request:
        host: dns.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://dns.googleapis.com/dns/v1/projects/example-project/managedZones/dnsmanagedzone-1bbrvilbauok/changes/1?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"additions":[{"name":"cnrm-dns-example-1bbrvilbauok.com.","type":"A","ttl":300,"rrdatas":["198.51.100.5","172.21.0.0"],"signatureRrdatas":[],"kind":"dns#resourceRecordSet"}],"deletions":[],"startTime":"2024-04-11T23:33:08.698Z","id":"1","status":"done","kind":"dns#change"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 157.850832ms
[...]
