# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: eventarc.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://eventarc.googleapis.com/v1/projects/example-project/locations/us-central1/triggers/eventarctrigger-2ubz1ejdpwb22?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 155.411311ms
[...]
    - id: 3
      request:
        host: eventarc.googleapis.com
        body: '{"destination":{"cloudRun":{"region":"us-central1","service":"runservice-1-2ubz1ejdpwb22"}},"eventFilters":[{"attribute":"type","value":"google.cloud.pubsub.topic.v1.messagePublished"}],"labels":{"cnrm-test":"true","config-connector-resource-type":"eventarctrigger","foo1":"bar1","managed-by-cnrm":"true"},"name":"projects/example-project/locations/us-central1/triggers/eventarctrigger-2ubz1ejdpwb22","serviceAccount":"gsa-2ubz1ejdpwb22@example-project.iam.gserviceaccount.com","transport":{"pubsub":{"topic":"projects/example-project/topics/pubsubtopic-2ubz1ejdpwb22"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://eventarc.googleapis.com/v1/projects/example-project/locations/us-central1/triggers?alt=json&triggerId=eventarctrigger-2ubz1ejdpwb22
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/operation-1723748874407-61fbd8f57502d-4d843662-4cf61bc5",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.eventarc.v1.OperationMetadata",
                "createTime": "2024-08-15T19:07:54.584538168Z",
                "target": "projects/example-project/locations/us-central1/triggers/eventarctrigger-2ubz1ejdpwb22",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 256.480614ms
    - id: 4
      request:
        host: eventarc.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://eventarc.googleapis.com/v1/projects/example-project/locations/us-central1/operations/operation-1723748874407-61fbd8f57502d-4d843662-4cf61bc5?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/operation-1723748874407-61fbd8f57502d-4d843662-4cf61bc5",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.eventarc.v1.OperationMetadata",
                "createTime": "2024-08-15T19:07:54.584538168Z",
                "endTime": "2024-08-15T19:08:01.567672689Z",
                "target": "projects/example-project/locations/us-central1/triggers/eventarctrigger-2ubz1ejdpwb22",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1"
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.cloud.eventarc.v1.Trigger",
                "name": "projects/example-project/locations/us-central1/triggers/eventarctrigger-2ubz1ejdpwb22",
                "uid": "d96e2faf-10b3-4b21-8346-84383707f44f",
                "createTime": "2024-08-15T19:07:54.580389740Z",
                "updateTime": "2024-08-15T19:07:54.580389740Z",
                "eventFilters": [
                  {
                    "attribute": "type",
                    "value": "google.cloud.pubsub.topic.v1.messagePublished"
                  }
                ],
                "serviceAccount": "gsa-2ubz1ejdpwb22@example-project.iam.gserviceaccount.com",
                "destination": {
                  "cloudRun": {
                    "service": "runservice-1-2ubz1ejdpwb22",
                    "region": "us-central1"
                  }
                },
                "transport": {
                  "pubsub": {
                    "topic": "projects/example-project/topics/pubsubtopic-2ubz1ejdpwb22",
                    "subscription": "projects/example-project/subscriptions/eventarc-us-central1-eventarctrigger-2ubz1ejdpwb22-sub-400"
                  }
                }
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 28.955598ms
[...]
    - id: 15
      request:
        host: eventarc.googleapis.com
        body: '{"destination":{"cloudRun":{"path":"/route/subroute","region":"us-central1","service":"runservice-2-2ubz1ejdpwb22"}},"eventFilters":[{"attribute":"type","value":"google.cloud.pubsub.topic.v1.messagePublished"}],"labels":{"cnrm-test":"true","config-connector-resource-type":"eventarctrigger","foo1":"bar2","managed-by-cnrm":"true"},"serviceAccount":"gsa-2ubz1ejdpwb22@example-project.iam.gserviceaccount.com"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://eventarc.googleapis.com/v1/projects/example-project/locations/us-central1/triggers/eventarctrigger-2ubz1ejdpwb22?alt=json&updateMask=destination%2Clabels
        method: PATCH
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/operation-1723748885441-61fbd8fffac1c-d242d508-07b5cecb",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.eventarc.v1.OperationMetadata",
                "createTime": "2024-08-15T19:08:05.542826621Z",
                "target": "projects/example-project/locations/us-central1/triggers/eventarctrigger-2ubz1ejdpwb22",
                "verb": "update",
                "requestedCancellation": false,
                "apiVersion": "v1"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 156.556091ms
[...]
