# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: eventarc.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://eventarc.googleapis.com/v1/projects/example-project/locations/us-central1/triggers/eventarctrigger-2ubz1ejdpwb22?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 328.134232ms
[...]
    - id: 3
      request:
        host: eventarc.googleapis.com
        body: '{"destination":{"cloudRun":{"region":"us-central1","service":"runservice-1-2ubz1ejdpwb22"}},"eventFilters":[{"attribute":"type","value":"google.cloud.pubsub.topic.v1.messagePublished"}],"labels":{"cnrm-test":"true","foo1":"bar1","managed-by-cnrm":"true"},"name":"projects/example-project/locations/us-central1/triggers/eventarctrigger-2ubz1ejdpwb22","serviceAccount":"gsa-2ubz1ejdpwb22@example-project.iam.gserviceaccount.com","transport":{"pubsub":{"topic":"projects/example-project/topics/pubsubtopic-2ubz1ejdpwb22"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://eventarc.googleapis.com/v1/projects/example-project/locations/us-central1/triggers?alt=json&triggerId=eventarctrigger-2ubz1ejdpwb22
        method: POST
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 400 Bad Request
        code: 400
        duration: 1.405698423s
[...]
    - id: 23
      request:
        host: eventarc.googleapis.com
        body: '{"destination":{"cloudRun":{"region":"us-central1","service":"runservice-1-2ubz1ejdpwb22"}},"eventFilters":[{"attribute":"type","value":"google.cloud.pubsub.topic.v1.messagePublished"}],"labels":{"cnrm-test":"true","foo1":"bar1","managed-by-cnrm":"true"},"name":"projects/example-project/locations/us-central1/triggers/eventarctrigger-2ubz1ejdpwb22","serviceAccount":"gsa-2ubz1ejdpwb22@example-project.iam.gserviceaccount.com","transport":{"pubsub":{"topic":"projects/example-project/topics/pubsubtopic-2ubz1ejdpwb22"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://eventarc.googleapis.com/v1/projects/example-project/locations/us-central1/triggers?alt=json&triggerId=eventarctrigger-2ubz1ejdpwb22
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/operation-1712878519590-615da9bb41f69-0abc0c91-155db9ae",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.eventarc.v1.OperationMetadata",
                "createTime": "2024-04-11T23:35:20.142596005Z",
                "target": "projects/example-project/locations/us-central1/triggers/eventarctrigger-2ubz1ejdpwb22",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 630.01381ms
    - id: 24
      request:
        host: eventarc.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://eventarc.googleapis.com/v1/projects/example-project/locations/us-central1/operations/operation-1712878519590-615da9bb41f69-0abc0c91-155db9ae?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/operation-1712878519590-615da9bb41f69-0abc0c91-155db9ae",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.eventarc.v1.OperationMetadata",
                "createTime": "2024-04-11T23:35:20.142596005Z",
                "target": "projects/example-project/locations/us-central1/triggers/eventarctrigger-2ubz1ejdpwb22",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 55.785905ms
    - id: 25
      request:
        host: eventarc.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://eventarc.googleapis.com/v1/projects/example-project/locations/us-central1/operations/operation-1712878519590-615da9bb41f69-0abc0c91-155db9ae?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/operation-1712878519590-615da9bb41f69-0abc0c91-155db9ae",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.eventarc.v1.OperationMetadata",
                "createTime": "2024-04-11T23:35:20.142596005Z",
                "endTime": "2024-04-11T23:35:24.718387214Z",
                "target": "projects/example-project/locations/us-central1/triggers/eventarctrigger-2ubz1ejdpwb22",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1"
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.cloud.eventarc.v1.Trigger",
                "name": "projects/example-project/locations/us-central1/triggers/eventarctrigger-2ubz1ejdpwb22",
                "uid": "b1a93ce7-3c76-4727-9a84-a7d364335bff",
                "createTime": "2024-04-11T23:35:20.138077012Z",
                "updateTime": "2024-04-11T23:35:20.138077012Z",
                "eventFilters": [
                  {
                    "attribute": "type",
                    "value": "google.cloud.pubsub.topic.v1.messagePublished"
                  }
                ],
                "serviceAccount": "gsa-2ubz1ejdpwb22@example-project.iam.gserviceaccount.com",
                "destination": {
                  "cloudRun": {
                    "service": "runservice-1-2ubz1ejdpwb22",
                    "region": "us-central1"
                  }
                },
                "transport": {
                  "pubsub": {
                    "topic": "projects/example-project/topics/pubsubtopic-2ubz1ejdpwb22",
                    "subscription": "projects/example-project/subscriptions/eventarc-us-central1-eventarctrigger-2ubz1ejdpwb22-sub-593"
                  }
                }
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 54.341347ms
[...]
    - id: 36
      request:
        host: eventarc.googleapis.com
        body: '{"destination":{"cloudRun":{"path":"/route/subroute","region":"us-central1","service":"runservice-2-2ubz1ejdpwb22"}},"eventFilters":[{"attribute":"type","value":"google.cloud.pubsub.topic.v1.messagePublished"}],"labels":{"cnrm-test":"true","foo1":"bar2","managed-by-cnrm":"true"},"serviceAccount":"gsa-2ubz1ejdpwb22@example-project.iam.gserviceaccount.com"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://eventarc.googleapis.com/v1/projects/example-project/locations/us-central1/triggers/eventarctrigger-2ubz1ejdpwb22?alt=json&updateMask=destination%2Clabels
        method: PATCH
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/operation-1712878531090-615da9c6397aa-a5acdad6-fbce530a",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.eventarc.v1.OperationMetadata",
                "createTime": "2024-04-11T23:35:31.179534404Z",
                "target": "projects/example-project/locations/us-central1/triggers/eventarctrigger-2ubz1ejdpwb22",
                "verb": "update",
                "requestedCancellation": false,
                "apiVersion": "v1"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 183.941253ms
[...]
