# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
  - id: 0
    request:
      host: eventarc.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://eventarc.googleapis.com/v1/projects/example-project/locations/us-central1/triggers/eventarctrigger-2ubz1ejdpwb22?alt=json
      method: GET
    response:
      body: fake error message
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 404 Not Found
      code: 404
      duration: 276.967188ms
[...]
  - id: 3
    request:
      host: eventarc.googleapis.com
      body: '{"destination":{"cloudRun":{"region":"us-central1","service":"runservice-1-2ubz1ejdpwb22"}},"eventFilters":[{"attribute":"type","value":"google.cloud.pubsub.topic.v1.messagePublished"}],"labels":{"cnrm-test":"true","foo1":"bar1","managed-by-cnrm":"true"},"name":"projects/example-project/locations/us-central1/triggers/eventarctrigger-2ubz1ejdpwb22","serviceAccount":"gsa-2ubz1ejdpwb22@example-project.iam.gserviceaccount.com","transport":{"pubsub":{"topic":"projects/example-project/topics/pubsubtopic-2ubz1ejdpwb22"}}}'
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://eventarc.googleapis.com/v1/projects/example-project/locations/us-central1/triggers?alt=json&triggerId=eventarctrigger-2ubz1ejdpwb22
      method: POST
    response:
      body: fake error message
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 400 Bad Request
      code: 400
      duration: 1.794863037s
[...]
  - id: 19
    request:
      host: eventarc.googleapis.com
      body: '{"destination":{"cloudRun":{"region":"us-central1","service":"runservice-1-2ubz1ejdpwb22"}},"eventFilters":[{"attribute":"type","value":"google.cloud.pubsub.topic.v1.messagePublished"}],"labels":{"cnrm-test":"true","foo1":"bar1","managed-by-cnrm":"true"},"name":"projects/example-project/locations/us-central1/triggers/eventarctrigger-2ubz1ejdpwb22","serviceAccount":"gsa-2ubz1ejdpwb22@example-project.iam.gserviceaccount.com","transport":{"pubsub":{"topic":"projects/example-project/topics/pubsubtopic-2ubz1ejdpwb22"}}}'
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://eventarc.googleapis.com/v1/projects/example-project/locations/us-central1/triggers?alt=json&triggerId=eventarctrigger-2ubz1ejdpwb22
      method: POST
    response:
      body: |
        {
          "name": "projects/example-project/locations/us-central1/operations/operation-1714009092303-616e1d716ac2f-3f3b6214-75f57fa5",
          "metadata": {
            "@type": "type.googleapis.com/google.cloud.eventarc.v1.OperationMetadata",
            "createTime": "2024-04-25T01:38:13.282926887Z",
            "target": "projects/example-project/locations/us-central1/triggers/eventarctrigger-2ubz1ejdpwb22",
            "verb": "create",
            "requestedCancellation": false,
            "apiVersion": "v1"
          },
          "done": false
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 1.233294514s
  - id: 20
    request:
      host: eventarc.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://eventarc.googleapis.com/v1/projects/example-project/locations/us-central1/operations/operation-1714009092303-616e1d716ac2f-3f3b6214-75f57fa5?alt=json
      method: GET
    response:
      body: |
        {
          "name": "projects/example-project/locations/us-central1/operations/operation-1714009092303-616e1d716ac2f-3f3b6214-75f57fa5",
          "metadata": {
            "@type": "type.googleapis.com/google.cloud.eventarc.v1.OperationMetadata",
            "createTime": "2024-04-25T01:38:13.282926887Z",
            "endTime": "2024-04-25T01:38:18.526926769Z",
            "target": "projects/example-project/locations/us-central1/triggers/eventarctrigger-2ubz1ejdpwb22",
            "verb": "create",
            "requestedCancellation": false,
            "apiVersion": "v1"
          },
          "done": true,
          "response": {
            "@type": "type.googleapis.com/google.cloud.eventarc.v1.Trigger",
            "name": "projects/example-project/locations/us-central1/triggers/eventarctrigger-2ubz1ejdpwb22",
            "uid": "87abb999-5fb2-4966-bfdf-7cef9d988948",
            "createTime": "2024-04-25T01:38:13.278417217Z",
            "updateTime": "2024-04-25T01:38:13.278417217Z",
            "eventFilters": [
              {
                "attribute": "type",
                "value": "google.cloud.pubsub.topic.v1.messagePublished"
              }
            ],
            "serviceAccount": "gsa-2ubz1ejdpwb22@example-project.iam.gserviceaccount.com",
            "destination": {
              "cloudRun": {
                "service": "runservice-1-2ubz1ejdpwb22",
                "region": "us-central1"
              }
            },
            "transport": {
              "pubsub": {
                "topic": "projects/example-project/topics/pubsubtopic-2ubz1ejdpwb22",
                "subscription": "projects/example-project/subscriptions/eventarc-us-central1-eventarctrigger-2ubz1ejdpwb22-sub-244"
              }
            }
          }
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 77.492955ms
[...]
  - id: 31
    request:
      host: eventarc.googleapis.com
      body: '{"destination":{"cloudRun":{"path":"/route/subroute","region":"us-central1","service":"runservice-2-2ubz1ejdpwb22"}},"eventFilters":[{"attribute":"type","value":"google.cloud.pubsub.topic.v1.messagePublished"}],"labels":{"cnrm-test":"true","foo1":"bar2","managed-by-cnrm":"true"},"serviceAccount":"gsa-2ubz1ejdpwb22@example-project.iam.gserviceaccount.com"}'
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://eventarc.googleapis.com/v1/projects/example-project/locations/us-central1/triggers/eventarctrigger-2ubz1ejdpwb22?alt=json&updateMask=destination%2Clabels
      method: PATCH
    response:
      body: |
        {
          "name": "projects/example-project/locations/us-central1/operations/operation-1714009109290-616e1d819dc41-b8004d3a-3c03fe11",
          "metadata": {
            "@type": "type.googleapis.com/google.cloud.eventarc.v1.OperationMetadata",
            "createTime": "2024-04-25T01:38:29.457814304Z",
            "target": "projects/example-project/locations/us-central1/triggers/eventarctrigger-2ubz1ejdpwb22",
            "verb": "update",
            "requestedCancellation": false,
            "apiVersion": "v1"
          },
          "done": false
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 442.741562ms
[...]
