# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: run.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://run.googleapis.com/v2/projects/example-project/locations/us-central1/services/runservice-2-2ubz1ejdpwb22?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 403 Forbidden
        code: 403
        duration: 140.292801ms
    - id: 1
      request:
        host: iam.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://iam.googleapis.com/v1/projects/example-project/serviceAccounts/gsa-2ubz1ejdpwb22@example-project.iam.gserviceaccount.com?alt=json&prettyPrint=false
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 151.563591ms
    - id: 2
      request:
        host: pubsub.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://pubsub.googleapis.com/v1/projects/example-project/topics/pubsubtopic-2ubz1ejdpwb22?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 138.008891ms
    - id: 3
      request:
        host: run.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://run.googleapis.com/v2/projects/example-project/locations/us-central1/services/runservice-1-2ubz1ejdpwb22?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/services/runservice-1-2ubz1ejdpwb22",
              "uid": "4ed1a667-1b26-4e44-af85-69dd3931d57a",
              "generation": "1",
              "labels": {
                "cnrm-test": "true",
                "config-connector-resource-type": "runservice",
                "managed-by-cnrm": "true"
              },
              "createTime": "2024-08-15T18:59:43.583065Z",
              "updateTime": "2024-08-15T18:59:43.583065Z",
              "creator": "xiaoweim@google.com",
              "lastModifier": "xiaoweim@google.com",
              "ingress": "INGRESS_TRAFFIC_ALL",
              "launchStage": "GA",
              "template": {
                "scaling": {
                  "maxInstanceCount": 2
                },
                "timeout": "300s",
                "serviceAccount": "123456789-compute@developer.gserviceaccount.com",
                "containers": [
                  {
                    "image": "gcr.io/cloudrun/hello",
                    "env": [
                      {
                        "name": "FOO",
                        "value": "bar]"
                      }
                    ],
                    "resources": {
                      "limits": {
                        "memory": "512Mi",
                        "cpu": "1000m"
                      },
                      "cpuIdle": true
                    },
                    "ports": [
                      {
                        "name": "http1",
                        "containerPort": 8080
                      }
                    ],
                    "startupProbe": {
                      "timeoutSeconds": 240,
                      "periodSeconds": 240,
                      "failureThreshold": 1,
                      "tcpSocket": {
                        "port": 8080
                      }
                    }
                  }
                ],
                "maxInstanceRequestConcurrency": 80
              },
              "traffic": [
                {
                  "type": "TRAFFIC_TARGET_ALLOCATION_TYPE_LATEST",
                  "percent": 100
                }
              ],
              "observedGeneration": "1",
              "terminalCondition": {
                "type": "Ready",
                "state": "CONDITION_SUCCEEDED",
                "lastTransitionTime": "2024-08-15T19:00:03.855623Z"
              },
              "conditions": [
                {
                  "type": "RoutesReady",
                  "state": "CONDITION_SUCCEEDED",
                  "lastTransitionTime": "2024-08-15T19:00:03.820231Z"
                },
                {
                  "type": "ConfigurationsReady",
                  "state": "CONDITION_SUCCEEDED",
                  "lastTransitionTime": "2024-08-15T18:59:43.714819Z"
                }
              ],
              "latestReadyRevision": "projects/example-project/locations/us-central1/services/runservice-1-2ubz1ejdpwb22/revisions/runservice-1-2ubz1ejdpwb22-00001-452",
              "latestCreatedRevision": "projects/example-project/locations/us-central1/services/runservice-1-2ubz1ejdpwb22/revisions/runservice-1-2ubz1ejdpwb22-00001-452",
              "trafficStatuses": [
                {
                  "type": "TRAFFIC_TARGET_ALLOCATION_TYPE_LATEST",
                  "percent": 100
                }
              ],
              "uri": "https://runservice-1-2ubz1ejdpwb22-hidi3okbma-uc.a.run.app",
              "etag": "\"CJ-g-bUGEKi7g5YC/cHJvamVjdHMveGlhb3dlaW0tZ2tlLWRldi9sb2NhdGlvbnMvdXMtY2VudHJhbDEvc2VydmljZXMvcnVuc2VydmljZS0xLTJ1YnoxZWpkcHdiMjI\""
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 187.101019ms
[...]
    - id: 5
      request:
        host: iam.googleapis.com
        body: |
            {"accountId":"gsa-2ubz1ejdpwb22","serviceAccount":{"displayName":"ExampleGSA"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://iam.googleapis.com/v1/projects/example-project/serviceAccounts?alt=json&prettyPrint=false
        method: POST
      response:
        body: '{"name":"projects/example-project/serviceAccounts/gsa-2ubz1ejdpwb22@example-project.iam.gserviceaccount.com","projectId":"example-project","uniqueId":"113592362406524996432","email":"gsa-2ubz1ejdpwb22@example-project.iam.gserviceaccount.com","displayName":"ExampleGSA","etag":"MDEwMjE5MjA=","oauth2ClientId":"113592362406524996432"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 380.027847ms
[...]
    - id: 10
      request:
        host: cloudresourcemanager.googleapis.com
        body: |
            {"options":{"requestedPolicyVersion":3}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://cloudresourcemanager.googleapis.com/v1/projects/example-project:getIamPolicy?alt=json&prettyPrint=false
        method: POST
      response:
        body: '{"version":1,"etag":"BwYfvXlLuWA=","bindings":[{"role":"roles/alloydb.serviceAgent","members":["serviceAccount:service-123456789@gcp-sa-alloydb.iam.gserviceaccount.com"]},{"role":"roles/artifactregistry.serviceAgent","members":["serviceAccount:service-123456789@gcp-sa-artifactregistry.iam.gserviceaccount.com"]},{"role":"roles/cloudbuild.builds.builder","members":["serviceAccount:123456789@cloudbuild.gserviceaccount.com"]},{"role":"roles/cloudbuild.serviceAgent","members":["serviceAccount:service-123456789@gcp-sa-cloudbuild.iam.gserviceaccount.com"]},{"role":"roles/cloudfunctions.serviceA[...]
[...]
    - id: 13
      request:
        host: run.googleapis.com
        body: |
            {"ingress":"INGRESS_TRAFFIC_ALL","labels":{"cnrm-test":"true","config-connector-resource-type":"runservice","managed-by-cnrm":"true"},"launchStage":"GA","template":{"containers":[{"env":[{"name":"FOO","value":"bar"}],"image":"gcr.io/cloudrun/hello"}],"scaling":{"maxInstanceCount":2}},"traffic":[{"percent":100,"type":"TRAFFIC_TARGET_ALLOCATION_TYPE_LATEST"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://run.googleapis.com/v2/projects/example-project/locations/us-central1/services?alt=json&serviceId=runservice-2-2ubz1ejdpwb22
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/c8560013-4061-48ad-8895-9df90c7292fa",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.run.v2.Service",
                "name": "projects/example-project/locations/us-central1/services/runservice-2-2ubz1ejdpwb22",
                "uid": "e3f95b34-d173-46e9-a221-07d27b8c4eed",
                "generation": "1",
                "labels": {
                  "cnrm-test": "true",
                  "config-connector-resource-type": "runservice",
                  "managed-by-cnrm": "true"
                },
                "[...]
    - id: 14
      request:
        host: pubsub.googleapis.com
        body: |
            {"labels":{"cnrm-test":"true","config-connector-resource-type":"pubsubtopic","managed-by-cnrm":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://pubsub.googleapis.com/v1/projects/example-project/topics/pubsubtopic-2ubz1ejdpwb22?alt=json
        method: PUT
      response:
        body: |
            {
              "name": "projects/example-project/topics/pubsubtopic-2ubz1ejdpwb22",
              "labels": {
                "config-connector-resource-type": "pubsubtopic",
                "managed-by-cnrm": "true",
                "cnrm-test": "true"
              },
              "messageStoragePolicy": {
                "allowedPersistenceRegions": [
                  "asia-east1",
                  "asia-northeast1",
                  "asia-southeast1",
                  "australia-southeast1",
                  "europe-north1",
                  "europe-west1",
                  "europe-west2",
                  "europe-west3",
                  "europe-west4",
                  "southamerica-west1",
                  "us-central1",
                  "us-central2",
                  "us-east1",
                  "us-east4",
                  "us-east5",
                  "us-east7",
                  "us-south1",
                  "us-west1",
                  "us-west2",
                  "us-west3",
                  "us-west4",
                  "us-west8"
                ]
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 3.412046599s
[...]
    - id: 16
      request:
        host: cloudresourcemanager.googleapis.com
        body: |
            {"policy":{"bindings":[{"members":["serviceAccount:service-123456789@gcp-sa-alloydb.iam.gserviceaccount.com"],"role":"roles/alloydb.serviceAgent"},{"members":["serviceAccount:service-123456789@gcp-sa-artifactregistry.iam.gserviceaccount.com"],"role":"roles/artifactregistry.serviceAgent"},{"members":["serviceAccount:123456789@cloudbuild.gserviceaccount.com"],"role":"roles/cloudbuild.builds.builder"},{"members":["serviceAccount:service-123456789@gcp-sa-cloudbuild.iam.gserviceaccount.com"],"role":"roles/clou[...]
[...]
    - id: 24
      request:
        host: run.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://run.googleapis.com/v2/projects/example-project/locations/us-central1/operations/c8560013-4061-48ad-8895-9df90c7292fa?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/c8560013-4061-48ad-8895-9df90c729[...]
[...]
    - id: 34
      request:
        host: run.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://run.googleapis.com/v2/projects/example-project/locations/us-central1/services/runservice-2-2ubz1ejdpwb22?alt=json
        method: DELETE
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/d8b4e4ab-4dcc-4a78-bb50-13e0be71c8a2",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.run.v2.Service",
                "name": "projects/example-project/locations/us-central1/services/runservice-2-2ubz1ejdpwb22",
                "uid": "e3f95b34-d173-46e9-a221-07d27b8c4eed",
                "generation": "2",
                "labels": {
                  "cnrm-test": "true",
                  "config-connector-resource-type": "runservice",
                  "managed-by-cnrm": "true"
                },
                "createTime": "2024-08-15T19:07:49.028746Z",
                "updateTime": "2024-08-15T19:08:11.031909Z",
                "deleteTime": "2024-08-15T19:08:11.031909Z",
                "expireTime": "2024-09-14T19:08:11.031909Z",
                "creator": "xiaoweim@google.com",
                "lastModifier": "xiaoweim@google.com",
                "ingress": "INGRESS_TRAFFIC_ALL",
                "launchStage": "GA",
                "template": {
                  "scaling": {
                    "maxInstanceCount": 2
                  },
                  "timeout": "300s",
                  "serviceAccount": "123456789-compute@developer.gserviceaccount.com",
                  "container[...]
[...]
