# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
  - id: 0
    request:
      host: pubsub.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://pubsub.googleapis.com/v1/projects/example-project/topics/pubsubtopic-2ubz1ejdpwb22?alt=json
      method: GET
    response:
      body: fake error message
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 404 Not Found
      code: 404
      duration: 151.962669ms
  - id: 1
    request:
      host: iam.googleapis.com
      body: ""
      form: {}
      headers:
      url: https://iam.googleapis.com/v1/projects/example-project/serviceAccounts/gsa-2ubz1ejdpwb22@example-project.iam.gserviceaccount.com?alt=json&prettyPrint=false
      method: GET
    response:
      body: fake error message
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 404 Not Found
      code: 404
      duration: 303.263946ms
  - id: 2
    request:
      host: run.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://run.googleapis.com/v2/projects/example-project/locations/us-central1/services/runservice-1-2ubz1ejdpwb22?alt=json
      method: GET
    response:
      body: fake error message
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 404 Not Found
      code: 404
      duration: 358.79005ms
[...]
  - id: 4
    request:
      host: run.googleapis.com
      body: |
        {"ingress":"INGRESS_TRAFFIC_ALL","labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"launchStage":"GA","template":{"containers":[{"env":[{"name":"FOO","value":"bar]"}],"image":"gcr.io/cloudrun/hello"}],"scaling":{"maxInstanceCount":2}},"traffic":[{"percent":100,"type":"TRAFFIC_TARGET_ALLOCATION_TYPE_LATEST"}]}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://run.googleapis.com/v2/projects/example-project/locations/us-central1/services?alt=json&serviceId=runservice-1-2ubz1ejdpwb22
      method: POST
    response:
      body: |
        {
          "name": "projects/example-project/locations/us-central1/operations/84881b39-6af9-4dd7-8ea9-10ecac5a1a6c",
          "metadata": {
            "@type": "type.googleapis.com/google.cloud.run.v2.Service",
            "name": "projects/example-project/locations/us-central1/services/runservice-1-2ubz1ejdpwb22",
            "uid": "092ae477-b30f-4bc4-80db-c24ebea0286c",
            "generation": "1",
            "labels": {
              "cnrm-test": "true",
              "managed-by-cnrm": "true"
            },
            "createTime": "2024-04-25T01:37:16.528777Z",
            "updateTime": "2024-04-25T01:37:16.528777Z",
            "creator": "integration-test@example-project.iam.gserviceaccount.com",
            "lastModifier": "integration-test@example-project.iam.gserviceaccount.com",
            "launchStage": "GA",
            "template": {
              "scaling": {
                "maxInstanceCount": 2
              },
              "timeout": "300s",
              "serviceAccount": "123456789-compute@developer.gserviceaccount.com",
              "containers": [
                {
                  "image": "gcr.io/cloudrun/hello",
                  "env": [
                    {
                      "name": "FOO",
                      "value": "bar]"
                    }
                  ],
                  "resources": {
                    "limits": {
                      "memory": "512Mi",
                      "cpu": "1000m"
                    },
                    "cpuIdle": true
                  },
                  "ports": [
                    {
                      "name": "http1",
                      "containerPort": 8080
                    }
                  ],
                  "startupProbe": {
                    "timeoutSeconds": 240,
                    "periodSeconds": 240,
                    "failureThreshold": 1,
                    "tcpSocket": {
                      "port": 8080
                    }
                  }
                }
              ],
              "maxInstanceRequestConcurrency": 80
            },
            "traffic": [
              {
                "type": "TRAFFIC_TARGET_ALLOCATION_TYPE_LATEST",
                "percent": 100
              }
            ],
            "terminalCondition": {
              "state": "CONDITION_PENDING"
            },
            "reconciling": true,
            "etag": "\"CMznprEGEKj-kfwB/cHJvamVjdHMvY25ybS10ZXN0LTF2a3hzOWJoanYweG85OHEvbG9jYXRpb25zL3VzLWNlbnRyYWwxL3NlcnZpY2VzL3J1bnNlcnZpY2UtMS0ydWJ6MWVqZHB3YjIy\""
          }
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 467.435447ms
  - id: 5
    request:
      host: iam.googleapis.com
      body: |
        {"accountId":"gsa-2ubz1ejdpwb22","serviceAccount":{"displayName":"ExampleGSA"}}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://iam.googleapis.com/v1/projects/example-project/serviceAccounts?alt=json&prettyPrint=false
      method: POST
    response:
      body: '{"name":"projects/example-project/serviceAccounts/gsa-2ubz1ejdpwb22@example-project.iam.gserviceaccount.com","projectId":"example-project","uniqueId":"100745114897948025258","email":"gsa-2ubz1ejdpwb22@example-project.iam.gserviceaccount.com","displayName":"ExampleGSA","etag":"MDEwMjE5MjA=","oauth2ClientId":"100745114897948025258"}'
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 605.520464ms
[...]
  - id: 11
    request:
      host: cloudresourcemanager.googleapis.com
      body: |
        {"options":{"requestedPolicyVersion":3}}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://cloudresourcemanager.googleapis.com/v1/projects/example-project:getIamPolicy?alt=json&prettyPrint=false
      method: POST
    response:
      body: '{"version":1,"etag":"BwYW4c5j91M=","bindings":[{"role":"roles/alloydb.serviceAgent","members":["serviceAccount:service-123456789@gcp-sa-alloydb.iam.gserviceaccount.com"]},{"role":"roles/appengine.serviceAgent","members":["serviceAccount:service-123456789@gcp-gae-service.iam.gserviceaccount.com"]},{"role":"roles/artifactregistry.serviceAgent","members":["serviceAccount:service-123456789@gcp-sa-artifactregistry.iam.gserviceaccount.com"]},{"role":"roles/binaryauthorization.serviceAgent","members":["serviceAccount:service-123456789@gcp-sa-binaryauthorization.iam.gserviceaccount.com"]},{"role[...]
[...]
  - id: 15
    request:
      host: cloudresourcemanager.googleapis.com
      body: |
        {"policy":{"bindings":[{"members":["serviceAccount:service-123456789@gcp-sa-alloydb.iam.gserviceaccount.com"],"role":"roles/alloydb.serviceAgent"},{"members":["serviceAccount:service-123456789@gcp-gae-service.iam.gserviceaccount.com"],"role":"roles/appengine.serviceAgent"},{"members":["serviceAccount:service-123456789@gcp-sa-artifactregistry.iam.gserviceaccount.com"],"role":"roles/artifactregistry.serviceAgent"},{"members":["serviceAccount:service-123456789@gcp-sa-binaryauthorization.iam.gserviceaccount.c[...]
[...]
  - id: 23
    request:
      host: run.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://run.googleapis.com/v2/projects/example-project/locations/us-central1/operations/0f1e5ceb-6291-4954-82d0-9139a94817c9?alt=json
      method: GET
    response:
      body: |
        {
          "name": "projects/example-project/locations/us-central1/operations/0f1e5ceb-6291-4954-82d0-9139a94817c9",
          "metadata": {
        [...]
[...]
  - id: 34
    request:
      host: run.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://run.googleapis.com/v2/projects/example-project/locations/us-central1/services/runservice-1-2ubz1ejdpwb22?alt=json
      method: DELETE
    response:
      body: |
        {
          "name": "projects/example-project/locations/us-central1/operations/20b7ca9b-5086-402f-8f8b-3258063740e0",
          "metadata": {
            "@type": "type.googleapis.com/google.cloud.run.v2.Service",
            "name": "projects/example-project/locations/us-central1/services/runservice-1-2ubz1ejdpwb22",
            "uid": "092ae477-b30f-4bc4-80db-c24ebea0286c",
            "generation": "2",
            "labels": {
              "cnrm-test": "true",
              "managed-by-cnrm": "true"
            },
            "createTime": "2024-04-25T01:37:16.528777Z",
            "updateTime": "2024-04-25T01:38:33.873883Z",
            "deleteTime": "2024-04-25T01:38:33.873883Z",
            "expireTime": "2024-05-25T01:38:33.873883Z",
            "creator": "integration-test@example-project.iam.gserviceaccount.com",
            "lastModifier": "integration-test@example-project.iam.gserviceaccount.com",
            "ingress": "INGRESS_TRAFFIC_ALL",
            "launchStage": "GA",
            "template": {
              "scaling": {
                "maxInstanceCount": 2
              },
              "timeout": "300s",
              "serviceAccount": "123456789-compute@developer.gserviceaccount.[...]
[...]
