# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: run.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://run.googleapis.com/v2/projects/example-project/locations/us-central1/services/runservice-2-2ubz1ejdpwb22?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 120.757173ms
    - id: 1
      request:
        host: iam.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://iam.googleapis.com/v1/projects/example-project/serviceAccounts/gsa-2ubz1ejdpwb22@example-project.iam.gserviceaccount.com?alt=json&prettyPrint=false
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 138.694903ms
    - id: 2
      request:
        host: pubsub.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://pubsub.googleapis.com/v1/projects/example-project/topics/pubsubtopic-2ubz1ejdpwb22?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 98.179662ms
[...]
    - id: 4
      request:
        host: run.googleapis.com
        body: |
            {"ingress":"INGRESS_TRAFFIC_ALL","labels":{"cnrm-test":"true","config-connector-resource-type":"runservice","managed-by-cnrm":"true"},"launchStage":"GA","template":{"containers":[{"env":[{"name":"FOO","value":"bar]"}],"image":"gcr.io/cloudrun/hello"}],"scaling":{"maxInstanceCount":2}},"traffic":[{"percent":100,"type":"TRAFFIC_TARGET_ALLOCATION_TYPE_LATEST"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://run.googleapis.com/v2/projects/example-project/locations/us-central1/services?alt=json&serviceId=runservice-1-2ubz1ejdpwb22
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/76cb5927-b4d7-474c-9b34-29db066aa71e",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.run.v2.Service",
                "name": "projects/example-project/locations/us-central1/services/runservice-1-2ubz1ejdpwb22",
                "uid": "8e05e5f9-b4ae-43bc-b61a-46e2b9153ad6",
                "generation": "1",
                "labels": {
                  "cnrm-test": "true",
                  "config-connector-resource-type": "runservice",
                  "managed-by-cnrm": "true"
                },
                "createTime": "2024-08-28T05:14:44.266811Z",
                "updateTime": "2024-08-28T05:14:44.266811Z",
                "creator": "xiaoweim@google.com",
                "lastModifier": "xiaoweim@google.com",
                "launchStage": "GA",
                "template": {
                  "scaling": {
                    "maxInstanceCount": 2
                  },
                  "timeout": "300s",
                  "serviceAccount": "123456789-compute@developer.gserviceaccount.com",
                  "containers": [
                    {
                      "image": "gcr.io/cloudrun/hello",
                      "env": [
                        {
                          "name": "FOO",
                          "value": "bar]"
                        }
                      ],
                      "resources": {
                        "limits": {
                          "memory": "512Mi",
                          "cpu": "1000m"
                        },
                        "cpuIdle": true
                      },
                      "ports": [
                        {
                          "name": "http1",
                          "containerPort": 8080
                        }
                      ],
                      "startupProbe": {
                        "timeoutSeconds": 240,
                        "periodSeconds": 240,
                        "failureThreshold": 1,
                        "tcpSocket": {
                          "port": 8080
                        }
                      }
                    }
                  ],
                  "maxInstanceRequestConcurrency": 80
                },
                "traffic": [
                  {
                    "type": "TRAFFIC_TARGET_ALLOCATION_TYPE_LATEST",
                    "percent": 100
                  }
                ],
                "urls": [
                  "https://runservice-1-2ubz1ejdpwb22-123456789.us-central1.run.app"
                ],
                "terminalCondition": {
                  "state": "CONDITION_PENDING"
                },
                "reconciling": true,
                "etag": "\"CMTkurYGEPjsnH8/cHJvamVjdHMveGlhb3dlaW0tZ2tlLWRldi9sb2NhdGlvbnMvdXMtY2VudHJhbDEvc2VydmljZXMvcnVuc2VydmljZS0xLTJ1YnoxZWpkcHdiMjI\""
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 153.295503ms
[...]
    - id: 6
      request:
        host: iam.googleapis.com
        body: |
            {"accountId":"gsa-2ubz1ejdpwb22","serviceAccount":{"displayName":"ExampleGSA"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://iam.googleapis.com/v1/projects/example-project/serviceAccounts?alt=json&prettyPrint=false
        method: POST
      response:
        body: '{"name":"projects/example-project/serviceAccounts/gsa-2ubz1ejdpwb22@example-project.iam.gserviceaccount.com","projectId":"example-project","uniqueId":"112142313952104618767","email":"gsa-2ubz1ejdpwb22@example-project.iam.gserviceaccount.com","displayName":"ExampleGSA","etag":"MDEwMjE5MjA=","oauth2ClientId":"112142313952104618767"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 395.820628ms
[...]
    - id: 11
      request:
        host: cloudresourcemanager.googleapis.com
        body: |
            {"options":{"requestedPolicyVersion":3}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://cloudresourcemanager.googleapis.com/v1/projects/example-project:getIamPolicy?alt=json&prettyPrint=false
        method: POST
      response:
        body: '{"version":1,"etag":"BwYgt2xDhGU=","bindings":[{"role":"roles/alloydb.serviceAgent","members":["serviceAccount:service-123456789@gcp-sa-alloydb.iam.gserviceaccount.com"]},{"role":"roles/artifactregistry.serviceAgent","members":["serviceAccount:service-123456789@gcp-sa-artifactregistry.iam.gserviceaccount.com"]},{"role":"roles/bigquery.dataEditor","members":["serviceAccount:service-123456789@gcp-sa-pubsub.iam.gserviceaccount.com"]},{"role":"roles/bigquery.metadataViewer","members":["serviceAccount:service-123456789@gcp-sa-pubsub.iam.gserviceaccount.com"]},{"role":"roles/cloudbuild.builds.[...]
[...]
    - id: 13
      request:
        host: pubsub.googleapis.com
        body: |
            {"labels":{"cnrm-test":"true","config-connector-resource-type":"pubsubtopic","managed-by-cnrm":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://pubsub.googleapis.com/v1/projects/example-project/topics/pubsubtopic-2ubz1ejdpwb22?alt=json
        method: PUT
      response:
        body: |
            {
              "name": "projects/example-project/topics/pubsubtopic-2ubz1ejdpwb22",
              "labels": {
                "managed-by-cnrm": "true",
                "cnrm-test": "true",
                "config-connector-resource-type": "pubsubtopic"
              },
              "messageStoragePolicy": {
                "allowedPersistenceRegions": [
                  "asia-east1",
                  "asia-northeast1",
                  "asia-southeast1",
                  "australia-southeast1",
                  "europe-north1",
                  "europe-west1",
                  "europe-west2",
                  "europe-west3",
                  "europe-west4",
                  "southamerica-west1",
                  "us-central1",
                  "us-central2",
                  "us-east1",
                  "us-east4",
                  "us-east5",
                  "us-east7",
                  "us-south1",
                  "us-west1",
                  "us-west2",
                  "us-west3",
                  "us-west4",
                  "us-west8"
                ]
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 3.068542012s
[...]
    - id: 16
      request:
        host: cloudresourcemanager.googleapis.com
        body: |
            {"policy":{"bindings":[{"members":["serviceAccount:service-123456789@gcp-sa-alloydb.iam.gserviceaccount.com"],"role":"roles/alloydb.serviceAgent"},{"members":["serviceAccount:service-123456789@gcp-sa-artifactregistry.iam.gserviceaccount.com"],"role":"roles/artifactregistry.serviceAgent"},{"members":["serviceAccount:service-123456789@gcp-sa-pubsub.iam.gserviceaccount.com"],"role":"roles/bigquery.dataEditor"},{"members":["serviceAccount:service-123456789@gcp-sa-pubsub.iam.gserviceaccount.com"],"role":"roles[...]
[...]
    - id: 21
      request:
        host: run.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://run.googleapis.com/v2/projects/example-project/locations/us-central1/operations/76cb5927-b4d7-474c-9b34-29db066aa71e?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/76cb5927-b4d7-474c-9b34-29db066aa[...]
[...]
    - id: 35
      request:
        host: run.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://run.googleapis.com/v2/projects/example-project/locations/us-central1/services/runservice-2-2ubz1ejdpwb22?alt=json
        method: DELETE
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/fc243300-b0b9-41d8-bd39-dadcd0d94a88",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.run.v2.Service",
                "name": "projects/example-project/locations/us-central1/services/runservice-2-2ubz1ejdpwb22",
                "uid": "e8726feb-f547-438f-af63-2db212103931",
                "generation": "2",
                "labels": {
                  "cnrm-test": "true",
                  "config-connector-resource-type": "runservice",
                  "managed-by-cnrm": "true"
                },
                "createTime": "2024-08-28T05:14:44.489112Z",
                "updateTime": "2024-08-28T05:15:04.444896Z",
                "deleteTime": "2024-08-28T05:15:04.444896Z",
                "expireTime": "2024-09-27T05:15:04.444896Z",
                "creator": "xiaoweim@google.com",
                "lastModifier": "xiaoweim@google.com",
                "ingress": "INGRESS_TRAFFIC_ALL",
                "launchStage": "GA",
                "template": {
                  "scaling": {
                    "maxInstanceCount": 2
                  },
                  "timeout": "300s",
                  "serviceAccount": "123456789-compute@developer.gserviceaccount.com",
                  "container[...]
[...]
