# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: firestore.googleapis.com
        body: |
            {"fields":[{"fieldPath":"field1","order":"ASCENDING"},{"fieldPath":"field2","order":"DESCENDING"}],"queryScope":"COLLECTION"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://firestore.googleapis.com/v1/projects/cnrm-test-firestore/databases/(default)/collectionGroups/sample-collection-230kdrl2n1vr1/indexes?alt=json
        method: POST
      response:
        body: |
            {
              "name": "projects/cnrm-test-firestore/databases/(default)/operations/S0FaczJ5TWdBQ0lDDCoDIDY5MDFjOTEwMDBhNC0xMThhLTcwMjQtMDliYy04YmZmYjA4YyQac2VuaWxlcGlwCQpBEg",
              "metadata": {
                "@type": "type.googleapis.com/google.firestore.admin.v1.IndexOperationMetadata",
                "startTime": "2024-04-11T23:36:12.574409Z",
                "index": "projects/cnrm-test-firestore/databases/(default)/collectionGroups/sample-collection-230kdrl2n1vr1/indexes/CICAgMy2sZAK",
                "state": "INITIALIZING"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
            X-Debug-Tracking-Id:
                - 11584778779790200335;o=0
        status: 200 OK
        code: 200
        duration: 343.123753ms
    - id: 1
      request:
        host: firestore.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://firestore.googleapis.com/v1/projects/cnrm-test-firestore/databases/(default)/operations/S0FaczJ5TWdBQ0lDDCoDIDY5MDFjOTEwMDBhNC0xMThhLTcwMjQtMDliYy04YmZmYjA4YyQac2VuaWxlcGlwCQpBEg?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/cnrm-test-firestore/databases/(default)/operations/S0FaczJ5TWdBQ0lDDCoDIDY5MDFjOTEwMDBhNC0xMThhLTcwMjQtMDliYy04YmZmYjA4YyQac2VuaWxlcGlwCQpBEg",
              "metadata": {
                "@type": "type.googleapis.com/google.firestore.admin.v1.IndexOperationMetadata",
                "startTime": "2024-04-11T23:36:12.574409Z",
                "index": "projects/cnrm-test-firestore/databases/(default)/collectionGroups/sample-collection-230kdrl2n1vr1/indexes/CICAgMy2sZAK",
                "state": "INITIALIZING"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
            X-Debug-Tracking-Id:
                - 7341070382246375865;o=0
        status: 200 OK
        code: 200
        duration: 79.727038ms
    - id: 2
      request:
        host: firestore.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://firestore.googleapis.com/v1/projects/cnrm-test-firestore/databases/(default)/operations/S0FaczJ5TWdBQ0lDDCoDIDY5MDFjOTEwMDBhNC0xMThhLTcwMjQtMDliYy04YmZmYjA4YyQac2VuaWxlcGlwCQpBEg?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/cnrm-test-firestore/databases/(default)/operations/S0FaczJ5TWdBQ0lDDCoDIDY5MDFjOTEwMDBhNC0xMThhLTcwMjQtMDliYy04YmZmYjA4YyQac2VuaWxlcGlwCQpBEg",
              "metadata": {
                "@type": "type.googleapis.com/google.firestore.admin.v1.IndexOperationMetadata",
                "startTime": "2024-04-11T23:36:12.574409Z",
                "endTime": "2024-04-11T23:38:13.143176Z",
                "index": "projects/cnrm-test-firestore/databases/(default)/collectionGroups/sample-collection-230kdrl2n1vr1/indexes/CICAgMy2sZAK",
                "state": "SUCCESSFUL",
                "progressDocuments": {}
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.firestore.admin.v1.Index",
                "name": "projects/cnrm-test-firestore/databases/(default)/collectionGroups/sample-collection-230kdrl2n1vr1/indexes/CICAgMy2sZAK",
                "queryScope": "COLLECTION",
                "fields": [
                  {
                    "fieldPath": "field1",
                    "order": "ASCENDING"
                  },
                  {
                    "fieldPath": "field2",
                    "order": "DESCENDING"
                  },
                  {
                    "fieldPath": "__name__",
                    "order": "DESCENDING"
                  }
                ],
                "state": "CREATING"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
            X-Debug-Tracking-Id:
                - 10302880795694451438;o=0
        status: 200 OK
        code: 200
        duration: 59.797118ms
    - id: 3
      request:
        host: firestore.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://firestore.googleapis.com/v1/projects/cnrm-test-firestore/databases/(default)/collectionGroups/sample-collection-230kdrl2n1vr1/indexes/CICAgMy2sZAK?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/cnrm-test-firestore/databases/(default)/collectionGroups/sample-collection-230kdrl2n1vr1/indexes/CICAgMy2sZAK",
              "queryScope": "COLLECTION",
              "fields": [
                {
                  "fieldPath": "field1",
                  "order": "ASCENDING"
                },
                {
                  "fieldPath": "field2",
                  "order": "DESCENDING"
                },
                {
                  "fieldPath": "__name__",
                  "order": "DESCENDING"
                }
              ],
              "state": "READY"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
            X-Debug-Tracking-Id:
                - 11356610491283344810;o=0
        status: 200 OK
        code: 200
        duration: 60.195722ms
[...]
