# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
  - id: 0
    request:
      host: firestore.googleapis.com
      body: |
        {"fields":[{"fieldPath":"field1","order":"ASCENDING"},{"fieldPath":"field2","order":"DESCENDING"}],"queryScope":"COLLECTION"}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://firestore.googleapis.com/v1/projects/cnrm-test-firestore/databases/(default)/collectionGroups/sample-collection-230kdrl2n1vr1/indexes?alt=json
      method: POST
    response:
      body: |
        {
          "name": "projects/cnrm-test-firestore/databases/(default)/operations/Sm80bnN5T2dBQ0lDDCoDIDY5ZjY1MzZjNDQ3Zi1hMWFiLTgyMjQtMTI2ZS1iM2UxYTg5ZiQac2VuaWxlcGlwCQpBEg",
          "metadata": {
            "@type": "type.googleapis.com/google.firestore.admin.v1.IndexOperationMetadata",
            "startTime": "2024-04-25T01:39:11.439476Z",
            "index": "projects/cnrm-test-firestore/databases/(default)/collectionGroups/sample-collection-230kdrl2n1vr1/indexes/CICAgOysn4oJ",
            "state": "INITIALIZING"
          }
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
        X-Debug-Tracking-Id:
          - 12464587146932491838;o=0
      status: 200 OK
      code: 200
      duration: 402.223967ms
  - id: 1
    request:
      host: firestore.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://firestore.googleapis.com/v1/projects/cnrm-test-firestore/databases/(default)/operations/Sm80bnN5T2dBQ0lDDCoDIDY5ZjY1MzZjNDQ3Zi1hMWFiLTgyMjQtMTI2ZS1iM2UxYTg5ZiQac2VuaWxlcGlwCQpBEg?alt=json
      method: GET
    response:
      body: |
        {
          "name": "projects/cnrm-test-firestore/databases/(default)/operations/Sm80bnN5T2dBQ0lDDCoDIDY5ZjY1MzZjNDQ3Zi1hMWFiLTgyMjQtMTI2ZS1iM2UxYTg5ZiQac2VuaWxlcGlwCQpBEg",
          "metadata": {
            "@type": "type.googleapis.com/google.firestore.admin.v1.IndexOperationMetadata",
            "startTime": "2024-04-25T01:39:11.439476Z",
            "endTime": "2024-04-25T01:41:11.961042Z",
            "index": "projects/cnrm-test-firestore/databases/(default)/collectionGroups/sample-collection-230kdrl2n1vr1/indexes/CICAgOysn4oJ",
            "state": "SUCCESSFUL",
            "progressDocuments": {}
          },
          "done": true,
          "response": {
            "@type": "type.googleapis.com/google.firestore.admin.v1.Index",
            "name": "projects/cnrm-test-firestore/databases/(default)/collectionGroups/sample-collection-230kdrl2n1vr1/indexes/CICAgOysn4oJ",
            "queryScope": "COLLECTION",
            "fields": [
              {
                "fieldPath": "field1",
                "order": "ASCENDING"
              },
              {
                "fieldPath": "field2",
                "order": "DESCENDING"
              },
              {
                "fieldPath": "__name__",
                "order": "DESCENDING"
              }
            ],
            "state": "CREATING"
          }
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
        X-Debug-Tracking-Id:
          - 1114903209974991974;o=0
      status: 200 OK
      code: 200
      duration: 109.110727ms
  - id: 2
    request:
      host: firestore.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://firestore.googleapis.com/v1/projects/cnrm-test-firestore/databases/(default)/collectionGroups/sample-collection-230kdrl2n1vr1/indexes/CICAgOysn4oJ?alt=json
      method: GET
    response:
      body: |
        {
          "name": "projects/cnrm-test-firestore/databases/(default)/collectionGroups/sample-collection-230kdrl2n1vr1/indexes/CICAgOysn4oJ",
          "queryScope": "COLLECTION",
          "fields": [
            {
              "fieldPath": "field1",
              "order": "ASCENDING"
            },
            {
              "fieldPath": "field2",
              "order": "DESCENDING"
            },
            {
              "fieldPath": "__name__",
              "order": "DESCENDING"
            }
          ],
          "state": "READY"
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
        X-Debug-Tracking-Id:
          - 15133899658464777574;o=0
      status: 200 OK
      code: 200
      duration: 67.570011ms
[...]
