# Copyright 2025 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: bigquery.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://bigquery.googleapis.com/bigquery/v2/projects/example-project/datasets/bigquerydataset22yq2ldf3wcoir?alt=json&prettyPrint=false
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 307.512764ms
[...]
    - id: 2
      request:
        host: bigquery.googleapis.com
        body: |
            {"datasetReference":{"datasetId":"bigquerydataset22yq2ldf3wcoir"},"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"location":"us-central1"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://bigquery.googleapis.com/bigquery/v2/projects/example-project/datasets?alt=json&prettyPrint=false
        method: POST
      response:
        body: '{"kind":"bigquery#dataset","etag":"IYiuEs8fPuRCcMpWA+/C7Q==","id":"example-project:bigquerydataset22yq2ldf3wcoir","selfLink":"https://bigquery.googleapis.com/bigquery/v2/projects/example-project/datasets/bigquerydataset22yq2ldf3wcoir","datasetReference":{"datasetId":"bigquerydataset22yq2ldf3wcoir","projectId":"example-project"},"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"access":[{"role":"WRITER","specialGroup":"projectWriters"},{"role":"OWNER","specialGroup":"projectOwners"},{"role":"OWNER","userByEmail":"xiaoweim@google.com"},{"role":"READER","specialGroup":"projectReaders"}],"creationTime":"1755030465233","lastModifiedTime":"1755030465233","location":"us-central1","type":"DEFAULT"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 538.480894ms
[...]
    - id: 4
      request:
        host: bigquery.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://bigquery.googleapis.com/bigquery/v2/projects/example-project/datasets/bigquerydataset22yq2ldf3wcoir?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"bigquery#dataset","etag":"IYiuEs8fPuRCcMpWA+/C7Q==","id":"example-project:bigquerydataset22yq2ldf3wcoir","selfLink":"https://bigquery.googleapis.com/bigquery/v2/projects/example-project/datasets/bigquerydataset22yq2ldf3wcoir","datasetReference":{"datasetId":"bigquerydataset22yq2ldf3wcoir","projectId":"example-project"},"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"access":[{"role":"WRITER","specialGroup":"projectWriters"},{"role":"OWNER","specialGroup":"projectOwners"},{"role":"OWNER","userByEmail":"xiaoweim@google.com"},{"role":"READER","specialGroup":"projectReaders"}],"creationTime":"1755030465233","lastModifiedTime":"1755030465233","location":"us-central1","type":"DEFAULT","maxTimeTravelHours":"168"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 753.876825ms
[...]
    - id: 12
      request:
        host: bigquery.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://bigquery.googleapis.com/bigquery/v2/projects/example-project/datasets/bigquerydataset22yq2ldf3wcoir?alt=json&deleteContents=false&prettyPrint=false
        method: DELETE
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 400 Bad Request
        code: 400
        duration: 372.106437ms
[...]
