# Copyright 2025 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: bigquery.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://bigquery.googleapis.com/bigquery/v2/projects/example-project/datasets/bigquerydataset12yq2ldf3wcoir?alt=json&prettyPrint=false
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 258.686766ms
[...]
    - id: 2
      request:
        host: bigquery.googleapis.com
        body: |
            {"datasetReference":{"datasetId":"bigquerydataset12yq2ldf3wcoir"},"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"location":"us-central1"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://bigquery.googleapis.com/bigquery/v2/projects/example-project/datasets?alt=json&prettyPrint=false
        method: POST
      response:
        body: '{"kind":"bigquery#dataset","etag":"3CJd5MfyjpL048+HkhaOnw==","id":"example-project:bigquerydataset12yq2ldf3wcoir","selfLink":"https://bigquery.googleapis.com/bigquery/v2/projects/example-project/datasets/bigquerydataset12yq2ldf3wcoir","datasetReference":{"datasetId":"bigquerydataset12yq2ldf3wcoir","projectId":"example-project"},"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"access":[{"role":"WRITER","specialGroup":"projectWriters"},{"role":"OWNER","specialGroup":"projectOwners"},{"role":"OWNER","userByEmail":"xiaoweim@google.com"},{"role":"READER","specialGroup":"projectReaders"}],"creationTime":"1755123189633","lastModifiedTime":"1755123189633","location":"us-central1","type":"DEFAULT"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 397.423783ms
[...]
    - id: 4
      request:
        host: bigquery.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://bigquery.googleapis.com/bigquery/v2/projects/example-project/datasets/bigquerydataset12yq2ldf3wcoir?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"bigquery#dataset","etag":"3CJd5MfyjpL048+HkhaOnw==","id":"example-project:bigquerydataset12yq2ldf3wcoir","selfLink":"https://bigquery.googleapis.com/bigquery/v2/projects/example-project/datasets/bigquerydataset12yq2ldf3wcoir","datasetReference":{"datasetId":"bigquerydataset12yq2ldf3wcoir","projectId":"example-project"},"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"access":[{"role":"WRITER","specialGroup":"projectWriters"},{"role":"OWNER","specialGroup":"projectOwners"},{"role":"OWNER","userByEmail":"xiaoweim@google.com"},{"role":"READER","specialGroup":"projectReaders"}],"creationTime":"1755123189633","lastModifiedTime":"1755123189633","location":"us-central1","type":"DEFAULT","maxTimeTravelHours":"168"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 223.447249ms
[...]
    - id: 8
      request:
        host: bigquery.googleapis.com
        body: |
            {"access":null,"isCaseInsensitive":false,"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"maxTimeTravelHours":"168"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://bigquery.googleapis.com/bigquery/v2/projects/example-project/datasets/bigquerydataset22yq2ldf3wcoir?alt=json&prettyPrint=false
        method: PATCH
      response:
        body: '{"kind":"bigquery#dataset","etag":"/wStpKWHFoQA+GzkwYbQaQ==","id":"example-project:bigquerydataset22yq2ldf3wcoir","selfLink":"https://bigquery.googleapis.com/bigquery/v2/projects/example-project/datasets/bigquerydataset22yq2ldf3wcoir","datasetReference":{"datasetId":"bigquerydataset22yq2ldf3wcoir","projectId":"example-project"},"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"access":[{"role":"WRITER","specialGroup":"projectWriters"},{"role":"OWNER","specialGroup":"projectOwners"},{"role":"OWNER","userByEmail":"xiaoweim@google.com"},{"role":"READER","specialGroup":"projectReaders"}],"creationTime":"1755123189748","lastModifiedTime":"1755123191409","location":"us-central1","type":"DEFAULT","maxTimeTravelHours":"168"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 400.127433ms
[...]
    - id: 14
      request:
        host: bigquery.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://bigquery.googleapis.com/bigquery/v2/projects/example-project/datasets/bigquerydataset22yq2ldf3wcoir?alt=json&deleteContents=false&prettyPrint=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 204 No Content
        code: 204
        duration: 174.227324ms
[...]
