# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: bigquery.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://bigquery.googleapis.com/bigquery/v2/projects/example-project/datasets/bigquerydataset12yq2ldf3wcoir?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 268.060661ms
[...]
    - id: 2
      request:
        host: bigquery.googleapis.com
        body: |
            {"datasetReference":{"datasetId":"bigquerydataset22yq2ldf3wcoir"},"labels":{"cnrm-test":"true","config-connector-resource-type":"bigquerydataset","managed-by-cnrm":"true"},"location":"US"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://bigquery.googleapis.com/bigquery/v2/projects/example-project/datasets?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "bigquery#dataset",
              "etag": "yVrv54Klc+9KyZ5LhZEBdQ==",
              "id": "example-project:bigquerydataset22yq2ldf3wcoir",
              "selfLink": "https://bigquery.googleapis.com/bigquery/v2/projects/example-project/datasets/bigquerydataset22yq2ldf3wcoir",
              "datasetReference": {
                "datasetId": "bigquerydataset22yq2ldf3wcoir",
                "projectId": "example-project"
              },
              "labels": {
                "cnrm-test": "true",
                "config-connector-resource-type": "bigquerydataset",
                "managed-by-cnrm": "true"
              },
              "access": [
                {
                  "role": "WRITER",
                  "specialGroup": "projectWriters"
                },
                {
                  "role": "OWNER",
                  "specialGroup": "projectOwners"
                },
                {
                  "role": "OWNER",
                  "userByEmail": "xiaoweim@google.com"
                },
                {
                  "role": "READER",
                  "specialGroup": "projectReaders"
                }
              ],
              "creationTime": "1723745671658",
              "lastModifiedTime": "1723745671658",
              "location": "US",
              "type": "DEFAULT"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 391.801472ms
[...]
    - id: 7
      request:
        host: bigquery.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://bigquery.googleapis.com/bigquery/v2/projects/example-project/datasets/bigquerydataset22yq2ldf3wcoir/tables/bigquerytable2yq2ldf3wcoir?alt=json&prettyPrint=false
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 178.749204ms
[...]
    - id: 9
      request:
        host: bigquery.googleapis.com
        body: |
            {"labels":{"cnrm-test":"true","config-connector-resource-type":"bigquerytable","managed-by-cnrm":"true"},"tableReference":{"datasetId":"bigquerydataset22yq2ldf3wcoir","projectId":"example-project","tableId":"bigquerytable2yq2ldf3wcoir"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://bigquery.googleapis.com/bigquery/v2/projects/example-project/datasets/bigquerydataset22yq2ldf3wcoir/tables?alt=json&prettyPrint=false
        method: POST
      response:
        body: '{"kind":"bigquery#table","etag":"DRzd9I7O2TxxLegqNTVXXg==","id":"example-project:bigquerydataset22yq2ldf3wcoir.bigquerytable2yq2ldf3wcoir","selfLink":"https://bigquery.googleapis.com/bigquery/v2/projects/example-project/datasets/bigquerydataset22yq2ldf3wcoir/tables/bigquerytable2yq2ldf3wcoir","tableReference":{"projectId":"example-project","datasetId":"bigquerydataset22yq2ldf3wcoir","tableId":"bigquerytable2yq2ldf3wcoir"},"labels":{"config-connector-resource-type":"bigquerytable","cnrm-test":"true","managed-by-cnrm":"true"},"schema":{},"numBytes":"0","numLongTermBytes":"0","numRows":"0","creationTime":"1723745673083","lastModifiedTime":"1723745673248","type":"TABLE","location":"US","numTotalLogicalBytes":"0","numActiveLogicalBytes":"0","numLongTermLogicalBytes":"0"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 292.701101ms
[...]
    - id: 12
      request:
        host: bigquery.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://bigquery.googleapis.com/bigquery/v2/projects/example-project/jobs/bigqueryjob-2yq2ldf3wcoir?alt=json&location=US
        method: GET
      response:
        body: |
            {
              "kind": "bigquery#job",
              "etag": "ZDLrq7LWmj/XLYm/gz2B7A==",
              "id": "example-project:US.bigqueryjob-2yq2ldf3wcoir",
              "selfLink": "https://bigquery.googleapis.com/bigquery/v2/projects/example-project/jobs/bigqueryjob-2yq2ldf3wcoir?location=US",
              "user_email": "xiaoweim@google.com",
              "configuration": {
                "query": {
                  "query": "SELECT state FROM [lookerdata:cdc.project_tycho_reports]",
                  "destinationTable": {
                    "projectId": "example-project",
                    "datasetId": "bigquerydataset22yq2ldf3wcoir",
                    "tableId": "bigquerytable2yq2ldf3wcoir"
                  },
                  "createDisposition": "CREATE_NEVER",
                  "writeDisposition": "WRITE_APPEND",
                  "defaultDataset": {
                    "datasetId": "bigquerydataset12yq2ldf3wcoir",
                    "projectId": "example-project"
                  },
                  "priority": "INTERACTIVE",
                  "allowLargeResults": true,
                  "useQueryCache": true,
                  "flattenResults": true,
                  "useLegacySql": true,
                  "schemaUpdateOptions": [
                    "ALLOW_FIELD_ADDITION",
                    "ALLOW_FIELD_RELAXATION"
                  ],
                  "scriptOptions": {
                    "statementTimeoutMs": "300000",
                    "keyResultStatement": "LAST"
                  }
                },
                "jobTimeoutMs": "600000",
                "labels": {
                  "config-connector-resource-type": "bigqueryjob",
                  "cnrm-test": "true",
                  "label-one": "value-one",
                  "managed-by-cnrm": "true"
                },
                "jobType": "QUERY"
              },
              "jobReference": {
                "projectId": "example-project",
                "jobId": "bigqueryjob-2yq2ldf3wcoir",
                "location": "US"
              },
              "statistics": {
                "creationTime": "1723673705140",
                "startTime": "1723673705602",
                "endTime": "1723673707919",
                "totalBytesProcessed": "3037868",
                "query": {
                  "queryPlan": [
                    {
                      "name": "S00: Input",
                      "id": "0",
                      "startMs": "1723673705703",
                      "endMs": "1723673705931",
                      "waitRatioAvg": 0.0010351966873706005,
                      "waitMsAvg": "1",
                      "waitRatioMax": 0.0010351966873706005,
                      "waitMsMax": "1",
                      "readRatioAvg": 0.057971014492753624,
                      "readMsAvg": "56",
                      "readRatioMax": 0.057971014492753624,
                      "readMsMax": "56",
                      "computeRatioAvg": 0.31262939958592134,
                      "computeMsAvg": "302",
                      "computeRatioMax": 0.31262939958592134,
                      "computeMsMax": "302",
                      "writeRatioAvg": 0.031055900621118012,
                      "writeMsAvg": "30",
                      "writeRatioMax": 0.031055900621118012,
                      "writeMsMax": "30",
                      "shuffleOutputBytes": "5316269",
                      "shuffleOutputBytesSpilled": "0",
                      "recordsRead": "759467",
                      "recordsWritten": "759467",
                      "parallelInputs": "1",
                      "completedParallelInputs": "1",
                      "status": "COMPLETE",
                      "steps": [
                        {
                          "kind": "READ",
                          "substeps": [
                            "state",
                            "FROM lookerdata:cdc.project_tycho_reports AS lookerdata:cdc.project_tycho_reports"
                          ]
                        },
                        {
                          "kind": "WRITE",
                          "substeps": [
                            "state",
                            "TO __stage00_output"
                          ]
                        }
                      ],
                      "slotMs": "405",
                      "computeMode": "BIGQUERY"
                    },
                    {
                      "name": "S01: Coalesce",
                      "id": "1",
                      "startMs": "1723673705934",
                      "endMs": "1723673705998",
                      "inputStages": [
                        "0"
                      ],
                      "waitRatioAvg": 0.0010351966873706005,
                      "waitMsAvg": "1",
                      "waitRatioMax": 0.002070393374741201,
                      "waitMsMax": "2",
                      "readRatioAvg": 0,
                      "readMsAvg": "0",
                      "readRatioMax": 0,
                      "readMsMax": "0",
                      "computeRatioAvg": 0.013457556935817806,
                  [...]
[...]
    - id: 18
      request:
        host: bigquery.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://bigquery.googleapis.com/bigquery/v2/projects/example-project/datasets/bigquerydataset22yq2ldf3wcoir?alt=json&deleteContents=false
        method: DELETE
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 400 Bad Request
        code: 400
        duration: 143.942729ms
[...]
