# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: bigquery.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://bigquery.googleapis.com/bigquery/v2/projects/example-project/datasets/bigquerydataset22yq2ldf3wcoir?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 234.053167ms
[...]
    - id: 2
      request:
        host: bigquery.googleapis.com
        body: |
            {"datasetReference":{"datasetId":"bigquerydataset22yq2ldf3wcoir"},"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"location":"us-central1"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://bigquery.googleapis.com/bigquery/v2/projects/example-project/datasets?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "bigquery#dataset",
              "etag": "UTD7bH0f//NO3dLHXzmVTQ==",
              "id": "example-project:bigquerydataset22yq2ldf3wcoir",
              "selfLink": "https://bigquery.googleapis.com/bigquery/v2/projects/example-project/datasets/bigquerydataset22yq2ldf3wcoir",
              "datasetReference": {
                "datasetId": "bigquerydataset22yq2ldf3wcoir",
                "projectId": "example-project"
              },
              "labels": {
                "cnrm-test": "true",
                "managed-by-cnrm": "true"
              },
              "access": [
                {
                  "role": "WRITER",
                  "specialGroup": "projectWriters"
                },
                {
                  "role": "OWNER",
                  "specialGroup": "projectOwners"
                },
                {
                  "role": "OWNER",
                  "userByEmail": "xiaoweim@google.com"
                },
                {
                  "role": "READER",
                  "specialGroup": "projectReaders"
                }
              ],
              "creationTime": "1729233764136",
              "lastModifiedTime": "1729233764136",
              "location": "us-central1",
              "type": "DEFAULT"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 361.322656ms
[...]
    - id: 7
      request:
        host: bigquery.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://bigquery.googleapis.com/bigquery/v2/projects/example-project/datasets/bigquerydataset22yq2ldf3wcoir/tables/bigquerytable2yq2ldf3wcoir?alt=json&prettyPrint=false
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 135.950427ms
[...]
    - id: 9
      request:
        host: bigquery.googleapis.com
        body: |
            {"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"tableReference":{"datasetId":"bigquerydataset22yq2ldf3wcoir","projectId":"example-project","tableId":"bigquerytable2yq2ldf3wcoir"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://bigquery.googleapis.com/bigquery/v2/projects/example-project/datasets/bigquerydataset22yq2ldf3wcoir/tables?alt=json&prettyPrint=false
        method: POST
      response:
        body: '{"kind":"bigquery#table","etag":"zP4N7TpLpSchHSlPBuMVew==","id":"example-project:bigquerydataset22yq2ldf3wcoir.bigquerytable2yq2ldf3wcoir","selfLink":"https://bigquery.googleapis.com/bigquery/v2/projects/example-project/datasets/bigquerydataset22yq2ldf3wcoir/tables/bigquerytable2yq2ldf3wcoir","tableReference":{"projectId":"example-project","datasetId":"bigquerydataset22yq2ldf3wcoir","tableId":"bigquerytable2yq2ldf3wcoir"},"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"schema":{},"numBytes":"0","numLongTermBytes":"0","numRows":"0","creationTime":"1729233765250","lastModifiedTime":"1729233765330","type":"TABLE","location":"us-central1","numTotalLogicalBytes":"0","numActiveLogicalBytes":"0","numLongTermLogicalBytes":"0"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 175.494323ms
[...]
    - id: 12
      request:
        host: bigquery.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://bigquery.googleapis.com/bigquery/v2/projects/example-project/jobs/bigqueryjob-2yq2ldf3wcoir?alt=json&location=us-central1
        method: GET
      response:
        body: |
            {
              "kind": "bigquery#job",
              "etag": "qywbpQBNxG6Twvxjt/luNw==",
              "id": "example-project:us-central1.bigqueryjob-2yq2ldf3wcoir",
              "selfLink": "https://bigquery.googleapis.com/bigquery/v2/projects/example-project/jobs/bigqueryjob-2yq2ldf3wcoir?location=us-central1",
              "user_email": "xiaoweim@google.com",
              "configuration": {
                "query": {
                  "query": "SELECT state FROM [lookerdata:cdc.project_tycho_reports]",
                  "destinationTable": {
                    "projectId": "example-project",
                    "datasetId": "bigquerydataset22yq2ldf3wcoir",
                    "tableId": "bigquerytable2yq2ldf3wcoir"
                  },
                  "createDisposition": "CREATE_NEVER",
                  "writeDisposition": "WRITE_APPEND",
                  "defaultDataset": {
                    "datasetId": "bigquerydataset12yq2ldf3wcoir",
                    "projectId": "example-project"
                  },
                  "priority": "INTERACTIVE",
                  "allowLargeResults": true,
                  "useQueryCache": true,
                  "flattenResults": true,
                  "useLegacySql": true,
                  "schemaUpdateOptions": [
                    "ALLOW_FIELD_ADDITION",
                    "ALLOW_FIELD_RELAXATION"
                  ],
                  "scriptOptions": {
                    "statementTimeoutMs": "300000",
                    "keyResultStatement": "LAST"
                  }
                },
                "jobTimeoutMs": "600000",
                "labels": {
                  "cnrm-test": "true",
                  "label-one": "value-one",
                  "managed-by-cnrm": "true"
                },
                "jobType": "QUERY"
              },
              "jobReference": {
                "projectId": "example-project",
                "jobId": "bigqueryjob-2yq2ldf3wcoir",
                "location": "us-central1"
              },
              "statistics": {
                "creationTime": "1729044292505",
                "startTime": "1729044292825",
                "endTime": "1729044292825"
              },
              "status": {
                "errorResult": {
                  "reason": "accessDenied",
                  "debugInfo": "[ACCESS_DENIED] message=com.google.net.rpc3.client.RpcClientException: APPLICATION_ERROR;cloud.helix/Authorization.AuthorizeQuery;domain: \"cloud.helix.ErrorDomain\" code: \"ACCESS_DENIED\" argument: \"Table\" argument: \"lookerdata:cdc.project_tycho_reports\" argument: \"User does not have permission to query table lookerdata:cdc.project_tycho_reports, or perhaps it does not exist.\" debug_info: \"[ACCESS_DENIED] errorProto=code: \\\"ACCESS_DENIED\\\"\\nargument: \\\"Table\\\"\\nargument: \\\[...]
[...]
    - id: 19
      request:
        host: bigquery.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://bigquery.googleapis.com/bigquery/v2/projects/example-project/datasets/bigquerydataset12yq2ldf3wcoir?alt=json&deleteContents=false
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 204 No Content
        code: 204
        duration: 126.402208ms
[...]
