# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
  - id: 0
    request:
      host: bigquery.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://bigquery.googleapis.com/bigquery/v2/projects/example-project/datasets/bigquerydataset12yq2ldf3wcoir?alt=json
      method: GET
    response:
      body: fake error message
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 404 Not Found
      code: 404
      duration: 369.624831ms
[...]
  - id: 2
    request:
      host: bigquery.googleapis.com
      body: |
        {"datasetReference":{"datasetId":"bigquerydataset12yq2ldf3wcoir"},"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"location":"US"}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://bigquery.googleapis.com/bigquery/v2/projects/example-project/datasets?alt=json
      method: POST
    response:
      body: |
        {
          "kind": "bigquery#dataset",
          "etag": "1oxb+cE169ziQbocLgYz5w==",
          "id": "example-project:bigquerydataset12yq2ldf3wcoir",
          "selfLink": "https://bigquery.googleapis.com/bigquery/v2/projects/example-project/datasets/bigquerydataset12yq2ldf3wcoir",
          "datasetReference": {
            "datasetId": "bigquerydataset12yq2ldf3wcoir",
            "projectId": "example-project"
          },
          "labels": {
            "cnrm-test": "true",
            "managed-by-cnrm": "true"
          },
          "access": [
            {
              "role": "WRITER",
              "specialGroup": "projectWriters"
            },
            {
              "role": "OWNER",
              "specialGroup": "projectOwners"
            },
            {
              "role": "OWNER",
              "userByEmail": "integration-test@example-project.iam.gserviceaccount.com"
            },
            {
              "role": "READER",
              "specialGroup": "projectReaders"
            }
          ],
          "creationTime": "1714007921736",
          "lastModifiedTime": "1714007921736",
          "location": "US",
          "type": "DEFAULT"
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 468.340052ms
[...]
  - id: 7
    request:
      host: bigquery.googleapis.com
      body: ""
      form: {}
      headers:
      url: https://bigquery.googleapis.com/bigquery/v2/projects/example-project/datasets/bigquerydataset22yq2ldf3wcoir/tables/bigquerytable2yq2ldf3wcoir?alt=json&prettyPrint=false
      method: GET
    response:
      body: fake error message
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 404 Not Found
      code: 404
      duration: 201.043185ms
[...]
  - id: 9
    request:
      host: bigquery.googleapis.com
      body: |
        {"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"tableReference":{"datasetId":"bigquerydataset22yq2ldf3wcoir","projectId":"example-project","tableId":"bigquerytable2yq2ldf3wcoir"}}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://bigquery.googleapis.com/bigquery/v2/projects/example-project/datasets/bigquerydataset22yq2ldf3wcoir/tables?alt=json&prettyPrint=false
      method: POST
    response:
      body: '{"kind":"bigquery#table","etag":"5tjsrJs4nIXqBqyB5xL59w==","id":"example-project:bigquerydataset22yq2ldf3wcoir.bigquerytable2yq2ldf3wcoir","selfLink":"https://bigquery.googleapis.com/bigquery/v2/projects/example-project/datasets/bigquerydataset22yq2ldf3wcoir/tables/bigquerytable2yq2ldf3wcoir","tableReference":{"projectId":"example-project","datasetId":"bigquerydataset22yq2ldf3wcoir","tableId":"bigquerytable2yq2ldf3wcoir"},"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"schema":{},"numBytes":"0","numLongTermBytes":"0","numRows":"0","creationTime":"1714007923844","lastModifiedTime":"1714007923961","type":"TABLE","location":"US","numTotalLogicalBytes":"0","numActiveLogicalBytes":"0","numLongTermLogicalBytes":"0"}'
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 327.577094ms
[...]
  - id: 11
    request:
      host: bigquery.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://bigquery.googleapis.com/bigquery/v2/projects/example-project/jobs/bigqueryjob-2yq2ldf3wcoir?alt=json&location=US
      method: GET
    response:
      body: fake error message
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 404 Not Found
      code: 404
      duration: 159.509962ms
[...]
  - id: 13
    request:
      host: bigquery.googleapis.com
      body: |
        {"configuration":{"jobTimeoutMs":"600000","labels":{"cnrm-test":"true","label-one":"value-one","managed-by-cnrm":"true"},"query":{"allowLargeResults":true,"createDisposition":"CREATE_NEVER","defaultDataset":{"datasetId":"bigquerydataset12yq2ldf3wcoir","projectId":"example-project"},"destinationTable":{"datasetId":"bigquerydataset22yq2ldf3wcoir","projectId":"example-project","tableId":"bigquerytable2yq2ldf3wcoir"},"flattenResults":true,"priority":"INTERACTIVE","query":"SELECT state FROM [lookerdata:cdc.project_tycho_reports]","schemaUpdateOptions":["ALLOW_FIELD_ADDITION","ALLOW_FIELD_RELAXATION"],"scriptOptions":{"keyResultStatement":"LAST","statementTimeoutMs":"300000"},"useLegacySql":true,"useQueryCache":true,"writeDisposition":"WRITE_APPEND"}},"jobReference":{"jobId":"bigqueryjob-2yq2ldf3wcoir","location":"US","project":"example-project"}}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://bigquery.googleapis.com/bigquery/v2/projects/example-project/jobs?alt=json
      method: POST
    response:
      body: |
        {
          "kind": "bigquery#job",
          "etag": "2HQmN+wdbuo22yXteShF0Q==",
          "id": "example-project:US.bigqueryjob-2yq2ldf3wcoir",
          "selfLink": "https://bigquery.googleapis.com/bigquery/v2/projects/example-project/jobs/bigqueryjob-2yq2ldf3wcoir?location=US",
          "user_email": "integration-test@example-project.iam.gserviceaccount.com",
          "configuration": {
            "query": {
              "query": "SELECT state FROM [lookerdata:cdc.project_tycho_reports]",
              "destinationTable": {
                "projectId": "example-project",
                "datasetId": "bigquerydataset22yq2ldf3wcoir",
                "tableId": "bigquerytable2yq2ldf3wcoir"
              },
              "createDisposition": "CREATE_NEVER",
              "writeDisposition": "WRITE_APPEND",
              "defaultDataset": {
                "datasetId": "bigquerydataset12yq2ldf3wcoir",
                "projectId": "example-project"
              },
              "priority": "INTERACTIVE",
              "allowLargeResults": true,
              "useQueryCache": true,
              "flattenResults": true,
              "useLegacySql": true,
              "schemaUpdateOptions": [
                "ALLOW_FIELD_ADDITION",
                "ALLOW_FIELD_RELAXATION"
              ],
              "scriptOptions": {
                "statementTimeoutMs": "300000",
                "keyResultStatement": "LAST"
              }
            },
            "jobTimeoutMs": "600000",
            "labels": {
              "cnrm-test": "true",
              "label-one": "value-one",
              "managed-by-cnrm": "true"
            },
            "jobType": "QUERY"
          },
          "jobReference": {
            "projectId": "example-project",
            "jobId": "bigqueryjob-2yq2ldf3wcoir",
            "location": "US"
          },
          "statistics": {
            "creationTime": "1714007925436",
            "startTime": "1714007926032",
            "query": {
              "statementType": "SELECT"
            }
          },
          "status": {
            "state": "RUNNING"
          },
          "principal_subject": "serviceAccount:integration-test@example-project.iam.gserviceaccount.com",
          "jobCreationReason": {
            "code": "REQUESTED"
          }
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 777.691638ms
[...]
  - id: 21
    request:
      host: bigquery.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://bigquery.googleapis.com/bigquery/v2/projects/example-project/datasets/bigquerydataset22yq2ldf3wcoir?alt=json&deleteContents=false
      method: DELETE
    response:
      body: fake error message
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 400 Bad Request
      code: 400
      duration: 188.401707ms
[...]
