# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: cloudfunctions.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://cloudfunctions.googleapis.com/v1/projects/example-project/locations/us-west2/functions/cloudfunctionsfunction-1xnjudyudz13f?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 261.677447ms
[...]
    - id: 3
      request:
        host: cloudfunctions.googleapis.com
        body: '{"entryPoint":"helloGET","httpsTrigger":{"securityLevel":"SECURE_OPTIONAL"},"labels":{"cnrm-test":"true","config-connector-resource-type":"cloudfunctionsfunction","managed-by-cnrm":"true"},"name":"projects/example-project/locations/us-west2/functions/cloudfunctionsfunction-1xnjudyudz13f","runtime":"nodejs10","sourceArchiveUrl":"gs://config-connector-samples/cloudfunctionsfunction/http_trigger.zip"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://cloudfunctions.googleapis.com/v1/projects/example-project/locations/us-west2/functions?alt=json
        method: POST
      response:
        body: |
            {
              "name": "operations/eGlhb3dlaW0tZ2tlLWRldi91cy13ZXN0Mi9jbG91ZGZ1bmN0aW9uc2Z1bmN0aW9uLTF4bmp1ZHl1ZHoxM2YvZmI1Rk1zaV9sSnM",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.functions.v1.OperationMetadataV1",
                "target": "projects/example-project/locations/us-west2/functions/cloudfunctionsfunction-1xnjudyudz13f",
                "type": "CREATE_FUNCTION",
                "request": {
                  "@type": "type.googleapis.com/google.cloud.functions.v1.CloudFunction",
                  "name": "projects/example-project/locations/us-west2/functions/cloudfunctionsfunction-1xnjudyudz13f",
                  "sourceArchiveUrl": "gs://config-connector-samples/cloudfunctionsfunction/http_trigger.zip",
                  "httpsTrigger": {
                    "securityLevel": "SECURE_OPTIONAL"
                  },
                  "entryPoint": "helloGET",
                  "labels": {
                    "cnrm-test": "true",
                    "config-connector-resource-type": "cloudfunctionsfunction",
                    "managed-by-cnrm": "true"
                  },
                  "runtime": "nodejs10"
                },
                "versionId": "1",
                "updateTime": "2024-08-28T03:15:05Z"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 960.926466ms
    - id: 4
      request:
        host: cloudfunctions.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://cloudfunctions.googleapis.com/v1/operations/eGlhb3dlaW0tZ2tlLWRldi91cy13ZXN0Mi9jbG91ZGZ1bmN0aW9uc2Z1bmN0aW9uLTF4bmp1ZHl1ZHoxM2YvZmI1Rk1zaV9sSnM?alt=json
        method: GET
      response:
        body: |
            {
              "name": "operations/eGlhb3dlaW0tZ2tlLWRldi91cy13ZXN0Mi9jbG91ZGZ[...]
    - id: 5
      request:
        host: cloudfunctions.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://cloudfunctions.googleapis.com/v1/projects/example-project/locations/us-west2/functions/cloudfunctionsfunction-1xnjudyudz13f?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-west2/functions/cloudfunctionsfunction-1xnjudyudz13f",
              "sourceArchiveUrl": "gs://config-connector-samples/cloudfunctionsfunction/http_trigger.zip",
              "httpsTrigger": {
                "url": "https://us-west2-example-project.cloudfunctions.net/cloudfunctionsfunction-1xnjudyudz13f",
                "securityLevel": "SECURE_OPTIONAL"
              },
              "status": "OFFLINE",
              "entryPoint": "helloGET",
              "timeout": "60s",
              "availableMemoryMb": 256,
              "serviceAccountEmail": "example-project@appspot.gserviceaccount.com",
              "updateTime": "2024-08-28T03:15:23.495Z",
              "versionId": "1",
              "labels": {
                "cnrm-test": "true",
                "config-connector-resource-type": "cloudfunctionsfunction",
                "managed-by-cnrm": "true"
              },
              "runtime": "nodejs10",
              "ingressSettings": "ALLOW_ALL",
              "buildId": "1b953fb9-1750-4acb-b190-4280731a2817",
              "buildName": "projects/123456789/locations/us-west2/builds/1b953fb9-1750-4acb-b190-4280731a2817",
              "dockerRegistry": "ARTIFACT_REGISTRY",
              "automaticUpdatePolicy": {},
              "buildServiceAccount": "123456789-compute@developer.gserviceaccount.com"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 122.005949ms
[...]
    - id: 15
      request:
        host: cloudfunctions.googleapis.com
        body: '{"availableMemoryMb":256,"ingressSettings":"ALLOW_ALL","labels":{"cnrm-test":"true","config-connector-resource-type":"cloudfunctionsfunction","managed-by-cnrm":"true"},"runtime":"nodejs10","timeout":"120s"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://cloudfunctions.googleapis.com/v1/projects/example-project/locations/us-west2/functions/cl[...]
    - id: 16
      request:
        host: cloudfunctions.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://cloudfunctions.googleapis.com/v1/operations/eGlhb3dlaW0tZ2tlLWRldi91cy13ZXN0Mi9jbG91ZGZ1bmN0aW9uc2Z1bmN0aW9uLTF4bmp1ZHl1ZHoxM2YvR0xXMV9hdWdqYm8?alt=json
        method: GET
      response:
        body: |
            {
              "name": "operations/eGlhb3dlaW0tZ2tlLWRldi91cy13ZXN0Mi9jbG91ZG[...]
[...]
    - id: 23
      request:
        host: cloudfunctions.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://cloudfunctions.googleapis.com/v1/operations/eGlhb3dlaW0tZ2tlLWRldi91cy13ZXN0Mi9jbG91ZGZ1bmN0aW9uc2Z1bmN0aW9uLTF4bmp1ZHl1ZHoxM2YvQnNpV1dtS3dxZkU?alt=json
        method: GET
      response:
        body: |
            {
              "name": "operations/eGlhb3dlaW0tZ2tlLWRldi91cy13ZXN0Mi9jbG91ZGZ1bmN0aW9uc2Z1bmN0aW9uLTF4bmp1ZHl1ZHoxM2YvQnNpV1dtS3dxZkU",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.functions.v1.OperationMetadataV1",
                "target": "projects/example-project/locations/us-west2/functions/cloudfunctionsfunction-1xnjudyudz13f",
                "type": "DELETE_FUNCTION",
                "request": {
                  "@type": "type.googleapis.com/google.protobuf.Empty"
                },
                "updateTime": "2024-08-28T03:15:57Z"
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.protobuf.Empty"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 78.426584ms
[...]
