apiVersion: core.cnrm.cloud.google.com/v1beta1
kind: ConfigConnector
metadata:
  name: configconnector.core.cnrm.cloud.google.com
spec:
  mode: cluster
  googleServiceAccount: "fake@fake.iam.gserviceaccount.com"
  experiments:
    multiClusterLease:
      leaseName: configconnector.core.cnrm.cloud.google.com
      namespace: cnrm-system
      clusterCandidateIdentity: CLUSTER_ID
