# Copyright 2020 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    cnrm.cloud.google.com/version: 1.122.0
  creationTimestamp: null
  labels:
    cnrm.cloud.google.com/managed-by-kcc: "true"
    cnrm.cloud.google.com/stability-level: alpha
    cnrm.cloud.google.com/system: "true"
    cnrm.cloud.google.com/tf2crd: "true"
  name: bigquerydatatransferconfigs.bigquerydatatransfer.cnrm.cloud.google.com
spec:
  group: bigquerydatatransfer.cnrm.cloud.google.com
  names:
    categories:
    - gcp
    kind: BigQueryDataTransferConfig
    plural: bigquerydatatransferconfigs
    shortNames:
    - gcpbigquerydatatransferconfig
    - gcpbigquerydatatransferconfigs
    singular: bigquerydatatransferconfig
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    - description: When 'True', the most recent reconcile of the resource succeeded
      jsonPath: .status.conditions[?(@.type=='Ready')].status
      name: Ready
      type: string
    - description: The reason for the value in 'Ready'
      jsonPath: .status.conditions[?(@.type=='Ready')].reason
      name: Status
      type: string
    - description: The last transition time for the value in 'Status'
      jsonPath: .status.conditions[?(@.type=='Ready')].lastTransitionTime
      name: Status Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: 'apiVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#resources'
            type: string
          kind:
            description: 'kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            properties:
              dataRefreshWindowDays:
                description: |-
                  The number of days to look back to automatically refresh the data.
                  For example, if dataRefreshWindowDays = 10, then every day BigQuery
                  reingests data for [today-10, today-1], rather than ingesting data for
                  just [today-1]. Only valid if the data source supports the feature.
                  Set the value to 0 to use the default value.
                type: integer
              dataSourceId:
                description: Immutable. The data source id. Cannot be changed once
                  the transfer config is created.
                type: string
              destinationDatasetId:
                description: The BigQuery target dataset id.
                type: string
              disabled:
                description: When set to true, no runs are scheduled for a given transfer.
                type: boolean
              displayName:
                description: The user specified display name for the transfer config.
                type: string
              emailPreferences:
                description: |-
                  Email notifications will be sent according to these preferences to the
                  email address of the user who owns this transfer config.
                properties:
                  enableFailureEmail:
                    description: If true, email notifications will be sent on transfer
                      run failures.
                    type: boolean
                required:
                - enableFailureEmail
                type: object
              location:
                description: |-
                  Immutable. The geographic location where the transfer config should reside.
                  Examples: US, EU, asia-northeast1. The default value is US.
                type: string
              notificationPubsubTopic:
                description: |-
                  Pub/Sub topic where notifications will be sent after transfer runs
                  associated with this transfer config finish.
                type: string
              params:
                additionalProperties:
                  type: string
                type: object
              projectRef:
                description: The project that this resource belongs to.
                oneOf:
                - not:
                    required:
                    - external
                  required:
                  - name
                - not:
                    anyOf:
                    - required:
                      - name
                    - required:
                      - namespace
                  required:
                  - external
                properties:
                  external:
                    description: 'Allowed value: The `name` field of a `Project` resource.'
                    type: string
                  name:
                    description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names'
                    type: string
                  namespace:
                    description: 'Namespace of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/'
                    type: string
                type: object
              resourceID:
                description: Immutable. Optional. The service-generated name of the
                  resource. Used for acquisition only. Leave unset to create a new
                  resource.
                type: string
              schedule:
                description: |-
                  Data transfer schedule. If the data source does not support a custom
                  schedule, this should be empty. If it is empty, the default value for
                  the data source will be used. The specified times are in UTC. Examples
                  of valid format: 1st,3rd monday of month 15:30, every wed,fri of jan,
                  jun 13:15, and first sunday of quarter 00:00. See more explanation
                  about the format here:
                  https://cloud.google.com/appengine/docs/flexible/python/scheduling-jobs-with-cron-yaml#the_schedule_format
                  NOTE: the granularity should be at least 8 hours, or less frequent.
                type: string
              scheduleOptions:
                description: Options customizing the data transfer schedule.
                properties:
                  disableAutoScheduling:
                    description: |-
                      If true, automatic scheduling of data transfer runs for this
                      configuration will be disabled. The runs can be started on ad-hoc
                      basis using transferConfigs.startManualRuns API. When automatic
                      scheduling is disabled, the TransferConfig.schedule field will
                      be ignored.
                    type: boolean
                  endTime:
                    description: |-
                      Defines time to stop scheduling transfer runs. A transfer run cannot be
                      scheduled at or after the end time. The end time can be changed at any
                      moment. The time when a data transfer can be triggered manually is not
                      limited by this option.
                    type: string
                  startTime:
                    description: |-
                      Specifies time to start scheduling transfer runs. The first run will be
                      scheduled at or after the start time according to a recurrence pattern
                      defined in the schedule string. The start time can be changed at any
                      moment. The time when a data transfer can be triggered manually is not
                      limited by this option.
                    type: string
                type: object
              sensitiveParams:
                description: |-
                  Different parameters are configured primarily using the the 'params' field on this
                  resource. This block contains the parameters which contain secrets or passwords so that they can be marked
                  sensitive and hidden from plan output. The name of the field, eg: secret_access_key, will be the key
                  in the 'params' map in the api request.

                  Credentials may not be specified in both locations and will cause an error. Changing from one location
                  to a different credential configuration in the config will require an apply to update state.
                properties:
                  secretAccessKey:
                    description: The Secret Access Key of the AWS account transferring
                      data from.
                    oneOf:
                    - not:
                        required:
                        - valueFrom
                      required:
                      - value
                    - not:
                        required:
                        - value
                      required:
                      - valueFrom
                    properties:
                      value:
                        description: Value of the field. Cannot be used if 'valueFrom'
                          is specified.
                        type: string
                      valueFrom:
                        description: Source for the field's value. Cannot be used
                          if 'value' is specified.
                        properties:
                          secretKeyRef:
                            description: Reference to a value with the given key in
                              the given Secret in the resource's namespace.
                            properties:
                              key:
                                description: Key that identifies the value to be extracted.
                                type: string
                              name:
                                description: Name of the Secret to extract a value
                                  from.
                                type: string
                            required:
                            - name
                            - key
                            type: object
                        type: object
                    type: object
                required:
                - secretAccessKey
                type: object
              serviceAccountName:
                description: |-
                  Service account email. If this field is set, transfer config will
                  be created with this service account credentials. It requires that
                  requesting user calling this API has permissions to act as this service account.
                type: string
            required:
            - dataSourceId
            - displayName
            - params
            - projectRef
            type: object
          status:
            properties:
              conditions:
                description: Conditions represent the latest available observation
                  of the resource's current state.
                items:
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      type: string
                    message:
                      description: Human-readable message indicating details about
                        last transition.
                      type: string
                    reason:
                      description: Unique, one-word, CamelCase reason for the condition's
                        last transition.
                      type: string
                    status:
                      description: Status is the status of the condition. Can be True,
                        False, Unknown.
                      type: string
                    type:
                      description: Type is the type of the condition.
                      type: string
                  type: object
                type: array
              name:
                description: |-
                  The resource name of the transfer config. Transfer config names have the
                  form projects/{projectId}/locations/{location}/transferConfigs/{configId}
                  or projects/{projectId}/transferConfigs/{configId},
                  where configId is usually a uuid, but this is not required.
                  The name is ignored when creating a transfer config.
                type: string
              observedGeneration:
                description: ObservedGeneration is the generation of the resource
                  that was most recently observed by the Config Connector controller.
                  If this is equal to metadata.generation, then that means that the
                  current reported status reflects the most recent desired state of
                  the resource.
                type: integer
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
