# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    cnrm.cloud.google.com/version: 1.136.0
  creationTimestamp: null
  labels:
    cnrm.cloud.google.com/dcl2crd: "true"
    cnrm.cloud.google.com/managed-by-kcc: "true"
    cnrm.cloud.google.com/stability-level: alpha
    cnrm.cloud.google.com/system: "true"
  name: configcontrollerinstances.configcontroller.cnrm.cloud.google.com
spec:
  group: configcontroller.cnrm.cloud.google.com
  names:
    categories:
    - gcp
    kind: ConfigControllerInstance
    plural: configcontrollerinstances
    shortNames:
    - gcpconfigcontrollerinstance
    - gcpconfigcontrollerinstances
    singular: configcontrollerinstance
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    - description: When 'True', the most recent reconcile of the resource succeeded
      jsonPath: .status.conditions[?(@.type=='Ready')].status
      name: Ready
      type: string
    - description: The reason for the value in 'Ready'
      jsonPath: .status.conditions[?(@.type=='Ready')].reason
      name: Status
      type: string
    - description: The last transition time for the value in 'Status'
      jsonPath: .status.conditions[?(@.type=='Ready')].lastTransitionTime
      name: Status Age
      type: date
    name: v1beta1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: 'apiVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#resources'
            type: string
          kind:
            description: 'kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            properties:
              location:
                description: Immutable. The location for the resource
                type: string
              managementConfig:
                description: Immutable. Configuration of the cluster management
                properties:
                  fullManagementConfig:
                    description: Immutable. Configuration of the full (Autopilot)
                      cluster management
                    properties:
                      clusterCidrBlock:
                        description: Immutable. The IP address range for the cluster
                          pod IPs. Set to blank to have a range chosen with the default
                          size. Set to /netmask (e.g. /14) to have a range chosen
                          with a specific netmask. Set to a CIDR notation (e.g. 10.96.0.0/14)
                          from the RFC-1918 private networks (e.g. 10.0.0.0/8, 172.16.0.0/12,
                          192.168.0.0/16) to pick a specific range to use.
                        type: string
                      clusterNamedRange:
                        description: Immutable. The name of the existing secondary
                          range in the cluster's subnetwork to use for pod IP addresses.
                          Alternatively, cluster_cidr_block can be used to automatically
                          create a GKE-managed one.
                        type: string
                      manBlock:
                        description: Immutable. Master Authorized Network. Allows
                          access to the k8s master from this block.
                        type: string
                      masterIPv4CidrBlock:
                        description: Immutable. The /28 network that the masters will
                          use.
                        type: string
                      networkRef:
                        description: Immutable.
                        oneOf:
                        - not:
                            required:
                            - external
                          required:
                          - name
                        - not:
                            anyOf:
                            - required:
                              - name
                            - required:
                              - namespace
                          required:
                          - external
                        properties:
                          external:
                            description: |-
                              Existing VPC Network to put the GKE cluster and nodes in.

                              Allowed value: The Google Cloud resource name of a `ComputeNetwork` resource (format: `projects/{{project}}/global/networks/{{name}}`).
                            type: string
                          name:
                            description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names'
                            type: string
                          namespace:
                            description: 'Namespace of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/'
                            type: string
                        type: object
                      servicesCidrBlock:
                        description: Immutable. The IP address range for the cluster
                          service IPs. Set to blank to have a range chosen with the
                          default size. Set to /netmask (e.g. /14) to have a range
                          chosen with a specific netmask. Set to a CIDR notation (e.g.
                          10.96.0.0/14) from the RFC-1918 private networks (e.g. 10.0.0.0/8,
                          172.16.0.0/12, 192.168.0.0/16) to pick a specific range
                          to use.
                        type: string
                      servicesNamedRange:
                        description: Immutable. The name of the existing secondary
                          range in the cluster's subnetwork to use for service ClusterIPs.
                          Alternatively, services_cidr_block can be used to automatically
                          create a GKE-managed one.
                        type: string
                    type: object
                  standardManagementConfig:
                    description: Immutable. Configuration of the standard (GKE) cluster
                      management
                    properties:
                      clusterCidrBlock:
                        description: Immutable. The IP address range for the cluster
                          pod IPs. Set to blank to have a range chosen with the default
                          size. Set to /netmask (e.g. /14) to have a range chosen
                          with a specific netmask. Set to a CIDR notation (e.g. 10.96.0.0/14)
                          from the RFC-1918 private networks (e.g. 10.0.0.0/8, 172.16.0.0/12,
                          192.168.0.0/16) to pick a specific range to use.
                        type: string
                      clusterNamedRange:
                        description: Immutable. The name of the existing secondary
                          range in the cluster's subnetwork to use for pod IP addresses.
                          Alternatively, cluster_cidr_block can be used to automatically
                          create a GKE-managed one.
                        type: string
                      manBlock:
                        description: Immutable. Master Authorized Network. Allows
                          access to the k8s master from this block.
                        type: string
                      masterIPv4CidrBlock:
                        description: Immutable. The /28 network that the masters will
                          use.
                        type: string
                      networkRef:
                        description: Immutable.
                        oneOf:
                        - not:
                            required:
                            - external
                          required:
                          - name
                        - not:
                            anyOf:
                            - required:
                              - name
                            - required:
                              - namespace
                          required:
                          - external
                        properties:
                          external:
                            description: |-
                              Existing VPC Network to put the GKE cluster and nodes in.

                              Allowed value: The Google Cloud resource name of a `ComputeNetwork` resource (format: `projects/{{project}}/global/networks/{{name}}`).
                            type: string
                          name:
                            description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names'
                            type: string
                          namespace:
                            description: 'Namespace of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/'
                            type: string
                        type: object
                      servicesCidrBlock:
                        description: Immutable. The IP address range for the cluster
                          service IPs. Set to blank to have a range chosen with the
                          default size. Set to /netmask (e.g. /14) to have a range
                          chosen with a specific netmask. Set to a CIDR notation (e.g.
                          10.96.0.0/14) from the RFC-1918 private networks (e.g. 10.0.0.0/8,
                          172.16.0.0/12, 192.168.0.0/16) to pick a specific range
                          to use.
                        type: string
                      servicesNamedRange:
                        description: Immutable. The name of the existing secondary
                          range in the cluster's subnetwork to use for service ClusterIPs.
                          Alternatively, services_cidr_block can be used to automatically
                          create a GKE-managed one.
                        type: string
                    required:
                    - masterIPv4CidrBlock
                    type: object
                type: object
              projectRef:
                description: Immutable. The Project that this resource belongs to.
                oneOf:
                - not:
                    required:
                    - external
                  required:
                  - name
                - not:
                    anyOf:
                    - required:
                      - name
                    - required:
                      - namespace
                  required:
                  - external
                properties:
                  external:
                    description: |-
                      The project for the resource

                      Allowed value: The Google Cloud resource name of a `Project` resource (format: `projects/{{name}}`).
                    type: string
                  name:
                    description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names'
                    type: string
                  namespace:
                    description: 'Namespace of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/'
                    type: string
                type: object
              resourceID:
                description: Immutable. Optional. The name of the resource. Used for
                  creation and acquisition. When unset, the value of `metadata.name`
                  is used as the default.
                type: string
              usePrivateEndpoint:
                description: Immutable. Only allow access to the master's private
                  endpoint IP.
                type: boolean
            required:
            - location
            - managementConfig
            - projectRef
            type: object
          status:
            properties:
              conditions:
                description: Conditions represent the latest available observation
                  of the resource's current state.
                items:
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      type: string
                    message:
                      description: Human-readable message indicating details about
                        last transition.
                      type: string
                    reason:
                      description: Unique, one-word, CamelCase reason for the condition's
                        last transition.
                      type: string
                    status:
                      description: Status is the status of the condition. Can be True,
                        False, Unknown.
                      type: string
                    type:
                      description: Type is the type of the condition.
                      type: string
                  type: object
                type: array
              gkeResourceLink:
                description: Output only. KrmApiHost GCP self link used for identifying
                  the underlying endpoint (GKE cluster currently).
                type: string
              observedGeneration:
                description: ObservedGeneration is the generation of the resource
                  that was most recently observed by the Config Connector controller.
                  If this is equal to metadata.generation, then that means that the
                  current reported status reflects the most recent desired state of
                  the resource.
                type: integer
              state:
                description: 'Output only. The current state of the internal state
                  machine for the KrmApiHost. Possible values: STATE_UNSPECIFIED,
                  CREATING, RUNNING, DELETING, SUSPENDED, READ_ONLY'
                type: string
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
