# Copyright 2025 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    cnrm.cloud.google.com/version: 1.136.0
  creationTimestamp: null
  labels:
    cnrm.cloud.google.com/managed-by-kcc: "true"
    cnrm.cloud.google.com/system: "true"
  name: notebooksenvironments.notebooks.cnrm.cloud.google.com
spec:
  group: notebooks.cnrm.cloud.google.com
  names:
    categories:
    - gcp
    kind: NotebooksEnvironment
    listKind: NotebooksEnvironmentList
    plural: notebooksenvironments
    shortNames:
    - gcpnotebooksenvironment
    - gcpnotebooksenvironments
    singular: notebooksenvironment
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    - description: When 'True', the most recent reconcile of the resource succeeded
      jsonPath: .status.conditions[?(@.type=='Ready')].status
      name: Ready
      type: string
    - description: The reason for the value in 'Ready'
      jsonPath: .status.conditions[?(@.type=='Ready')].reason
      name: Status
      type: string
    - description: The last transition time for the value in 'Status'
      jsonPath: .status.conditions[?(@.type=='Ready')].lastTransitionTime
      name: Status Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: NotebooksEnvironment is the Schema for the NotebooksEnvironment
          API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: NotebooksEnvironmentSpec defines the desired state of NotebooksEnvironment
            properties:
              containerImage:
                description: Use a container image to start the notebook instance.
                properties:
                  repository:
                    description: 'Required. The path to the container image repository.
                      For example: `gcr.io/{project_id}/{image_name}`'
                    type: string
                  tag:
                    description: The tag of the container image. If not specified,
                      this defaults to the latest tag.
                    type: string
                type: object
              description:
                description: A brief description of this environment.
                type: string
              displayName:
                description: Display name of this environment for the UI.
                type: string
              location:
                description: The location for the resource.
                type: string
              postStartupScript:
                description: 'Path to a Bash script that automatically runs after
                  a notebook instance fully boots up. The path must be a URL or Cloud
                  Storage path. Example: `"gs://path-to-file/file-name"`'
                type: string
              projectRef:
                description: The Project that this resource belongs to.
                oneOf:
                - not:
                    required:
                    - external
                  required:
                  - name
                - not:
                    anyOf:
                    - required:
                      - name
                    - required:
                      - namespace
                  required:
                  - external
                properties:
                  external:
                    description: The `projectID` field of a project, when not managed
                      by Config Connector.
                    type: string
                  kind:
                    description: The kind of the Project resource; optional but must
                      be `Project` if provided.
                    type: string
                  name:
                    description: The `name` field of a `Project` resource.
                    type: string
                  namespace:
                    description: The `namespace` field of a `Project` resource.
                    type: string
                type: object
              resourceID:
                description: The NotebooksEnvironment name. If not given, the metadata.name
                  will be used.
                type: string
              vmImage:
                description: Use a Compute Engine VM image to start the notebook instance.
                properties:
                  imageFamily:
                    description: Use this VM image family to find the image; the newest
                      image in this family will be used.
                    type: string
                  imageName:
                    description: Use VM image name to find the image.
                    type: string
                  project:
                    description: 'Required. The name of the Google Cloud project that
                      this VM image belongs to. Format: `{project_id}`'
                    type: string
                type: object
            required:
            - location
            - projectRef
            type: object
          status:
            description: NotebooksEnvironmentStatus defines the config connector machine
              state of NotebooksEnvironment
            properties:
              conditions:
                description: Conditions represent the latest available observations
                  of the object's current state.
                items:
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      type: string
                    message:
                      description: Human-readable message indicating details about
                        last transition.
                      type: string
                    reason:
                      description: Unique, one-word, CamelCase reason for the condition's
                        last transition.
                      type: string
                    status:
                      description: Status is the status of the condition. Can be True,
                        False, Unknown.
                      type: string
                    type:
                      description: Type is the type of the condition.
                      type: string
                  type: object
                type: array
              externalRef:
                description: A unique specifier for the NotebooksEnvironment resource
                  in GCP.
                type: string
              observedGeneration:
                description: ObservedGeneration is the generation of the resource
                  that was most recently observed by the Config Connector controller.
                  If this is equal to metadata.generation, then that means that the
                  current reported status reflects the most recent desired state of
                  the resource.
                format: int64
                type: integer
              observedState:
                description: ObservedState is the state of the resource as most recently
                  observed in GCP.
                properties:
                  createTime:
                    description: Output only. The time at which this environment was
                      created.
                    type: string
                type: object
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: null
  storedVersions: null
