# Copyright 2023 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    cnrm.cloud.google.com/version: 1.136.0
  creationTimestamp: null
  labels:
    cnrm.cloud.google.com/managed-by-kcc: "true"
    cnrm.cloud.google.com/stability-level: alpha
    cnrm.cloud.google.com/system: "true"
    cnrm.cloud.google.com/tf2crd: "true"
  name: securitycenternotificationconfigs.securitycenter.cnrm.cloud.google.com
spec:
  group: securitycenter.cnrm.cloud.google.com
  names:
    categories:
    - gcp
    kind: SecurityCenterNotificationConfig
    plural: securitycenternotificationconfigs
    shortNames:
    - gcpsecuritycenternotificationconfig
    - gcpsecuritycenternotificationconfigs
    singular: securitycenternotificationconfig
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    - description: When 'True', the most recent reconcile of the resource succeeded
      jsonPath: .status.conditions[?(@.type=='Ready')].status
      name: Ready
      type: string
    - description: The reason for the value in 'Ready'
      jsonPath: .status.conditions[?(@.type=='Ready')].reason
      name: Status
      type: string
    - description: The last transition time for the value in 'Status'
      jsonPath: .status.conditions[?(@.type=='Ready')].lastTransitionTime
      name: Status Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: 'apiVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#resources'
            type: string
          kind:
            description: 'kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            properties:
              configId:
                description: Immutable. This must be unique within the organization.
                type: string
              description:
                description: The description of the notification config (max of 1024
                  characters).
                type: string
              organizationRef:
                description: The organization that this resource belongs to.
                oneOf:
                - not:
                    required:
                    - external
                  required:
                  - name
                - not:
                    anyOf:
                    - required:
                      - name
                    - required:
                      - namespace
                  required:
                  - external
                properties:
                  external:
                    description: 'Allowed value: The `name` field of an `Organization`
                      resource.'
                    type: string
                  name:
                    description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names'
                    type: string
                  namespace:
                    description: 'Namespace of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/'
                    type: string
                type: object
              pubsubTopic:
                description: |-
                  The Pub/Sub topic to send notifications to. Its format is
                  "projects/[project_id]/topics/[topic]".
                type: string
              resourceID:
                description: Immutable. Optional. The service-generated name of the
                  resource. Used for acquisition only. Leave unset to create a new
                  resource.
                type: string
              streamingConfig:
                description: The config for triggering streaming-based notifications.
                properties:
                  filter:
                    description: |-
                      Expression that defines the filter to apply across create/update
                      events of assets or findings as specified by the event type. The
                      expression is a list of zero or more restrictions combined via
                      logical operators AND and OR. Parentheses are supported, and OR
                      has higher precedence than AND.

                      Restrictions have the form <field> <operator> <value> and may have
                      a - character in front of them to indicate negation. The fields
                      map to those defined in the corresponding resource.

                      The supported operators are:

                      * = for all value types.
                      * >, <, >=, <= for integer values.
                      * :, meaning substring matching, for strings.

                      The supported value types are:

                      * string literals in quotes.
                      * integer literals without quotes.
                      * boolean literals true and false without quotes.

                      See
                      [Filtering notifications](https://cloud.google.com/security-command-center/docs/how-to-api-filter-notifications)
                      for information on how to write a filter.
                    type: string
                required:
                - filter
                type: object
            required:
            - configId
            - organizationRef
            - pubsubTopic
            - streamingConfig
            type: object
          status:
            properties:
              conditions:
                description: Conditions represent the latest available observation
                  of the resource's current state.
                items:
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      type: string
                    message:
                      description: Human-readable message indicating details about
                        last transition.
                      type: string
                    reason:
                      description: Unique, one-word, CamelCase reason for the condition's
                        last transition.
                      type: string
                    status:
                      description: Status is the status of the condition. Can be True,
                        False, Unknown.
                      type: string
                    type:
                      description: Type is the type of the condition.
                      type: string
                  type: object
                type: array
              name:
                description: |-
                  The resource name of this notification config, in the format
                  'organizations/{{organization}}/notificationConfigs/{{config_id}}'.
                type: string
              observedGeneration:
                description: ObservedGeneration is the generation of the resource
                  that was most recently observed by the Config Connector controller.
                  If this is equal to metadata.generation, then that means that the
                  current reported status reflects the most recent desired state of
                  the resource.
                type: integer
              serviceAccount:
                description: |-
                  The service account that needs "pubsub.topics.publish" permission to
                  publish to the Pub/Sub topic.
                type: string
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
