# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: privateca.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://privateca.googleapis.com/v1/projects/example-project/locations/us-central1/caPools/privatecacapool-6keati6ocofj?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 334.541759ms
[...]
    - id: 3
      request:
        host: privateca.googleapis.com
        body: '{"issuancePolicy":{"allowedIssuanceModes":{"allowConfigBasedIssuance":false,"allowCsrBasedIssuance":true},"allowedKeyTypes":[{"rsa":{"maxModulusSize":128,"minModulusSize":64}},{"ellipticCurve":{"signatureAlgorithm":"ECDSA_P384"}}],"baselineValues":{"additionalExtensions":[{"critical":false,"objectId":{"objectIdPath":[1,7]},"value":"c3RyaW5nCg=="}],"aiaOcspServers":["string"],"caOptions":{"isCa":false,"maxIssuerPathLength":7},"keyUsage":{"baseKeyUsage":{"certSign":false,"contentCommitment":false,"crlSign":false,"dataEncipherment":false,"decipherOnly":false,"digitalSignature":false,"encipherOnly":false,"keyAgreement":false,"keyEncipherment":false},"extendedKeyUsage":{"clientAuth":false,"codeSigning":false,"emailProtection":false,"ocspSigning":false,"serverAuth":false,"timeStamping":false},"unknownExtendedKeyUsages":[{"objectIdPath":[1,7]}]},"policyIds":[{"objectIdPath":[1,7]}]},"identityConstraints":{"allowSubjectAltNamesPassthrough":false,"allowSubjectPassthrough":false,"celExpression":{"description":"Always false","expression":"false","location":"devops.ca_pool.json","title":"Sample expression"}},"maximumLifetime":"43200s","passthroughExtensions":{"additionalExtensions":[{"objectIdPath":[1,7]}],"knownExtensions":["BASE_KEY_USAGE"]}},"labels":{"cnrm-test":"true","label-two":"value-two","managed-by-cnrm":"true"},"name":"projects/example-project/locations/us-central1/caPools/privatecacapool-6keati6ocofj","tier":"ENTERPRISE"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://privateca.googleapis.com/v1/projects/example-project/locations/us-central1/caPools?alt=json&caPoolId=privatecacapool-6keati6ocofj
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/operation-1712621084869-6159eab66038a-842cdb7b-66415c97",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.security.privateca.v1.OperationMetadata",
                "createTime": "2024-04-09T00:04:44.882453581Z",
                "target": "projects/example-project/locations/us-central1/caPools/privatecacapool-6keati6ocofj",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 298.961076ms
    - id: 4
      request:
        host: privateca.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://privateca.googleapis.com/v1/projects/example-project/locations/us-central1/operations/operation-1712621084869-6159eab66038a-842cdb7b-66415c97?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/operation-1712621084869-6159eab66038a-842cdb7b-66415c97",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.security.privateca.v1.OperationMetadata",
                "createTime": "2024-04-09T00:04:44.882453581Z",
                "endTime": "2024-04-09T00:04:44.936644167Z",
                "target": "projects/example-project/locations/us-central1/caPools/privatecacapool-6keati6ocofj",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1"
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.cloud.security.privateca.v1.CaPool",
                "name": "projects/example-project/locations/us-central1/[...]
[...]
    - id: 14
      request:
        host: privateca.googleapis.com
        body: '{"issuancePolicy":{"allowedIssuanceModes":{"allowConfigBasedIssuance":true,"allowCsrBasedIssuance":false},"allowedKeyTypes":[{"rsa":{"maxModulusSize":256,"minModulusSize":128}},{"ellipticCurve":{"signatureAlgorithm":"ECDSA_P256"}}],"baselineValues":{"additionalExtensions":[{"critical":true,"objectId":{"objectIdPath":[1,6]},"value":"bmV3LXN0cmluZwo="}],"aiaOcspServers":["new-string"],"caOptions":{"isCa":true,"maxIssuerPathLength":6},"keyUsage":{"baseKeyUsage":{"certSign":true,"contentCommitment":true,"crlSign":true,"dataEncipherment":true,"decipherOnly":true,"digitalSignature":true,"encipherOnly":true,"keyAgreement":true,"keyEncipherment":true},"extendedKeyUsage":{"clientAuth":true,"codeSigning":true,"emailProtection":true,"ocspSigning":true,"serverAuth":true,"timeStamping":true},"unknownExtendedKeyUsages":[{"objectIdPath":[1,6]}]},"policyIds":[{"objectIdPath":[1,6]}]},"identityConstraints":{"allowSubjectAltNamesPassthrough":true,"allowSubjectPassthrough":true,"celExpression":{"description":"Always true","expression":"true","location":"update_devops.ca_pool.json","title":"Updated expression"}},"maximumLifetime":"86400s","passthroughExtensions":{"additionalExtensions":[{"objectIdPath":[1,6]}],"knownExtensions":["EXTENDED_KEY_USAGE"]}},"labels":{"cnrm-test":"true","label-one":"value-one","label-two":"value-two","managed-by-cnrm":"true"},"name":"projects/projects/example-project/locations/us-central1/caPools/privatecacapool-6keati6ocofj","publishingOptions":{"publishCaCert":true,"publishCrl":true}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://privateca.googleapis.com/v1/projects/example-project/locations/us-central1/caPools/privatecacapool-6keati6ocofj?alt=json&updateMask=issuancePolicy%2Clabels%2CpublishingOptions
        method: PATCH
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/operation-1712621090601-6159eabbd7bfb-681a5152-7a7cc01c",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.security.privateca.v1.OperationMetadata",
                "createTime": "2024-04-09T00:04:50.617532707Z",
                "target": "projects/example-project/locations/us-central1/caPools/privatecacapool-6keati6ocofj",
                "verb": "update",
                "requestedCancellation": false,
                "apiVersion": "v1"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 246.904182ms
[...]
