---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.3
  labels:
    cnrm.cloud.google.com/managed-by-kcc: "true"
    cnrm.cloud.google.com/system: "true"
  name: apigatewayapis.apigateway.cnrm.cloud.google.com
spec:
  group: apigateway.cnrm.cloud.google.com
  names:
    categories:
    - gcp
    kind: APIGatewayAPI
    listKind: APIGatewayAPIList
    plural: apigatewayapis
    shortNames:
    - gcpapigatewayapi
    - gcpapigatewayapis
    singular: apigatewayapi
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    - description: When 'True', the most recent reconcile of the resource succeeded
      jsonPath: .status.conditions[?(@.type=='Ready')].status
      name: Ready
      type: string
    - description: The reason for the value in 'Ready'
      jsonPath: .status.conditions[?(@.type=='Ready')].reason
      name: Status
      type: string
    - description: The last transition time for the value in 'Status'
      jsonPath: .status.conditions[?(@.type=='Ready')].lastTransitionTime
      name: Status Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: APIGatewayAPI is the Schema for the APIGatewayAPI API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: APIGatewayAPISpec defines the desired state of APIGatewayAPI
            properties:
              displayName:
                description: Optional. Display name.
                type: string
              labels:
                additionalProperties:
                  type: string
                description: |-
                  Optional. Resource labels to represent user-provided metadata.
                   Refer to cloud documentation on labels for more details.
                   https://cloud.google.com/compute/docs/labeling-resources
                type: object
              managedService:
                description: |-
                  Optional. Immutable. The name of a Google Managed Service (
                   https://cloud.google.com/service-infrastructure/docs/glossary#managed). If
                   not specified, a new Service will automatically be created in the same
                   project as this API.
                type: string
              projectRef:
                description: ' Optional. The project that this resource belongs to.'
                properties:
                  external:
                    description: The `projectID` field of a project, when not managed
                      by Config Connector.
                    type: string
                  kind:
                    description: The kind of the Project resource; optional but must
                      be `Project` if provided.
                    type: string
                  name:
                    description: The `name` field of a `Project` resource.
                    type: string
                  namespace:
                    description: The `namespace` field of a `Project` resource.
                    type: string
                type: object
              resourceID:
                description: The APIGatewayAPI name. If not given, the metadata.name
                  will be used.
                type: string
            type: object
          status:
            description: APIGatewayAPIStatus defines the config connector machine
              state of APIGatewayAPI
            properties:
              conditions:
                description: |-
                  Conditions represent the latest available observations of the
                  object's current state.
                items:
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      type: string
                    message:
                      description: Human-readable message indicating details about
                        last transition.
                      type: string
                    reason:
                      description: |-
                        Unique, one-word, CamelCase reason for the condition's last
                        transition.
                      type: string
                    status:
                      description: Status is the status of the condition. Can be True,
                        False, Unknown.
                      type: string
                    type:
                      description: Type is the type of the condition.
                      type: string
                  type: object
                type: array
              externalRef:
                description: A unique specifier for the APIGatewayAPI resource in
                  GCP.
                type: string
              observedGeneration:
                description: ObservedGeneration is the generation of the resource
                  that was most recently observed by the Config Connector controller.
                  If this is equal to metadata.generation, then that means that the
                  current reported status reflects the most recent desired state of
                  the resource.
                format: int64
                type: integer
              observedState:
                description: ObservedState is the state of the resource as most recently
                  observed in GCP.
                properties:
                  createTime:
                    description: Created time.
                    type: string
                  name:
                    description: |-
                      Resource name of the API.
                       Format: projects/{project}/locations/global/apis/{api}
                    type: string
                  state:
                    description: ' State of the API.'
                    type: string
                  updateTime:
                    description: Updated time.
                    type: string
                type: object
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
