---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.3
  labels:
    cnrm.cloud.google.com/managed-by-kcc: "true"
    cnrm.cloud.google.com/system: "true"
  name: apigeeenvgroups.apigee.cnrm.cloud.google.com
spec:
  group: apigee.cnrm.cloud.google.com
  names:
    categories:
    - gcp
    kind: ApigeeEnvgroup
    listKind: ApigeeEnvgroupList
    plural: apigeeenvgroups
    shortNames:
    - gcpapigeeenvgroup
    - gcpapigeeenvgroups
    singular: apigeeenvgroup
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    - description: When 'True', the most recent reconcile of the resource succeeded
      jsonPath: .status.conditions[?(@.type=='Ready')].status
      name: Ready
      type: string
    - description: The reason for the value in 'Ready'
      jsonPath: .status.conditions[?(@.type=='Ready')].reason
      name: Status
      type: string
    - description: The last transition time for the value in 'Status'
      jsonPath: .status.conditions[?(@.type=='Ready')].lastTransitionTime
      name: Status Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ApigeeEnvgroup is the Schema for the ApigeeEnvgroup API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: ApigeeEnvgroupSpec defines the desired state of ApigeeEnvgroup
            properties:
              hostnames:
                description: Host names for this environment group.
                items:
                  type: string
                type: array
              organizationRef:
                description: ApigeeOrganizationRef is a reference to a ApigeeOrganization
                  resource.
                properties:
                  external:
                    description: |-
                      A reference to an externally managed ApigeeOrganization resource.
                      Should be in the format "organizations/{{organizationID}}".
                    type: string
                  name:
                    description: The name of a ApigeeOrganization resource.
                    type: string
                  namespace:
                    description: The namespace of a ApigeeOrganization resource.
                    type: string
                type: object
              resourceID:
                description: The ApigeeEnvgroup name. If not given, the metadata.name
                  will be used.
                type: string
            required:
            - organizationRef
            type: object
          status:
            description: ApigeeEnvgroupStatus defines the config connector machine
              state of ApigeeEnvgroup
            properties:
              conditions:
                description: |-
                  Conditions represent the latest available observations of the
                  object's current state.
                items:
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      type: string
                    message:
                      description: Human-readable message indicating details about
                        last transition.
                      type: string
                    reason:
                      description: |-
                        Unique, one-word, CamelCase reason for the condition's last
                        transition.
                      type: string
                    status:
                      description: Status is the status of the condition. Can be True,
                        False, Unknown.
                      type: string
                    type:
                      description: Type is the type of the condition.
                      type: string
                  type: object
                type: array
              externalRef:
                description: A unique specifier for the ApigeeEnvgroup resource in
                  GCP.
                type: string
              observedGeneration:
                description: ObservedGeneration is the generation of the resource
                  that was most recently observed by the Config Connector controller.
                  If this is equal to metadata.generation, then that means that the
                  current reported status reflects the most recent desired state of
                  the resource.
                format: int64
                type: integer
              observedState:
                description: ObservedState is the state of the resource as most recently
                  observed in GCP.
                properties:
                  createdAt:
                    description: Output only. The time at which the environment group
                      was created as milliseconds since epoch.
                    format: int64
                    type: integer
                  lastModifiedAt:
                    description: Output only. The time at which the environment group
                      was last updated as milliseconds since epoch.
                    format: int64
                    type: integer
                  name:
                    description: ID of the environment group.
                    type: string
                  state:
                    description: Output only. State of the environment group. Values
                      other than ACTIVE means the resource is not ready to use.
                    type: string
                type: object
            type: object
        required:
        - spec
        type: object
    served: true
    storage: false
    subresources:
      status: {}
  - additionalPrinterColumns:
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    - description: When 'True', the most recent reconcile of the resource succeeded
      jsonPath: .status.conditions[?(@.type=='Ready')].status
      name: Ready
      type: string
    - description: The reason for the value in 'Ready'
      jsonPath: .status.conditions[?(@.type=='Ready')].reason
      name: Status
      type: string
    - description: The last transition time for the value in 'Status'
      jsonPath: .status.conditions[?(@.type=='Ready')].lastTransitionTime
      name: Status Age
      type: date
    name: v1beta1
    schema:
      openAPIV3Schema:
        description: ApigeeEnvgroup is the Schema for the ApigeeEnvgroup API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: ApigeeEnvgroupSpec defines the desired state of ApigeeEnvgroup
            properties:
              hostnames:
                description: Host names for this environment group.
                items:
                  type: string
                type: array
              organizationRef:
                description: ApigeeOrganizationRef is a reference to a ApigeeOrganization
                  resource.
                properties:
                  external:
                    description: |-
                      A reference to an externally managed ApigeeOrganization resource.
                      Should be in the format "organizations/{{organizationID}}".
                    type: string
                  name:
                    description: The name of a ApigeeOrganization resource.
                    type: string
                  namespace:
                    description: The namespace of a ApigeeOrganization resource.
                    type: string
                type: object
              resourceID:
                description: The ApigeeEnvgroup name. If not given, the metadata.name
                  will be used.
                type: string
            required:
            - organizationRef
            type: object
          status:
            description: ApigeeEnvgroupStatus defines the config connector machine
              state of ApigeeEnvgroup
            properties:
              conditions:
                description: |-
                  Conditions represent the latest available observations of the
                  object's current state.
                items:
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      type: string
                    message:
                      description: Human-readable message indicating details about
                        last transition.
                      type: string
                    reason:
                      description: |-
                        Unique, one-word, CamelCase reason for the condition's last
                        transition.
                      type: string
                    status:
                      description: Status is the status of the condition. Can be True,
                        False, Unknown.
                      type: string
                    type:
                      description: Type is the type of the condition.
                      type: string
                  type: object
                type: array
              externalRef:
                description: A unique specifier for the ApigeeEnvgroup resource in
                  GCP.
                type: string
              observedGeneration:
                description: ObservedGeneration is the generation of the resource
                  that was most recently observed by the Config Connector controller.
                  If this is equal to metadata.generation, then that means that the
                  current reported status reflects the most recent desired state of
                  the resource.
                format: int64
                type: integer
              observedState:
                description: ObservedState is the state of the resource as most recently
                  observed in GCP.
                properties:
                  createdAt:
                    description: Output only. The time at which the environment group
                      was created as milliseconds since epoch.
                    format: int64
                    type: integer
                  lastModifiedAt:
                    description: Output only. The time at which the environment group
                      was last updated as milliseconds since epoch.
                    format: int64
                    type: integer
                  name:
                    description: ID of the environment group.
                    type: string
                  state:
                    description: Output only. State of the environment group. Values
                      other than ACTIVE means the resource is not ready to use.
                    type: string
                type: object
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
