# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: billingbudgets.googleapis.com
        body: '{"budget":{"amount":{"specifiedAmount":{"currencyCode":"USD","nanos":0,"units":9000000}},"budgetFilter":{"creditTypes":["DISCOUNT"],"creditTypesTreatment":"INCLUDE_SPECIFIED_CREDITS","customPeriod":{"endDate":{"day":14,"month":3,"year":2312},"startDate":{"day":1,"month":1,"year":2140}}}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://billingbudgets.googleapis.com/v1beta1/billingAccounts/123456-777777-000003/budgets?alt=json
        method: POST
      response:
        body: |
            {
              "name": "billingAccounts/123456-777777-000003/budgets/ffdfaf7a-b755-40fb-8e83-04155b1756f0",
              "budgetFilter": {
                "creditTypesTreatment": "INCLUDE_SPECIFIED_CREDITS",
                "creditTypes": [
                  "DISCOUNT"
                ],
                "customPeriod": {
                  "startDate": {
                    "year": 2140,
                    "month": 1,
                    "day": 1
                  },
                  "endDate": {
                    "year": 2312,
                    "month": 3,
                    "day": 14
                  }
                }
              },
              "amount": {
                "specifiedAmount": {
                  "currencyCode": "USD",
                  "units": "9000000"
                }
              },
              "allUpdatesRule": {},
              "etag": "1712851472386015"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 377.637625ms
    - id: 1
      request:
        host: billingbudgets.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://billingbudgets.googleapis.com/v1beta1/billingAccounts/123456-777777-000003/budgets/ffdfaf7a-b755-40fb-8e83-04155b1756f0?alt=json
        method: GET
      response:
        body: |
            {
              "name": "billingAccounts/123456-777777-000003/budgets/ffdfaf7a-b755-40fb-8e83-04155b1756f0",
              "budgetFilter": {
                "creditTypesTreatment": "INCLUDE_SPECIFIED_CREDITS",
                "creditTypes": [
                  "DISCOUNT"
                ],
                "customPeriod": {
                  "startDate": {
                    "year": 2140,
                    "month": 1,
                    "day": 1
                  },
                  "endDate": {
                    "year": 2312,
                    "month": 3,
                    "day": 14
                  }
                }
              },
              "amount": {
                "specifiedAmount": {
                  "currencyCode": "USD",
                  "units": "9000000"
                }
              },
              "allUpdatesRule": {},
              "etag": "1712851472386015"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 104.117634ms
[...]
    - id: 11
      request:
        host: billingbudgets.googleapis.com
        body: '{"budget":{"amount":{"specifiedAmount":{"currencyCode":"USD","units":9000000}},"budgetFilter":{"creditTypes":["FREE_TIER"],"creditTypesTreatment":"INCLUDE_SPECIFIED_CREDITS","customPeriod":{"endDate":{"day":15,"month":4,"year":2313},"startDate":{"day":2,"month":2,"year":2141}}},"name":"billingAccounts/123456-777777-000003/budgets/ffdfaf7a-b755-40fb-8e83-04155b1756f0"}}'
        form: {}
        headers:
      [...]
[...]
