---
version: 2
interactions:
    - id: 0
      request:
        host: secretmanager.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
            x-goog-request-params:
                - name=projects%2Fcnrm-anhdle%2Fsecrets%2Fsecretmanagersecretversion-dep-2v5hqlif3igof
        url: https://secretmanager.googleapis.com/v1/projects/example-project/secrets/secretmanagersecretversion-dep-2v5hqlif3igof?%24alt=json%3Benum-encoding%3Dint
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 150.395157ms
    - id: 1
      request:
        host: secretmanager.googleapis.com
        body: '{"replication":{"automatic":{}}, "labels":{"cnrm-test":"true", "managed-by-cnrm":"true"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            x-goog-request-params:
                - parent=projects%2Fcnrm-anhdle
        url: https://secretmanager.googleapis.com/v1/projects/example-project/secrets?%24alt=json%3Benum-encoding%3Dint&secretId=secretmanagersecretversion-dep-2v5hqlif3igof
        method: POST
      response:
        body: |
            {
              "name": "projects/123456789/secrets/secretmanagersecretversion-dep-2v5hqlif3igof",
              "replication": {
                "automatic": {}
              },
              "createTime": "2025-08-11T23:07:29.456167Z",
              "labels": {
                "managed-by-cnrm": "true",
                "cnrm-test": "true"
              },
              "etag": "\"163c1efce157c3\""
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 202.514166ms
    - id: 2
      request:
        host: secretmanager.googleapis.com
        body: '{"parent":"projects/example-project/secrets/secretmanagersecretversion-dep-2v5hqlif3igof", "payload":{"data":"SSBhbHdheXMgbG92ZWQgc3BhcnJpbmcgd2l0aCBnaWFudCBjYW5keSBzd29yZHMsIGJ1dCBJIGhhZCBubyBpZGVhIHRoYXQgd2FzIG15IHN1cGVyIHNlY3JldCBpbmZvcm1hdGlvbiE="}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            x-goog-request-params:
                - parent=projects%2Fcnrm-anhdle%2Fsecrets%2Fsecretmanagersecretversion-dep-2v5hqlif3igof
        url: https://secretmanager.googleapis.com/v1/projects/example-project/secrets/secretmanagersecretversion-dep-2v5hqlif3igof:addVersion?%24alt=json%3Benum-encoding%3Dint
        method: POST
      response:
        body: |
            {
              "name": "projects/123456789/secrets/secretmanagersecretversion-dep-2v5hqlif3igof/versions/1",
              "createTime": "2025-08-11T23:07:30.814956Z",
              "state": 1,
              "replicationStatus": {
                "automatic": {}
              },
              "etag": "\"163c1efcf43fec\""
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.017662728s
    - id: 3
      request:
        host: secretmanager.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
            x-goog-request-params:
                - name=projects%2Fcnrm-anhdle%2Fsecrets%2Fsecretmanagersecretversion-dep-2v5hqlif3igof%2Fversions%2F1
        url: https://secretmanager.googleapis.com/v1/projects/example-project/secrets/secretmanagersecretversion-dep-2v5hqlif3igof/versions/1?%24alt=json%3Benum-encoding%3Dint
        method: GET
      response:
        body: |
            {
              "name": "projects/123456789/secrets/secretmanagersecretversion-dep-2v5hqlif3igof/versions/1",
              "createTime": "2025-08-11T23:07:30.814956Z",
              "state": 1,
              "replicationStatus": {
                "automatic": {}
              },
              "etag": "\"163c1efcf43fec\""
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 83.256248ms
    - id: 4
      request:
        host: secretmanager.googleapis.com
        body: '{"name":"projects/example-project/secrets/secretmanagersecretversion-dep-2v5hqlif3igof/versions/1", "etag":"\"163c1efcf43fec\""}'
        form: {}
        headers:
            Content-Type:
                - application/json
            x-goog-request-params:
                - name=projects%2Fcnrm-anhdle%2Fsecrets%2Fsecretmanagersecretversion-dep-2v5hqlif3igof%2Fversions%2F1
        url: https://secretmanager.googleapis.com/v1/projects/example-project/secrets/secretmanagersecretversion-dep-2v5hqlif3igof/versions/1:disable?%24alt=json%3Benum-encoding%3Dint
        method: POST
      response:
        body: |
            {
              "name": "projects/123456789/secrets/secretmanagersecretversion-dep-2v5hqlif3igof/versions/1",
              "createTime": "2025-08-11T23:07:30.814956Z",
              "state": 2,
              "replicationStatus": {
                "automatic": {}
              },
              "etag": "\"163c1efd0cfce3\""
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 334.558832ms
[...]
    - id: 9
      request:
        host: secretmanager.googleapis.com
        body: '{"name":"projects/example-project/secrets/secretmanagersecretversion-dep-2v5hqlif3igof/versions/1", "etag":"\"163c1efd0cfce3\""}'
        form: {}
        headers:
            Content-Type:
                - application/json
            x-goog-request-params:
                - name=projects%2Fcnrm-anhdle%2Fsecrets%2Fsecretmanagersecretversion-dep-2v5hqlif3igof%2Fversions%2F1
        url: https://secretmanager.googleapis.com/v1/projects/example-project/secrets/secretmanagersecretversion-dep-2v5hqlif3igof/versions/1:destroy?%24alt=json%3Benum-encoding%3Dint
        method: POST
      response:
        body: |
            {
              "name": "projects/123456789/secrets/secretmanagersecretversion-dep-2v5hqlif3igof/versions/1",
              "createTime": "2025-08-11T23:07:30.814956Z",
              "destroyTime": "2025-08-11T23:07:33.315334876Z",
              "state": 3,
              "replicationStatus": {
                "automatic": {}
              },
              "etag": "\"163c1efd1af88f\""
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 184.144586ms
[...]
