# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: bigqueryconnection.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://bigqueryconnection.googleapis.com/v1/projects/example-project/locations/us-central1/connections/bigqueryconnectionconnection-16lgsjsr99mio?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 240.66942ms
    - id: 1
      request:
        host: bigqueryconnection.googleapis.com
        body: |
            {"cloudResource":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://bigqueryconnection.googleapis.com/v1/projects/example-project/locations/us-central1/connections?alt=json&connectionId=bigqueryconnectionconnection-16lgsjsr99mio
        method: POST
      response:
        body: |
            {
              "name": "projects/123456789/locations/us-central1/connections/bigqueryconnectionconnection-16lgsjsr99mio",
              "creationTime": "1719497866186",
              "lastModifiedTime": "1719497866186",
              "cloudResource": {
                "serviceAccountId": "bqcx-123456789-3ruk@gcp-sa-bigquery-condel.iam.gserviceaccount.com"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 966.497621ms
[...]
