# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
  - id: 0
    request:
      host: serviceusage.googleapis.com
      body: ""
      form: {}
      headers:
      url: https://serviceusage.googleapis.com/v1/projects/example-project/services?alt=json&fields=services%2Fname%2CnextPageToken&filter=state%3AENABLED&prettyPrint=false
      method: GET
    response:
      body: '{"services":[{"name":"projects/123456789/services/accesscontextmanager.googleapis.com"},{"name":"projects/123456789/services/aiplatform.googleapis.com"},{"name":"projects/123456789/services/alloydb.googleapis.com"},{"name":"projects/123456789/services/analyticshub.googleapis.com"},{"name":"projects/123456789/services/anthos.googleapis.com"},{"name":"projects/123456789/services/anthosaudit.googleapis.com"},{"name":"projects/123456789/services/anthosconfigmanagement.googleapis.com"},{"name":"projects/123456789/service[...]
  - id: 1
    request:
      host: serviceusage.googleapis.com
      body: ""
      form: {}
      headers:
      url: https://serviceusage.googleapis.com/v1/projects/example-project/services?alt=json&fields=services%2Fname%2CnextPageToken&filter=state%3AENABLED&pageToken=chwKGkIYZGF0YXN0b3JlLmdvb2dsZWFwaXMuY29t&prettyPrint=false
      method: GET
    response:
      body: '{"services":[{"name":"projects/123456789/services/deploymentmanager.googleapis.com"},{"name":"projects/123456789/services/d[...]
[...]
  - id: 4
    request:
      host: serviceusage.googleapis.com
      body: |
        {}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://serviceusage.googleapis.com/v1/projects/example-project/services/runtimeconfig.googleapis.com:enable?alt=json&prettyPrint=false
      method: POST
    response:
      body: '{"name":"operations/acat.p2-123456789-6c0d0d24-0439-4df8-a5c2-4d45a6636679"}'
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 548.746064ms
  - id: 5
    request:
      host: serviceusage.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://serviceusage.googleapis.com/v1beta1/operations/acat.p2-123456789-6c0d0d24-0439-4df8-a5c2-4d45a6636679?alt=json
      method: GET
    response:
      body: |
        {
          "name": "operations/acat.p2-123456789-6c0d0d24-0439-4df8-a5c2-4d45a6636679",
          "metadata": {
            "@type": "type.googleapis.com/google.protobuf.Empty"
          },
          "done": true,
          "response": {
            "@type": "type.googleapis.com/google.api.serviceusage.v1.EnableServiceResponse",
            "service": {
              "name": "projects/123456789/services/runtimeconfig.googleapis.com",
              "config": {
                "name": "runtimeconfig.googleapis.com",
                "title": "Cloud Runtime Configuration API",
                "documentation": {
                  "summary": "The Runtime Configurator allows you to dynamically configure and expose variables through Google Cloud Platform. In addition, you can also set Watchers and Waiters that will watch for changes to your data and return based on certain conditions."
                },
                "quota": {},
                "authentication": {},
                "usage": {
                  "requirements": [
                    "serviceusage.googleapis.com/tos/cloud"
                  ]
                },
                "monitoring": {}
              },
              "state": "ENABLED",
              "parent": "projects/123456789"
            }
          }
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 99.531374ms
[...]
  - id: 14
    request:
      host: serviceusage.googleapis.com
      body: |
        {}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://serviceusage.googleapis.com/v1/projects/example-project/services/runtimeconfig.googleapis.com:disable?alt=json&prettyPrint=false
      method: POST
    response:
      body: '{"name":"operations/acat.p17-123456789-2d3dba2f-653e-4b5a-afe4-ecaec7d24652"}'
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 309.727365ms
[...]
