# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: serviceusage.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://serviceusage.googleapis.com/v1/projects/example-project/services?alt=json&fields=services%2Fname%2CnextPageToken&filter=state%3AENABLED&prettyPrint=false
        method: GET
      response:
        body: '{"services":[{"name":"projects/882850097339/services/accesscontextmanager.googleapis.com"},{"name":"projects/882850097339/services/aiplatform.googleapis.com"},{"name":"projects/882850097339/services/alloydb.googleapis.com"},{"name":"projects/882850097339/services/analyticshub.googleapis.com"},{"name":"projects/882850097339/services/anthos.googleapis.com"},{"name":"projects/882850097339/services/anthosaudit.googleapis.com"},{"name":"projects/882850097339/services/anthosconfigmanagement.googleapis.com"},{"name":"proje[...]
    - id: 1
      request:
        host: serviceusage.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://serviceusage.googleapis.com/v1/projects/example-project/services?alt=json&fields=services%2Fname%2CnextPageToken&filter=state%3AENABLED&pageToken=chwKGkIYZGF0YXN0b3JlLmdvb2dsZWFwaXMuY29t&prettyPrint=false
        method: GET
      response:
        body: '{"services":[{"name":"projects/882850097339/services/deploymentmanager.googleapis.com"},{"name":"projec[...]
[...]
    - id: 4
      request:
        host: serviceusage.googleapis.com
        body: |
            {}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://serviceusage.googleapis.com/v1/projects/example-project/services/runtimeconfig.googleapis.com:enable?alt=json&prettyPrint=false
        method: POST
      response:
        body: '{"name":"operations/acat.p2-882850097339-c9dd0d27-3ebb-4441-901a-56503297c646"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 334.730535ms
    - id: 5
      request:
        host: serviceusage.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://serviceusage.googleapis.com/v1beta1/operations/acat.p2-882850097339-c9dd0d27-3ebb-4441-901a-56503297c646?alt=json
        method: GET
      response:
        body: |
            {
              "name": "operations/acat.p2-882850097339-c9dd0d27-3ebb-4441-901a-56503297c646",
              "metadata": {
                "@type": "type.googleapis.com/google.protobuf.Empty"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 77.321808ms
    - id: 6
      request:
        host: serviceusage.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://serviceusage.googleapis.com/v1beta1/operations/acat.p2-882850097339-c9dd0d27-3ebb-4441-901a-56503297c646?alt=json
        method: GET
      response:
        body: |
            {
              "name": "operations/acat.p2-882850097339-c9dd0d27-3ebb-4441-901a-56503297c646",
              "metadata": {
                "@type": "type.googleapis.com/google.protobuf.Empty"
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.api.serviceusage.v1.EnableServiceResponse",
                "service": {
                  "name": "projects/882850097339/services/runtimeconfig.googleapis.com",
                  "config": {
                    "name": "runtimeconfig.googleapis.com",
                    "title": "Cloud Runtime Configuration API",
                    "documentation": {
                      "summary": "The Runtime Configurator allows you to dynamically configure and expose variables through Google Cloud Platform. In addition, you can also set Watchers and Waiters that will watch for changes to your data and return based on certain conditions."
                    },
                    "quota": {},
                    "authentication": {},
                    "usage": {
                      "requirements": [
                        "serviceusage.googleapis.com/tos/cloud"
                      ]
                    },
                    "monitoring": {}
                  },
                  "state": "ENABLED",
                  "parent": "projects/882850097339"
                }
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 89.718879ms
[...]
    - id: 15
      request:
        host: serviceusage.googleapis.com
        body: |
            {}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://serviceusage.googleapis.com/v1/projects/example-project/services/runtimeconfig.googleapis.com:disable?alt=json&prettyPrint=false
        method: POST
      response:
        body: '{"name":"operations/acat.p17-882850097339-4d45cfc1-915e-4685-8eb8-a8c8d38f98b9"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 391.293023ms
[...]
