# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: identitytoolkit.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://identitytoolkit.googleapis.com/admin/v2/projects/kcc-identity-platform/oauthIdpConfigs/oidc.oauth-idp-config-h1upm0cd3ajj?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 238.093019ms
[...]
    - id: 3
      request:
        host: identitytoolkit.googleapis.com
        body: '{"clientId":"client-id","clientSecret":"secret","displayName":"test oauth idp config","enabled":true,"issuer":"issuer"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://identitytoolkit.googleapis.com/admin/v2/projects/kcc-identity-platform/oauthIdpConfigs?alt=json&oauthIdpConfigId=oidc.oauth-idp-config-h1upm0cd3ajj
        method: POST
      response:
        body: |
            {
              "name": "projects/746524917084/oauthIdpConfigs/oidc.oauth-idp-config-h1upm0cd3ajj",
              "clientId": "client-id",
              "issuer": "issuer",
              "displayName": "test oauth idp config",
              "enabled": true,
              "clientSecret": "secret",
              "responseType": {
                "idToken": true
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 312.477558ms
[...]
