apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    cnrm.cloud.google.com/version: 0.0.0-dev
  creationTimestamp: null
  labels:
    cnrm.cloud.google.com/managed-by-kcc: "true"
    cnrm.cloud.google.com/system: "true"
  name: clouddmsmappingrules.clouddms.cnrm.cloud.google.com
spec:
  group: clouddms.cnrm.cloud.google.com
  names:
    categories:
    - gcp
    kind: CloudDMSMappingRule
    listKind: CloudDMSMappingRuleList
    plural: clouddmsmappingrules
    shortNames:
    - gcpclouddmsmappingrule
    - gcpclouddmsmappingrules
    singular: clouddmsmappingrule
  preserveUnknownFields: false
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    - description: When 'True', the most recent reconcile of the resource succeeded
      jsonPath: .status.conditions[?(@.type=='Ready')].status
      name: Ready
      type: string
    - description: The reason for the value in 'Ready'
      jsonPath: .status.conditions[?(@.type=='Ready')].reason
      name: Status
      type: string
    - description: The last transition time for the value in 'Status'
      jsonPath: .status.conditions[?(@.type=='Ready')].lastTransitionTime
      name: Status Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: CloudDMSMappingRule is the Schema for the CloudDMSMappingRule
          API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: CloudDMSMappingRuleSpec defines the desired state of CloudDMSMappingRule
            properties:
              connectionProfileRef:
                description: CloudDMSConnectionProfileRef is a reference to a CloudDMSConnectionProfile
                  resource.
                oneOf:
                - not:
                    required:
                    - external
                  required:
                  - name
                - not:
                    anyOf:
                    - required:
                      - name
                    - required:
                      - namespace
                  required:
                  - external
                properties:
                  external:
                    description: A reference to an externally managed CloudDMSConnectionProfile
                      resource. Should be in the format "projects/{{projectID}}/locations/{{location}}/connectionProfiles/{{connectionProfileID}}".
                    type: string
                  name:
                    description: The name of a CloudDMSConnectionProfile resource.
                    type: string
                  namespace:
                    description: The namespace of a CloudDMSConnectionProfile resource.
                    type: string
                type: object
              displayName:
                description: The rule display name.
                type: string
              filter:
                description: The rule filter
                properties:
                  entities:
                    description: Optional. The rule should be applied to specific
                      entities defined by their fully qualified names.
                    items:
                      type: string
                    type: array
                  entityNameContains:
                    description: Optional. The rule should be applied to entities
                      whose non-qualified name contains the given string.
                    type: string
                  entityNamePrefix:
                    description: Optional. The rule should be applied to entities
                      whose non-qualified name starts with the given prefix.
                    type: string
                  entityNameSuffix:
                    description: Optional. The rule should be applied to entities
                      whose non-qualified name ends with the given suffix.
                    type: string
                  parentEntity:
                    description: Optional. The rule should be applied to entities
                      whose parent entity (fully qualified name) matches the given
                      value. For example, if the rule applies to a table entity, the
                      expected value should be a schema (schema). If the rule applies
                      to a column or index entity, the expected value can be either
                      a schema (schema) or a table (schema.table)
                    type: string
                type: object
              location:
                type: string
              projectRef:
                description: The Project that this resource belongs to.
                oneOf:
                - not:
                    required:
                    - external
                  required:
                  - name
                - not:
                    anyOf:
                    - required:
                      - name
                    - required:
                      - namespace
                  required:
                  - external
                properties:
                  external:
                    description: The `projectID` field of a project, when not managed
                      by Config Connector.
                    type: string
                  kind:
                    description: The kind of the Project resource; optional but must
                      be `Project` if provided.
                    type: string
                  name:
                    description: The `name` field of a `Project` resource.
                    type: string
                  namespace:
                    description: The `namespace` field of a `Project` resource.
                    type: string
                type: object
              resourceID:
                description: The CloudDMSMappingRule name. If not given, the metadata.name
                  will be used.
                type: string
              ruleScope:
                description: The rule scope
                type: string
            required:
            - location
            - projectRef
            type: object
          status:
            description: CloudDMSMappingRuleStatus defines the config connector machine
              state of CloudDMSMappingRule
            properties:
              conditions:
                description: Conditions represent the latest available observations
                  of the object's current state.
                items:
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      type: string
                    message:
                      description: Human-readable message indicating details about
                        last transition.
                      type: string
                    reason:
                      description: Unique, one-word, CamelCase reason for the condition's
                        last transition.
                      type: string
                    status:
                      description: Status is the status of the condition. Can be True,
                        False, Unknown.
                      type: string
                    type:
                      description: Type is the type of the condition.
                      type: string
                  type: object
                type: array
              externalRef:
                description: A unique specifier for the CloudDMSMappingRule resource
                  in GCP.
                type: string
              observedGeneration:
                description: ObservedGeneration is the generation of the resource
                  that was most recently observed by the Config Connector controller.
                  If this is equal to metadata.generation, then that means that the
                  current reported status reflects the most recent desired state of
                  the resource.
                format: int64
                type: integer
              observedState:
                description: ObservedState is the state of the resource as most recently
                  observed in GCP.
                properties:
                  revisionCreateTime:
                    description: The timestamp that the revision was created.
                    type: string
                  revisionID:
                    description: The revision ID of the mapping rule.
                    type: string
                  state:
                    description: The current state of the mapping rule.
                    type: string
                type: object
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
