apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    cnrm.cloud.google.com/version: 0.0.0-dev
  creationTimestamp: null
  labels:
    cnrm.cloud.google.com/managed-by-kcc: "true"
    cnrm.cloud.google.com/stability-level: alpha
    cnrm.cloud.google.com/system: "true"
    cnrm.cloud.google.com/tf2crd: "true"
  name: pubsublitetopics.pubsublite.cnrm.cloud.google.com
spec:
  group: pubsublite.cnrm.cloud.google.com
  names:
    categories:
    - gcp
    kind: PubSubLiteTopic
    listKind: PubSubLiteTopicList
    plural: pubsublitetopics
    shortNames:
    - gcppubsublitetopic
    - gcppubsublitetopics
    singular: pubsublitetopic
  preserveUnknownFields: false
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    - description: When 'True', the most recent reconcile of the resource succeeded
      jsonPath: .status.conditions[?(@.type=='Ready')].status
      name: Ready
      type: string
    - description: The reason for the value in 'Ready'
      jsonPath: .status.conditions[?(@.type=='Ready')].reason
      name: Status
      type: string
    - description: The last transition time for the value in 'Status'
      jsonPath: .status.conditions[?(@.type=='Ready')].lastTransitionTime
      name: Status Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: PubSubLiteTopic is the Schema for the PubSubLiteTopic API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: PubSubLiteTopicSpec defines the desired state of PubSubLiteTopic
            properties:
              partitionConfig:
                description: The settings for this topic's partitions.
                properties:
                  capacity:
                    description: The capacity configuration.
                    properties:
                      publishMibPerSec:
                        description: Publish throughput capacity per partition in
                          MiB/s. Must be >= 4 and <= 16.
                        format: int32
                        type: integer
                      subscribeMibPerSec:
                        description: Subscribe throughput capacity per partition in
                          MiB/s. Must be >= 4 and <= 32.
                        format: int32
                        type: integer
                    required:
                    - publishMibPerSec
                    - subscribeMibPerSec
                    type: object
                  count:
                    description: |-
                      The number of partitions in the topic. Must be at least 1.

                       Once a topic has been created the number of partitions can be increased
                       but not decreased. Message ordering is not guaranteed across a topic
                       resize. For more information see
                       https://cloud.google.com/pubsub/lite/docs/topics#scaling_capacity
                    format: int64
                    type: integer
                type: object
              projectRef:
                description: Required. Defines the parent path of the resource.
                oneOf:
                - not:
                    required:
                    - external
                  required:
                  - name
                - not:
                    anyOf:
                    - required:
                      - name
                    - required:
                      - namespace
                  required:
                  - external
                properties:
                  external:
                    description: The `projectID` field of a project, when not managed
                      by Config Connector.
                    type: string
                  name:
                    description: The `name` field of a `Project` resource.
                    type: string
                  namespace:
                    description: The `namespace` field of a `Project` resource.
                    type: string
                type: object
              region:
                description: The region of the pubsub lite topic.
                type: string
              reservationConfig:
                description: The settings for this topic's Reservation usage.
                properties:
                  throughputReservation:
                    description: 'The Reservation to use for this topic''s throughput
                      capacity. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}'
                    type: string
                type: object
              resourceID:
                description: The PubSubLiteTopic name. If not given, the metadata.name
                  will be used.
                type: string
              retentionConfig:
                description: The settings for this topic's message retention.
                properties:
                  perPartitionBytes:
                    description: The provisioned storage, in bytes, per partition.
                      If the number of bytes stored in any of the topic's partitions
                      grows beyond this value, older messages will be dropped to make
                      room for newer ones, regardless of the value of `period`.
                    format: int64
                    type: integer
                  period:
                    description: How long a published message is retained. If unset,
                      messages will be retained as long as the bytes retained for
                      each partition is below `per_partition_bytes`.
                    type: string
                type: object
              zone:
                description: The zone of the pubsub lite topic.
                type: string
            required:
            - projectRef
            - zone
            type: object
          status:
            description: PubSubLiteTopicStatus defines the config connector machine
              state of PubSubLiteTopic
            properties:
              conditions:
                description: Conditions represent the latest available observations
                  of the object's current state.
                items:
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      type: string
                    message:
                      description: Human-readable message indicating details about
                        last transition.
                      type: string
                    reason:
                      description: Unique, one-word, CamelCase reason for the condition's
                        last transition.
                      type: string
                    status:
                      description: Status is the status of the condition. Can be True,
                        False, Unknown.
                      type: string
                    type:
                      description: Type is the type of the condition.
                      type: string
                  type: object
                type: array
              externalRef:
                description: A unique specifier for the PubSubLiteTopic resource in
                  GCP.
                type: string
              observedGeneration:
                description: ObservedGeneration is the generation of the resource
                  that was most recently observed by the Config Connector controller.
                  If this is equal to metadata.generation, then that means that the
                  current reported status reflects the most recent desired state of
                  the resource.
                format: int64
                type: integer
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
