apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    cnrm.cloud.google.com/version: 0.0.0-dev
  creationTimestamp: null
  labels:
    cnrm.cloud.google.com/managed-by-kcc: "true"
    cnrm.cloud.google.com/system: "true"
  name: bigqueryconnectionconnections.bigqueryconnection.cnrm.cloud.google.com
spec:
  group: bigqueryconnection.cnrm.cloud.google.com
  names:
    categories:
    - gcp
    kind: BigQueryConnectionConnection
    listKind: BigQueryConnectionConnectionList
    plural: bigqueryconnectionconnections
    shortNames:
    - gcpbigqueryconnectionconnection
    - gcpbigqueryconnectionconnections
    singular: bigqueryconnectionconnection
  preserveUnknownFields: false
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    - description: When 'True', the most recent reconcile of the resource succeeded
      jsonPath: .status.conditions[?(@.type=='Ready')].status
      name: Ready
      type: string
    - description: The reason for the value in 'Ready'
      jsonPath: .status.conditions[?(@.type=='Ready')].reason
      name: Status
      type: string
    - description: The last transition time for the value in 'Status'
      jsonPath: .status.conditions[?(@.type=='Ready')].lastTransitionTime
      name: Status Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: BigQueryConnectionConnection is the Schema for the BigQueryConnectionConnection
          API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: BigQueryConnectionConnectionSpec defines the desired state
              to connect BigQuery to external resources
            properties:
              cloudResource:
                description: Use Cloud Resource properties.
                type: object
              cloudSql:
                description: Cloud SQL properties.
                properties:
                  credential:
                    description: Input only. Cloud SQL credential.
                    properties:
                      password:
                        description: The password for the credential.
                        type: string
                      username:
                        description: The username for the credential.
                        type: string
                    type: object
                  database:
                    description: Database name.
                    type: string
                  instanceRef:
                    description: Reference to the Cloud SQL instance ID.
                    oneOf:
                    - not:
                        required:
                        - external
                      required:
                      - name
                    - not:
                        anyOf:
                        - required:
                          - name
                        - required:
                          - namespace
                      required:
                      - external
                    properties:
                      external:
                        description: The SQLInstance selfLink, when not managed by
                          Config Connector.
                        type: string
                      name:
                        description: The `name` field of a `SQLInstance` resource.
                        type: string
                      namespace:
                        description: The `namespace` field of a `SQLInstance` resource.
                        type: string
                    type: object
                  type:
                    description: Type of the Cloud SQL database.
                    type: string
                type: object
              description:
                description: User provided description.
                type: string
              friendlyName:
                description: User provided display name for the connection.
                type: string
              location:
                description: Immutable.
                type: string
                x-kubernetes-validations:
                - message: Location field is immutable
                  rule: self == oldSelf
              projectRef:
                description: The Project that this resource belongs to.
                oneOf:
                - not:
                    required:
                    - external
                  required:
                  - name
                - not:
                    anyOf:
                    - required:
                      - name
                    - required:
                      - namespace
                  required:
                  - external
                properties:
                  external:
                    description: The `projectID` field of a project, when not managed
                      by Config Connector.
                    type: string
                  kind:
                    description: The kind of the Project resource; optional but must
                      be `Project` if provided.
                    type: string
                  name:
                    description: The `name` field of a `Project` resource.
                    type: string
                  namespace:
                    description: The `namespace` field of a `Project` resource.
                    type: string
                type: object
              resourceID:
                description: The BigQuery ConnectionID. This is a server-generated
                  ID in the UUID format. If not provided, ConfigConnector will create
                  a new Connection and store the UUID in `status.serviceGeneratedID`
                  field.
                type: string
            required:
            - location
            - projectRef
            type: object
          status:
            description: BigQueryConnectionConnectionStatus defines the config connector
              machine state of BigQueryConnectionConnection
            properties:
              conditions:
                description: Conditions represent the latest available observations
                  of the object's current state.
                items:
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      type: string
                    message:
                      description: Human-readable message indicating details about
                        last transition.
                      type: string
                    reason:
                      description: Unique, one-word, CamelCase reason for the condition's
                        last transition.
                      type: string
                    status:
                      description: Status is the status of the condition. Can be True,
                        False, Unknown.
                      type: string
                    type:
                      description: Type is the type of the condition.
                      type: string
                  type: object
                type: array
              externalRef:
                description: A unique specifier for the BigQueryConnectionConnection
                  resource in GCP.
                type: string
              observedGeneration:
                description: ObservedGeneration is the generation of the resource
                  that was most recently observed by the Config Connector controller.
                  If this is equal to metadata.generation, then that means that the
                  current reported status reflects the most recent desired state of
                  the resource.
                format: int64
                type: integer
              observedState:
                description: ObservedState is the state of the resource as most recently
                  observed in GCP.
                properties:
                  cloudResource:
                    properties:
                      serviceAccountID:
                        description: |-
                          Output only. The account ID of the service created for the purpose of this
                           connection.

                           The service account does not have any permissions associated with it
                           when it is created. After creation, customers delegate permissions
                           to the service account. When the connection is used in the context of an
                           operation in BigQuery, the service account will be used to connect to the
                           desired resources in GCP.

                           The account ID is in the form of:
                             <service-1234>@gcp-sa-bigquery-cloudresource.iam.gserviceaccount.com
                        type: string
                    type: object
                  cloudSql:
                    properties:
                      serviceAccountID:
                        description: |-
                          Output only. The account ID of the service used for the purpose of this connection.

                           When the connection is used in the context of an operation in
                           BigQuery, this service account will serve as the identity being used for
                           connecting to the CloudSQL instance specified in this connection.
                        type: string
                    type: object
                  description:
                    description: The description for the connection.
                    type: string
                  friendlyName:
                    description: The display name for the connection.
                    type: string
                  hasCredential:
                    description: Output only. True, if credential is configured for
                      this connection.
                    type: boolean
                type: object
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
