apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    cnrm.cloud.google.com/version: 0.0.0-dev
  creationTimestamp: null
  labels:
    cnrm.cloud.google.com/managed-by-kcc: "true"
    cnrm.cloud.google.com/system: "true"
  name: bigtablebackups.bigtable.cnrm.cloud.google.com
spec:
  group: bigtable.cnrm.cloud.google.com
  names:
    categories:
    - gcp
    kind: BigtableBackup
    listKind: BigtableBackupList
    plural: bigtablebackups
    shortNames:
    - gcpbigtablebackup
    - gcpbigtablebackups
    singular: bigtablebackup
  preserveUnknownFields: false
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    - description: When 'True', the most recent reconcile of the resource succeeded
      jsonPath: .status.conditions[?(@.type=='Ready')].status
      name: Ready
      type: string
    - description: The reason for the value in 'Ready'
      jsonPath: .status.conditions[?(@.type=='Ready')].reason
      name: Status
      type: string
    - description: The last transition time for the value in 'Status'
      jsonPath: .status.conditions[?(@.type=='Ready')].lastTransitionTime
      name: Status Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: BigtableBackup is the Schema for the BigtableBackup API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: BigtableBackupSpec defines the desired state of BigtableBackup
            properties:
              backupType:
                description: Indicates the backup type of the backup.
                type: string
              clusterRef:
                description: ClusterRef defines the resource reference to BigtableCluster,
                  which "External" field holds the GCP identifier for the KRM object.
                oneOf:
                - not:
                    required:
                    - external
                  required:
                  - name
                - not:
                    anyOf:
                    - required:
                      - name
                    - required:
                      - namespace
                  required:
                  - external
                properties:
                  external:
                    description: A reference to an externally managed BigtableCluster
                      resource. Should be in the format "projects/{{projectID}}/locations/{{location}}/clusters/{{clusterID}}".
                    type: string
                  name:
                    description: The name of a BigtableCluster resource.
                    type: string
                  namespace:
                    description: The namespace of a BigtableCluster resource.
                    type: string
                type: object
              expireTime:
                description: |-
                  Required. The expiration time of the backup.
                   When creating a backup or updating its `expire_time`, the value must be
                   greater than the backup creation time by:
                   - At least 6 hours
                   - At most 90 days

                   Once the `expire_time` has passed, Cloud Bigtable will delete the backup.
                type: string
              hotToStandardTime:
                description: |-
                  The time at which the hot backup will be converted to a standard backup.
                   Once the `hot_to_standard_time` has passed, Cloud Bigtable will convert the
                   hot backup to a standard backup. This value must be greater than the backup
                   creation time by:
                   - At least 24 hours

                   This field only applies for hot backups. When creating or updating a
                   standard backup, attempting to set this field will fail the request.
                type: string
              instanceRef:
                description: InstanceRef defines the resource reference to BigtableInstance,
                  which "External" field holds the GCP identifier for the KRM object.
                oneOf:
                - not:
                    required:
                    - external
                  required:
                  - name
                - not:
                    anyOf:
                    - required:
                      - name
                    - required:
                      - namespace
                  required:
                  - external
                properties:
                  external:
                    description: A reference to an externally managed BigtableInstance
                      resource.
                    type: string
                  name:
                    description: The name of a BigtableInstance resource.
                    type: string
                  namespace:
                    description: The namespace of a BigtableInstance resource.
                    type: string
                type: object
              projectRef:
                description: The Project that this resource belongs to.
                oneOf:
                - not:
                    required:
                    - external
                  required:
                  - name
                - not:
                    anyOf:
                    - required:
                      - name
                    - required:
                      - namespace
                  required:
                  - external
                properties:
                  external:
                    description: The `projectID` field of a project, when not managed
                      by Config Connector.
                    type: string
                  kind:
                    description: The kind of the Project resource; optional but must
                      be `Project` if provided.
                    type: string
                  name:
                    description: The `name` field of a `Project` resource.
                    type: string
                  namespace:
                    description: The `namespace` field of a `Project` resource.
                    type: string
                type: object
              resourceID:
                description: The BigtableBackup name. If not given, the metadata.name
                  will be used.
                type: string
              sourceTable:
                description: Required. Immutable. Name of the table from which this
                  backup was created. This needs to be in the same instance as the
                  backup. Values are of the form `projects/{project}/instances/{instance}/tables/{source_table}`.
                type: string
            required:
            - clusterRef
            - instanceRef
            - projectRef
            type: object
          status:
            description: BigtableBackupStatus defines the config connector machine
              state of BigtableBackup
            properties:
              conditions:
                description: Conditions represent the latest available observations
                  of the object's current state.
                items:
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      type: string
                    message:
                      description: Human-readable message indicating details about
                        last transition.
                      type: string
                    reason:
                      description: Unique, one-word, CamelCase reason for the condition's
                        last transition.
                      type: string
                    status:
                      description: Status is the status of the condition. Can be True,
                        False, Unknown.
                      type: string
                    type:
                      description: Type is the type of the condition.
                      type: string
                  type: object
                type: array
              externalRef:
                description: A unique specifier for the BigtableBackup resource in
                  GCP.
                type: string
              observedGeneration:
                description: ObservedGeneration is the generation of the resource
                  that was most recently observed by the Config Connector controller.
                  If this is equal to metadata.generation, then that means that the
                  current reported status reflects the most recent desired state of
                  the resource.
                format: int64
                type: integer
              observedState:
                description: ObservedState is the state of the resource as most recently
                  observed in GCP.
                properties:
                  encryptionInfo:
                    description: Output only. The encryption information for the backup.
                    type: object
                  endTime:
                    description: Output only. `end_time` is the time that the backup
                      was finished. The row data in the backup will be no newer than
                      this timestamp.
                    type: string
                  sizeBytes:
                    description: Output only. Size of the backup in bytes.
                    format: int64
                    type: integer
                  sourceBackup:
                    description: 'Output only. Name of the backup from which this
                      backup was copied. If a backup is not created by copying a backup,
                      this field will be empty. Values are of the form: projects/<project>/instances/<instance>/clusters/<cluster>/backups/<backup>'
                    type: string
                  startTime:
                    description: Output only. `start_time` is the time that the backup
                      was started (i.e. approximately the time the [CreateBackup][google.bigtable.admin.v2.BigtableTableAdmin.CreateBackup]
                      request is received).  The row data in this backup will be no
                      older than this timestamp.
                    type: string
                  state:
                    description: Output only. The current state of the backup.
                    type: string
                type: object
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
