apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    cnrm.cloud.google.com/version: 0.0.0-dev
  creationTimestamp: null
  labels:
    cnrm.cloud.google.com/managed-by-kcc: "true"
    cnrm.cloud.google.com/system: "true"
  name: networkservicesedgecacheservices.networkservices.cnrm.cloud.google.com
spec:
  group: networkservices.cnrm.cloud.google.com
  names:
    categories:
    - gcp
    kind: NetworkServicesEdgeCacheService
    listKind: NetworkServicesEdgeCacheServiceList
    plural: networkservicesedgecacheservices
    shortNames:
    - gcpnetworkservicesedgecacheservice
    - gcpnetworkservicesedgecacheservices
    singular: networkservicesedgecacheservice
  preserveUnknownFields: false
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    - description: When 'True', the most recent reconcile of the resource succeeded
      jsonPath: .status.conditions[?(@.type=='Ready')].status
      name: Ready
      type: string
    - description: The reason for the value in 'Ready'
      jsonPath: .status.conditions[?(@.type=='Ready')].reason
      name: Status
      type: string
    - description: The last transition time for the value in 'Status'
      jsonPath: .status.conditions[?(@.type=='Ready')].lastTransitionTime
      name: Status Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: NetworkServicesEdgeCacheService is the Schema for the NetworkServicesEdgeCacheService
          API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: NetworkServicesEdgeCacheServiceSpec defines the desired state
              of NetworkServicesEdgeCacheService
            properties:
              description:
                type: string
              disableHttp2:
                type: boolean
              disableQuic:
                type: boolean
              edgeSSLCertificates:
                items:
                  type: string
                type: array
              edgeSecurityPolicy:
                type: string
              labels:
                additionalProperties:
                  type: string
                type: object
              location:
                type: string
              logConfig:
                properties:
                  enable:
                    type: boolean
                  sampleRate:
                    type: number
                type: object
              projectRef:
                description: The Project that this resource belongs to.
                oneOf:
                - not:
                    required:
                    - external
                  required:
                  - name
                - not:
                    anyOf:
                    - required:
                      - name
                    - required:
                      - namespace
                  required:
                  - external
                properties:
                  external:
                    description: The `projectID` field of a project, when not managed
                      by Config Connector.
                    type: string
                  kind:
                    description: The kind of the Project resource; optional but must
                      be `Project` if provided.
                    type: string
                  name:
                    description: The `name` field of a `Project` resource.
                    type: string
                  namespace:
                    description: The `namespace` field of a `Project` resource.
                    type: string
                type: object
              requireTLS:
                type: boolean
              resourceID:
                description: The NetworkServicesEdgeCacheService name. If not given,
                  the metadata.name will be used.
                type: string
              routing:
                properties:
                  hostRules:
                    items:
                      properties:
                        description:
                          type: string
                        hosts:
                          items:
                            type: string
                          type: array
                        pathMatcher:
                          type: string
                      type: object
                    type: array
                  pathMatchers:
                    items:
                      properties:
                        description:
                          type: string
                        name:
                          type: string
                        routeRules:
                          items:
                            properties:
                              description:
                                type: string
                              headerAction:
                                properties:
                                  headersToAdd:
                                    items:
                                      properties:
                                        headerName:
                                          type: string
                                        headerValue:
                                          type: string
                                        replace:
                                          type: boolean
                                      type: object
                                    type: array
                                  headersToRemove:
                                    items:
                                      properties:
                                        headerName:
                                          type: string
                                      type: object
                                    type: array
                                type: object
                              matchRules:
                                items:
                                  properties:
                                    fullPathMatch:
                                      type: string
                                    headerMatches:
                                      items:
                                        properties:
                                          exactMatch:
                                            type: string
                                          headerName:
                                            type: string
                                          invertMatch:
                                            type: boolean
                                          prefixMatch:
                                            type: string
                                          presentMatch:
                                            type: boolean
                                          regexMatch:
                                            type: string
                                          suffixMatch:
                                            type: string
                                        type: object
                                      type: array
                                    ignoreCase:
                                      type: boolean
                                    prefixMatch:
                                      type: string
                                    queryParamMatches:
                                      items:
                                        properties:
                                          exactMatch:
                                            type: string
                                          presentMatch:
                                            type: boolean
                                          queryParam:
                                            type: string
                                          regexMatch:
                                            type: string
                                        type: object
                                      type: array
                                    regexMatch:
                                      type: string
                                  type: object
                                type: array
                              origin:
                                type: string
                              priority:
                                format: int32
                                type: integer
                              routeAction:
                                properties:
                                  cdnPolicy:
                                    properties:
                                      cacheMode:
                                        type: string
                                      cacheNegativeCallbacks:
                                        type: boolean
                                      clientTTL:
                                        additionalProperties:
                                          type: string
                                        type: object
                                      defaultTTL:
                                        type: string
                                      maxTTL:
                                        type: string
                                      signedRequestKeyset:
                                        additionalProperties:
                                          type: string
                                        type: object
                                      signedRequestMode:
                                        type: string
                                    type: object
                                  compressionMode:
                                    type: string
                                  corsPolicy:
                                    properties:
                                      allowCredentials:
                                        type: boolean
                                      allowHeaders:
                                        items:
                                          type: string
                                        type: array
                                      allowMethods:
                                        items:
                                          type: string
                                        type: array
                                      allowOrigins:
                                        items:
                                          type: string
                                        type: array
                                      disabled:
                                        type: boolean
                                      exposeHeaders:
                                        items:
                                          type: string
                                        type: array
                                      maxAge:
                                        type: string
                                    type: object
                                  urlRewrite:
                                    properties:
                                      hostRewrite:
                                        type: string
                                      pathPrefixRewrite:
                                        type: string
                                    type: object
                                type: object
                              routeMethods:
                                items:
                                  type: string
                                type: array
                              urlRedirect:
                                properties:
                                  hostRedirect:
                                    type: string
                                  httpsRedirect:
                                    type: boolean
                                  pathRedirect:
                                    type: string
                                  prefixRedirect:
                                    type: string
                                  redirectResponseCode:
                                    type: string
                                  stripQuery:
                                    type: boolean
                                type: object
                            type: object
                          type: array
                      type: object
                    type: array
                type: object
            required:
            - location
            - projectRef
            type: object
          status:
            description: NetworkServicesEdgeCacheServiceStatus defines the config
              connector machine state of NetworkServicesEdgeCacheService
            properties:
              conditions:
                description: Conditions represent the latest available observations
                  of the object's current state.
                items:
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      type: string
                    message:
                      description: Human-readable message indicating details about
                        last transition.
                      type: string
                    reason:
                      description: Unique, one-word, CamelCase reason for the condition's
                        last transition.
                      type: string
                    status:
                      description: Status is the status of the condition. Can be True,
                        False, Unknown.
                      type: string
                    type:
                      description: Type is the type of the condition.
                      type: string
                  type: object
                type: array
              externalRef:
                description: A unique specifier for the NetworkServicesEdgeCacheService
                  resource in GCP.
                type: string
              observedGeneration:
                description: ObservedGeneration is the generation of the resource
                  that was most recently observed by the Config Connector controller.
                  If this is equal to metadata.generation, then that means that the
                  current reported status reflects the most recent desired state of
                  the resource.
                format: int64
                type: integer
              observedState:
                description: ObservedState is the state of the resource as most recently
                  observed in GCP.
                properties:
                  createTime:
                    type: string
                  ipv4Addresses:
                    items:
                      type: string
                    type: array
                  ipv6Addresses:
                    items:
                      type: string
                    type: array
                  name:
                    type: string
                  updateTime:
                    type: string
                type: object
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
