apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    cnrm.cloud.google.com/version: 0.0.0-dev
  creationTimestamp: null
  labels:
    cnrm.cloud.google.com/managed-by-kcc: "true"
    cnrm.cloud.google.com/stability-level: stable
    cnrm.cloud.google.com/system: "true"
    cnrm.cloud.google.com/tf2crd: "true"
  name: dataflowflextemplatejobs.dataflow.cnrm.cloud.google.com
spec:
  group: dataflow.cnrm.cloud.google.com
  names:
    categories:
    - gcp
    kind: DataflowFlexTemplateJob
    plural: dataflowflextemplatejobs
    shortNames:
    - gcpdataflowflextemplatejob
    - gcpdataflowflextemplatejobs
    singular: dataflowflextemplatejob
  preserveUnknownFields: false
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    - description: When 'True', the most recent reconcile of the resource succeeded
      jsonPath: .status.conditions[?(@.type=='Ready')].status
      name: Ready
      type: string
    - description: The reason for the value in 'Ready'
      jsonPath: .status.conditions[?(@.type=='Ready')].reason
      name: Status
      type: string
    - description: The last transition time for the value in 'Status'
      jsonPath: .status.conditions[?(@.type=='Ready')].lastTransitionTime
      name: Status Age
      type: date
    name: v1beta1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: 'apiVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#resources'
            type: string
          kind:
            description: 'kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            properties:
              additionalExperiments:
                description: List of experiments that should be used by the job. An
                  example value is ["enable_stackdriver_agent_metrics"].
                items:
                  type: string
                type: array
              autoscalingAlgorithm:
                description: The algorithm to use for autoscaling.
                type: string
              containerSpecGcsPath:
                type: string
              enableStreamingEngine:
                description: Immutable. Indicates if the job should use the streaming
                  engine feature.
                type: boolean
              ipConfiguration:
                description: The configuration for VM IPs. Options are "WORKER_IP_PUBLIC"
                  or "WORKER_IP_PRIVATE".
                type: string
              kmsKeyNameRef:
                description: The name for the Cloud KMS key for the job.
                oneOf:
                - not:
                    required:
                    - external
                  required:
                  - name
                - not:
                    anyOf:
                    - required:
                      - name
                    - required:
                      - namespace
                  required:
                  - external
                properties:
                  external:
                    description: 'Allowed value: The `selfLink` field of a `KMSCryptoKey`
                      resource.'
                    type: string
                  name:
                    description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names'
                    type: string
                  namespace:
                    description: 'Namespace of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/'
                    type: string
                type: object
              launcherMachineType:
                description: The machine type to use for launching the job. The default
                  is n1-standard-1.
                type: string
              machineType:
                description: The machine type to use for the job.
                type: string
              maxWorkers:
                description: Immutable. The maximum number of Google Compute Engine
                  instances to be made available to your pipeline during execution,
                  from 1 to 1000.
                type: integer
              networkRef:
                oneOf:
                - not:
                    required:
                    - external
                  required:
                  - name
                - not:
                    anyOf:
                    - required:
                      - name
                    - required:
                      - namespace
                  required:
                  - external
                properties:
                  external:
                    description: 'Allowed value: The `selfLink` field of a `ComputeNetwork`
                      resource.'
                    type: string
                  name:
                    description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names'
                    type: string
                  namespace:
                    description: 'Namespace of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/'
                    type: string
                type: object
              numWorkers:
                description: Immutable. The initial number of Google Compute Engine
                  instances for the job.
                type: integer
              parameters:
                type: object
                x-kubernetes-preserve-unknown-fields: true
              region:
                description: Immutable. The region in which the created job should
                  run.
                type: string
              sdkContainerImage:
                description: Docker registry location of container image to use for
                  the 'worker harness. Default is the container for the version of
                  the SDK. Note this field is only valid for portable pipelines.
                type: string
              serviceAccountEmailRef:
                oneOf:
                - not:
                    required:
                    - external
                  required:
                  - name
                - not:
                    anyOf:
                    - required:
                      - name
                    - required:
                      - namespace
                  required:
                  - external
                properties:
                  external:
                    description: 'Allowed value: The `email` field of an `IAMServiceAccount`
                      resource.'
                    type: string
                  name:
                    description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names'
                    type: string
                  namespace:
                    description: 'Namespace of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/'
                    type: string
                type: object
              stagingLocation:
                description: The Cloud Storage path to use for staging files. Must
                  be a valid Cloud Storage URL, beginning with gs://.
                type: string
              subnetworkRef:
                oneOf:
                - not:
                    required:
                    - external
                  required:
                  - name
                - not:
                    anyOf:
                    - required:
                      - name
                    - required:
                      - namespace
                  required:
                  - external
                properties:
                  external:
                    description: 'Allowed value: The `selfLink` field of a `ComputeSubnetwork`
                      resource.'
                    type: string
                  name:
                    description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names'
                    type: string
                  namespace:
                    description: 'Namespace of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/'
                    type: string
                type: object
              tempLocation:
                description: The Cloud Storage path to use for temporary files. Must
                  be a valid Cloud Storage URL, beginning with gs://.
                type: string
              transformNameMapping:
                description: Only applicable when updating a pipeline. Map of transform
                  name prefixes of the job to be replaced with the corresponding name
                  prefixes of the new job.
                type: object
                x-kubernetes-preserve-unknown-fields: true
            required:
            - containerSpecGcsPath
            type: object
          status:
            properties:
              conditions:
                description: Conditions represent the latest available observation
                  of the resource's current state.
                items:
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      type: string
                    message:
                      description: Human-readable message indicating details about
                        last transition.
                      type: string
                    reason:
                      description: Unique, one-word, CamelCase reason for the condition's
                        last transition.
                      type: string
                    status:
                      description: Status is the status of the condition. Can be True,
                        False, Unknown.
                      type: string
                    type:
                      description: Type is the type of the condition.
                      type: string
                  type: object
                type: array
              jobId:
                type: string
              observedGeneration:
                description: ObservedGeneration is the generation of the resource
                  that was most recently observed by the Config Connector controller.
                  If this is equal to metadata.generation, then that means that the
                  current reported status reflects the most recent desired state of
                  the resource.
                type: integer
              state:
                type: string
              type:
                description: The type of this job, selected from the JobType enum.
                type: string
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
