apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    cnrm.cloud.google.com/version: 0.0.0-dev
  creationTimestamp: null
  labels:
    cnrm.cloud.google.com/managed-by-kcc: "true"
    cnrm.cloud.google.com/system: "true"
  name: dataplexaspecttypes.dataplex.cnrm.cloud.google.com
spec:
  group: dataplex.cnrm.cloud.google.com
  names:
    categories:
    - gcp
    kind: DataplexAspectType
    listKind: DataplexAspectTypeList
    plural: dataplexaspecttypes
    shortNames:
    - gcpdataplexaspecttype
    - gcpdataplexaspecttypes
    singular: dataplexaspecttype
  preserveUnknownFields: false
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    - description: When 'True', the most recent reconcile of the resource succeeded
      jsonPath: .status.conditions[?(@.type=='Ready')].status
      name: Ready
      type: string
    - description: The reason for the value in 'Ready'
      jsonPath: .status.conditions[?(@.type=='Ready')].reason
      name: Status
      type: string
    - description: The last transition time for the value in 'Status'
      jsonPath: .status.conditions[?(@.type=='Ready')].lastTransitionTime
      name: Status Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: DataplexAspectType is the Schema for the DataplexAspectType API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: DataplexAspectTypeSpec defines the desired state of DataplexAspectType
            properties:
              authorization:
                description: Immutable. Defines the Authorization for this type.
                properties:
                  alternateUsePermission:
                    description: Immutable. The IAM permission grantable on the EntryGroup
                      to allow access to instantiate Aspects of Dataplex owned AspectTypes,
                      only settable for Dataplex owned Types.
                    type: string
                type: object
              description:
                description: Optional. Description of the AspectType.
                type: string
              displayName:
                description: Optional. User friendly display name.
                type: string
              etag:
                description: The service computes this checksum. The client may send
                  it on update and delete requests to ensure it has an up-to-date
                  value before proceeding.
                type: string
              labels:
                additionalProperties:
                  type: string
                description: Optional. User-defined labels for the AspectType.
                type: object
              location:
                type: string
              metadataTemplate:
                description: Required. MetadataTemplate of the aspect.
                type: string
              projectRef:
                description: The Project that this resource belongs to.
                oneOf:
                - not:
                    required:
                    - external
                  required:
                  - name
                - not:
                    anyOf:
                    - required:
                      - name
                    - required:
                      - namespace
                  required:
                  - external
                properties:
                  external:
                    description: The `projectID` field of a project, when not managed
                      by Config Connector.
                    type: string
                  kind:
                    description: The kind of the Project resource; optional but must
                      be `Project` if provided.
                    type: string
                  name:
                    description: The `name` field of a `Project` resource.
                    type: string
                  namespace:
                    description: The `namespace` field of a `Project` resource.
                    type: string
                type: object
              resourceID:
                description: The DataplexAspectType name. If not given, the metadata.name
                  will be used.
                type: string
            required:
            - location
            - projectRef
            type: object
          status:
            description: DataplexAspectTypeStatus defines the config connector machine
              state of DataplexAspectType
            properties:
              conditions:
                description: Conditions represent the latest available observations
                  of the object's current state.
                items:
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      type: string
                    message:
                      description: Human-readable message indicating details about
                        last transition.
                      type: string
                    reason:
                      description: Unique, one-word, CamelCase reason for the condition's
                        last transition.
                      type: string
                    status:
                      description: Status is the status of the condition. Can be True,
                        False, Unknown.
                      type: string
                    type:
                      description: Type is the type of the condition.
                      type: string
                  type: object
                type: array
              externalRef:
                description: A unique specifier for the DataplexAspectType resource
                  in GCP.
                type: string
              observedGeneration:
                description: ObservedGeneration is the generation of the resource
                  that was most recently observed by the Config Connector controller.
                  If this is equal to metadata.generation, then that means that the
                  current reported status reflects the most recent desired state of
                  the resource.
                format: int64
                type: integer
              observedState:
                description: ObservedState is the state of the resource as most recently
                  observed in GCP.
                properties:
                  createTime:
                    description: Output only. The time when the AspectType was created.
                    type: string
                  transferStatus:
                    description: Output only. Denotes the transfer status of the Aspect
                      Type. It is unspecified for Aspect Types created from Dataplex
                      API.
                    type: string
                  uid:
                    description: Output only. System generated globally unique ID
                      for the AspectType. If you delete and recreate the AspectType
                      with the same name, then this ID will be different.
                    type: string
                  updateTime:
                    description: Output only. The time when the AspectType was last
                      updated.
                    type: string
                type: object
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
