apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    cnrm.cloud.google.com/version: 0.0.0-dev
  creationTimestamp: null
  labels:
    cnrm.cloud.google.com/managed-by-kcc: "true"
    cnrm.cloud.google.com/stability-level: stable
    cnrm.cloud.google.com/system: "true"
    cnrm.cloud.google.com/tf2crd: "true"
  name: cloudidentitygroups.cloudidentity.cnrm.cloud.google.com
spec:
  group: cloudidentity.cnrm.cloud.google.com
  names:
    categories:
    - gcp
    kind: CloudIdentityGroup
    plural: cloudidentitygroups
    shortNames:
    - gcpcloudidentitygroup
    - gcpcloudidentitygroups
    singular: cloudidentitygroup
  preserveUnknownFields: false
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    - description: When 'True', the most recent reconcile of the resource succeeded
      jsonPath: .status.conditions[?(@.type=='Ready')].status
      name: Ready
      type: string
    - description: The reason for the value in 'Ready'
      jsonPath: .status.conditions[?(@.type=='Ready')].reason
      name: Status
      type: string
    - description: The last transition time for the value in 'Status'
      jsonPath: .status.conditions[?(@.type=='Ready')].lastTransitionTime
      name: Status Age
      type: date
    name: v1beta1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: 'apiVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#resources'
            type: string
          kind:
            description: 'kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            properties:
              description:
                description: |-
                  An extended description to help users determine the purpose of a Group.
                  Must not be longer than 4,096 characters.
                type: string
              displayName:
                description: The display name of the Group.
                type: string
              groupKey:
                description: Immutable. EntityKey of the Group.
                properties:
                  id:
                    description: |-
                      Immutable. The ID of the entity.

                      For Google-managed entities, the id must be the email address of an existing
                      group or user.

                      For external-identity-mapped entities, the id must be a string conforming
                      to the Identity Source's requirements.

                      Must be unique within a namespace.
                    type: string
                  namespace:
                    description: |-
                      Immutable. The namespace in which the entity exists.

                      If not specified, the EntityKey represents a Google-managed entity
                      such as a Google user or a Google Group.

                      If specified, the EntityKey represents an external-identity-mapped group.
                      The namespace must correspond to an identity source created in Admin Console
                      and must be in the form of 'identitysources/{identity_source_id}'.
                    type: string
                required:
                - id
                type: object
              initialGroupConfig:
                description: |-
                  Immutable. The initial configuration options for creating a Group.

                  See the
                  [API reference](https://cloud.google.com/identity/docs/reference/rest/v1beta1/groups/create#initialgroupconfig)
                  for possible values. Default value: "EMPTY" Possible values: ["INITIAL_GROUP_CONFIG_UNSPECIFIED", "WITH_INITIAL_OWNER", "EMPTY"].
                type: string
              labels:
                additionalProperties:
                  type: string
                description: |-
                  One or more label entries that apply to the Group. Currently supported labels contain a key with an empty value.

                  Google Groups are the default type of group and have a label with a key of cloudidentity.googleapis.com/groups.discussion_forum and an empty value.

                  Existing Google Groups can have an additional label with a key of cloudidentity.googleapis.com/groups.security and an empty value added to them. This is an immutable change and the security label cannot be removed once added.

                  Dynamic groups have a label with a key of cloudidentity.googleapis.com/groups.dynamic.

                  Identity-mapped groups for Cloud Search have a label with a key of system/groups/external and an empty value.
                type: object
              parent:
                description: |-
                  Immutable. The resource name of the entity under which this Group resides in the
                  Cloud Identity resource hierarchy.

                  Must be of the form identitysources/{identity_source_id} for external-identity-mapped
                  groups or customers/{customer_id} for Google Groups.
                type: string
              resourceID:
                description: Immutable. Optional. The service-generated name of the
                  resource. Used for acquisition only. Leave unset to create a new
                  resource.
                type: string
            required:
            - groupKey
            - labels
            - parent
            type: object
          status:
            properties:
              conditions:
                description: Conditions represent the latest available observation
                  of the resource's current state.
                items:
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      type: string
                    message:
                      description: Human-readable message indicating details about
                        last transition.
                      type: string
                    reason:
                      description: Unique, one-word, CamelCase reason for the condition's
                        last transition.
                      type: string
                    status:
                      description: Status is the status of the condition. Can be True,
                        False, Unknown.
                      type: string
                    type:
                      description: Type is the type of the condition.
                      type: string
                  type: object
                type: array
              createTime:
                description: The time when the Group was created.
                type: string
              name:
                description: |-
                  Resource name of the Group in the format: groups/{group_id}, where group_id
                  is the unique ID assigned to the Group.
                type: string
              observedGeneration:
                description: ObservedGeneration is the generation of the resource
                  that was most recently observed by the Config Connector controller.
                  If this is equal to metadata.generation, then that means that the
                  current reported status reflects the most recent desired state of
                  the resource.
                type: integer
              updateTime:
                description: The time when the Group was last updated.
                type: string
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
