apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    cnrm.cloud.google.com/version: 0.0.0-dev
  creationTimestamp: null
  labels:
    cnrm.cloud.google.com/managed-by-kcc: "true"
    cnrm.cloud.google.com/stability-level: alpha
    cnrm.cloud.google.com/system: "true"
  name: bigqueryreservationcapacitycommitments.bigqueryreservation.cnrm.cloud.google.com
spec:
  group: bigqueryreservation.cnrm.cloud.google.com
  names:
    categories:
    - gcp
    kind: BigQueryReservationCapacityCommitment
    plural: bigqueryreservationcapacitycommitments
    shortNames:
    - gcpbigqueryreservationcapacitycommitment
    - gcpbigqueryreservationcapacitycommitments
    singular: bigqueryreservationcapacitycommitment
  preserveUnknownFields: false
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    - description: When 'True', the most recent reconcile of the resource succeeded
      jsonPath: .status.conditions[?(@.type=='Ready')].status
      name: Ready
      type: string
    - description: The reason for the value in 'Ready'
      jsonPath: .status.conditions[?(@.type=='Ready')].reason
      name: Status
      type: string
    - description: The last transition time for the value in 'Status'
      jsonPath: .status.conditions[?(@.type=='Ready')].lastTransitionTime
      name: Status Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: 'apiVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#resources'
            type: string
          kind:
            description: 'kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            properties:
              edition:
                description: Immutable. The edition type. Valid values are STANDARD,
                  ENTERPRISE, ENTERPRISE_PLUS.
                type: string
              enforceSingleAdminProjectPerOrg:
                description: Immutable. If true, fail the request if another project
                  in the organization has a capacity commitment.
                type: string
              location:
                description: |-
                  Immutable. The geographic location where the transfer config should reside.
                  Examples: US, EU, asia-northeast1. The default value is US.
                type: string
              plan:
                description: Capacity commitment plan. Valid values are at https://cloud.google.com/bigquery/docs/reference/reservations/rpc/google.cloud.bigquery.reservation.v1#commitmentplan.
                type: string
              projectRef:
                description: The project that this resource belongs to.
                oneOf:
                - not:
                    required:
                    - external
                  required:
                  - name
                - not:
                    anyOf:
                    - required:
                      - name
                    - required:
                      - namespace
                  required:
                  - external
                properties:
                  external:
                    description: 'Allowed value: The `name` field of a `Project` resource.'
                    type: string
                  name:
                    description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names'
                    type: string
                  namespace:
                    description: 'Namespace of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/'
                    type: string
                type: object
              renewalPlan:
                description: The plan this capacity commitment is converted to after
                  commitmentEndTime passes. Once the plan is changed, committed period
                  is extended according to commitment plan. Only applicable some commitment
                  plans.
                type: string
              resourceID:
                description: Immutable. Optional. The capacityCommitmentId of the
                  resource. Used for creation and acquisition. When unset, the value
                  of `metadata.name` is used as the default.
                type: string
              slotCount:
                description: Immutable. Number of slots in this commitment.
                type: integer
            required:
            - location
            - plan
            - projectRef
            - slotCount
            type: object
          status:
            properties:
              commitmentEndTime:
                description: The start of the current commitment period. It is applicable
                  only for ACTIVE capacity commitments.
                type: string
              commitmentStartTime:
                description: The start of the current commitment period. It is applicable
                  only for ACTIVE capacity commitments.
                type: string
              conditions:
                description: Conditions represent the latest available observation
                  of the resource's current state.
                items:
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      type: string
                    message:
                      description: Human-readable message indicating details about
                        last transition.
                      type: string
                    reason:
                      description: Unique, one-word, CamelCase reason for the condition's
                        last transition.
                      type: string
                    status:
                      description: Status is the status of the condition. Can be True,
                        False, Unknown.
                      type: string
                    type:
                      description: Type is the type of the condition.
                      type: string
                  type: object
                type: array
              name:
                description: The resource name of the capacity commitment, e.g., projects/myproject/locations/US/capacityCommitments/123.
                type: string
              observedGeneration:
                description: ObservedGeneration is the generation of the resource
                  that was most recently observed by the Config Connector controller.
                  If this is equal to metadata.generation, then that means that the
                  current reported status reflects the most recent desired state of
                  the resource.
                type: integer
              state:
                description: State of the commitment.
                type: string
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
