---
version: 2
interactions:
    - id: 0
      request:
        host: container.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://container.googleapis.com/v1beta1/projects/example-project/locations/us-central1-a/clusters/cluster-sample-3eufqu3ymc4dr?alt=json&prettyPrint=false
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 390.705439ms
[...]
    - id: 2
      request:
        host: container.googleapis.com
        body: |
            {"cluster":{"autopilot":{"enabled":false},"autoscaling":{"enableNodeAutoprovisioning":false},"binaryAuthorization":{"enabled":false},"controlPlaneEndpointsConfig":{"dnsEndpointConfig":{"allowExternalTraffic":false},"ipEndpointsConfig":{"authorizedNetworksConfig":{},"enablePublicEndpoint":true,"enabled":true,"globalAccess":false,"privateEndpointSubnetwork":""}},"initialNodeCount":1,"ipAllocationPolicy":{"stackType":"IPV4","useIpAliases":false},"legacyAbac":{"enabled":false},"loggingService":"logging.googleapis.com/kubernetes","maintenancePolicy":{"window":{}},"monitoringService":"monitoring.googleapis.com/kubernetes","name":"cluster-sample-3eufqu3ymc4dr","network":"projects/example-project/global/networks/default","networkConfig":{},"networkPolicy":{},"nodeConfig":{"oauthScopes":["https://www.googleapis.com/auth/devstorage.read_only","https://www.googleapis.com/auth/logging.write","https://www.googleapis.com/auth/monitoring","https://www.googleapis.com/auth/service.management.readonly","https://www.googleapis.com/auth/servicecontrol","https://www.googleapis.com/auth/trace.append"]},"notificationConfig":{"pubsub":{}},"resourceLabels":{"cnrm-test":"true","label-one":"value-one","managed-by-cnrm":"true"},"shieldedNodes":{"enabled":true}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://container.googleapis.com/v1beta1/projects/example-project/locations/us-central1-a/clusters?alt=json&prettyPrint=false
        method: POST
      response:
        body: '{"name":"operation-1755020383130-eae3d6a3-0e44-428f-a93b-7c8806477cd7","zone":"us-central1-a","operationType":"CREATE_CLUSTER","status":"RUNNING","selfLink":"https://container.googleapis.com/v1beta1/projects/123456789/zones/us-central1-a/operations/operation-1755020383130-eae3d6a3-0e44-428f-a93b-7c8806477cd7","targetLink":"https://container.googleapis.com/v1beta1/projects/123456789/zones/us-central1-a/clusters/cluster-sample-3eufqu3ymc4dr","startTime":"2025-08-12T17:39:43.130895889Z"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 3.428644276s
    - id: 3
      request:
        host: container.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://container.googleapis.com/v1beta1/projects/example-project/locations/us-central1-a/operations/operation-1755020383130-eae3d6a3-0e44-428f-a93b-7c8806477cd7?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"name":"operation-1755020383130-eae3d6a3-0e44-428f-a93b-7c8806477cd7","zone":"us-central1-a","operationType":"CREATE_CLUSTER","status":"DONE","selfLink":"https://container.googleapis.com/v1beta1/projects/123456789/zones/us-central1-a/operations/operation-1755020383130-eae3d6a3-0e44-428f-a93b-7c8806477cd7","targetLink":"https://container.googleapis.com/v1beta1/projects/123456789/zones/us-central1-a/clusters/cluster-sample-3eufqu3ymc4dr","startTime":"2025-08-12T17:39:43.130895889Z","endTime":"2025-08-12T17:45:37.539328543Z","progress":{"metrics":[{"name":"CLUSTER_CONFIGURING","intValue":"9"},{"name":"CLUSTER_CONFIGURING_TOTAL","intValue":"9"},{"name":"CLUSTER_DEPLOYING","intValue":"12"},{"name":"CLUSTER_DEPLOYING_TOTAL","intValue":"12"},{"name":"CLUSTER_HEALTHCHECKING","intValue":"1"},{"name":"CLUSTER_HEALTHCHECKING_TOTAL","intValue":"2"}]}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 91.025282ms
    - id: 4
      request:
        host: container.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://container.googleapis.com/v1beta1/projects/example-project/locations/us-central1-a/clusters/cluster-sample-3eufqu3ymc4dr?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"name":"cluster-sample-3eufqu3ymc4dr","initialNodeCount":1,"nodeConfig":{"machineType":"e2-medium","diskSizeGb":100,"oauthScopes":["https://www.googleapis.com/auth/devstorage.read_only","https://www.googleapis.com/auth/logging.write","https://www.googleapis.com/auth/monitoring","https://www.googleapis.com/auth/service.management.readonly","https://www.googleapis.com/auth/servicecontrol","https://www.googleapis.com/auth/trace.append"],"metadata":{"disable-legacy-endpoints":"true"},"imageType":"COS_CONTAINERD","serviceAccount":"default","diskType":"pd-balanced","shieldedInstanceConfig":{"enableIntegrityMonitoring":true},"kubeletConfig":{"insecureKubeletReadonlyPortEnabled":false,"maxParallelImagePulls":2},"resourceLabels":{"goog-gke-node-pool-provisioning-model":"on-demand"},"windowsNodeConfig":{},"effectiveCgroupMode":"EFFECTIVE_CGROUP_MODE_V2","bootDisk":{"diskType":"pd-balanced","sizeGb":"100"}},"masterAuth":{"clientCertificateConfig":{},"clusterCaCertificate":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUVMRENDQXBTZ0F3SUJBZ0lRRzUrb1EwbE03MlJrRUtPM2tiWjVoakFOQmdrcWhraUc5dzBCQVFzRkFEQXYKTVMwd0t3WURWUVFERXlSaU5qUTBOREE1TXkxaE9UbGtMVFExTVRBdE9HRmpNQzFpWXpJd1ltTTVaV1l6TlRZdwpJQmNOTWpVd09ERXlNVFl6T1RRd1doZ1BNakExTlRBNE1EVXhOek01TkRCYU1DOHhMVEFyQmdOVkJBTVRKR0kyCk5EUTBNRGt6TFdFNU9XUXRORFV4TUMwNFlXTXdMV0pqTWpCaVl6bGxaak0xTmpDQ0FhSXdEUVlKS29aSWh2Y04KQVFFQkJRQURnZ0dQQURDQ0FZb0NnZ0dCQUp5VzBnU1EvMkZlYVAvbUVWc3pGanhKRm9tS2RKMjVibVVMd0VVeQpkTG9lSE5UYkM5QlpWWU9Lb2V3NEV[...]
    - id: 5
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a/instanceGroupManagers/gke-cluster-sample-3eufq-default-pool-7f5c625e-grp?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#instanceGroupManager","id":"8812582237938041461","creationTimestamp":"2025-08-12T10:40:42.487-07:00","name":"gke-cluster-sample-3eufq-default-pool-7f5c625e-grp","zone":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a","instanceTemplate":"https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1/instanceTemplates/gke-cluster-sample-3eufq-default-pool-7f5c625e","versions":[{"instanceTemplate":"https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1/instanceTemplates/gke-cluster-sample-3eufq-default-pool-7f5c625e","targetSize":{"calculated":1}}],"instanceGroup":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a/instanceGroups/gke-cluster-sample-3eufq-default-pool-7f5c625e-grp","baseInstanceName":"gke-cluster-sample-3eufq-default-pool-7f5c625e","fingerprint":"YoB2bjfQ_Ew=","currentActions":{"none":1,"creating":0,"creatingWithoutRetries":0,"verifying":0,"recreating":0,"deleting":0,"abandoning":0,"restarting":0,"refreshing":0,"suspending":0,"resuming":0,"stopping":0,"starting":0},"status":{"isStable":true,"allInstancesConfig":{"effective":true},"versionTarget":{"isReached":true},"stateful":{"isStateful":false,"hasStatefulConfig":false,"perInstanceConfigs":{"allEffective":true}}},"targetSize":1,"targetStoppedSize":0,"targetSuspendedSize":0,"listManagedInstancesResults":"PAGINATED","standbyPolicy":{"mode":"MANUAL"},"selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a/instanceGroupManagers/gke-cluster-sample-3eufq-default-pool-7f5c625e-grp","updatePolicy":{"type":"OPPORTUNISTIC","minimalAction":"REPLACE","maxSurge":{"fixed":1,"calculated":1},"maxUnavailable":{"fixed":1,"calculated":1},"minReadySec":0,"replacementMethod":"SUBSTITUTE"},"serviceAccount":"123456789@cloudservices.gserviceaccount.com","instanceLifecyclePolicy":{"forceUpdateOnRepair":"YES","defaultActionOnFailure":"REPAIR","onFailedHealthCheck":"DEFAULT_ACTION"},"satisfiesPzi":true,"satisfiesPzs":true}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 175.091405ms
[...]
    - id: 7
      request:
        host: container.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://container.googleapis.com/v1beta1/projects/example-project/locations/us-central1-a/clusters/cluster-sample-3eufqu3ymc4dr/nodePools/nodepool-sample-3eufqu3ymc4dr?alt=json&prettyPrint=false
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 92.749222ms
[...]
    - id: 11
      request:
        host: container.googleapis.com
        body: |
            {"nodePool":{"autoscaling":{"enabled":true,"maxNodeCount":3,"minNodeCount":1,"totalMaxNodeCount":0,"totalMinNodeCount":0},"config":{"loggingConfig":{"variantConfig":{"variant":"DEFAULT"}},"taints":[{"effect":"NO_SCHEDULE","key":"originalKey","value":"originalValue"}]},"name":"nodepool-sample-3eufqu3ymc4dr","networkConfig":{}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://container.googleapis.com/v1beta1/projects/example-project/locations/us-central1-a/clusters/cluster-sample-3eufqu3ymc4dr/nodePools?alt=json&prettyPrint=false
        method: POST
      response:
        body: '{"name":"operation-1755020746354-f2448c7c-474b-4958-9ea5-1247de67644f","zone":"us-central1-a","operationType":"CREATE_NODE_POOL","status":"PENDING","selfLink":"https://container.googleapis.com/v1beta1/projects/123456789/zones/us-central1-a/operations/operation-1755020746354-f2448c7c-474b-4958-9ea5-1247de67644f","targetLink":"https://container.googleapis.com/v1beta1/projects/123456789/zones/us-central1-a/clusters/cluster-sample-3eufqu3ymc4dr/nodePools/nodepool-sample-3eufqu3ymc4dr","startTime":"2025-08-12T17:45:46.354661677Z"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 1.421550076s
[...]
    - id: 13
      request:
        host: container.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://container.googleapis.com/v1beta1/projects/example-project/locations/us-central1-a/clusters/cluster-sample-3eufqu3ymc4dr/nodePools/nodepool-sample-3eufqu3ymc4dr?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"name":"nodepool-sample-3eufqu3ymc4dr","config":{"machineType":"e2-medium","diskSizeGb":100,"oauthScopes":["https://www.googleapis.com/auth/devstorage.read_only","https://www.googleapis.com/auth/logging.write","https://www.googleapis.com/auth/monitoring","https://www.googleapis.com/auth/service.management.readonly","https://www.googleapis.com/auth/servicecontrol","https://www.googleapis.com/auth/trace.append"],"metadata":{"disable-legacy-endpoints":"true"},"imageType":"COS_CONTAINERD","serviceAccount":"default","diskType":"pd-balanced","taints":[{"key":"originalKey","value":"originalValue","effect":"NO_SCHEDULE"}],"shieldedInstanceConfig":{"enableIntegrityMonitoring":true},"kubeletConfig":{"insecureKubeletReadonlyPortEnabled":false,"maxParallelImagePulls":2},"resourceLabels":{"goog-gke-node-pool-provisioning-model":"on-demand"},"loggingConfig":{"variantConfig":{"variant":"DEFAULT"}},"windowsNodeConfig":{},"effectiveCgroupMode":"EFFECTIVE_CGROUP_MODE_V2","bootDisk":{"diskType":"pd-balanced","sizeGb":"100"}},"autoscaling":{"enabled":true,"minNodeCount":1,"maxNodeCount":3,"locationPolicy":"BALANCED"},"management":{"autoUpgrade":true,"autoRepair":true},"maxPodsConstraint":{"maxPodsPerNode":"110"},"podIpv4CidrSize":24,"locations":["us-central1-a"],"networkConfig":{"podRange":"gke-cluster-sample-3eufqu3ymc4dr-pods-75f1423e","podIpv4CidrBlock":"10.76.0.0/14","subnetwork":"projects/example-project/regions/us-central1/subnetworks/default"},"selfLink":"https://container.googleapis.com/v1beta1/projects/example-project/zones/us-central1-a/clusters/cluster-sample-3eufqu3ymc4dr/nodePools/nodepool-sample-3eufqu3ymc4dr","version":"1.33.2-gke.1240000","instanceGroupUrls":["https://www.googleapis.com/compute/v1/projects/example-project/zones/us-central1-a/instanceGroupManagers/gke-cluster-sample-3-nodepool-sample--9c9cc06b-grp"],"status":"RUNNING","upgradeSettings":{"maxSurge":1,"strategy":"SURGE"},"etag":"17e1b0ee-9c5d-4fc4-b858-9d9a2a3e3be3"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 98.841902ms
    - id: 14
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/zones/us-central1-a/instanceGroupManagers/gke-cluster-sample-3-nodepool-sample--9c9cc06b-grp?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#instanceGroupManager","id":"6383491452788720445","creationTimestamp":"2025-08-12T10:45:54.521-07:00","name":"gke-c[...]
[...]
    - id: 23
      request:
        host: container.googleapis.com
        body: |
            {"update":{"desiredNodePoolAutoscaling":{"enabled":true,"locationPolicy":"BALANCED","maxNodeCount":5,"minNodeCount":1,"totalMinNodeCount":0},"desiredNodePoolId":"nodepool-sample-3eufqu3ymc4dr"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://container.googleapis.com/v1beta1/projects/example-project/locations/us-central1-a/clusters/cluster-sample-3eufqu3ymc4dr?alt=json&prettyPrint=false
        method: PUT
      response:
        body: '{"name":"operation-1755020772700-5310a040-703c-4d1b-ab8a-9d183683204e","zone":"us-central1-a","operationType":"UPDATE_CLUSTER","status":"PENDING","selfLink":"https://container.googleapis.com/v1beta1/projects/123456789/zones/us-central1-a/operations/operation-1755020772700-5310a040-703c-4d1b-ab8a-9d183683204e","targetLink":"https://container.googleapis.com/v1beta1/projects/123456789/zones/us-central1-a/clusters/cluster-sample-3eufqu3ymc4dr/nodePools/nodepool-sample-3eufqu3ymc4dr","startTime":"2025-08-12T17:46:12.700483554Z"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 343.69596ms
[...]
