# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: apikeys.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://apikeys.googleapis.com/v2/projects/example-project/locations/global/keys/apikeyskey2620zeociekkx?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 399.655173ms
[...]
    - id: 2
      request:
        host: apikeys.googleapis.com
        body: '{"displayName":"Example Display Name","restrictions":{"apiTargets":[{"methods":["GET"],"service":"translate.googleapis.com"}]}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://apikeys.googleapis.com/v2/projects/example-project/locations/global/keys?alt=json&keyId=apikeyskey2620zeociekkx
        method: POST
      response:
        body: |
            {
              "name": "operations/akmf.p7-1050941971942-71209a3b-7a1a-4bfa-81a9-bd6eead78c3a"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 211.032826ms
    - id: 3
      request:
        host: apikeys.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://apikeys.googleapis.com/v2/operations/akmf.p7-1050941971942-71209a3b-7a1a-4bfa-81a9-bd6eead78c3a?alt=json
        method: GET
      response:
        body: |
            {
              "name": "operations/akmf.p7-1050941971942-71209a3b-7a1a-4bfa-81a9-bd6eead78c3a"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 111.439926ms
    - id: 4
      request:
        host: apikeys.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://apikeys.googleapis.com/v2/operations/akmf.p7-1050941971942-71209a3b-7a1a-4bfa-81a9-bd6eead78c3a?alt=json
        method: GET
      response:
        body: |
            {
              "name": "operations/akmf.p7-1050941971942-71209a3b-7a1a-4bfa-81a9-bd6eead78c3a",
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.api.apikeys.v2.Key",
                "name": "projects/1050941971942/locations/global/keys/apikeyskey2620zeociekkx",
                "displayName": "Example Display Name",
                "keyString": "6keati6ocofj",
                "createTime": "2024-04-11T16:01:39.065725Z",
                "uid": "21e47fe4-bb60-4710-a7b6-012b012a884b",
                "updateTime": "2024-04-11T16:01:39.113259Z",
                "restrictions": {
                  "apiTargets": [
                    {
                      "service": "translate.googleapis.com",
                      "methods": [
                        "GET"
                      ]
                    }
                  ]
                },
                "etag": "W/\"SF1r/9YpbtNzbDeNQeS6Vg==\""
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 110.945937ms
[...]
    - id: 6
      request:
        host: apikeys.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://apikeys.googleapis.com/v2/projects/example-project/locations/global/keys/apikeyskey2620zeociekkx/keyString?alt=json
        method: GET
      response:
        body: |
            {
              "keyString": "6keati6ocofj"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 90.74178ms
[...]
    - id: 17
      request:
        host: apikeys.googleapis.com
        body: '{"displayName":"Example Display Name - Updated","restrictions":{"apiTargets":[{"methods":["GET","DELETE"],"service":"translate.googleapis.com"}]}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://apikeys.googleapis.com/v2/projects/example-project/locations/global/keys/apikeyskey2620zeociekkx?alt=json&updateMask=displayName%2Crestrictions
        method: PATCH
      response:
        body: |
            {
              "name": "operations/akmf.p10-1050941971942-81bc848a-8b52-46db-a61a-8ab625e7bf36"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 221.474264ms
[...]
    - id: 30
      request:
        host: apikeys.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://apikeys.googleapis.com/v2/operations/akmf.p12-1050941971942-4c7b6718-4068-4f3a-bf23-279c491bf594?alt=json
        method: GET
      response:
        body: |
            {
              "name": "operations/akmf.p12-1050941971942-4c7b6718-4068-4f3a-bf23-279c491bf594",
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.api.apikeys.v2.Key",
                "name": "projects/1050941971942/locations/global/keys/apikeyskey2620zeociekkx",
                "displayName": "Example Display Name - Updated",
                "keyString": "6keati6ocofj",
                "createTime": "2024-04-11T16:01:39.065725Z",
                "uid": "21e47fe4-bb60-4710-a7b6-012b012a884b",
                "updateTime": "2024-04-11T16:01:49.654743Z",
                "deleteTime": "2024-04-11T16:01:49.609288Z",
                "restrictions": {
                  "apiTargets": [
                    {
                      "service": "translate.googleapis.com",
                      "methods": [
                        "GET",
                        "DELETE"
                      ]
                    }
                  ]
                },
                "etag": "W/\"tKSn9hFKASTwCy2NDuakwQ==\""
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 118.651284ms
