# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: containeranalysis.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://containeranalysis.googleapis.com/v1/projects/example-project/notes/containeranalysisnote-23autmju0gk27?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 172.460587ms
[...]
    - id: 3
      request:
        host: containeranalysis.googleapis.com
        body: '{"attestation":{"hint":{"humanReadableName":"Attestor Note1"}},"longDescription":"long description","name":"projects/example-project/notes/containeranalysisnote-23autmju0gk27","relatedUrl":[{"label":"test","url":"some.url"},{"label":"google","url":"google.com"}],"shortDescription":"short description"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://containeranalysis.googleapis.com/v1/projects/example-project/notes?alt=json&noteId=containeranalysisnote-23autmju0gk27
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/notes/containeranalysisnote-23autmju0gk27",
              "shortDescription": "short description",
              "longDescription": "long description",
              "kind": "ATTESTATION",
              "relatedUrl": [
                {
                  "url": "some.url",
                  "label": "test"
                },
                {
                  "url": "google.com",
                  "label": "google"
                }
              ],
              "createTime": "2024-08-28T04:31:23.699939Z",
              "updateTime": "2024-08-28T04:31:23.699939Z",
              "attestation": {
                "hint": {
                  "humanReadableName": "Attestor Note1"
                }
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 137.525444ms
[...]
