# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: networkservices.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://networkservices.googleapis.com/v1/projects/example-project/locations/global/meshes/networkservicesmesh-1-3elfauhbt8s3t?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 142.158406ms
[...]
    - id: 2
      request:
        host: networkservices.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://networkservices.googleapis.com/v1/projects/example-project/locations/global/gateways/networkservicesgateway-2-3elfauhbt8s3t?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 144.968726ms
[...]
    - id: 12
      request:
        host: networkservices.googleapis.com
        body: '{"labels":{"cnrm-test":"true","config-connector-resource-type":"networkservicesmesh","managed-by-cnrm":"true"},"name":"projects/example-project/locations/global/meshes/networkservicesmesh-1-3elfauhbt8s3t"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://networkservices.googleapis.com/v1/projects/example-project/locations/global/meshes?alt=json&meshId=networkservicesmesh-1-3elfauhbt8s3t
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/global/operations/operation-1723749908511-61fbdccfa7983-e4e89fc1-6c2be88e",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.networkservices.v1.OperationMetadata",
                "createTime": "2024-08-15T19:25:08.642325922Z",
                "target": "projects/example-project/locations/global/meshes/networkservicesmesh-1-3elfauhbt8s3t",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 231.335994ms
    - id: 13
      request:
        host: networkservices.googleapis.com
        body: '{"labels":{"cnrm-test":"true","config-connector-resource-type":"networkservicesgateway","managed-by-cnrm":"true"},"name":"projects/example-project/locations/global/gateways/networkservicesgateway-2-3elfauhbt8s3t","ports":[80,443],"scope":"s-3elfauhbt8s3t-2","type":"OPEN_MESH"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://networkservices.googleapis.com/v1/projects/example-project/locations/global/gateways?alt=json&gatewayId=networkservicesgateway-2-3elfauhbt8s3t
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/global/operations/operation-1723749908529-61fbdccfac2ba-bc1da18b-c837ee3d",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.networkservices.v1.OperationMetadata",
                "createTime": "2024-08-15T19:25:08.637483670Z",
                "target": "projects/example-project/locations/global/gateways/networkservicesgateway-2-3elfauhbt8s3t",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 213.125905ms
[...]
    - id: 16
      request:
        host: networkservices.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://networkservices.googleapis.com/v1/projects/example-project/locations/global/operations/operation-1723749908511-61fbdccfa7983-e4e89fc1-6c2be88e?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/global/operations/operation-1723749908511-61fbdccfa7983-e4e89fc1-6c2be88e",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.networkservices.v1.OperationMetadata",
                "createTime": "2024-08-15T19:25:08.642325922Z",
                "endTime": "2024-08-15T19:25:11.857696865Z",
                "target": "projects/example-project/locations/global/meshes/networkservicesmesh-1-3elfauhbt8s3t",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1"
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.cloud.networkservices.v1.Mesh",
                "name": "projects/example-project/locations/global/meshes/networkservicesmesh-1-3elfauhbt8s3t",
                "createTime": "2024-08-15T19:25:08.629428123Z",
                "updateTime": "2024-08-15T19:25:08.629428123Z",
                "labels": {
                  "managed-by-cnrm": "true",
                  "cnrm-test": "true",
                  "config-connector-resource-type": "networkservicesmesh"
                }
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 58.752648ms
    - id: 17
      request:
        host: networkservices.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://networkservices.googleapis.com/v1/projects/example-project/locations/global/meshes/networkservicesmesh-1-3elfauhbt8s3t?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/global/meshes/networkservicesmesh-1-3elfauhbt8s3t",
              "createTime": "2024-08-15T19:25:08.629428123Z",
              "updateTime": "2024-08-15T19:25:11.878476453Z",
              "labels": {
                "config-connector-resource-type": "networkservicesmesh",
                "managed-by-cnrm": "true",
                "cnrm-test": "true"
              },
              "selfLink": "https://networkservices.googleapis.com/v1alpha1/projects/example-project/locations/global/meshes/networkservicesmesh-1-3elfauhbt8s3t"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 68.635828ms
[...]
    - id: 40
      request:
        host: networkservices.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://networkservices.googleapis.com/v1/projects/example-project/locations/global/grpcRoutes/networkservicesgrpcroute-3elfauhbt8s3t?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 51.157379ms
[...]
    - id: 43
      request:
        host: networkservices.googleapis.com
        body: '{"description":"A test GrpcRoute","gateways":["https://networkservices.googleapis.com/v1alpha1/projects/example-project/locations/global/gateways/networkservicesgateway-1-3elfauhbt8s3t"],"hostnames":["test1","test2"],"labels":{"cnrm-test":"true","config-connector-resource-type":"networkservicesgrpcroute","foo":"bar","managed-by-cnrm":"true"},"meshes":["https://networkservices.googleapis.com/v1alpha1/projects/example-project/locations/global/meshes/networkservicesmesh-1-3elfauhbt8s3t"],"name":"projects/example-project/locations/global/grpcRoutes/networkservicesgrpcroute-3elfauhbt8s3t","rules":[{"action":{"destinations":[{"serviceName":"projects/example-project/global/backendServices/computebackendservice-1-3elfauhbt8s3t","weight":50},{"serviceName":"projects/example-project/global/backendServices/computebackendservice-1-3elfauhbt8s3t","weight":50}],"faultInjectionPolicy":{"abort":{"httpStatus":501,"percentage":1},"delay":{"fixedDelay":"10s","percentage":2}},"retryPolicy":{"numRetries":3,"retryConditions":["refused-stream","cancelled"]},"timeout":"30s"},"matches":[{"headers":[{"key":"foo","type":"EXACT","value":"bar"}],"method":{"caseSensitive":false,"grpcMethod":"SayHello","grpcService":"helloworld.Greeter","type":"EXACT"}}]},{"action":{"destinations":[{"serviceName":"projects/example-project/global/backendServices/computebackendservice-1-3elfauhbt8s3t"}]}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://networkservices.googleapis.com/v1/projects/example-project/locations/global/grpcRoutes?alt=json&grpcRouteId=networkservicesgrpcroute-3elfauhbt8s3t
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/global/operations/operation-1723749931342-61fbdce56dbf1-d4aae086-4a17e2b3",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.networkservices.v1.OperationMetadata",
                "createTime": "2024-08-15T19:25:31.402126853Z",
                "target": "projects/example-project/locations/global/grpcRoutes/networkservicesgrpcroute-3elfauhbt8s3t",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 135.689157ms
[...]
    - id: 54
      request:
        host: networkservices.googleapis.com
        body: '{"description":"An updated test GrpcRoute","gateways":["https://networkservices.googleapis.com/v1alpha1/projects/example-project/locations/global/gateways/networkservicesgateway-2-3elfauhbt8s3t"],"hostnames":["test1","test2","newhost"],"labels":{"bar":"baz","cnrm-test":"true","config-connector-resource-type":"networkservicesgrpcroute","foo":"bar","managed-by-cnrm":"true"},"meshes":["https://networkservices.googleapis.com/v1alpha1/projects/example-project/locations/global/meshes/networkservicesmesh-2-3elfauhbt8s3t"],"name":"projects/projects/example-project/locations/global/grpcRoutes/networkservicesgrpcroute-3elfauhbt8s3t","rules":[{"action":{"destinations":[{"serviceName":"projects/example-project/global/backendServices/computebackendservice[...]
[...]
