# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: networkservices.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://networkservices.googleapis.com/v1/projects/example-project/locations/global/gateways/networkservicesgateway-2-3elfauhbt8s3t?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 151.419808ms
    - id: 1
      request:
        host: networkservices.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://networkservices.googleapis.com/v1/projects/example-project/locations/global/meshes/networkservicesmesh-1-3elfauhbt8s3t?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 79.922775ms
[...]
    - id: 12
      request:
        host: networkservices.googleapis.com
        body: '{"labels":{"cnrm-test":"true","config-connector-resource-type":"networkservicesgateway","managed-by-cnrm":"true"},"name":"projects/example-project/locations/global/gateways/networkservicesgateway-2-3elfauhbt8s3t","ports":[80,443],"scope":"s-3elfauhbt8s3t-2","type":"OPEN_MESH"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://networkservices.googleapis.com/v1/projects/example-project/locations/global/gateways?alt=json&gatewayId=networkservicesgateway-2-3elfauhbt8s3t
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/global/operations/operation-1724822694721-620b79404f72b-d4dd9816-37df64ab",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.networkservices.v1.OperationMetadata",
                "createTime": "2024-08-28T05:24:54.816284889Z",
                "target": "projects/example-project/locations/global/gateways/networkservicesgateway-2-3elfauhbt8s3t",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 192.869355ms
    - id: 13
      request:
        host: networkservices.googleapis.com
        body: '{"labels":{"cnrm-test":"true","config-connector-resource-type":"networkservicesmesh","managed-by-cnrm":"true"},"name":"projects/example-project/locations/global/meshes/networkservicesmesh-1-3elfauhbt8s3t"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://networkservices.googleapis.com/v1/projects/example-project/locations/global/meshes?alt=json&meshId=networkservicesmesh-1-3elfauhbt8s3t
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/global/operations/operation-1724822694729-620b7940518d1-70172692-c44a976c",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.networkservices.v1.OperationMetadata",
                "createTime": "2024-08-28T05:24:54.858588957Z",
                "target": "projects/example-project/locations/global/meshes/networkservicesmesh-1-3elfauhbt8s3t",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 206.83595ms
[...]
    - id: 16
      request:
        host: networkservices.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://networkservices.googleapis.com/v1/projects/example-project/locations/global/operations/operation-1724822694729-620b7940518d1-70172692-c44a976c?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/global/operations/operation-1724822694729-620b7940518d1-70172692-c44a976c",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.networkservices.v1.OperationMetadata",
                "createTime": "2024-08-28T05:24:54.858588957Z",
                "endTime": "2024-08-28T05:24:58.059246514Z",
                "target": "projects/example-project/locations/global/meshes/networkservicesmesh-1-3elfauhbt8s3t",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1"
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.cloud.networkservices.v1.Mesh",
                "name": "projects/example-project/locations/global/meshes/networkservicesmesh-1-3elfauhbt8s3t",
                "createTime": "2024-08-28T05:24:54.849530597Z",
                "updateTime": "2024-08-28T05:24:54.849530597Z",
                "labels": {
                  "cnrm-test": "true",
                  "config-connector-resource-type": "networkservicesmesh",
                  "managed-by-cnrm": "true"
                }
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 32.379276ms
    - id: 17
      request:
        host: networkservices.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://networkservices.googleapis.com/v1/projects/example-project/locations/global/meshes/networkservicesmesh-1-3elfauhbt8s3t?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/global/meshes/networkservicesmesh-1-3elfauhbt8s3t",
              "createTime": "2024-08-28T05:24:54.849530597Z",
              "updateTime": "2024-08-28T05:24:58.079519972Z",
              "labels": {
                "config-connector-resource-type": "networkservicesmesh",
                "managed-by-cnrm": "true",
                "cnrm-test": "true"
              },
              "selfLink": "https://networkservices.googleapis.com/v1alpha1/projects/example-project/locations/global/meshes/networkservicesmesh-1-3elfauhbt8s3t"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 38.229899ms
[...]
    - id: 40
      request:
        host: networkservices.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://networkservices.googleapis.com/v1/projects/example-project/locations/global/grpcRoutes/networkservicesgrpcroute-3elfauhbt8s3t?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 48.67474ms
[...]
    - id: 43
      request:
        host: networkservices.googleapis.com
        body: '{"description":"A test GrpcRoute","gateways":["https://networkservices.googleapis.com/v1alpha1/projects/example-project/locations/global/gateways/networkservicesgateway-1-3elfauhbt8s3t"],"hostnames":["test1","test2"],"labels":{"cnrm-test":"true","config-connector-resource-type":"networkservicesgrpcroute","foo":"bar","managed-by-cnrm":"true"},"meshes":["https://networkservices.googleapis.com/v1alpha1/projects/example-project/locations/global/meshes/networkservicesmesh-1-3elfauhbt8s3t"],"name":"projects/example-project/locations/global/grpcRoutes/networkservicesgrpcroute-3elfauhbt8s3t","rules":[{"action":{"destinations":[{"serviceName":"projects/example-project/global/backendServices/computebackendservice-1-3elfauhbt8s3t","weight":50},{"serviceName":"projects/example-project/global/backendServices/computebackendservice-1-3elfauhbt8s3t","weight":50}],"faultInjectionPolicy":{"abort":{"httpStatus":501,"percentage":1},"delay":{"fixedDelay":"10s","percentage":2}},"retryPolicy":{"numRetries":3,"retryConditions":["refused-stream","cancelled"]},"timeout":"30s"},"matches":[{"headers":[{"key":"foo","type":"EXACT","value":"bar"}],"method":{"caseSensitive":false,"grpcMethod":"SayHello","grpcService":"helloworld.Greeter","type":"EXACT"}}]},{"action":{"destinations":[{"serviceName":"projects/example-project/global/backendServices/computebackendservice-1-3elfauhbt8s3t"}]}}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://networkservices.googleapis.com/v1/projects/example-project/locations/global/grpcRoutes?alt=json&grpcRouteId=networkservicesgrpcroute-3elfauhbt8s3t
        method: POST
      response:
        body: |
            {
              "name": "projects/example-project/locations/global/operations/operation-1724822717192-620b7955bd862-191c567e-31f968b3",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.networkservices.v1.OperationMetadata",
                "createTime": "2024-08-28T05:25:17.239084057Z",
                "target": "projects/example-project/locations/global/grpcRoutes/networkservicesgrpcroute-3elfauhbt8s3t",
                "verb": "create",
                "requestedCancellation": false,
                "apiVersion": "v1"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 114.067004ms
[...]
    - id: 54
      request:
        host: networkservices.googleapis.com
        body: '{"description":"An updated test GrpcRoute","gateways":["https://networkservices.googleapis.com/v1alpha1/projects/example-project/locations/global/gateways/networkservicesgateway-2-3elfauhbt8s3t"],"hostnames":["test1","test2","newhost"],"labels":{"bar":"baz","cnrm-test":"true","config-connector-resource-type":"networkservicesgrpcroute","foo":"bar","managed-by-cnrm":"true"},"meshes":["https://networkservices.googleapis.com/v1alpha1/projects/example-project/locations/global/meshes/networkservicesmesh-2-3elfauhbt8s3t"],"name":"projects/projects/example-project/locations/global/grpcRoutes/networkservicesgrpcroute-3elfauhbt8s3t","rules":[{"action":{"destinations":[{"serviceName":"projects/example-project/global/backendServices/computebackendservice[...]
[...]
