# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
  - id: 0
    request:
      host: networkservices.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://networkservices.googleapis.com/v1/projects/example-project/locations/global/meshes/networkservicesmesh-1-3elfauhbt8s3t?alt=json
      method: GET
    response:
      body: fake error message
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 404 Not Found
      code: 404
      duration: 328.033817ms
[...]
  - id: 2
    request:
      host: networkservices.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://networkservices.googleapis.com/v1/projects/example-project/locations/global/gateways/networkservicesgateway-1-3elfauhbt8s3t?alt=json
      method: GET
    response:
      body: fake error message
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 404 Not Found
      code: 404
      duration: 350.247514ms
[...]
  - id: 12
    request:
      host: networkservices.googleapis.com
      body: '{"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"name":"projects/example-project/locations/global/meshes/networkservicesmesh-2-3elfauhbt8s3t"}'
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://networkservices.googleapis.com/v1/projects/example-project/locations/global/meshes?alt=json&meshId=networkservicesmesh-2-3elfauhbt8s3t
      method: POST
    response:
      body: |
        {
          "name": "projects/example-project/locations/global/operations/operation-1714009937984-616e2097ebd66-4fdf99f2-ee37e804",
          "metadata": {
            "@type": "type.googleapis.com/google.cloud.networkservices.v1.OperationMetadata",
            "createTime": "2024-04-25T01:52:19.143431280Z",
            "target": "projects/example-project/locations/global/meshes/networkservicesmesh-2-3elfauhbt8s3t",
            "verb": "create",
            "requestedCancellation": false,
            "apiVersion": "v1"
          },
          "done": false
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 1.39129961s
  - id: 13
    request:
      host: networkservices.googleapis.com
      body: '{"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"name":"projects/example-project/locations/global/gateways/networkservicesgateway-2-3elfauhbt8s3t","ports":[80,443],"scope":"s-3elfauhbt8s3t-2","type":"OPEN_MESH"}'
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://networkservices.googleapis.com/v1/projects/example-project/locations/global/gateways?alt=json&gatewayId=networkservicesgateway-2-3elfauhbt8s3t
      method: POST
    response:
      body: |
        {
          "name": "projects/example-project/locations/global/operations/operation-1714009938044-616e2097fa567-195383e0-f07bc337",
          "metadata": {
            "@type": "type.googleapis.com/google.cloud.networkservices.v1.OperationMetadata",
            "createTime": "2024-04-25T01:52:19.177739702Z",
            "target": "projects/example-project/locations/global/gateways/networkservicesgateway-2-3elfauhbt8s3t",
            "verb": "create",
            "requestedCancellation": false,
            "apiVersion": "v1"
          },
          "done": false
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 1.71642859s
[...]
  - id: 16
    request:
      host: networkservices.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://networkservices.googleapis.com/v1/projects/example-project/locations/global/operations/operation-1714009938044-616e2097fa567-195383e0-f07bc337?alt=json
      method: GET
    response:
      body: |
        {
          "name": "projects/example-project/locations/global/operations/operation-1714009938044-616e2097fa567-195383e0-f07bc337",
          "metadata": {
            "@type": "type.googleapis.com/google.cloud.networkservices.v1.OperationMetadata",
            "createTime": "2024-04-25T01:52:19.177739702Z",
            "endTime": "2024-04-25T01:52:22.728063785Z",
            "target": "projects/example-project/locations/global/gateways/networkservicesgateway-2-3elfauhbt8s3t",
            "verb": "create",
            "requestedCancellation": false,
            "apiVersion": "v1"
          },
          "done": true,
          "response": {
            "@type": "type.googleapis.com/google.cloud.networkservices.v1.Gateway",
            "name": "projects/example-project/locations/global/gateways/networkservicesgateway-2-3elfauhbt8s3t",
            "createTime": "2024-04-25T01:52:19.130328246Z",
            "updateTime": "2024-04-25T01:52:19.130328246Z",
            "labels": {
              "cnrm-test": "true",
              "managed-by-cnrm": "true"
            },
            "type": "OPEN_MESH",
            "scope": "s-3elfauhbt8s3t-2",
            "ports": [
              80,
              443
            ]
          }
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 273.320517ms
  - id: 17
    request:
      host: networkservices.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://networkservices.googleapis.com/v1/projects/example-project/locations/global/gateways/networkservicesgateway-2-3elfauhbt8s3t?alt=json
      method: GET
    response:
      body: |
        {
          "name": "projects/example-project/locations/global/gateways/networkservicesgateway-2-3elfauhbt8s3t",
          "createTime": "2024-04-25T01:52:19.130328246Z",
          "updateTime": "2024-04-25T01:52:22.885873183Z",
          "labels": {
            "cnrm-test": "true",
            "managed-by-cnrm": "true"
          },
          "type": "OPEN_MESH",
          "scope": "s-3elfauhbt8s3t-2",
          "ports": [
            80,
            443
          ],
          "selfLink": "https://networkservices.googleapis.com/v1alpha1/projects/example-project/locations/global/gateways/networkservicesgateway-2-3elfauhbt8s3t"
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 305.67826ms
[...]
  - id: 40
    request:
      host: networkservices.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://networkservices.googleapis.com/v1/projects/example-project/locations/global/grpcRoutes/networkservicesgrpcroute-3elfauhbt8s3t?alt=json
      method: GET
    response:
      body: fake error message
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 404 Not Found
      code: 404
      duration: 74.21864ms
[...]
  - id: 43
    request:
      host: networkservices.googleapis.com
      body: '{"description":"A test GrpcRoute","gateways":["https://networkservices.googleapis.com/v1alpha1/projects/example-project/locations/global/gateways/networkservicesgateway-1-3elfauhbt8s3t"],"hostnames":["test1","test2"],"labels":{"cnrm-test":"true","foo":"bar","managed-by-cnrm":"true"},"meshes":["https://networkservices.googleapis.com/v1alpha1/projects/example-project/locations/global/meshes/networkservicesmesh-1-3elfauhbt8s3t"],"name":"projects/example-project/locations/global/grpcRoutes/networkservicesgrpcroute-3elfauhbt8s3t","rules":[{"action":{"destinations":[{"serviceName":"projects/example-project/global/backendServices/computebackendservice-1-3elfauhbt8s3t","weight":50},{"serviceName":"projects/example-project/global/backendServices/computebackendservice-1-3elfauhbt8s3t","weight":50}],"faultInjectionPolicy":{"abort":{"httpStatus":501,"percentage":1},"delay":{"fixedDelay":"10s","percentage":2}},"retryPolicy":{"numRetries":3,"retryConditions":["refused-stream","cancelled"]},"timeout":"30s"},"matches":[{"headers":[{"key":"foo","type":"EXACT","value":"bar"}],"method":{"caseSensitive":false,"grpcMethod":"SayHello","grpcService":"helloworld.Greeter","type":"EXACT"}}]},{"action":{"destinations":[{"serviceName":"projects/example-project/global/backendServices/computebackendservice-1-3elfauhbt8s3t"}]}}]}'
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://networkservices.googleapis.com/v1/projects/example-project/locations/global/grpcRoutes?alt=json&grpcRouteId=networkservicesgrpcroute-3elfauhbt8s3t
      method: POST
    response:
      body: |
        {
          "name": "projects/example-project/locations/global/operations/operation-1714009960578-616e20ad77f05-f356a5ba-29f009e9",
          "metadata": {
            "@type": "type.googleapis.com/google.cloud.networkservices.v1.OperationMetadata",
            "createTime": "2024-04-25T01:52:40.684949893Z",
            "target": "projects/example-project/locations/global/grpcRoutes/networkservicesgrpcroute-3elfauhbt8s3t",
            "verb": "create",
            "requestedCancellation": false,
            "apiVersion": "v1"
          },
          "done": false
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 340.832131ms
[...]
  - id: 54
    request:
      host: networkservices.googleapis.com
      body: '{"description":"An updated test GrpcRoute","gateways":["https://networkservices.googleapis.com/v1alpha1/projects/example-project/locations/global/gateways/networkservicesgateway-2-3elfauhbt8s3t"],"hostnames":["test1","test2","newhost"],"labels":{"bar":"baz","cnrm-test":"true","foo":"bar","managed-by-cnrm":"true"},"meshes":["https://networkservices.googleapis.com/v1alpha1/projects/example-project/locations/global/meshes/networkservicesmesh-2-3elfauhbt8s3t"],"name":"projects/projects/example-project/locations/global/grpcRoutes/networkservicesgrpcroute-3elfauhbt8s3t","rules":[{"action":{"destinations":[{"serviceName":"projects/example-project/global/backendServices/computebackendservice-2-3elfauhbt8s3t","weight":100}],"faultInjectionPolicy":{"ab[...]
[...]
