# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
  - id: 0
    request:
      host: compute.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://compute.googleapis.com/compute/beta/projects/example-project/global/backendServices/computebackendservice-1-3elfauhbt8s3t?alt=json
      method: GET
    response:
      body: fake error message
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 404 Not Found
      code: 404
      duration: 182.414481ms
[...]
  - id: 2
    request:
      host: compute.googleapis.com
      body: |
        {"connectionDraining":{"drainingTimeoutSec":300},"iap":{"enabled":false,"oauth2ClientId":"","oauth2ClientSecret":""},"loadBalancingScheme":"INTERNAL_SELF_MANAGED","name":"computebackendservice-1-3elfauhbt8s3t"}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://compute.googleapis.com/compute/beta/projects/example-project/global/backendServices?alt=json
      method: POST
    response:
      body: |
        {
          "kind": "compute#operation",
          "id": "7707123914446735807",
          "name": "operation-1714009936520-616e209686582-56ed631d-70d91f47",
          "operationType": "insert",
          "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/backendServices/computebackendservice-1-3elfauhbt8s3t",
          "targetId": "3477770992741517759",
          "status": "RUNNING",
          "user": "integration-test@example-project.iam.gserviceaccount.com",
          "progress": 0,
          "insertTime": "2024-04-24T18:52:16.966-07:00",
          "startTime": "2024-04-24T18:52:16.976-07:00",
          "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1714009936520-616e209686582-56ed631d-70d91f47"
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 779.476146ms
[...]
  - id: 4
    request:
      host: compute.googleapis.com
      body: ""
      form: {}
      headers:
      url: https://compute.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1714009936665-616e2096a9d8d-1a811925-533e5468?alt=json&prettyPrint=false
      method: GET
    response:
      body: '{"kind":"compute#operation","id":"4976924096140151230","name":"operation-1714009936665-616e2096a9d8d-1a811925-533e5468","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/backendServices/computebackendservice-2-3elfauhbt8s3t","targetId":"7429162422847670718","status":"DONE","user":"integration-test@example-project.iam.gserviceaccount.com","progress":100,"insertTime":"2024-04-24T18:52:17.095-07:00","startTime":"2024-04-24T18:52:17.110-07:00","endTime":"2024-04-24T18:52:36.247-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1714009936665-616e2096a9d8d-1a811925-533e5468"}'
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 126.271614ms
[...]
  - id: 6
    request:
      host: compute.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://compute.googleapis.com/compute/beta/projects/example-project/global/backendServices/computebackendservice-1-3elfauhbt8s3t?alt=json
      method: GET
    response:
      body: |
        {
          "kind": "compute#backendService",
          "id": "3477770992741517759",
          "creationTimestamp": "2024-04-24T18:52:16.924-07:00",
          "name": "computebackendservice-1-3elfauhbt8s3t",
          "description": "",
          "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/backendServices/computebackendservice-1-3elfauhbt8s3t",
          "timeoutSec": 30,
          "port": 80,
          "protocol": "HTTP",
          "fingerprint": "qyTztOloLV0=",
          "portName": "http",
          "sessionAffinity": "NONE",
          "affinityCookieTtlSec": 0,
          "loadBalancingScheme": "INTERNAL_SELF_MANAGED",
          "connectionDraining": {
            "drainingTimeoutSec": 300
          },
          "iap": {
            "enabled": false,
            "oauth2ClientId": "",
            "oauth2ClientSecretSha256": "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          }
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 160.357985ms
[...]
  - id: 12
    request:
      host: compute.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://compute.googleapis.com/compute/beta/projects/example-project/global/backendServices/computebackendservice-2-3elfauhbt8s3t?alt=json
      method: DELETE
    response:
      body: |
        {
          "error": {
            "code": 412,
            "message": "The resource cannot be deleted because it's being used by //networkservices.googleapis.com/projects/123456789/locations/global/grpcRoutes/networkservicesgrpcroute-3elfauhbt8s3t",
            "errors": [
              {
                "message": "The resource cannot be deleted because it's being used by //networkservices.googleapis.com/projects/123456789/locations/global/grpcRoutes/networkservicesgrpcroute-3elfauhbt8s3t",
                "domain": "global",
                "reason": "conditionNotMet",
                "location": "If-Match",
                "locationType": "header"
              }
            ]
          }
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 412 Precondition Failed
      code: 412
      duration: 497.496848ms
[...]
