# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/backendServices/computebackendservice-2-3elfauhbt8s3t?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 141.016327ms
[...]
    - id: 2
      request:
        host: compute.googleapis.com
        body: |
            {"connectionDraining":{"drainingTimeoutSec":300},"iap":{"enabled":false,"oauth2ClientId":"","oauth2ClientSecret":""},"loadBalancingScheme":"INTERNAL_SELF_MANAGED","name":"computebackendservice-1-3elfauhbt8s3t"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/backendServices?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "7156890341274282235",
              "name": "operation-1723749908326-61fbdccf7a6d8-a0175606-21f4d70c",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/backendServices/computebackendservice-1-3elfauhbt8s3t",
              "targetId": "1819363371038009595",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-08-15T12:25:08.629-07:00",
              "startTime": "2024-08-15T12:25:08.633-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1723749908326-61fbdccf7a6d8-a0175606-21f4d70c"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 467.353477ms
[...]
    - id: 4
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1723749908326-61fbdccf7a6d8-a0175606-21f4d70c?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#operation","id":"7156890341274282235","name":"operation-1723749908326-61fbdccf7a6d8-a0175606-21f4d70c","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/backendServices/computebackendservice-1-3elfauhbt8s3t","targetId":"1819363371038009595","status":"DONE","user":"user@google.com","progress":100,"insertTime":"2024-08-15T12:25:08.629-07:00","startTime":"2024-08-15T12:25:08.633-07:00","endTime":"2024-08-15T12:25:24.179-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1723749908326-61fbdccf7a6d8-a0175606-21f4d70c"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 252.156773ms
[...]
    - id: 6
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/backendServices/computebackendservice-1-3elfauhbt8s3t?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#backendService",
              "id": "1819363371038009595",
              "creationTimestamp": "2024-08-15T12:25:08.589-07:00",
              "name": "computebackendservice-1-3elfauhbt8s3t",
              "description": "",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/backendServices/computebackendservice-1-3elfauhbt8s3t",
              "timeoutSec": 30,
              "port": 80,
              "protocol": "HTTP",
              "fingerprint": "HNraAHyn1jI=",
              "portName": "http",
              "sessionAffinity": "NONE",
              "affinityCookieTtlSec": 0,
              "loadBalancingScheme": "INTERNAL_SELF_MANAGED",
              "connectionDraining": {
                "drainingTimeoutSec": 300
              },
              "iap": {
                "enabled": false,
                "oauth2ClientId": "",
                "oauth2ClientSecretSha256": "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 118.837957ms
[...]
    - id: 12
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/backendServices/computebackendservice-2-3elfauhbt8s3t?alt=json
        method: DELETE
      response:
        body: |
            {
              "error": {
                "code": 412,
                "message": "The resource cannot be deleted because it's being used by //networkservices.googleapis.com/projects/123456789/locations/global/grpcRoutes/networkservicesgrpcroute-3elfauhbt8s3t",
                "errors": [
                  {
                    "message": "The resource cannot be deleted because it's being used by //networkservices.googleapis.com/projects/123456789/locations/global/grpcRoutes/networkservicesgrpcroute-3elfauhbt8s3t",
                    "domain": "global",
                    "reason": "conditionNotMet",
                    "location": "If-Match",
                    "debugInfo": "java.lang.Exception\n\tat com.google.cloud.control.common.publicerrors.PublicErrorProtoUtils.newErrorBuilder(PublicErrorProtoUtils.java:2175)\n\tat com.google.cloud.control.common.publicerrors.PublicErrorProtoUtils.newErrorBuilder(PublicErrorProtoUtils.java:2167)\n\tat com.google.cloud.control.common.publicerrors.PublicErrorProtoUtils.createConditionNotMetError(PublicErrorProtoUtils.java:1189)\n\tat com.google.cloud.cluster.manager.networking.services.backendservice.BackendServicesServiceDelet[...]
[...]
