# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/backendServices/computebackendservice-1-3elfauhbt8s3t?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 294.351781ms
[...]
    - id: 2
      request:
        host: compute.googleapis.com
        body: |
            {"connectionDraining":{"drainingTimeoutSec":300},"iap":{"enabled":false,"oauth2ClientId":"","oauth2ClientSecret":""},"loadBalancingScheme":"INTERNAL_SELF_MANAGED","name":"computebackendservice-2-3elfauhbt8s3t"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/backendServices?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "5696893797593854682",
              "name": "operation-1712884789158-615dc1166221e-f2496eae-f547aec6",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/backendServices/computebackendservice-2-3elfauhbt8s3t",
              "targetId": "5721078384775475930",
              "status": "RUNNING",
              "user": "integration-test@example-project.iam.gserviceaccount.com",
              "progress": 0,
              "insertTime": "2024-04-11T18:19:49.603-07:00",
              "startTime": "2024-04-11T18:19:49.616-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712884789158-615dc1166221e-f2496eae-f547aec6"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 762.980011ms
[...]
    - id: 4
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712884789158-615dc1166221e-f2496eae-f547aec6?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#operation","id":"5696893797593854682","name":"operation-1712884789158-615dc1166221e-f2496eae-f547aec6","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/backendServices/computebackendservice-2-3elfauhbt8s3t","targetId":"5721078384775475930","status":"RUNNING","user":"integration-test@example-project.iam.gserviceaccount.com","progress":0,"insertTime":"2024-04-11T18:19:49.603-07:00","startTime":"2024-04-11T18:19:49.616-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712884789158-615dc1166221e-f2496eae-f547aec6"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 188.500034ms
[...]
    - id: 6
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712884789158-615dc1166221e-f2496eae-f547aec6?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#operation","id":"5696893797593854682","name":"operation-1712884789158-615dc1166221e-f2496eae-f547aec6","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/backendServices/computebackendservice-2-3elfauhbt8s3t","targetId":"5721078384775475930","status":"DONE","user":"integration-test@example-project.iam.gserviceaccount.com","progress":100,"insertTime":"2024-04-11T18:19:49.603-07:00","startTime":"2024-04-11T18:19:49.616-07:00","endTime":"2024-04-11T18:20:05.766-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1712884789158-615dc1166221e-f2496eae-f547aec6"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 214.887743ms
    - id: 7
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/backendServices/computebackendservice-2-3elfauhbt8s3t?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#backendService",
              "id": "5721078384775475930",
              "creationTimestamp": "2024-04-11T18:19:49.598-07:00",
              "name": "computebackendservice-2-3elfauhbt8s3t",
              "description": "",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/backendServices/computebackendservice-2-3elfauhbt8s3t",
              "timeoutSec": 30,
              "port": 80,
              "protocol": "HTTP",
              "fingerprint": "o4ZPZ9Qgdmo=",
              "portName": "http",
              "sessionAffinity": "NONE",
              "affinityCookieTtlSec": 0,
              "loadBalancingScheme": "INTERNAL_SELF_MANAGED",
              "connectionDraining": {
                "drainingTimeoutSec": 300
              },
              "iap": {
                "enabled": false,
                "oauth2ClientId": "",
                "oauth2ClientSecretSha256": "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 238.034965ms
[...]
    - id: 14
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/backendServices/computebackendservice-2-3elfauhbt8s3t?alt=json
        method: DELETE
      response:
        body: |
            {
              "error": {
                "code": 412,
                "message": "The resource cannot be deleted because it's being used by //networkservices.googleapis.com/projects/882850097339/locations/global/grpcRoutes/networkservicesgrpcroute-3elfauhbt8s3t",
                "errors": [
                  {
                    "message": "The resource cannot be deleted because it's being used by //networkservices.googleapis.com/projects/882850097339/locations/global/grpcRoutes/networkservicesgrpcroute-3elfauhbt8s3t",
                    "domain": "global",
                    "reason": "conditionNotMet",
                    "location": "If-Match",
                    "locationType": "header"
                  }
                ]
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 412 Precondition Failed
        code: 412
        duration: 567.319858ms
[...]
