# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/healthChecks/computehealthcheck-28i6nma6sbu9b?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 165.192009ms
    - id: 1
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/default?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#network",
              "id": "4614312711847388316",
              "creationTimestamp": "2024-07-16T00:00:03.967-07:00",
              "name": "default",
              "description": "Default network for the project",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/default",
              "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/4614312711847388316",
              "autoCreateSubnetworks": true,
              "subnetworks": [
                "https://www.googleapis.com/compute/beta/projects/example-project/regions/southamerica-west1/subnetworks/default",
                "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-west2/subnetworks/default",
                "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-east7/subnetworks/default",
                "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1/subnetworks/default",
[...]
    - id: 2
      request:
        host: compute.googleapis.com
        body: |
            {"checkIntervalSec":10,"healthyThreshold":2,"httpHealthCheck":{"port":80,"proxyHeader":"NONE","requestPath":"/"},"name":"computehealthcheck-28i6nma6sbu9b","timeoutSec":5,"type":"HTTP","unhealthyThreshold":2}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/healthChecks?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "946192645700712170",
              "name": "operation-1723746309111-61fbcf66ffd29-3bc999ae-36d66079",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/healthChecks/computehealthcheck-28i6nma6sbu9b",
              "targetId": "330419903118178026",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-08-15T11:25:09.178-07:00",
              "startTime": "2024-08-15T11:25:09.183-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1723746309111-61fbcf66ffd29-3bc999ae-36d66079"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 413.688085ms
[...]
    - id: 4
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1723746309111-61fbcf66ffd29-3bc999ae-36d66079?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#operation","id":"946192645700712170","name":"operation-1723746309111-61fbcf66ffd29-3bc999ae-36d66079","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/healthChecks/computehealthcheck-28i6nma6sbu9b","targetId":"330419903118178026","status":"DONE","user":"user@google.com","progress":100,"insertTime":"2024-08-15T11:25:09.178-07:00","startTime":"2024-08-15T11:25:09.183-07:00","endTime":"2024-08-15T11:25:10.110-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1723746309111-61fbcf66ffd29-3bc999ae-36d66079"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 233.598263ms
[...]
    - id: 7
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/backendServices/computebackendservice-28i6nma6sbu9b?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 118.197697ms
    - id: 8
      request:
        host: compute.googleapis.com
        body: |
            {"connectionDraining":{"drainingTimeoutSec":300},"healthChecks":["https://www.googleapis.com/compute/v1/projects/example-project/global/healthChecks/computehealthcheck-28i6nma6sbu9b"],"iap":{"enabled":false,"oauth2ClientId":"","oauth2ClientSecret":""},"loadBalancingScheme":"INTERNAL_SELF_MANAGED","name":"computebackendservice-28i6nma6sbu9b"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/backendServices?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "1674075536631265022",
              "name": "operation-1723746321315-61fbcf72a36ab-dd571c6f-2cd2546e",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/backendServices/computebackendservice-28i6nma6sbu9b",
              "targetId": "5368084471634720510",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-08-15T11:25:21.607-07:00",
              "startTime": "2024-08-15T11:25:21.608-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1723746321315-61fbcf72a36ab-dd571c6f-2cd2546e"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 459.987656ms
[...]
    - id: 10
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/backendServices/computebackendservice-28i6nma6sbu9b?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#backendService",
              "id": "5368084471634720510",
              "creationTimestamp": "2024-08-15T11:25:21.574-07:00",
              "name": "computebackendservice-28i6nma6sbu9b",
              "description": "",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/backendServices/computebackendservice-28i6nma6sbu9b",
              "healthChecks": [
                "https://www.googleapis.com/compute/beta/projects/example-project/global/healthChecks/computehealthcheck-28i6nma6sbu9b"
              ],
              "timeoutSec": 30,
              "port": 80,
              "protocol": "HTTP",
              "fingerprint": "T-jeFhPRYbk=",
              "portName": "http",
              "sessionAffinity": "NONE",
              "affinityCookieTtlSec": 0,
              "loadBalancingScheme": "INTERNAL_SELF_MANAGED",
              "connectionDraining": {
                "drainingTimeoutSec": 300
              },
              "iap": {
                "enabled": false,
                "oauth2ClientId": "",
                "oauth2ClientSecretSha256": "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 124.646917ms
    - id: 11
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/urlMaps/computeurlmap-28i6nma6sbu9b?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 98.479405ms
[...]
    - id: 13
      request:
        host: compute.googleapis.com
        body: |
            {"defaultService":"https://www.googleapis.com/compute/v1/projects/example-project/global/backendServices/computebackendservice-28i6nma6sbu9b","name":"computeurlmap-28i6nma6sbu9b"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/urlMaps?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "1263793451331483335",
              "name": "operation-1723746344028-61fbcf884c899-1c0739cc-411334f5",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/urlMaps/computeurlmap-28i6nma6sbu9b",
              "targetId": "1754815080640542407",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-08-15T11:25:44.275-07:00",
              "startTime": "2024-08-15T11:25:44.278-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1723746344028-61fbcf884c899-1c0739cc-411334f5"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 379.210439ms
[...]
    - id: 16
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/targetHttpProxies/computetargethttpproxy-28i6nma6sbu9b?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 201.84884ms
[...]
    - id: 18
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/targetHttpProxies/computetargethttpproxy-2-28i6nma6sbu9b?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 397.54147ms
    - id: 19
      request:
        host: compute.googleapis.com
        body: |
            {"description":"test description","name":"computetargethttpproxy-28i6nma6sbu9b","urlMap":"projects/example-project/global/urlMaps/computeurlmap-28i6nma6sbu9b"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/targetHttpProxies?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "5276114575988881115",
              "name": "operation-1723746356439-61fbcf942280a-84f0e573-3fa90b80",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/targetHttpProxies/computetargethttpproxy-28i6nma6sbu9b",
              "targetId": "2869469624935904987",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-08-15T11:25:56.803-07:00",
              "startTime": "2024-08-15T11:25:56.806-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1723746356439-61fbcf942280a-84f0e573-3fa90b80"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 591.791238ms
[...]
    - id: 24
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/forwardingRules/computeglobalforwardingrule-28i6nma6sbu9b?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 184.498338ms
[...]
    - id: 28
      request:
        host: compute.googleapis.com
        body: |
            {"IPAddress":"0.0.0.0","description":"A global forwarding rule","labels":{"cnrm-test":"true","config-connector-resource-type":"computeforwardingrule","label-one":"value-one","managed-by-cnrm":"true"},"loadBalancingScheme":"INTERNAL_SELF_MANAGED","name":"computeglobalforwardingrule-28i6nma6sbu9b","network":"projects/example-project/global/networks/default","portRange":"80","target":"https://www.googleapis.com/compute/v1/projects/example-project/global/targetHttpProxies/computetargethttpproxy-28i6nma6sbu9b"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/forwardingRules?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "4910495245714847406",
              "name": "operation-1723746369360-61fbcfa075213-66b75edb-d8cdfbcf",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/forwardingRules/computeglobalforwardingrule-28i6nma6sbu9b",
              "targetId": "7996971281353537198",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-08-15T11:26:09.678-07:00",
              "startTime": "2024-08-15T11:26:09.681-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1723746369360-61fbcfa075213-66b75edb-d8cdfbcf"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 487.610782ms
[...]
    - id: 30
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/forwardingRules/computeglobalforwardingrule-28i6nma6sbu9b?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#forwardingRule",
              "id": "7996971281353537198",
              "creationTimestamp": "2024-08-15T11:26:09.645-07:00",
              "name": "computeglobalforwardingrule-28i6nma6sbu9b",
              "description": "A global forwarding rule",
              "IPAddress": "0.0.0.0",
              "IPProtocol": "TCP",
              "portRange": "80-80",
              "target": "https://www.googleapis.com/compute/beta/projects/example-project/global/targetHttpProxies/computetargethttpproxy-28i6nma6sbu9b",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/forwardingRules/computeglobalforwardingrule-28i6nma6sbu9b",
              "loadBalancingScheme": "INTERNAL_SELF_MANAGED",
              "network": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/default",
              "networkTier": "PREMIUM",
              "labelFingerprint": "42WmSpB8rSM=",
              "fingerprint": "KYTRrwFieWg="
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 123.265025ms
    - id: 31
      request:
        host: compute.googleapis.com
        body: |
            {"labelFingerprint":"42WmSpB8rSM=","labels":{"cnrm-test":"true","config-connector-resource-type":"computeforwardingrule","label-one":"value-one","managed-by-cnrm":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/forwardingRules/computeglobalforwardingrule-28i6nma[...]
[...]
    - id: 35
      request:
        host: compute.googleapis.com
        body: |
            {"target":"https://www.googleapis.com/compute/v1/projects/example-project/global/targetHttpProxies/computetargethttpproxy-2-28i6nma6sbu9b"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/forwardingRules/computeglobalforwardingrule-28i6nma6sbu9b/setTarget?alt=json
      [...]
[...]
