# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/healthChecks/computehealthcheck-28i6nma6sbu9b?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 191.708398ms
    - id: 1
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/default?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#network",
              "id": "4614312711847388316",
              "creationTimestamp": "2024-07-16T00:00:03.967-07:00",
              "name": "default",
              "description": "Default network for the project",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/default",
              "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/4614312711847388316",
              "autoCreateSubnetworks": true,
              "subnetworks": [
                "https://www.googleapis.com/compute/beta/projects/example-project/regions/southamerica-west1/subnetworks/default",
                "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-west2/subnetworks/default",
                "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-east7/subnetworks/default",
                "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1/subnetworks/default",
[...]
[...]
    - id: 3
      request:
        host: compute.googleapis.com
        body: |
            {"checkIntervalSec":10,"healthyThreshold":2,"httpHealthCheck":{"port":80,"proxyHeader":"NONE","requestPath":"/"},"name":"computehealthcheck-28i6nma6sbu9b","timeoutSec":5,"type":"HTTP","unhealthyThreshold":2}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/healthChecks?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "1428414883457869409",
              "name": "operation-1724815502352-620b5e7522118-3359e7fa-08a259eb",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/healthChecks/computehealthcheck-28i6nma6sbu9b",
              "targetId": "1754321116457018977",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-08-27T20:25:02.424-07:00",
              "startTime": "2024-08-27T20:25:02.431-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1724815502352-620b5e7522118-3359e7fa-08a259eb"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 458.606612ms
    - id: 4
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1724815502352-620b5e7522118-3359e7fa-08a259eb?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#operation","id":"1428414883457869409","name":"operation-1724815502352-620b5e7522118-3359e7fa-08a259eb","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/healthChecks/computehealthcheck-28i6nma6sbu9b","targetId":"1754321116457018977","status":"DONE","user":"user@google.com","progress":100,"insertTime":"2024-08-27T20:25:02.424-07:00","startTime":"2024-08-27T20:25:02.431-07:00","endTime":"2024-08-27T20:25:03.300-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1724815502352-620b5e7522118-3359e7fa-08a259eb"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 274.775184ms
[...]
    - id: 7
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/backendServices/computebackendservice-28i6nma6sbu9b?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 189.767958ms
    - id: 8
      request:
        host: compute.googleapis.com
        body: |
            {"connectionDraining":{"drainingTimeoutSec":300},"healthChecks":["https://www.googleapis.com/compute/v1/projects/example-project/global/healthChecks/computehealthcheck-28i6nma6sbu9b"],"iap":{"enabled":false,"oauth2ClientId":"","oauth2ClientSecret":""},"loadBalancingScheme":"INTERNAL_SELF_MANAGED","name":"computebackendservice-28i6nma6sbu9b"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/backendServices?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "4869583418777871988",
              "name": "operation-1724815514830-620b5e81085d6-5622749e-3cb175f0",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/backendServices/computebackendservice-28i6nma6sbu9b",
              "targetId": "7719282898140079732",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-08-27T20:25:15.044-07:00",
              "startTime": "2024-08-27T20:25:15.046-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1724815514830-620b5e81085d6-5622749e-3cb175f0"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 382.382838ms
[...]
    - id: 10
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/backendServices/computebackendservice-28i6nma6sbu9b?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#backendService",
              "id": "7719282898140079732",
              "creationTimestamp": "2024-08-27T20:25:15.012-07:00",
              "name": "computebackendservice-28i6nma6sbu9b",
              "description": "",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/backendServices/computebackendservice-28i6nma6sbu9b",
              "healthChecks": [
                "https://www.googleapis.com/compute/beta/projects/example-project/global/healthChecks/computehealthcheck-28i6nma6sbu9b"
              ],
              "timeoutSec": 30,
              "port": 80,
              "protocol": "HTTP",
              "fingerprint": "CH_qy0k0Ujo=",
              "portName": "http",
              "sessionAffinity": "NONE",
              "affinityCookieTtlSec": 0,
              "loadBalancingScheme": "INTERNAL_SELF_MANAGED",
              "connectionDraining": {
                "drainingTimeoutSec": 300
              },
              "iap": {
                "enabled": false,
                "oauth2ClientId": "",
                "oauth2ClientSecretSha256": "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 222.318327ms
[...]
    - id: 12
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/urlMaps/computeurlmap-28i6nma6sbu9b?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 128.728923ms
    - id: 13
      request:
        host: compute.googleapis.com
        body: |
            {"defaultService":"https://www.googleapis.com/compute/v1/projects/example-project/global/backendServices/computebackendservice-28i6nma6sbu9b","name":"computeurlmap-28i6nma6sbu9b"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/urlMaps?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "2247134803690464862",
              "name": "operation-1724815537501-620b5e96a74b2-a3272130-0bbd5547",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/urlMaps/computeurlmap-28i6nma6sbu9b",
              "targetId": "305083470137468510",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-08-27T20:25:37.755-07:00",
              "startTime": "2024-08-27T20:25:37.757-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1724815537501-620b5e96a74b2-a3272130-0bbd5547"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 380.249158ms
[...]
    - id: 16
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/targetHttpProxies/computetargethttpproxy-28i6nma6sbu9b?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 103.560053ms
    - id: 17
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/targetHttpProxies/computetargethttpproxy-2-28i6nma6sbu9b?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 109.227274ms
[...]
    - id: 19
      request:
        host: compute.googleapis.com
        body: |
            {"description":"other test description","name":"computetargethttpproxy-2-28i6nma6sbu9b","urlMap":"projects/example-project/global/urlMaps/computeurlmap-28i6nma6sbu9b"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/targetHttpProxies?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "6064819722868958802",
              "name": "operation-1724815549791-620b5ea25fbb7-bb3565c4-c093772c",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/targetHttpProxies/computetargethttpproxy-2-28i6nma6sbu9b",
              "targetId": "8948585431124092498",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-08-27T20:25:50.050-07:00",
              "startTime": "2024-08-27T20:25:50.053-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1724815549791-620b5ea25fbb7-bb3565c4-c093772c"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 416.742656ms
[...]
    - id: 26
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/forwardingRules/computeglobalforwardingrule-28i6nma6sbu9b?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 117.404573ms
[...]
    - id: 28
      request:
        host: compute.googleapis.com
        body: |
            {"IPAddress":"0.0.0.0","description":"A global forwarding rule","labels":{"cnrm-test":"true","config-connector-resource-type":"computeforwardingrule","label-one":"value-one","managed-by-cnrm":"true"},"loadBalancingScheme":"INTERNAL_SELF_MANAGED","name":"computeglobalforwardingrule-28i6nma6sbu9b","network":"projects/example-project/global/networks/default","portRange":"80","target":"https://www.googleapis.com/compute/v1/projects/example-project/global/targetHttpProxies/computetargethttpproxy-28i6nma6sbu9b"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/forwardingRules?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "6253436458668074533",
              "name": "operation-1724815562622-620b5eae9c7da-416b2cbd-0f8583f4",
              "operationType": "insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/forwardingRules/computeglobalforwardingrule-28i6nma6sbu9b",
              "targetId": "2271989551799150117",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-08-27T20:26:02.993-07:00",
              "startTime": "2024-08-27T20:26:02.995-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1724815562622-620b5eae9c7da-416b2cbd-0f8583f4"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 629.762763ms
[...]
    - id: 30
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/forwardingRules/computeglobalforwardingrule-28i6nma6sbu9b?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#forwardingRule",
              "id": "2271989551799150117",
              "creationTimestamp": "2024-08-27T20:26:02.952-07:00",
              "name": "computeglobalforwardingrule-28i6nma6sbu9b",
              "description": "A global forwarding rule",
              "IPAddress": "0.0.0.0",
              "IPProtocol": "TCP",
              "portRange": "80-80",
              "target": "https://www.googleapis.com/compute/beta/projects/example-project/global/targetHttpProxies/computetargethttpproxy-28i6nma6sbu9b",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/forwardingRules/computeglobalforwardingrule-28i6nma6sbu9b",
              "loadBalancingScheme": "INTERNAL_SELF_MANAGED",
              "network": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/default",
              "networkTier": "PREMIUM",
              "labelFingerprint": "42WmSpB8rSM=",
              "fingerprint": "KYTRrwFieWg="
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 115.782544ms
    - id: 31
      request:
        host: compute.googleapis.com
        body: |
            {"labelFingerprint":"42WmSpB8rSM=","labels":{"cnrm-test":"true","config-connector-resource-type":"computeforwardingrule","label-one":"value-one","managed-by-cnrm":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/forwardingRules/computeglobalforwardingrule-28i6nma[...]
[...]
    - id: 35
      request:
        host: compute.googleapis.com
        body: |
            {"target":"https://www.googleapis.com/compute/v1/projects/example-project/global/targetHttpProxies/computetargethttpproxy-2-28i6nma6sbu9b"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/forwardingRules/computeglobalforwardingrule-28i6nma6sbu9b/setTarget?alt=json
      [...]
[...]
