# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
  - id: 0
    request:
      host: compute.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://compute.googleapis.com/compute/beta/projects/example-project/global/healthChecks/computehealthcheck-28i6nma6sbu9b?alt=json
      method: GET
    response:
      body: fake error message
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 404 Not Found
      code: 404
      duration: 159.672172ms
  - id: 1
    request:
      host: compute.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/default?alt=json
      method: GET
    response:
      body: |
        {
          "kind": "compute#network",
          "id": "2445367146633761542",
          "creationTimestamp": "2024-04-24T18:12:09.998-07:00",
          "name": "default",
          "description": "Default network for the project",
          "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/default",
          "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/2445367146633761542",
          "autoCreateSubnetworks": true,
          "subnetworks": [
            "https://www.googleapis.com/compute/beta/projects/example-project/regions/asia-southeast2/subnetworks/default",
            "https://www.googleapis.com/compute/beta/projects/example-project/regions/europe-west9/subnetworks/default",
            "https://www.googleapis.com/compute/beta/projects/example-project/regions/asia-southeast1/subnetworks/default",
            "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-west1/subnetworks/default",
           [...]
[...]
  - id: 3
    request:
      host: compute.googleapis.com
      body: |
        {"checkIntervalSec":10,"healthyThreshold":2,"httpHealthCheck":{"port":80,"proxyHeader":"NONE","requestPath":"/"},"name":"computehealthcheck-28i6nma6sbu9b","timeoutSec":5,"type":"HTTP","unhealthyThreshold":2}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://compute.googleapis.com/compute/beta/projects/example-project/global/healthChecks?alt=json
      method: POST
    response:
      body: |
        {
          "kind": "compute#operation",
          "id": "158513506390642220",
          "name": "operation-1714008259176-616e1a56e29db-e5c3aac1-a5e107de",
          "operationType": "insert",
          "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/healthChecks/computehealthcheck-28i6nma6sbu9b",
          "targetId": "6635534191184580140",
          "status": "RUNNING",
          "user": "integration-test@example-project.iam.gserviceaccount.com",
          "progress": 0,
          "insertTime": "2024-04-24T18:24:19.352-07:00",
          "startTime": "2024-04-24T18:24:19.360-07:00",
          "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1714008259176-616e1a56e29db-e5c3aac1-a5e107de"
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 624.678314ms
  - id: 4
    request:
      host: compute.googleapis.com
      body: ""
      form: {}
      headers:
      url: https://compute.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1714008259176-616e1a56e29db-e5c3aac1-a5e107de?alt=json&prettyPrint=false
      method: GET
    response:
      body: '{"kind":"compute#operation","id":"158513506390642220","name":"operation-1714008259176-616e1a56e29db-e5c3aac1-a5e107de","operationType":"insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/healthChecks/computehealthcheck-28i6nma6sbu9b","targetId":"6635534191184580140","status":"DONE","user":"integration-test@example-project.iam.gserviceaccount.com","progress":100,"insertTime":"2024-04-24T18:24:19.352-07:00","startTime":"2024-04-24T18:24:19.360-07:00","endTime":"2024-04-24T18:24:20.195-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1714008259176-616e1a56e29db-e5c3aac1-a5e107de"}'
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 174.109787ms
[...]
  - id: 7
    request:
      host: compute.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://compute.googleapis.com/compute/beta/projects/example-project/global/backendServices/computebackendservice-28i6nma6sbu9b?alt=json
      method: GET
    response:
      body: fake error message
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 404 Not Found
      code: 404
      duration: 224.616004ms
  - id: 8
    request:
      host: compute.googleapis.com
      body: |
        {"connectionDraining":{"drainingTimeoutSec":300},"healthChecks":["https://www.googleapis.com/compute/v1/projects/example-project/global/healthChecks/computehealthcheck-28i6nma6sbu9b"],"iap":{"enabled":false,"oauth2ClientId":"","oauth2ClientSecret":""},"loadBalancingScheme":"INTERNAL_SELF_MANAGED","name":"computebackendservice-28i6nma6sbu9b"}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://compute.googleapis.com/compute/beta/projects/example-project/global/backendServices?alt=json
      method: POST
    response:
      body: |
        {
          "kind": "compute#operation",
          "id": "5190325563491094057",
          "name": "operation-1714008261490-616e1a59178f5-5ec7f6b0-a7ce31d8",
          "operationType": "insert",
          "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/backendServices/computebackendservice-28i6nma6sbu9b",
          "targetId": "3837652031959731753",
          "status": "RUNNING",
          "user": "integration-test@example-project.iam.gserviceaccount.com",
          "progress": 0,
          "insertTime": "2024-04-24T18:24:22.206-07:00",
          "startTime": "2024-04-24T18:24:22.218-07:00",
          "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1714008261490-616e1a59178f5-5ec7f6b0-a7ce31d8"
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 1.017351504s
[...]
  - id: 10
    request:
      host: compute.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://compute.googleapis.com/compute/beta/projects/example-project/global/backendServices/computebackendservice-28i6nma6sbu9b?alt=json
      method: GET
    response:
      body: |
        {
          "kind": "compute#backendService",
          "id": "3837652031959731753",
          "creationTimestamp": "2024-04-24T18:24:22.200-07:00",
          "name": "computebackendservice-28i6nma6sbu9b",
          "description": "",
          "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/backendServices/computebackendservice-28i6nma6sbu9b",
          "healthChecks": [
            "https://www.googleapis.com/compute/beta/projects/example-project/global/healthChecks/computehealthcheck-28i6nma6sbu9b"
          ],
          "timeoutSec": 30,
          "port": 80,
          "protocol": "HTTP",
          "fingerprint": "XKSLLLLPkmo=",
          "portName": "http",
          "sessionAffinity": "NONE",
          "affinityCookieTtlSec": 0,
          "loadBalancingScheme": "INTERNAL_SELF_MANAGED",
          "connectionDraining": {
            "drainingTimeoutSec": 300
          },
          "iap": {
            "enabled": false,
            "oauth2ClientId": "",
            "oauth2ClientSecretSha256": "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          }
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 148.152674ms
  - id: 11
    request:
      host: compute.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://compute.googleapis.com/compute/beta/projects/example-project/global/urlMaps/computeurlmap-28i6nma6sbu9b?alt=json
      method: GET
    response:
      body: fake error message
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 404 Not Found
      code: 404
      duration: 131.174822ms
[...]
  - id: 13
    request:
      host: compute.googleapis.com
      body: |
        {"defaultService":"https://www.googleapis.com/compute/v1/projects/example-project/global/backendServices/computebackendservice-28i6nma6sbu9b","name":"computeurlmap-28i6nma6sbu9b"}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://compute.googleapis.com/compute/beta/projects/example-project/global/urlMaps?alt=json
      method: POST
    response:
      body: |
        {
          "kind": "compute#operation",
          "id": "4871485887428693554",
          "name": "operation-1714008285148-616e1a6fa75a3-1ed15396-94c052fd",
          "operationType": "insert",
          "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/urlMaps/computeurlmap-28i6nma6sbu9b",
          "targetId": "7511393523099504178",
          "status": "RUNNING",
          "user": "integration-test@example-project.iam.gserviceaccount.com",
          "progress": 0,
          "insertTime": "2024-04-24T18:24:45.566-07:00",
          "startTime": "2024-04-24T18:24:45.575-07:00",
          "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1714008285148-616e1a6fa75a3-1ed15396-94c052fd"
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 618.404519ms
[...]
  - id: 16
    request:
      host: compute.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://compute.googleapis.com/compute/beta/projects/example-project/global/targetHttpProxies/computetargethttpproxy-28i6nma6sbu9b?alt=json
      method: GET
    response:
      body: fake error message
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 404 Not Found
      code: 404
      duration: 145.32731ms
  - id: 17
    request:
      host: compute.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://compute.googleapis.com/compute/beta/projects/example-project/global/targetHttpProxies/computetargethttpproxy-2-28i6nma6sbu9b?alt=json
      method: GET
    response:
      body: fake error message
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 404 Not Found
      code: 404
      duration: 220.904966ms
[...]
  - id: 19
    request:
      host: compute.googleapis.com
      body: |
        {"description":"test description","name":"computetargethttpproxy-28i6nma6sbu9b","urlMap":"projects/example-project/global/urlMaps/computeurlmap-28i6nma6sbu9b"}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://compute.googleapis.com/compute/beta/projects/example-project/global/targetHttpProxies?alt=json
      method: POST
    response:
      body: |
        {
          "kind": "compute#operation",
          "id": "2910584208701525552",
          "name": "operation-1714008287413-616e1a71d060d-eacb002f-b6889d06",
          "operationType": "insert",
          "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/targetHttpProxies/computetargethttpproxy-28i6nma6sbu9b",
          "targetId": "2693340253154184752",
          "status": "RUNNING",
          "user": "integration-test@example-project.iam.gserviceaccount.com",
          "progress": 0,
          "insertTime": "2024-04-24T18:24:47.913-07:00",
          "startTime": "2024-04-24T18:24:47.928-07:00",
          "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1714008287413-616e1a71d060d-eacb002f-b6889d06"
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 685.007267ms
[...]
  - id: 25
    request:
      host: compute.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://compute.googleapis.com/compute/beta/projects/example-project/global/forwardingRules/computeglobalforwardingrule-28i6nma6sbu9b?alt=json
      method: GET
    response:
      body: fake error message
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 404 Not Found
      code: 404
      duration: 147.517431ms
[...]
  - id: 28
    request:
      host: compute.googleapis.com
      body: |
        {"IPAddress":"0.0.0.0","description":"A global forwarding rule","labels":{"cnrm-test":"true","label-one":"value-one","managed-by-cnrm":"true"},"loadBalancingScheme":"INTERNAL_SELF_MANAGED","name":"computeglobalforwardingrule-28i6nma6sbu9b","network":"projects/example-project/global/networks/default","portRange":"80","target":"https://www.googleapis.com/compute/v1/projects/example-project/global/targetHttpProxies/computetargethttpproxy-28i6nma6sbu9b"}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://compute.googleapis.com/compute/beta/projects/example-project/global/forwardingRules?alt=json
      method: POST
    response:
      body: |
        {
          "kind": "compute#operation",
          "id": "408269303511780867",
          "name": "operation-1714008300258-616e1a7e103ed-47e03e20-ce74186b",
          "operationType": "insert",
          "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/forwardingRules/computeglobalforwardingrule-28i6nma6sbu9b",
          "targetId": "4886757618607197699",
          "status": "RUNNING",
          "user": "integration-test@example-project.iam.gserviceaccount.com",
          "progress": 0,
          "insertTime": "2024-04-24T18:25:00.823-07:00",
          "startTime": "2024-04-24T18:25:00.833-07:00",
          "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1714008300258-616e1a7e103ed-47e03e20-ce74186b"
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 810.93768ms
[...]
  - id: 30
    request:
      host: compute.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://compute.googleapis.com/compute/beta/projects/example-project/global/forwardingRules/computeglobalforwardingrule-28i6nma6sbu9b?alt=json
      method: GET
    response:
      body: |
        {
          "kind": "compute#forwardingRule",
          "id": "4886757618607197699",
          "creationTimestamp": "2024-04-24T18:25:00.785-07:00",
          "name": "computeglobalforwardingrule-28i6nma6sbu9b",
          "description": "A global forwarding rule",
          "IPAddress": "0.0.0.0",
          "IPProtocol": "TCP",
          "portRange": "80-80",
          "target": "https://www.googleapis.com/compute/beta/projects/example-project/global/targetHttpProxies/computetargethttpproxy-28i6nma6sbu9b",
          "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/forwardingRules/computeglobalforwardingrule-28i6nma6sbu9b",
          "loadBalancingScheme": "INTERNAL_SELF_MANAGED",
          "network": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/default",
          "networkTier": "PREMIUM",
          "labelFingerprint": "42WmSpB8rSM=",
          "fingerprint": "ig_w2rd0DUc="
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 156.77448ms
  - id: 31
    request:
      host: compute.googleapis.com
      body: |
        {"labelFingerprint":"42WmSpB8rSM=","labels":{"cnrm-test":"true","label-one":"value-one","managed-by-cnrm":"true"}}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://compute.googleapis.com/compute/beta/projects/example-project/global/forwardingRules/computeglobalforwardingrule-28i6nma6sbu9b/setLabels?alt=json
      method: POST
    response:
      body: |
        {
  [...]
[...]
  - id: 35
    request:
      host: compute.googleapis.com
      body: |
        {"target":"https://www.googleapis.com/compute/v1/projects/example-project/global/targetHttpProxies/computetargethttpproxy-2-28i6nma6sbu9b"}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://compute.googleapis.com/compute/beta/projects/example-project/global/forwardingRules/computeglobalforwardingrule-28i6nma6sbu9b/setTarget?alt=json
      method: POST
    response:
      body: |
        {
          "kind": "compute#operation",
          "id": "7217090080371117587",
          "name": "operation-1714008316051-616e1a8d201a2-5f6e9254-3cbe7794",
          "operationType": "SetTarget",
          "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/forwardingRules/computeglobalforwardingrule-28i6nma6sbu9b",
          "targetId": "4886757618607197699",
          "status": "RUNNING",
          "user": "integration-test@example-project.iam.gserviceaccount.com",
          "progress": 0,
          "insertTime": "2024-04-24T18:25:16.492-07:00",
          "startTime": "2024-04-24T18:25:16.509-07:00",
          "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1714008316051-616e1a8d201a2-5f6e9254-3cbe7794"
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 627.103153ms
[...]
  - id: 43
    request:
      host: compute.googleapis.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://compute.googleapis.com/compute/beta/projects/example-project/global/backendServices/computebackendservice-28i6nma6sbu9b?alt=json
      method: GET
    response:
      body: |
        {
          "kind": "compute#backendService",
          "id": "3837652031959731753",
          "creationTimestamp": "2024-04-24T18:24:22.200-07:00",
          "name": "computebackendservice-28i6nma6sbu9b",
          "description": "",
          "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/backendServices/computebackendservice-28i6nma6sbu9b",
          "healthChecks": [
            "https://www.googleapis.com/compute/beta/projects/example-project/global/healthChecks/computehealthcheck-28i6nma6sbu9b"
          ],
          "timeoutSec": 30,
          "port": 80,
          "protocol": "HTTP",
          "fingerprint": "XKSLLLLPkmo=",
          "portName": "http",
          "sessionAffinity": "NONE",
          "affinityCookieTtlSec": 0,
          "loadBalancingScheme": "INTERNAL_SELF_MANAGED",
          "connectionDraining": {
            "drainingTimeoutSec": 300
          },
          "iap": {
            "enabled": false,
            "oauth2ClientId": "",
            "oauth2ClientSecretSha256": "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
          },
          "usedBy": [
            {
              "reference": "https://www.googleapis.com/compute/beta/projects/example-project/global/urlMaps/computeurlmap-28i6nma6sbu9b"
            }
          ]
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: 243.145147ms
[...]
