# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: pubsub.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://pubsub.googleapis.com/v1/projects/example-project/topics/pubsubtopic-2228w5hqy9utr?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 157.644683ms
    - id: 1
      request:
        host: pubsub.googleapis.com
        body: |
            {"labels":{"cnrm-test":"true","config-connector-resource-type":"pubsubtopic","managed-by-cnrm":"true"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://pubsub.googleapis.com/v1/projects/example-project/topics/pubsubtopic-2228w5hqy9utr?alt=json
        method: PUT
      response:
        body: |
            {
              "name": "projects/example-project/topics/pubsubtopic-2228w5hqy9utr",
              "labels": {
                "config-connector-resource-type": "pubsubtopic",
                "managed-by-cnrm": "true",
                "cnrm-test": "true"
              },
              "messageStoragePolicy": {
                "allowedPersistenceRegions": [
                  "asia-east1",
                  "asia-northeast1",
                  "asia-southeast1",
                  "australia-southeast1",
                  "europe-north1",
                  "europe-west1",
                  "europe-west2",
                  "europe-west3",
                  "europe-west4",
                  "southamerica-west1",
                  "us-central1",
                  "us-central2",
                  "us-east1",
                  "us-east4",
                  "us-east5",
                  "us-east7",
                  "us-south1",
                  "us-west1",
                  "us-west2",
                  "us-west3",
                  "us-west4",
                  "us-west8"
                ]
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 4.856921759s
[...]
