# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: bigqueryconnection.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://bigqueryconnection.googleapis.com/v1/projects/example-project/locations/us-central1/connections/bigqueryconnectionconnection-16lgsjsr99mio?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 221.703598ms
    - id: 1
      request:
        host: bigqueryconnection.googleapis.com
        body: |
            {"cloudResource":{},"description":"test connection for cloud resource","friendlyName":"cloud-resource-connection"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://bigqueryconnection.googleapis.com/v1/projects/example-project/locations/us-central1/connections?alt=json&connectionId=bigqueryconnectionconnection-16lgsjsr99mio
        method: POST
      response:
        body: |
            {
              "name": "projects/123456789/locations/us-central1/connections/bigqueryconnectionconnection-16lgsjsr99mio",
              "friendlyName": "cloud-resource-connection",
              "description": "test connection for cloud resource",
              "creationTime": "1721723897514",
              "lastModifiedTime": "1721723897514",
              "cloudResource": {
                "serviceAccountId": "bqcx-123456789-8ztv@gcp-sa-bigquery-condel.iam.gserviceaccount.com"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 443.684686ms
[...]
    - id: 5
      request:
        host: bigqueryconnection.googleapis.com
        body: |
            {"cloudResource":{"serviceAccountId":"bqcx-123456789-8ztv@gcp-sa-bigquery-condel.iam.gserviceaccount.com"},"description":"updated connection for cloud resource","friendlyName":"cloud-resource-connection-updated"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://bigqueryconnection.googleapis.com/v1/projects/example-project/locations/us-central1/connections/bigqueryconnectionconnection-16lgsjsr99mio?alt=json&updateMask=friendlyName%2Cdescription
        method: PATCH
      response:
        body: |
            {
              "name": "projects/123456789/locations/us-central1/connections/bigqueryconnectionconnection-16lgsjsr99mio",
              "friendlyName": "cloud-resource-connection-updated",
              "description": "updated connection for cloud resource",
              "creationTime": "1721723897514",
              "lastModifiedTime": "1721723899176",
              "cloudResource": {
                "serviceAccountId": "bqcx-123456789-8ztv@gcp-sa-bigquery-condel.iam.gserviceaccount.com"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 164.14318ms
[...]
