{{template "headercomment.tmpl" .}}

{% extends "config-connector/_base.html" %}

{% block page_title %}{{ .Kind}}{% endblock %}
{% block body %}
{{template "alphadisclaimer.tmpl" .}}

Warning: {{"{{product_name}}"}} will deprecate the {{ .Kind}} on November 15,
2022 due to the deprecation of {{"{{gcp_name}}"}} {{"{{game_servers_name}}"}} on
June 30, 2023.<br>
<br>
This means that {{"{{product_name}}"}} will stop reconciling {{ .Kind}}
resources.<br>
<br>
If you have any questions or require assistance, please contact
[{{"{{gcp_name}}"}} Support](https://cloud.google.com/support-hub).

<table>
<thead>
<tr>
<th><strong>Property</strong></th>
<th><strong>Value</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td>{{"{{gcp_name_short}}"}} Service Name</td>
<td>Game Services</td>
</tr>
<tr>
<td>{{"{{gcp_name_short}}"}} Service Documentation</td>
<td><a href="/game-servers/docs/">/game-servers/docs/</a></td>
</tr>
<tr>
<td>{{"{{gcp_name_short}}"}} REST Resource Name</td>
<td>v1.projects.locations.realms</td>
</tr>
<tr>
<td>{{"{{gcp_name_short}}"}} REST Resource Documentation</td>
<td><a href="/game-servers/docs/reference/rest/v1/projects.locations.realms">/game-servers/docs/reference/rest/v1/projects.locations.realms</a></td>
</tr>
<tr>
<td>{{"{{product_name_short}}"}} Resource Short Names</td>
<td>{{ .ShortNames}}</td>
</tr>
<tr>
<td>{{"{{product_name_short}}"}} Service Name</td>
<td>gameservices.googleapis.com</td>
</tr>
<tr>
<td>{{"{{product_name_short}}"}} Resource Fully Qualified Name</td>
<td>{{ .FullyQualifiedName}}</td>
</tr>
{{template "iamsupport.tmpl" .}}
</tbody>
</table>

{{template "resource.tmpl" .}}
{% endblock %}