{{template "headercomment.tmpl" .}}

{% extends "config-connector/_base.html" %}

{% block page_title %}{{ .Kind}}{% endblock %}
{% block body %}
{{template "alphadisclaimer.tmpl" .}}

<code>{{.Kind}}</code> lets you manage the {{"{{iam_name_short}}"}} policy
bindings for a given {{"{{gcp_name_short}}"}} resource.

<code>{{.Kind}}</code> represents a _non-authoritative intent_ for the
associated {{"{{gcp_name_short}}"}} resource's {{"{{iam_name_short}}"}} policy
bindings. {{"{{product_name_short}}"}} merges the bindings in the
<code>{{.Kind}}</code> <code>spec</code> with the bindings and audit configs
that already exist in the underlying {{"{{iam_name_short}}"}} policy, and then
sets the merged result as the {{"{{iam_name_short}}"}} policy for the
associated {{"{{gcp_name_short}}"}} resource. If there are invalid roles or
members, the entire operation fails with errors.

To delete any existing bindings, first acquire the existing bindings by
applying an <code>{{.Kind}}</code> that includes said bindings, then remove
said bindings from the <code>{{.Kind}}</code> configuration and re-apply the
configuration.

If you want authoritative control over bindings, use
<a href="/config-connector/docs/reference/resource-docs/iam/iampolicy">IAMPolicy</a>.
If you want to manage the binding for only a single {{"{{iam_name_short}}"}} member, use
<a href="/config-connector/docs/reference/resource-docs/iam/iampolicymember">IAMPolicyMember</a>.

Warning: <code>{{.Kind}}</code> **should not** be used in conjunction with
<code>IAMPolicy</code> for the same resource.

Note: When you delete an <code>{{.Kind}}</code>, only the bindings specified in
<code>spec</code> are deleted from the associated {{"{{gcp_name_short}}"}}
resource's {{"{{iam_name_short}}"}} policy.

Note: Updating <code>spec.resourceRef</code> is not allowed.

<table>
<thead>
<tr>
<th><strong>Property</strong></th>
<th><strong>Value</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td>{{"{{gcp_name_short}}"}} Service Name</td>
<td>{{"{{iam_name_short}}"}}</td>
</tr>
<tr>
<td>{{"{{gcp_name_short}}"}} Service Documentation</td>
<td><a href="/iam/docs/">/iam/docs/</a></td>
</tr>
<tr>
<td>{{"{{gcp_name_short}}"}} REST Resource Name</td>
<td>v1.iamPolicies</td>
</tr>
<tr>
<td>{{"{{gcp_name_short}}"}} REST Resource Documentation</td>
<td><a href="/iam/docs/reference/rest/v1/iamPolicies">/iam/docs/reference/rest/v1/iamPolicies</a></td>
</tr>
<tr>
<td>{{"{{product_name_short}}"}} Resource Short Names</td>
<td>{{ .ShortNames}}</td>
</tr>
<tr>
<td>{{"{{product_name_short}}"}} Service Name</td>
<td>iam.googleapis.com</td>
</tr>
<tr>
<td>{{"{{product_name_short}}"}} Resource Fully Qualified Name</td>
<td>{{ .FullyQualifiedName}}</td>
</tr>
{{template "iamsupport.tmpl" .}}
<tr>
<td>{{"{{product_name_short}}"}} Default Average Reconcile Interval In Seconds</td>
<td>{{ .DefaultReconcileInterval}}</td>
</tr>
</tbody>
</table>

## Supported Resources

You can use <code>{{.Kind}}</code> to configure {{"{{iam_name_short}}"}} for
the following resources.

{{template "bigquerydatasetiamnote.tmpl" .}}

<table>
<thead>
    <tr>
        <th><strong>Kind</strong></th>
        <th><strong>Supports Conditions</strong></th>
    </tr>
</thead>
<tbody>{{ range $ref := .SupportedReferences}}
    <tr>
        <td><code>{{$ref.Kind}}</code></td>
        {{if $ref.SupportsConditions}}<td>Y</td>{{else}}<td></td>{{end}}
    </tr>{{end}}
</tbody>
</table>

<table>
<thead>
    <tr>
        <th><strong>Kind</strong></th>
        <th><strong>External Reference Formats</strong></th>
    </tr>
</thead>
<tbody>{{ range $ref := .SupportedReferences}}
    <tr>
        <td><code>{{$ref.Kind}}</code></td>
        <td>
            {{- range $format := $ref.ExternalReferenceFormats}}
            <p><code>{% verbatim %}{{$format}}{% endverbatim %}</code></p>
            {{- end}}
        </td>
    </tr>{{end}}
</tbody>
</table>

{{template "resource.tmpl" .}}
{{template "endnote.tmpl" .}}
{% endblock %}
