{{template "headercomment.tmpl" .}}

{% extends "config-connector/_base.html" %}

{% block page_title %}{{ .Kind}}{% endblock %}
{% block body %}
{{template "alphadisclaimer.tmpl" .}}

<code>{{.Kind}}</code> lets you manage the {{"{{iam_name_short}}"}} policy for
a given {{"{{gcp_name_short}}"}} resource.

<code>{{.Kind}}</code> represents the _full desired state_ for the associated
{{"{{gcp_name_short}}"}} resource's {{"{{iam_name_short}}"}} policy. It
replaces any existing {{"{{iam_name_short}}"}} policy already attached.

If you want finer-grained control over bindings, use
<a href="/config-connector/docs/reference/resource-docs/iam/iampartialpolicy">IAMPartialPolicy</a>
or <a href="/config-connector/docs/reference/resource-docs/iam/iampolicymember">IAMPolicyMember</a>.
If you want finer-grained control over audit configs, use
<a href="/config-connector/docs/reference/resource-docs/iam/iamauditconfig">IAMAuditConfig</a>.

Warning: Any existing bindings and audit configs are overwritten if not specified in the
<code>{{.Kind}}</code> resource. You can lock yourself out of your own
{{"{{gcp_name_short}}"}} project by omitting the default bindings which grant
you access. You can also cause some {{"{{gcp_name_short}}"}} services to stop
working properly by omitting the default bindings created for default service
accounts (for example, <a
href="/compute/docs/access/service-accounts#google-managed_service_accounts">default
{{"{{gce_name_short}}"}} service accounts</a>).

Warning: When you delete an <code>{{.Kind}}</code>, all the bindings and audit
configs in the associated {{"{{gcp_name_short}}"}} resource's
{{"{{iam_name_short}}"}} policy are deleted.

Warning: <code>{{.Kind}}</code> **should not**
be used in conjunction with <code>IAMPolicyMember</code>,
<code>IAMAuditConfig</code>, and <code>IAMPartialPolicy</code> for the same resource.

Note: Updating <code>spec.resourceRef</code> is not allowed.

<table>
<thead>
<tr>
<th><strong>Property</strong></th>
<th><strong>Value</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td>{{"{{gcp_name_short}}"}} Service Name</td>
<td>{{"{{iam_name_short}}"}}</td>
</tr>
<tr>
<td>{{"{{gcp_name_short}}"}} Service Documentation</td>
<td><a href="/iam/docs/">/iam/docs/</a></td>
</tr>
<tr>
<td>{{"{{gcp_name_short}}"}} REST Resource Name</td>
<td>v1.iamPolicies</td>
</tr>
<tr>
<td>{{"{{gcp_name_short}}"}} REST Resource Documentation</td>
<td><a href="/iam/docs/reference/rest/v1/iamPolicies">/iam/docs/reference/rest/v1/iamPolicies</a></td>
</tr>
<tr>
<td>{{"{{product_name_short}}"}} Resource Short Names</td>
<td>{{ .ShortNames}}</td>
</tr>
<tr>
<td>{{"{{product_name_short}}"}} Service Name</td>
<td>iam.googleapis.com</td>
</tr>
<tr>
<td>{{"{{product_name_short}}"}} Resource Fully Qualified Name</td>
<td>{{ .FullyQualifiedName}}</td>
</tr>
{{template "iamsupport.tmpl" .}}
<tr>
<td>{{"{{product_name_short}}"}} Default Average Reconcile Interval In Seconds</td>
<td>{{ .DefaultReconcileInterval}}</td>
</tr>
</tbody>
</table>

## Supported Resources

You can use <code>{{.Kind}}</code> to configure {{"{{iam_name_short}}"}} for
the following resources.

{{template "bigquerydatasetiamnote.tmpl" .}}

<table>
<thead>
    <tr>
        <th><strong>Kind</strong></th>
        <th><strong>Supports Conditions</strong></th>
        <th><strong>Supports Audit Configs</strong></th>
    </tr>
</thead>
<tbody>{{ range $ref := .SupportedReferences}}
    <tr>
        <td><code>{{$ref.Kind}}</code></td>
        {{if $ref.SupportsConditions}}<td>Y</td>{{else}}<td></td>{{end}}
        {{if $ref.SupportsAuditConfigs}}<td>Y</td>{{else}}<td></td>{{end}}
    </tr>{{end}}
</tbody>
</table>

<table>
<thead>
    <tr>
        <th><strong>Kind</strong></th>
        <th><strong>External Reference Formats</strong></th>
    </tr>
</thead>
<tbody>{{ range $ref := .SupportedReferences}}
    <tr>
        <td><code>{{$ref.Kind}}</code></td>
        <td>
            {{- range $format := $ref.ExternalReferenceFormats}}
            <p><code>{% verbatim %}{{$format}}{% endverbatim %}</code></p>
            {{- end}}
        </td>
    </tr>{{end}}
</tbody>
</table>

{{template "resource.tmpl" .}}
{{template "endnote.tmpl" .}}
{% endblock %}
