{{template "headercomment.tmpl" .}}

{% extends "config-connector/_base.html" %}

{% block page_title %}{{ .Kind}}{% endblock %}
{% block body %}
{{template "alphadisclaimer.tmpl" .}}

<code>{{.Kind}}</code> generates service identity for <a href="/iam/docs/service-agents">supported {{"{{gcp_name_short}}"}} services</a>.
You can find the emails of the Google-managed service accounts in the status of a <code>{{.Kind}}</code> resource.

<table>
<thead>
<tr>
<th><strong>Property</strong></th>
<th><strong>Value</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td>{{"{{gcp_name_short}}"}} Service Name</td>
<td>Service Usage</td>
</tr>
<tr>
<td>{{"{{gcp_name_short}}"}} Service Documentation</td>
<td><a href="/service-usage/docs/">/service-usage/docs/</a></td>
</tr>
<tr>
<td>{{"{{gcp_name_short}}"}} REST Resource Name</td>
<td>v1beta1.services.generateServiceIdentity</td>
</tr>
<tr>
<td>{{"{{gcp_name_short}}"}} Rest Resource Documentation</td>
<td><a href="/service-usage/docs/reference/rest/v1beta1/services/generateServiceIdentity">/service-usage/docs/reference/rest/v1beta1/services/generateServiceIdentity</a></td>
</tr>
<tr>
<td>{{"{{product_name_short}}"}} Resource Short Names</td>
<td>{{ .ShortNames}}</td>
</tr>
<tr>
<td>{{"{{product_name_short}}"}} Service Name</td>
<td>serviceusage.googleapis.com</td>
</tr>
<tr>
<td>{{"{{product_name_short}}"}} Resource Fully Qualified Name</td>
<td>{{ .FullyQualifiedName}}</td>
</tr>
{{template "iamsupport.tmpl" .}}
<tr>
<td>{{"{{product_name_short}}"}} Default Average Reconcile Interval In Seconds</td>
<td>{{ .DefaultReconcileInterval}}</td>
</tr>
</tbody>
</table>

{{template "resource.tmpl" .}}
{{template "endnote.tmpl" .}}
{% endblock %}
