# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: storage.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://storage.googleapis.com/storage/v1/b/storagebucket-sample-2lmkzyeoibk3u?alt=json&prettyPrint=false
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 291.299129ms
    - id: 1
      request:
        host: storage.googleapis.com
        body: |
            {"iamConfiguration":{"uniformBucketLevelAccess":{"enabled":false}},"labels":{"cnrm-test":"true","label-one":"value-one","managed-by-cnrm":"true"},"lifecycle":{"rule":[{"action":{"type":"Delete"},"condition":{"age":7}}]},"location":"US","name":"storagebucket-sample-2lmkzyeoibk3u","softDeletePolicy":{"retentionDurationSeconds":"604800"},"storageClass":"STANDARD","versioning":{"enabled":true}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://storage.googleapis.com/storage/v1/b?alt=json&prettyPrint=false&project=example-project
        method: POST
      response:
        body: '{"kind":"storage#bucket","selfLink":"https://www.googleapis.com/storage/v1/b/storagebucket-sample-2lmkzyeoibk3u","id":"storagebucket-sample-2lmkzyeoibk3u","name":"storagebucket-sample-2lmkzyeoibk3u","projectNumber":"123456789","metageneration":"1","location":"US","storageClass":"STANDARD","etag":"CAE=","timeCreated":"2024-06-26T23:32:14.291Z","updated":"2024-06-26T23:32:14.291Z","versioning":{"enabled":true},"lifecycle":{"rule":[{"action":{"type":"Delete"},"condition":{"age":7}}]},"labels":{"managed-by-cnrm":"true","cnrm-test":"true","label-one":"value-one"},"softDeletePolicy":{"retentionDurationSeconds":"604800","effectiveTime":"2024-06-26T23:32:14.291Z"},"iamConfiguration":{"bucketPolicyOnly":{"enabled":false},"uniformBucketLevelAccess":{"enabled":false},"publicAccessPrevention":"inherited"},"locationType":"multi-region","rpo":"DEFAULT"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 848.320458ms
[...]
    - id: 6
      request:
        host: storage.googleapis.com
        body: |
            {"labels":{"cnrm-test":"true","label-one":"value-one","managed-by-cnrm":"true","newkey":"newval"},"versioning":{"enabled":false}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://storage.googleapis.com/storage/v1/b/storagebucket-sample-2lmkzyeoibk3u?alt=json&prettyPrint=false
        method: PATCH
      response:
        body: '{"kind":"storage#bucket","selfLink":"https://www.googleapis.com/storage/v1/b/storagebucket-sample-2lmkzyeoibk3u","id":"storagebucket-sample-2lmkzyeoibk3u","name":"storagebucket-sample-2lmkzyeoibk3u","projectNumber":"123456789","metageneration":"2","location":"US","storageClass":"STANDARD","etag":"CAI=","timeCreated":"2024-06-26T23:32:14.291Z","updated":"2024-06-26T23:32:17.423Z","acl":[{"kind":"storage#bucketAccessControl","id":"storagebucket-sample-2lmkzyeoibk3u/project-owners-123456789","selfLink":"https://www.googleapis.com/storage/v1/b/storagebucket-sample-2lmkzyeoibk3u/acl/project-owners-123456789","bucket":"storagebucket-sample-2lmkzyeoibk3u","entity":"project-owners-123456789","role":"OWNER","etag":"CAI=","projectTeam":{"projectNumber":"123456789","team":"owners"}},{"kind":"storage#bucketAccessControl","id":"storagebucket-sample-2lmkzyeoibk3u/project-editors-123456789","selfLink":"https://www.googleapis.com/storage/v1/b/storagebucket-sample-2lmkzyeoibk3u/acl/project-editors-123456789","bucket":"storagebucket-sample-2lmkzyeoibk3u","entity":"project-editors-123456789","role":"OWNER","etag":"CAI=","projectTeam":{"projectNumber":"123456789","team":"editors"}},{"kind":"storage#bucketAccessControl","id":"storagebucket-sample-2lmkzyeoibk3u/project-viewers-123456789","selfLink":"https://www.googleapis.com/storage/v1/b/storagebucket-sample-2lmkzyeoibk3u/acl/project-viewers-123456789","bucket":"storagebucket-sample-2lmkzyeoibk3u","entity":"project-viewers-123456789","role":"READER","etag":"CAI=","projectTeam":{"projectNumber":"123456789","team":"viewers"}}],"defaultObjectAcl":[{"kind":"storage#objectAccessControl","entity":"project-owners-123456789","role":"OWNER","etag":"CAI=","projectTeam":{"projectNumber":"123456789","team":"owners"}},{"kind":"storage#objectAccessControl","entity":"project-editors-123456789","role":"OWNER","etag":"CAI=","projectTeam":{"projectNumber":"123456789","team":"editors"}},{"kind":"storage#objectAccessControl","entity":"project-viewers-123456789","role":"READER","etag":"CAI=","projectTeam":{"projectNumber":"123456789","team":"viewers"}}],"owner":{"entity":"project-owners-123456789"},"versioning":{"enabled":false},"lifecycle":{"rule":[{"action":{"type":"Delete"},"condition":{"age":7}}]},"labels":{"cnrm-test":"true","label-one":"value-one","newkey":"newval","managed-by-cnrm":"true"},"softDeletePolicy":{"retentionDurationSeconds":"604800","effectiveTime":"2024-06-26T23:32:14.291Z"},"iamConfiguration":{"bucketPolicyOnly":{"enabled":false},"uniformBucketLevelAccess":{"enabled":false},"publicAccessPrevention":"inherited"},"locationType":"multi-region","rpo":"DEFAULT"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 424.800854ms
[...]
    - id: 9
      request:
        host: storage.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://storage.googleapis.com/storage/v1/b/storagebucket-sample-2lmkzyeoibk3u/o?alt=json&prettyPrint=false&versions=true
        method: GET
      response:
        body: '{"kind":"storage#objects"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 168.858233ms
[...]
