# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/regions/us-central1/nodeTemplates/computenodetemplate-2avqvi66hp2d?alt=json
        method: GET
      response:
        body: fake error message
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 404 Not Found
        code: 404
        duration: 213.500558ms
    - id: 1
      request:
        host: compute.googleapis.com
        body: |
            {"cpuOvercommitType":"NONE","description":"Node template for sole tenant nodes running in us-central1, with 96vCPUs and any amount of memory on any machine type.","name":"computenodetemplate-2avqvi66hp2d","nodeAffinityLabels":{"cnrm-test":"true","config-connector-resource-type":"computenodetemplate","managed-by-cnrm":"true","memory_guarantee":"false"},"nodeTypeFlexibility":{"cpus":"96","memory":"any"},"region":"projects/example-project/global/regions/us-central1"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/regions/us-central1/nodeTemplates?alt=json
        method: POST
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "5795450949000701151",
              "name": "operation-1724815919739-620b60032f3d9-f9beb00f-97cd1602",
              "operationType": "compute.nodeTemplates.insert",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1/nodeTemplates/computenodetemplate-2avqvi66hp2d",
              "targetId": "9015914687075919071",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-08-27T20:32:00.042-07:00",
              "startTime": "2024-08-27T20:32:00.079-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1/operations/operation-1724815919739-620b60032f3d9-f9beb00f-97cd1602",
              "region": "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 389.64907ms
    - id: 2
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/regions/us-central1/operations/operation-1724815919739-620b60032f3d9-f9beb00f-97cd1602?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#operation","id":"5795450949000701151","name":"operation-1724815919739-620b60032f3d9-f9beb00f-97cd1602","operationType":"compute.nodeTemplates.insert","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1/nodeTemplates/computenodetemplate-2avqvi66hp2d","targetId":"9015914687075919071","status":"DONE","user":"user@google.com","progress":100,"insertTime":"2024-08-27T20:32:00.042-07:00","startTime":"2024-08-27T20:32:00.079-07:00","endTime":"2024-08-27T20:32:00.350-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1/operations/operation-1724815919739-620b60032f3d9-f9beb00f-97cd1602","region":"https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 116.758413ms
    - id: 3
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/regions/us-central1/nodeTemplates/computenodetemplate-2avqvi66hp2d?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#nodeTemplate",
              "id": "9015914687075919071",
              "creationTimestamp": "2024-08-27T20:32:00.054-07:00",
              "name": "computenodetemplate-2avqvi66hp2d",
              "description": "Node template for sole tenant nodes running in us-central1, with 96vCPUs and any amount of memory on any machine type.",
              "nodeAffinityLabels": {
                "managed-by-cnrm": "true",
                "cnrm-test": "true",
                "memory_guarantee": "false",
                "config-connector-resource-type": "computenodetemplate"
              },
              "status": "READY",
              "region": "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/regions/us-central1/nodeTemplates/computenodetemplate-2avqvi66hp2d",
              "nodeTypeFlexibility": {
                "cpus": "96",
                "memory": "any"
              },
              "serverBinding": {
                "type": "RESTART_NODE_ON_ANY_SERVER"
              },
              "cpuOvercommitType": "NONE"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 111.608044ms
[...]
