


.page {
  width: 850px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background: white;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.2);
  color: rgba(0,0,0,.84);
}

.page-title {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  margin-left: 20px;
  color: white;
  text-shadow: 2px 2px 5px #000;
  font-size: 36px;
}

.content {
  padding: 10px;
  padding-top: 0px;
}

.header {
  padding: 10px;
  background: #AFAAC9;
}

