# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
version: 2
interactions:
    - id: 0
      request:
        host: cloudkms.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://cloudkms.googleapis.com/v1/projects/example-project/locations/us-central1/keyRings/kmskeyring-dj55ohq2ivb2?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/keyRings/kmskeyring-dj55ohq2ivb2",
              "createTime": "2024-03-28T19:45:25.327156536Z"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 322.862642ms
    - id: 1
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-dj55ohq2ivb2?alt=json
        method: GET
      response:
        body: |
            {
              "kind": "compute#network",
              "id": "807427140047086383",
              "creationTimestamp": "2024-04-24T17:03:12.908-07:00",
              "name": "computenetwork-dj55ohq2ivb2",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-dj55ohq2ivb2",
              "selfLinkWithId": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/807427140047086383",
              "autoCreateSubnetworks": false,
              "routingConfig": {
                "routingMode": "REGIONAL"
              },
              "networkFirewallPolicyEnforcementOrder": "AFTER_CLASSIC_FIREWALL"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 238.930121ms
    - id: 2
      request:
        host: serviceusage.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://serviceusage.googleapis.com/v1beta1/projects/example-project/services/alloydb.googleapis.com:generateServiceIdentity?alt=json
        method: POST
      response:
        body: |
            {
              "name": "operations/finished.DONE_OPERATION",
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.api.serviceusage.v1beta1.ServiceIdentity",
                "email": "service-123456789@gcp-sa-alloydb.iam.gserviceaccount.com",
                "uniqueId": "112468406547631776081"
              }
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 571.949073ms
[...]
    - id: 5
      request:
        host: cloudkms.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://cloudkms.googleapis.com/v1/projects/example-project/locations/us-central1/keyRings/kmskeyring-dj55ohq2ivb2/cryptoKeys/kmscryptokey-dj55ohq2ivb2?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/keyRings/kmskeyring-dj55ohq2ivb2/cryptoKeys/kmscryptokey-dj55ohq2ivb2",
              "primary": {
                "name": "projects/example-project/locations/us-central1/keyRings/kmskeyring-dj55ohq2ivb2/cryptoKeys/kmscryptokey-dj55ohq2ivb2/cryptoKeyVersions/2",
                "state": "ENABLED",
                "createTime": "2024-04-25T00:20:25.191341534Z",
                "protectionLevel": "SOFTWARE",
                "algorithm": "GOOGLE_SYMMETRIC_ENCRYPTION",
                "generateTime": "2024-04-25T00:20:25.191341534Z"
              },
              "purpose": "ENCRYPT_DECRYPT",
              "createTime": "2024-03-28T19:45:26.598108400Z",
              "labels": {
                "key-one": "value-one",
                "managed-by-cnrm": "true",
                "cnrm-test": "true"
              },
              "versionTemplate": {
                "protectionLevel": "SOFTWARE",
                "algorithm": "GOOGLE_SYMMETRIC_ENCRYPTION"
              },
              "destroyScheduledDuration": "2592000s"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 240.546592ms
[...]
    - id: 7
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-central1/clusters/alloydbcluster-dj55ohq2ivb2?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/clusters/alloydbcluster-dj55ohq2ivb2",
              "uid": "ac1ac374-ff29-4f55-bc37-ac5478fa338a",
              "createTime": "2024-04-25T00:03:25.586216115Z",
              "updateTime": "2024-04-25T00:17:16.568760470Z",
              "labels": {
                "cnrm-test": "true",
                "managed-by-cnrm": "true"
              },
              "state": "READY",
              "databaseVersion": "POSTGRES_15",
              "network": "projects/123456789/global/networks/computenetwork-dj55ohq2ivb2",
              "reconciling": false,
              "automatedBackupPolicy": {
                "enabled": true,
                "weeklySchedule": {
                  "startTimes": [
                    {
                      "hours": 4
                    }
                  ],
                  "daysOfWeek": [
                    "MONDAY"
                  ]
                },
                "backupWindow": "7200s",
                "timeBasedRetention": {
                  "retentionPeriod": "86400s"
                },
                "location": "us-central1",
                "labels": {
                  "source": "kcc-test"
                },
                "encryptionConfig": {
                  "kmsKeyName": "projects/example-project/locations/us-central1/keyRings/kmskeyring-dj55ohq2ivb2/cryptoKeys/kmscryptokey-dj55ohq2ivb2"
                }
              },
              "encryptionConfig": {
                "kmsKeyName": "projects/example-project/locations/us-central1/keyRings/kmskeyring-dj55ohq2ivb2/cryptoKeys/kmscryptokey-dj55ohq2ivb2"
              },
              "encryptionInfo": {
                "encryptionType": "CUSTOMER_MANAGED_ENCRYPTION"
              },
              "clusterType": "PRIMARY",
              "continuousBackupConfig": {
                "enabled": true,
                "recoveryWindowDays": 14
              },
              "continuousBackupInfo": {
                "encryptionInfo": {
                  "encryptionType": "GOOGLE_DEFAULT_ENCRYPTION"
                },
                "enabledTime": "2024-04-25T00:03:25.428107203Z",
                "schedule": [
                  "MONDAY",
                  "TUESDAY",
                  "WEDNESDAY",
                  "THURSDAY",
                  "FRIDAY",
                  "SATURDAY",
                  "SUNDAY"
                ]
              },
              "networkConfig": {
                "network": "projects/123456789/global/networks/computenetwork-dj55ohq2ivb2"
              },
              "geminiConfig": {}
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 291.368916ms
    - id: 8
      request:
        host: cloudkms.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://cloudkms.googleapis.com/v1/projects/example-project/locations/us-central1/keyRings/kmskeyring-dj55ohq2ivb2/cryptoKeys/kmscryptokey-dj55ohq2ivb2:getIamPolicy?alt=json&options.requestedPolicyVersion=3&prettyPrint=false
        method: GET
      response:
        body: '{"version":1,"etag":"BwYUvcPiriI=","bindings":[{"role":"roles/cloudkms.cryptoKeyEncrypterDecrypter","members":["serviceAccount:service-123456789@gcp-sa-alloydb.iam.gserviceaccount.com"]}]}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 330.885281ms
[...]
    - id: 12
      request:
        host: alloydb.googleapis.com
        body: |
            {"automatedBackupPolicy":{"backupWindow":"3600s","enabled":true,"encryptionConfig":{"kmsKeyName":"projects/example-project/locations/us-central1/keyRings/kmskeyring-dj55ohq2ivb2/cryptoKeys/kmscryptokey-dj55ohq2ivb2"},"labels":{"source":"kcc-test"},"location":"us-central1","timeBasedRetention":{"retentionPeriod":"43200s"},"weeklySchedule":{"daysOfWeek":["MONDAY","TUESDAY","WEDNESDAY","THURSDAY","FRIDAY"],"startTimes":[{"hours":10}]}},"clusterType":"PRIMARY","continuousBackupConfig":{"enabled":false,"recoveryWindowDays":14},"encryptionConfig":{"kmsKeyName":"projects/example-project/locations/us-central1/keyRings/kmskeyring-dj55ohq2ivb2/cryptoKeys/kmscryptokey-dj55ohq2ivb2"},"initialUser":{"password":"postgres","user":"postgres"},"labels":{"cnrm-test":"true","managed-by-cnrm":"true"},"network":"projects/123456789/global/networks/computenetwork-dj55ohq2ivb2","networkConfig":{"network":"projects/123456789/global/networks/computenetwork-dj55ohq2ivb2"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-central1/clusters/alloydbcluster-dj55ohq2ivb2?alt=json&updateMask=continuousBackupConfig%2CautomatedBackupPolicy
        method: PATCH
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/operation-1714004463951-616e0c3379db4-8a24adcb-8ac16a75",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-04-25T00:21:04.000182709Z",
                "target": "projects/example-project/locations/us-central1/clusters/alloydbcluster-dj55ohq2ivb2",
                "verb": "update",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": false
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 325.302322ms
    - id: 13
      request:
        host: alloydb.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://alloydb.googleapis.com/v1beta/projects/example-project/locations/us-central1/operations/operation-1714004463951-616e0c3379db4-8a24adcb-8ac16a75?alt=json
        method: GET
      response:
        body: |
            {
              "name": "projects/example-project/locations/us-central1/operations/operation-1714004463951-616e0c3379db4-8a24adcb-8ac16a75",
              "metadata": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.OperationMetadata",
                "createTime": "2024-04-25T00:21:04.000182709Z",
                "endTime": "2024-04-25T00:21:15.945707819Z",
                "target": "projects/example-project/locations/us-central1/clusters/alloydbcluster-dj55ohq2ivb2",
                "verb": "update",
                "requestedCancellation": false,
                "apiVersion": "v1beta"
              },
              "done": true,
              "response": {
                "@type": "type.googleapis.com/google.cloud.alloydb.v1beta.Cluster",
                "name": "projects/example-project/locations/us-central1/cl[...]
[...]
    - id: 19
      request:
        host: cloudkms.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://cloudkms.googleapis.com/v1/projects/example-project/locations/us-central1/keyRings/kmskeyring-dj55ohq2ivb2/cryptoKeys/kmscryptokey-dj55ohq2ivb2/cryptoKeyVersions?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"cryptoKeyVersions":[{"name":"projects/example-project/locations/us-central1/keyRings/kmskeyring-dj55ohq2ivb2/cryptoKeys/kmscryptokey-dj55ohq2ivb2/cryptoKeyVersions/1","state":"DESTROY_SCHEDULED","createTime":"2024-03-28T19:45:26.598108400Z","destroyTime":"2024-04-27T19:46:26.248760Z","protectionLevel":"SOFTWARE","algorithm":"GOOGLE_SYMMETRIC_ENCRYPTION","generateTime":"2024-03-28T19:45:26.598108400Z"},{"name":"projects/example-project/locations/us-central1/keyRings/kmskeyring-dj55ohq2ivb2/cryptoKeys/kmscryptokey-dj55ohq2ivb2/cryptoKeyVersions/2","state":"ENABLED","createTime":"2024-04-25T00:20:25.191341534Z","protectionLevel":"SOFTWARE","algorithm":"GOOGLE_SYMMETRIC_ENCRYPTION","generateTime":"2024-04-25T00:20:25.191341534Z"}],"totalSize":2}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 89.33608ms
    - id: 20
      request:
        host: cloudkms.googleapis.com
        body: |
            {}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://cloudkms.googleapis.com/v1/projects/example-project/locations/us-central1/keyRings/kmskeyring-dj55ohq2ivb2/cryptoKeys/kmscryptokey-dj55ohq2ivb2/cryptoKeyVersions/2:destroy?alt=json&prettyPrint=false
        method: POST
      response:
        body: '{"name":"projects/example-project/locations/us-central1/keyRings/kmskeyring-dj55ohq2ivb2/cryptoKeys/kmscryptokey-dj55ohq2ivb2/cryptoKeyVersions/2","state":"DESTROY_SCHEDULED","createTime":"2024-04-25T00:20:25.191341534Z","destroyTime":"2024-05-25T00:21:27.896794Z","protectionLevel":"SOFTWARE","algorithm":"GOOGLE_SYMMETRIC_ENCRYPTION","generateTime":"2024-04-25T00:20:25.191341534Z"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 106.303247ms
[...]
    - id: 22
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-dj55ohq2ivb2?alt=json
        method: DELETE
      response:
        body: |
            {
              "kind": "compute#operation",
              "id": "5035495647487466728",
              "name": "operation-1714004487472-616e0c49e83f5-820b0c11-f410a6ef",
              "operationType": "delete",
              "targetLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-dj55ohq2ivb2",
              "targetId": "807427140047086383",
              "status": "RUNNING",
              "user": "user@google.com",
              "progress": 0,
              "insertTime": "2024-04-24T17:21:27.809-07:00",
              "startTime": "2024-04-24T17:21:27.821-07:00",
              "selfLink": "https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1714004487472-616e0c49e83f5-820b0c11-f410a6ef"
            }
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 539.661847ms
    - id: 23
      request:
        host: compute.googleapis.com
        body: ""
        form: {}
        headers:
        url: https://compute.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1714004487472-616e0c49e83f5-820b0c11-f410a6ef?alt=json&prettyPrint=false
        method: GET
      response:
        body: '{"kind":"compute#operation","id":"5035495647487466728","name":"operation-1714004487472-616e0c49e83f5-820b0c11-f410a6ef","operationType":"delete","targetLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/networks/computenetwork-dj55ohq2ivb2","targetId":"807427140047086383","status":"DONE","user":"user@google.com","progress":100,"insertTime":"2024-04-24T17:21:27.809-07:00","startTime":"2024-04-24T17:21:27.821-07:00","endTime":"2024-04-24T17:21:46.070-07:00","selfLink":"https://www.googleapis.com/compute/beta/projects/example-project/global/operations/operation-1714004487472-616e0c49e83f5-820b0c11-f410a6ef"}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: 179.282549ms
[...]
